Repository opea-project/GenAIExamples, changes with the owners that .github/CODEOWNERS names for each.
All owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com, ze.pan@intel.com, kaokao.lv@intel.com, minmin.hou@intel.com, sihan.chen@intel.com, wenjiao.yue@intel.com, chun.tao@intel.com, letong.han@intel.com, xinyao.wang@intel.com, supriya.krishnamurthi@intel.com, chendi.xue@intel.com, yongbo.zhu@intel.com, mingyuan.qi@intel.com, yogesh.pandey@intel.com, rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com, xinyu.ye@intel.com, melanie.h.buehler@intel.com, tiep.le@intel.com, jaswanth.karani@intel.com, hoong.tee.yeoh@intel.com, huiling.bao@intel.com

fix xeon issues
  Translation/docker_compose/intel/hpu/gaudi/compose_tgi.yaml
  Translation/tests/test_compose_on_gaudi copy.sh
  Translation/tests/test_compose_on_rocm.sh
  Translation/tests/test_compose_on_xeon.sh
Owners: liang1.lv@intel.com, sihan.chen@intel.com

Set vLLM as default model for VisualQnA (#1644)
  VisualQnA/docker_compose/intel/cpu/xeon/README.md
  VisualQnA/docker_compose/intel/cpu/xeon/compose_tgi.yaml
  VisualQnA/docker_compose/intel/cpu/xeon/set_env.sh
  VisualQnA/docker_compose/intel/hpu/gaudi/README.md
  VisualQnA/docker_compose/intel/hpu/gaudi/compose.yaml
  VisualQnA/docker_compose/intel/hpu/gaudi/compose_tgi.yaml
  VisualQnA/docker_compose/intel/hpu/gaudi/set_env.sh
  VisualQnA/tests/test_compose_on_gaudi.sh
  VisualQnA/tests/test_compose_tgi_on_gaudi.sh
  VisualQnA/tests/test_compose_tgi_on_xeon.sh
Owners: liang1.lv@intel.com, sihan.chen@intel.com

modify compose and test files on gaudi
  Translation/docker_compose/intel/hpu/gaudi/compose.yaml
  Translation/docker_compose/intel/hpu/gaudi/compose_tgi.yaml
  Translation/tests/test_compose_on_gaudi.sh
  Translation/tests/test_compose_on_rocm.sh
  Translation/tests/test_compose_on_xeon.sh
  Translation/tests/test_compose_tgi_on_gaudi.sh
  Translation/tests/test_compose_tgi_on_xeon.sh
Owners: liang1.lv@intel.com, sihan.chen@intel.com

CodeGen - fix files for deploy on ROCm
  CodeGen/tests/test_compose_on_rocm.sh
  CodeGen/tests/test_compose_vllm_on_rocm.sh
Owners: liang1.lv@intel.com, xinyao.wang@intel.com

CodeTrans - fix files for deploy on ROCm
  CodeTrans/docker_compose/amd/gpu/rocm/README.md
  CodeTrans/docker_compose/amd/gpu/rocm/compose.yaml
  CodeTrans/docker_compose/amd/gpu/rocm/compose_vllm.yaml
  CodeTrans/tests/test_compose_on_rocm.sh
  CodeTrans/tests/test_compose_vllm_on_rocm.sh
Owners: sihan.chen@intel.com, xinyao.wang@intel.com

CodeTrans - fix files for deploy on ROCm
  CodeTrans/docker_compose/amd/gpu/rocm/compose_vllm.yaml
Owners: sihan.chen@intel.com, xinyao.wang@intel.com

CodeTrans - fix files for deploy on ROCm
  CodeTrans/docker_compose/amd/gpu/rocm/compose_vllm.yaml
Owners: sihan.chen@intel.com, xinyao.wang@intel.com

CodeTrans - fix files for deploy on ROCm
  CodeTrans/docker_compose/amd/gpu/rocm/compose_vllm.yaml
Owners: sihan.chen@intel.com, xinyao.wang@intel.com

fix bug
  EdgeCraftRAG/Dockerfile
  EdgeCraftRAG/Dockerfile.server
Owners: yongbo.zhu@intel.com, mingyuan.qi@intel.com

update readme link
  EdgeCraftRAG/README.md
Owners: yongbo.zhu@intel.com, mingyuan.qi@intel.com

Fix input issue for manual-image-build.yml (#1666)
  .github/workflows/_example-workflow.yml
  .github/workflows/manual-example-workflow.yml
  .github/workflows/manual-image-build.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Update stale issue and PR settings to 30 days for inactivity (#1661)
  .github/workflows/daily_check_issue_and_pr.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

[ChatQnA] Enable Prometheus and Grafana with telemetry docker compose file. (#1623)
  ChatQnA/README.md
  ChatQnA/docker_compose/intel/cpu/xeon/README.md
  ChatQnA/docker_compose/intel/cpu/xeon/compose.telemetry.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_tgi.telemetry.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/grafana/dashboards/download_opea_dashboard.sh
  ChatQnA/docker_compose/intel/cpu/xeon/grafana/provisioning/dashboards/local.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/grafana/provisioning/datasources/datasource.yml
  ChatQnA/docker_compose/intel/cpu/xeon/prometheus.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/set_env.sh
  ChatQnA/docker_compose/intel/hpu/gaudi/README.md
  ChatQnA/docker_compose/intel/hpu/gaudi/compose.telemetry.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_tgi.telemetry.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/grafana/dashboards/download_opea_dashboard.sh
  ChatQnA/docker_compose/intel/hpu/gaudi/grafana/provisioning/dashboards/local.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/grafana/provisioning/datasources/datasource.yml
  ChatQnA/docker_compose/intel/hpu/gaudi/prometheus.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/set_env.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

Add final README.md and set_env.sh script for quickstart review. Previous pull request was 1595. (#1662)
  ChatQnA/docker_compose/intel/hpu/gaudi/README.md
  ChatQnA/docker_compose/intel/hpu/gaudi/set_env.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

add new UI and new feature with EC-RAG_v1.3
  EdgeCraftRAG/Dockerfile
  EdgeCraftRAG/Dockerfile.server
Owners: yongbo.zhu@intel.com, mingyuan.qi@intel.com

fix opea check error
  EdgeCraftRAG/edgecraftrag/api/v1/chatqna.py
  EdgeCraftRAG/edgecraftrag/api/v1/pipeline.py
Owners: yongbo.zhu@intel.com, mingyuan.qi@intel.com

bug fix
  .github/code_spell_ignore.txt
Owners: suyue.chen@intel.com, ze.pan@intel.com

add spell ignore rule
  EdgeCraftRAG/ui/vue/package.json
  EdgeCraftRAG/ui/vue/src/views/pipeline/components/UpdateDialog/Activated.vue
Owners: yongbo.zhu@intel.com, mingyuan.qi@intel.com

minor fix
  EdgeCraftRAG/ui/vue/tsconfig.app.json
Owners: yongbo.zhu@intel.com, mingyuan.qi@intel.com

fix issue
  EdgeCraftRAG/ui/vue/src/main.ts
Owners: yongbo.zhu@intel.com, mingyuan.qi@intel.com

minor fix
  EdgeCraftRAG/ui/vue/tsconfig.node.json
Owners: yongbo.zhu@intel.com, mingyuan.qi@intel.com

CodeTrans - fix files for deploy on ROCm
  CodeTrans/docker_compose/amd/gpu/rocm/README.md
  CodeTrans/docker_compose/amd/gpu/rocm/compose_vllm.yaml
Owners: sihan.chen@intel.com, xinyao.wang@intel.com

update test scripts on gaudi
  Translation/tests/test_compose_on_gaudi.sh
  Translation/tests/test_compose_tgi_on_gaudi.sh
Owners: liang1.lv@intel.com, sihan.chen@intel.com

modify gaudi readme
  Translation/docker_compose/intel/hpu/gaudi/README.md
Owners: liang1.lv@intel.com, sihan.chen@intel.com

integrate codetrans other files into translation
  Translation/benchmark/performance/README.md
  Translation/benchmark/performance/benchmark.sh
  Translation/benchmark/performance/benchmark.yaml
  Translation/kubernetes/helm/README.md
  Translation/kubernetes/helm/cpu-values.yaml
  Translation/kubernetes/helm/gaudi-values.yaml
  Translation/tests/test_gmc_on_gaudi.sh
  Translation/tests/test_gmc_on_xeon.sh
Owners: liang1.lv@intel.com, sihan.chen@intel.com

fic rocm compose parameter
  Translation/docker_compose/amd/gpu/rocm/compose.yaml
  Translation/tests/test_compose_on_rocm.sh
Owners: liang1.lv@intel.com, sihan.chen@intel.com

fix rocm curl command
  Translation/tests/test_compose_on_rocm.sh
Owners: liang1.lv@intel.com, sihan.chen@intel.com

CodeTrans - fix files for deploy on ROCm
  CodeTrans/docker_compose/amd/gpu/rocm/README.md
Owners: sihan.chen@intel.com, xinyao.wang@intel.com

Use GenAIComp base image to simplify Dockerfiles - part 3/4
  CodeGen/Dockerfile
  CodeTrans/Dockerfile
  MultimodalQnA/Dockerfile
Owners: liang1.lv@intel.com, xinyao.wang@intel.com, sihan.chen@intel.com, melanie.h.buehler@intel.com, tiep.le@intel.com

test
  .github/workflows/_example-workflow.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Fixed issue where assistant's image is not sent
  MultimodalQnA/ui/gradio/conversation.py
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

test
  .github/workflows/_run-docker-compose.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Fix workflow issues.
  .github/workflows/_run-docker-compose.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Revert build yaml
  MultimodalQnA/docker_image_build/build.yaml
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

Clear diff
  MultimodalQnA/docker_image_build/build.yaml
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

Add missing env vars for MMQnA UI data prep endpoints (#62)
  MultimodalQnA/docker_compose/amd/gpu/rocm/compose.yaml
  MultimodalQnA/docker_compose/intel/hpu/gaudi/compose.yaml
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

Fix first query test (#65)
  MultimodalQnA/tests/test_compose_on_xeon.sh
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

changes per review
  MultimodalQnA/ui/gradio/utils.py
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

small change
  MultimodalQnA/ui/gradio/multimodalqna_ui_gradio.py
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

Update Dockerfile
  MultimodalQnA/Dockerfile
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

.github/CODEOWNERS:

* liang1.lv@intel.com feng.tian@intel.com suyue.chen@intel.com
/.github/ suyue.chen@intel.com ze.pan@intel.com
/AgentQnA/ kaokao.lv@intel.com minmin.hou@intel.com
/AudioQnA/ sihan.chen@intel.com wenjiao.yue@intel.com
/AvatarChatbot/ chun.tao@intel.com kaokao.lv@intel.com
/ChatQnA/ liang1.lv@intel.com letong.han@intel.com
/CodeGen/ liang1.lv@intel.com xinyao.wang@intel.com
/CodeTrans/ sihan.chen@intel.com xinyao.wang@intel.com
/DBQnA/ supriya.krishnamurthi@intel.com liang1.lv@intel.com
/DocIndexRetriever/ kaokao.lv@intel.com chendi.xue@intel.com
/DocSum/ letong.han@intel.com xinyao.wang@intel.com
/EdgeCraftRAG/ yongbo.zhu@intel.com mingyuan.qi@intel.com
/FaqGen/ yogesh.pandey@intel.com xinyao.wang@intel.com
/GraphRAG/ rita.brugarolas.brufau@intel.com abolfazl.shahbazi@intel.com
/InstructionTuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/MultimodalQnA/ melanie.h.buehler@intel.com tiep.le@intel.com
/ProductivitySuite/ jaswanth.karani@intel.com hoong.tee.yeoh@intel.com
/RerankFinetuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/SearchQnA/ sihan.chen@intel.com letong.han@intel.com
/Text2Image/ wenjiao.yue@intel.com xinyu.ye@intel.com
/Translation/ liang1.lv@intel.com sihan.chen@intel.com
/VideoQnA/ huiling.bao@intel.com xinyao.wang@intel.com
/VisualQnA/ liang1.lv@intel.com sihan.chen@intel.com
