Repository opea-project/GenAIExamples, changes with the owners that .github/CODEOWNERS names for each.
All owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com, ze.pan@intel.com, kaokao.lv@intel.com, minmin.hou@intel.com, sihan.chen@intel.com, wenjiao.yue@intel.com, chun.tao@intel.com, letong.han@intel.com, xinyao.wang@intel.com, supriya.krishnamurthi@intel.com, chendi.xue@intel.com, yongbo.zhu@intel.com, mingyuan.qi@intel.com, yogesh.pandey@intel.com, rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com, xinyu.ye@intel.com, melanie.h.buehler@intel.com, tiep.le@intel.com, jaswanth.karani@intel.com, hoong.tee.yeoh@intel.com, huiling.bao@intel.com

align inputs and outputs
  DocIndexRetriever/README.md
  DocIndexRetriever/docker_compose/intel/cpu/xeon/README.md
  DocIndexRetriever/docker_compose/intel/cpu/xeon/compose.yaml
  DocIndexRetriever/docker_compose/intel/hpu/gaudi/README.md
  DocIndexRetriever/retrieval_tool.py
  DocIndexRetriever/tests/test.py
  DocIndexRetriever/tests/test_compose_milvus_on_gaudi.sh
  DocIndexRetriever/tests/test_compose_milvus_on_xeon.sh
  DocIndexRetriever/tests/test_compose_on_gaudi.sh
  DocIndexRetriever/tests/test_compose_on_xeon.sh
  DocIndexRetriever/tests/test_compose_without_rerank_on_xeon.sh
Owners: kaokao.lv@intel.com, chendi.xue@intel.com

fix errors
  DocIndexRetriever/tests/test_compose_on_gaudi.sh
  DocIndexRetriever/tests/test_compose_on_xeon.sh
Owners: kaokao.lv@intel.com, chendi.xue@intel.com

Adding files to deploy MultimodalQnA application on ROCm vLLM (#1737)
  MultimodalQnA/docker_compose/amd/gpu/rocm/README.md
  MultimodalQnA/docker_compose/amd/gpu/rocm/compose_vllm.yaml
  MultimodalQnA/docker_compose/amd/gpu/rocm/set_env_vllm.sh
  MultimodalQnA/docker_image_build/build.yaml
  MultimodalQnA/tests/test_compose_vllm_on_rocm.sh
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

Enable model cache for Rocm docker compose test. (#1614)
  .github/workflows/_run-docker-compose.yml
  AudioQnA/docker_compose/amd/gpu/rocm/compose.yaml
  AudioQnA/tests/test_compose_on_rocm.sh
  CodeGen/docker_compose/amd/gpu/rocm/compose.yaml
  CodeGen/tests/test_compose_on_rocm.sh
  CodeTrans/docker_compose/amd/gpu/rocm/compose.yaml
  CodeTrans/tests/test_compose_on_rocm.sh
  DBQnA/docker_compose/amd/gpu/rocm/compose.yaml
  DBQnA/tests/test_compose_on_rocm.sh
  DocSum/tests/test_compose_on_rocm.sh
  Translation/docker_compose/amd/gpu/rocm/compose.yaml
  Translation/tests/test_compose_on_rocm.sh
  VisualQnA/tests/test_compose_on_rocm.sh
Owners: suyue.chen@intel.com, ze.pan@intel.com, sihan.chen@intel.com, wenjiao.yue@intel.com, liang1.lv@intel.com, xinyao.wang@intel.com, supriya.krishnamurthi@intel.com, letong.han@intel.com

fix bugs in DocIndexRetriever (#1770)
  DocIndexRetriever/README.md
  DocIndexRetriever/docker_compose/intel/cpu/xeon/README.md
  DocIndexRetriever/docker_compose/intel/cpu/xeon/compose.yaml
  DocIndexRetriever/docker_compose/intel/hpu/gaudi/README.md
  DocIndexRetriever/docker_compose/intel/hpu/gaudi/compose.yaml
  DocIndexRetriever/retrieval_tool.py
  DocIndexRetriever/tests/test.py
  DocIndexRetriever/tests/test_compose_milvus_on_gaudi.sh
  DocIndexRetriever/tests/test_compose_milvus_on_xeon.sh
  DocIndexRetriever/tests/test_compose_on_gaudi.sh
  DocIndexRetriever/tests/test_compose_on_xeon.sh
  DocIndexRetriever/tests/test_compose_without_rerank_on_xeon.sh
Owners: kaokao.lv@intel.com, chendi.xue@intel.com

Enable AvatarChatbot model cache for docker compose test. (#1604)
  AvatarChatbot/docker_compose/amd/gpu/rocm/compose.yaml
  AvatarChatbot/docker_compose/intel/cpu/xeon/compose.yaml
  AvatarChatbot/docker_compose/intel/hpu/gaudi/compose.yaml
  AvatarChatbot/tests/test_compose_on_gaudi.sh
  AvatarChatbot/tests/test_compose_on_rocm.sh
  AvatarChatbot/tests/test_compose_on_xeon.sh
Owners: chun.tao@intel.com, kaokao.lv@intel.com

Unified build.yaml file writing style (#1781)
  EdgeCraftRAG/docker_image_build/build.yaml
Owners: yongbo.zhu@intel.com, mingyuan.qi@intel.com

Align DocSum env to vllm
  DocSum/docker_compose/set_env.sh
Owners: letong.han@intel.com, xinyao.wang@intel.com

Align DocSum env to vllm (#1784)
  DocSum/docker_compose/set_env.sh
Owners: letong.han@intel.com, xinyao.wang@intel.com

add new secrets for docker compose test
  .github/workflows/_run-docker-compose.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Add new secrets for docker compose test (#1786)
  .github/workflows/_run-docker-compose.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Update model cache for MultimodalQnA (#1618)
  MultimodalQnA/tests/test_compose_on_rocm.sh
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

Redefine docker images list. (#1743)
  docker_images_list.md
Owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com

Redefine docker images list.
  docker_images_list.md
Owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com

update ut.
  FinanceAgent/docker_compose/intel/hpu/gaudi/compose.yaml
  FinanceAgent/docker_compose/intel/hpu/gaudi/launch_agents.sh
  FinanceAgent/prompts/research_prompt.py
  FinanceAgent/tests/test.py
  FinanceAgent/tests/test_compose_on_gaudi.sh
Owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com

support rocm helm charts test
  .github/workflows/_helm-e2e.yml
  .github/workflows/pr-chart-e2e.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

set missing env var
  FinanceAgent/tests/test_compose_on_gaudi.sh
Owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com

README edits
  FinanceAgent/README.md
Owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com

update retrieval tool python code
  AgentQnA/README.md
  AgentQnA/docker_compose/intel/hpu/gaudi/compose.yaml
  AgentQnA/retrieval_tool/run_ingest_data.sh
  AgentQnA/tests/step4_launch_and_validate_agent_gaudi.sh
  AgentQnA/tests/test_compose_on_gaudi.sh
  AgentQnA/tools/worker_agent_tools.py
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

update readme
  FinanceAgent/README.md
  FinanceAgent/assets/finance_agent_arch.png
  FinanceAgent/docker_compose/intel/hpu/gaudi/launch_dataprep.sh
  FinanceAgent/docker_compose/intel/hpu/gaudi/launch_vllm.sh
  FinanceAgent/docker_compose/intel/hpu/gaudi/vllm_compose.yaml
  FinanceAgent/tests/test_compose_on_gaudi.sh
Owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com

Fix issue
  Translation/docker_compose/amd/gpu/rocm/set_env.sh
  Translation/docker_compose/set_env.sh
Owners: liang1.lv@intel.com, sihan.chen@intel.com

Change translation-nginx-server port 8080 to 80.
  Translation/docker_compose/amd/gpu/rocm/compose.yaml
  Translation/docker_compose/amd/gpu/rocm/compose_vllm.yaml
  Translation/docker_compose/amd/gpu/rocm/set_env_vllm.sh
  Translation/tests/test_compose_on_gaudi.sh
  Translation/tests/test_compose_on_rocm.sh
  Translation/tests/test_compose_on_xeon.sh
  Translation/tests/test_compose_vllm_on_rocm.sh
Owners: liang1.lv@intel.com, sihan.chen@intel.com

Integrate set_env.sh into the UT test script
  Translation/docker_compose/amd/gpu/rocm/set_env.sh
  Translation/docker_compose/amd/gpu/rocm/set_env_vllm.sh
  Translation/tests/test_compose_on_gaudi.sh
  Translation/tests/test_compose_on_rocm.sh
  Translation/tests/test_compose_on_xeon.sh
  Translation/tests/test_compose_vllm_on_rocm.sh
Owners: liang1.lv@intel.com, sihan.chen@intel.com

Restore readme.
  Translation/README.md
Owners: liang1.lv@intel.com, sihan.chen@intel.com

Add README.md for UT scripts.
  Translation/tests/README.md
Owners: liang1.lv@intel.com, sihan.chen@intel.com

Update README.md
  Translation/README.md
  Translation/tests/test_compose_on_xeon.sh
Owners: liang1.lv@intel.com, sihan.chen@intel.com

Update README.md
  Translation/tests/README.md
Owners: liang1.lv@intel.com, sihan.chen@intel.com

Update README.md
  Translation/tests/test_compose_on_gaudi.sh
Owners: liang1.lv@intel.com, sihan.chen@intel.com

Update README.md
  Translation/tests/README.md
Owners: liang1.lv@intel.com, sihan.chen@intel.com

Update test_compose_on_xeon.sh
  Translation/tests/test_compose_on_xeon.sh
Owners: liang1.lv@intel.com, sihan.chen@intel.com

[Translation] Integrate set_env.sh into test scripts. (#1785)
  Translation/docker_compose/amd/gpu/rocm/compose.yaml
  Translation/docker_compose/amd/gpu/rocm/compose_vllm.yaml
  Translation/docker_compose/amd/gpu/rocm/set_env.sh
  Translation/docker_compose/amd/gpu/rocm/set_env_vllm.sh
  Translation/docker_compose/set_env.sh
  Translation/tests/README.md
  Translation/tests/test_compose_on_gaudi.sh
  Translation/tests/test_compose_on_rocm.sh
  Translation/tests/test_compose_on_xeon.sh
  Translation/tests/test_compose_vllm_on_rocm.sh
Owners: liang1.lv@intel.com, sihan.chen@intel.com

resolved comments
  ChatQnA/README.md
  ChatQnA/README_miscellaneous.md
  ChatQnA/docker_compose/intel/cpu/xeon/README.md
Owners: liang1.lv@intel.com, letong.han@intel.com

Add nginx to SearchQnA hpu compose.yaml
  SearchQnA/docker_compose/intel/hpu/gaudi/compose.yaml
Owners: sihan.chen@intel.com, letong.han@intel.com

Add nginx to SearchQnA amd compose.yaml
  SearchQnA/docker_compose/amd/gpu/rocm/compose.yaml
Owners: sihan.chen@intel.com, letong.han@intel.com

CodeGen/CodeTrans - Adding files to deploy an application in the K8S environment using Helm
  CodeGen/kubernetes/helm/README.md
  CodeGen/kubernetes/helm/rocm-tgi-values.yaml
  CodeGen/kubernetes/helm/rocm-values.yaml
  CodeTrans/kubernetes/helm/README.md
  CodeTrans/kubernetes/helm/rocm-tgi-values.yaml
  CodeTrans/kubernetes/helm/rocm-values.yaml
Owners: liang1.lv@intel.com, xinyao.wang@intel.com, sihan.chen@intel.com

AgentQnA - Adding files to deploy an application in the K8S environment using Helm
  AgentQnA/kubernetes/helm/README.md
  AgentQnA/kubernetes/helm/rocm-tgi-values.yaml
  AgentQnA/kubernetes/helm/rocm-values.yaml
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

Add nginx to build_docker_images in unit tests
  SearchQnA/tests/test_compose_on_gaudi.sh
  SearchQnA/tests/test_compose_on_rocm.sh
  SearchQnA/tests/test_compose_on_xeon.sh
Owners: sihan.chen@intel.com, letong.han@intel.com

Add nginx to SearchQnA for amd rocm compose_vllm.yaml
  SearchQnA/docker_compose/amd/gpu/rocm/compose_vllm.yaml
Owners: sihan.chen@intel.com, letong.han@intel.com

Change playwright config so that unit testis accessing the app via nginx port 80
  SearchQnA/ui/svelte/playwright.config.ts
Owners: sihan.chen@intel.com, letong.han@intel.com

refine readme of InstructionTuning.
  InstructionTuning/README.md
  InstructionTuning/docker_compose/intel/cpu/xeon/README.md
  InstructionTuning/docker_compose/intel/hpu/gaudi/README.md
Owners: xinyu.ye@intel.com, kaokao.lv@intel.com

.github/CODEOWNERS:

* liang1.lv@intel.com feng.tian@intel.com suyue.chen@intel.com
/.github/ suyue.chen@intel.com ze.pan@intel.com
/AgentQnA/ kaokao.lv@intel.com minmin.hou@intel.com
/AudioQnA/ sihan.chen@intel.com wenjiao.yue@intel.com
/AvatarChatbot/ chun.tao@intel.com kaokao.lv@intel.com
/ChatQnA/ liang1.lv@intel.com letong.han@intel.com
/CodeGen/ liang1.lv@intel.com xinyao.wang@intel.com
/CodeTrans/ sihan.chen@intel.com xinyao.wang@intel.com
/DBQnA/ supriya.krishnamurthi@intel.com liang1.lv@intel.com
/DocIndexRetriever/ kaokao.lv@intel.com chendi.xue@intel.com
/DocSum/ letong.han@intel.com xinyao.wang@intel.com
/EdgeCraftRAG/ yongbo.zhu@intel.com mingyuan.qi@intel.com
/FaqGen/ yogesh.pandey@intel.com xinyao.wang@intel.com
/GraphRAG/ rita.brugarolas.brufau@intel.com abolfazl.shahbazi@intel.com
/InstructionTuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/MultimodalQnA/ melanie.h.buehler@intel.com tiep.le@intel.com
/ProductivitySuite/ jaswanth.karani@intel.com hoong.tee.yeoh@intel.com
/RerankFinetuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/SearchQnA/ sihan.chen@intel.com letong.han@intel.com
/Text2Image/ wenjiao.yue@intel.com xinyu.ye@intel.com
/Translation/ liang1.lv@intel.com sihan.chen@intel.com
/VideoQnA/ huiling.bao@intel.com xinyao.wang@intel.com
/VisualQnA/ liang1.lv@intel.com sihan.chen@intel.com
