Repository opea-project/GenAIExamples, changes with the owners that .github/CODEOWNERS names for each.
All owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com, ze.pan@intel.com, kaokao.lv@intel.com, minmin.hou@intel.com, sihan.chen@intel.com, wenjiao.yue@intel.com, chun.tao@intel.com, letong.han@intel.com, xinyao.wang@intel.com, supriya.krishnamurthi@intel.com, chendi.xue@intel.com, yongbo.zhu@intel.com, mingyuan.qi@intel.com, yogesh.pandey@intel.com, rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com, xinyu.ye@intel.com, melanie.h.buehler@intel.com, tiep.le@intel.com, jaswanth.karani@intel.com, hoong.tee.yeoh@intel.com, huiling.bao@intel.com

.github/CODEOWNERS:

* liang1.lv@intel.com feng.tian@intel.com suyue.chen@intel.com
/.github/ suyue.chen@intel.com ze.pan@intel.com
/AgentQnA/ kaokao.lv@intel.com minmin.hou@intel.com
/AudioQnA/ sihan.chen@intel.com wenjiao.yue@intel.com
/AvatarChatbot/ chun.tao@intel.com kaokao.lv@intel.com
/ChatQnA/ liang1.lv@intel.com letong.han@intel.com
/CodeGen/ liang1.lv@intel.com xinyao.wang@intel.com
/CodeTrans/ sihan.chen@intel.com xinyao.wang@intel.com
/DBQnA/ supriya.krishnamurthi@intel.com liang1.lv@intel.com
/DocIndexRetriever/ kaokao.lv@intel.com chendi.xue@intel.com
/DocSum/ letong.han@intel.com xinyao.wang@intel.com
/EdgeCraftRAG/ yongbo.zhu@intel.com mingyuan.qi@intel.com
/FaqGen/ yogesh.pandey@intel.com xinyao.wang@intel.com
/GraphRAG/ rita.brugarolas.brufau@intel.com abolfazl.shahbazi@intel.com
/InstructionTuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/MultimodalQnA/ melanie.h.buehler@intel.com tiep.le@intel.com
/ProductivitySuite/ jaswanth.karani@intel.com hoong.tee.yeoh@intel.com
/RerankFinetuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/SearchQnA/ sihan.chen@intel.com letong.han@intel.com
/Text2Image/ wenjiao.yue@intel.com xinyu.ye@intel.com
/Translation/ liang1.lv@intel.com sihan.chen@intel.com
/VideoQnA/ huiling.bao@intel.com xinyao.wang@intel.com
/VisualQnA/ liang1.lv@intel.com sihan.chen@intel.com

test
  .github/workflows/_example-workflow.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Update README.md to mention about use_conversation_ui.sh
  ChatQnA/docker_compose/intel/cpu/xeon/README.md
Owners: liang1.lv@intel.com, letong.han@intel.com

A compose file to use openrouter, openai style endpoint instead of a local inference service e.g., vllm
  ChatQnA/docker_compose/intel/cpu/xeon/compose_openrouter.yaml
Owners: liang1.lv@intel.com, letong.han@intel.com

Fix spoken audio responses on Gaudi and add tests (#63)
  MultimodalQnA/docker_compose/intel/hpu/gaudi/compose.yaml
  MultimodalQnA/tests/test_compose_on_gaudi.sh
  MultimodalQnA/tests/test_compose_on_xeon.sh
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

Clearing PDF clears textbox and version upgrade fixes interactive=False (#64)
  MultimodalQnA/ui/gradio/multimodalqna_ui_gradio.py
  MultimodalQnA/ui/gradio/requirements.txt
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

modify test scripts of compose on xeon
  Translation/docker_image_build/build.yaml
  Translation/tests/test_compose_tgi_on_xeon.sh
Owners: liang1.lv@intel.com, sihan.chen@intel.com

fix xeon test issues and update rocm files
  Translation/docker_compose/intel/cpu/xeon/compose.yaml
  Translation/tests/test_compose_on_rocm.sh
  Translation/tests/test_compose_on_xeon.sh
  Translation/tests/test_compose_tgi_on_xeon.sh
Owners: liang1.lv@intel.com, sihan.chen@intel.com

CodeGen - fix files for deploy on ROCm
  CodeGen/assets/img/ui-starting-page.png
  CodeGen/docker_compose/amd/gpu/rocm/README.md
Owners: liang1.lv@intel.com, xinyao.wang@intel.com

CodeGen - fix files for deploy on ROCm
  CodeGen/docker_compose/amd/gpu/rocm/README.md
Owners: liang1.lv@intel.com, xinyao.wang@intel.com

CodeGen - fix files for deploy on ROCm
  CodeGen/docker_compose/amd/gpu/rocm/README.md
Owners: liang1.lv@intel.com, xinyao.wang@intel.com

CodeGen - fix files for deploy on ROCm
  CodeGen/docker_compose/amd/gpu/rocm/README.md
Owners: liang1.lv@intel.com, xinyao.wang@intel.com

CodeGen - fix files for deploy on ROCm
  CodeGen/docker_compose/amd/gpu/rocm/README.md
Owners: liang1.lv@intel.com, xinyao.wang@intel.com

CodeGen - fix files for deploy on ROCm
  CodeGen/assets/img/ui-result-page.png
  CodeGen/docker_compose/amd/gpu/rocm/README.md
Owners: liang1.lv@intel.com, xinyao.wang@intel.com

CodeGen - fix files for deploy on ROCm
  CodeGen/docker_compose/amd/gpu/rocm/README.md
Owners: liang1.lv@intel.com, xinyao.wang@intel.com

CodeGen - fix files for deploy on ROCm
  CodeGen/docker_compose/amd/gpu/rocm/README.md
Owners: liang1.lv@intel.com, xinyao.wang@intel.com

CodeGen - fix files for deploy on ROCm
  CodeGen/docker_compose/amd/gpu/rocm/README.md
Owners: liang1.lv@intel.com, xinyao.wang@intel.com

CodeGen - fix files for deploy on ROCm
  CodeGen/docker_compose/amd/gpu/rocm/README.md
Owners: liang1.lv@intel.com, xinyao.wang@intel.com

CodeGen - fix files for deploy on ROCm
  CodeGen/docker_compose/amd/gpu/rocm/README.md
Owners: liang1.lv@intel.com, xinyao.wang@intel.com

CodeGen - fix files for deploy on ROCm
  CodeGen/docker_compose/amd/gpu/rocm/README.md
Owners: liang1.lv@intel.com, xinyao.wang@intel.com

CodeGen - fix files for deploy on ROCm
  CodeGen/docker_compose/amd/gpu/rocm/README.md
Owners: liang1.lv@intel.com, xinyao.wang@intel.com

CodeGen - fix files for deploy on ROCm
  CodeGen/docker_compose/amd/gpu/rocm/README.md
Owners: liang1.lv@intel.com, xinyao.wang@intel.com

CodeGen - fix files for deploy on ROCm
  CodeGen/docker_compose/amd/gpu/rocm/README.md
Owners: liang1.lv@intel.com, xinyao.wang@intel.com

CodeGen - fix files for deploy on ROCm
  CodeGen/docker_compose/amd/gpu/rocm/README.md
Owners: liang1.lv@intel.com, xinyao.wang@intel.com

CodeGen - fix files for deploy on ROCm
  CodeGen/docker_compose/amd/gpu/rocm/compose_vllm.yaml
Owners: liang1.lv@intel.com, xinyao.wang@intel.com

CodeGen - fix files for deploy on ROCm
  CodeGen/docker_compose/amd/gpu/rocm/compose_vllm.yaml
Owners: liang1.lv@intel.com, xinyao.wang@intel.com

CodeGen - fix files for deploy on ROCm
  CodeGen/docker_compose/amd/gpu/rocm/compose_vllm.yaml
Owners: liang1.lv@intel.com, xinyao.wang@intel.com

Updated the Readme of gaudi
  DocIndexRetriever/docker_compose/intel/hpu/gaudi/README.md
Owners: kaokao.lv@intel.com, chendi.xue@intel.com

bug fix
  .github/code_spell_ignore.txt
Owners: suyue.chen@intel.com, ze.pan@intel.com

minor fix
  EdgeCraftRAG/ui/vue/tsconfig.app.json
Owners: yongbo.zhu@intel.com, mingyuan.qi@intel.com

Fix input issue for manual-image-build.yml (#1666)
  .github/workflows/_example-workflow.yml
  .github/workflows/manual-example-workflow.yml
  .github/workflows/manual-image-build.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

add spell ignore rule
  EdgeCraftRAG/ui/vue/package.json
  EdgeCraftRAG/ui/vue/src/views/pipeline/components/UpdateDialog/Activated.vue
Owners: yongbo.zhu@intel.com, mingyuan.qi@intel.com

minor fix
  EdgeCraftRAG/ui/vue/tsconfig.node.json
Owners: yongbo.zhu@intel.com, mingyuan.qi@intel.com

Update stale issue and PR settings to 30 days for inactivity (#1661)
  .github/workflows/daily_check_issue_and_pr.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Add final README.md and set_env.sh script for quickstart review. Previous pull request was 1595. (#1662)
  ChatQnA/docker_compose/intel/hpu/gaudi/README.md
  ChatQnA/docker_compose/intel/hpu/gaudi/set_env.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

fix bug
  EdgeCraftRAG/Dockerfile
  EdgeCraftRAG/Dockerfile.server
Owners: yongbo.zhu@intel.com, mingyuan.qi@intel.com

add new UI and new feature with EC-RAG_v1.3
  EdgeCraftRAG/Dockerfile
  EdgeCraftRAG/Dockerfile.server
Owners: yongbo.zhu@intel.com, mingyuan.qi@intel.com

update readme link
  EdgeCraftRAG/README.md
Owners: yongbo.zhu@intel.com, mingyuan.qi@intel.com

fix opea check error
  EdgeCraftRAG/edgecraftrag/api/v1/chatqna.py
  EdgeCraftRAG/edgecraftrag/api/v1/pipeline.py
Owners: yongbo.zhu@intel.com, mingyuan.qi@intel.com

fix minor issues
  Translation/docker_compose/intel/cpu/xeon/compose.yaml
  Translation/docker_compose/set_env.sh
  Translation/tests/test_compose_on_rocm.sh
  Translation/tests/test_compose_on_xeon.sh
Owners: liang1.lv@intel.com, sihan.chen@intel.com

fix issue
  EdgeCraftRAG/ui/vue/src/main.ts
Owners: yongbo.zhu@intel.com, mingyuan.qi@intel.com
