Repository opea-project/GenAIExamples, changes with the owners that .github/CODEOWNERS names for each.
All owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com, ze.pan@intel.com, kaokao.lv@intel.com, minmin.hou@intel.com, sihan.chen@intel.com, wenjiao.yue@intel.com, chun.tao@intel.com, letong.han@intel.com, xinyao.wang@intel.com, supriya.krishnamurthi@intel.com, chendi.xue@intel.com, yongbo.zhu@intel.com, mingyuan.qi@intel.com, yogesh.pandey@intel.com, rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com, xinyu.ye@intel.com, melanie.h.buehler@intel.com, tiep.le@intel.com, jaswanth.karani@intel.com, hoong.tee.yeoh@intel.com, huiling.bao@intel.com

.github/CODEOWNERS:

* liang1.lv@intel.com feng.tian@intel.com suyue.chen@intel.com
/.github/ suyue.chen@intel.com ze.pan@intel.com
/AgentQnA/ kaokao.lv@intel.com minmin.hou@intel.com
/AudioQnA/ sihan.chen@intel.com wenjiao.yue@intel.com
/AvatarChatbot/ chun.tao@intel.com kaokao.lv@intel.com
/ChatQnA/ liang1.lv@intel.com letong.han@intel.com
/CodeGen/ liang1.lv@intel.com xinyao.wang@intel.com
/CodeTrans/ sihan.chen@intel.com xinyao.wang@intel.com
/DBQnA/ supriya.krishnamurthi@intel.com liang1.lv@intel.com
/DocIndexRetriever/ kaokao.lv@intel.com chendi.xue@intel.com
/DocSum/ letong.han@intel.com xinyao.wang@intel.com
/EdgeCraftRAG/ yongbo.zhu@intel.com mingyuan.qi@intel.com
/FaqGen/ yogesh.pandey@intel.com xinyao.wang@intel.com
/GraphRAG/ rita.brugarolas.brufau@intel.com abolfazl.shahbazi@intel.com
/InstructionTuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/MultimodalQnA/ melanie.h.buehler@intel.com tiep.le@intel.com
/ProductivitySuite/ jaswanth.karani@intel.com hoong.tee.yeoh@intel.com
/RerankFinetuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/SearchQnA/ sihan.chen@intel.com letong.han@intel.com
/Text2Image/ wenjiao.yue@intel.com xinyu.ye@intel.com
/Translation/ liang1.lv@intel.com sihan.chen@intel.com
/VideoQnA/ huiling.bao@intel.com xinyao.wang@intel.com
/VisualQnA/ liang1.lv@intel.com sihan.chen@intel.com

Update stale issue and PR settings to 30 days for inactivity (#1661)
  .github/workflows/daily_check_issue_and_pr.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Add model environment variable
  benchmark.py
Owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com

CodeGen - fix ROCm docker compose file
  CodeGen/Dockerfile-vllm-rocm
  CodeGen/docker_compose/amd/gpu/rocm/README_vllm.md
  CodeGen/docker_compose/amd/gpu/rocm/compose_vllm.yaml
  CodeGen/docker_image_build/build.yaml
Owners: liang1.lv@intel.com, xinyao.wang@intel.com

Use GenAIComp base image to simplify Dockerfiles & reduce image sizes
  AvatarChatbot/Dockerfile
  CodeGen/Dockerfile
  CodeTrans/Dockerfile
  MultimodalQnA/Dockerfile
Owners: chun.tao@intel.com, kaokao.lv@intel.com, liang1.lv@intel.com, xinyao.wang@intel.com, sihan.chen@intel.com, melanie.h.buehler@intel.com, tiep.le@intel.com

add test scripts
  FinanceAgent/docker_compose/intel/hpu/gaudi/compose.yaml
  FinanceAgent/docker_compose/intel/hpu/gaudi/dataprep_compose.yaml
  FinanceAgent/docker_compose/intel/hpu/gaudi/launch_agents.sh
  FinanceAgent/tests/test_compose_on_gaudi.sh
  FinanceAgent/tests/test_redis_finance.py
  FinanceAgent/tools/finqa_tools.py
  FinanceAgent/tools/utils.py
Owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com

Add final README.md and set_env.sh script for quickstart review.
  ChatQnA/docker_compose/intel/hpu/gaudi/README.md
  ChatQnA/docker_compose/intel/hpu/gaudi/set_env.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

Update MMQnA tgi-gaudi verison to match compose.yaml
  MultimodalQnA/docker_compose/intel/hpu/gaudi/README.md
  MultimodalQnA/tests/test_compose_on_gaudi.sh
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

finqa and supervisor agent tested
  FinanceAgent/docker_compose/intel/hpu/gaudi/dataprep_compose.yaml
  FinanceAgent/docker_compose/intel/hpu/gaudi/launch_agents.sh
  FinanceAgent/docker_image_build/build.yaml
  FinanceAgent/tests/step1_build_images.sh
  FinanceAgent/tests/test.py
  FinanceAgent/tools/supervisor_agent_tools.yaml
Owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com

Add final README.md and set_env.sh script for quickstart review. Previous pull request was 1595. (#1662)
  ChatQnA/docker_compose/intel/hpu/gaudi/README.md
  ChatQnA/docker_compose/intel/hpu/gaudi/set_env.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

fix errors for running on xeon with openai
  AgentQnA/docker_compose/intel/cpu/xeon/README.md
  AgentQnA/docker_compose/intel/cpu/xeon/compose_openai.yaml
  AgentQnA/tests/_test_compose_openai_on_xeon.sh
  AgentQnA/tests/step4_launch_and_validate_agent_openai.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

update readmes
  AgentQnA/README.md
  AgentQnA/docker_compose/intel/hpu/gaudi/README.md
  AgentQnA/ui/svelte/README.md
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

Enable audio caption upload in the UI (#61)
  MultimodalQnA/ui/gradio/multimodalqna_ui_gradio.py
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

fix input issue for manual-image-build.yml
  .github/workflows/manual-example-workflow.yml
  .github/workflows/manual-image-build.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

resolve issue
  VisualQnA/docker_compose/intel/cpu/xeon/README.md
  VisualQnA/docker_compose/intel/cpu/xeon/compose.yaml
  VisualQnA/docker_compose/intel/cpu/xeon/compose_tgi.yaml
  VisualQnA/docker_compose/intel/cpu/xeon/set_env.sh
  VisualQnA/docker_compose/intel/hpu/gaudi/README.md
  VisualQnA/docker_compose/intel/hpu/gaudi/compose.yaml
  VisualQnA/docker_compose/intel/hpu/gaudi/set_env.sh
  VisualQnA/tests/test_compose_on_gaudi.sh
  VisualQnA/tests/test_compose_on_xeon.sh
  VisualQnA/tests/test_compose_tgi_on_rocm.sh
Owners: liang1.lv@intel.com, sihan.chen@intel.com

revert amd test
  VisualQnA/tests/test_compose_on_rocm.sh
Owners: liang1.lv@intel.com, sihan.chen@intel.com

revert comment space
  VisualQnA/tests/test_compose_on_gaudi.sh
  VisualQnA/tests/test_compose_on_rocm.sh
  VisualQnA/tests/test_compose_on_xeon.sh
Owners: liang1.lv@intel.com, sihan.chen@intel.com

fix condition
  .github/workflows/_example-workflow.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

CodeGen - fix ROCm docker compose file
  CodeGen/docker_compose/amd/gpu/rocm/README_vllm.md
Owners: liang1.lv@intel.com, xinyao.wang@intel.com

CodeGen - fix ROCm docker compose file
  CodeGen/docker_compose/amd/gpu/rocm/README.md
  CodeGen/docker_compose/amd/gpu/rocm/README_vllm.md
  CodeGen/docker_compose/amd/gpu/rocm/set_env.sh
  CodeGen/docker_compose/amd/gpu/rocm/set_env_vllm.sh
Owners: liang1.lv@intel.com, xinyao.wang@intel.com

CodeGen - fix ROCm docker compose file
  CodeGen/docker_compose/amd/gpu/rocm/README.md
  CodeGen/docker_compose/amd/gpu/rocm/README_vllm.md
Owners: liang1.lv@intel.com, xinyao.wang@intel.com

CodeGen - fix ROCm docker compose file
  CodeGen/docker_compose/amd/gpu/rocm/README.md
Owners: liang1.lv@intel.com, xinyao.wang@intel.com

Fix input issue for manual-image-build.yml (#1666)
  .github/workflows/_example-workflow.yml
  .github/workflows/manual-example-workflow.yml
  .github/workflows/manual-image-build.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

CodeTrans - fix files for deploy on ROCm
  CodeTrans/docker_compose/amd/gpu/rocm/README.md
  CodeTrans/docker_compose/amd/gpu/rocm/README_vllm.md
  CodeTrans/docker_compose/amd/gpu/rocm/compose_vllm.yaml
  CodeTrans/docker_compose/amd/gpu/rocm/set_env.sh
  CodeTrans/docker_compose/amd/gpu/rocm/set_env_vllm.sh
  CodeTrans/docker_image_build/build.yaml
Owners: sihan.chen@intel.com, xinyao.wang@intel.com

CodeGen - fix files for deploy on ROCm
  CodeGen/docker_compose/amd/gpu/rocm/README.md
Owners: liang1.lv@intel.com, xinyao.wang@intel.com

revert specific commit hash usage and adapt the latest comps
  VisualQnA/docker_compose/intel/hpu/gaudi/README.md
  VisualQnA/tests/test_compose_on_gaudi.sh
  VisualQnA/tests/test_compose_on_xeon.sh
Owners: liang1.lv@intel.com, sihan.chen@intel.com

CodeTrans - fix files for deploy on ROCm
  CodeTrans/Dockerfile-vllm-rocm
Owners: sihan.chen@intel.com, xinyao.wang@intel.com

CodeGen - fix files for deploy on ROCm
  CodeGen/docker_compose/amd/gpu/rocm/compose.yaml
  CodeGen/tests/test_compose_on_rocm.sh
Owners: liang1.lv@intel.com, xinyao.wang@intel.com

remove gmc input in CD workflow
  .github/workflows/manual-example-workflow.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Enable base image build in CI
  DocSum/Dockerfile
  DocSum/docker_image_build/build.yaml
  DocSum/tests/test_compose_on_gaudi.sh
  DocSum/tests/test_compose_on_rocm.sh
  DocSum/tests/test_compose_on_xeon.sh
Owners: letong.han@intel.com, xinyao.wang@intel.com

fix repo name
  VisualQnA/tests/test_compose_on_gaudi.sh
  VisualQnA/tests/test_compose_on_xeon.sh
Owners: liang1.lv@intel.com, sihan.chen@intel.com

add a cpu specific helm chart values file for AgentQnA
  AgentQnA/kubernetes/helm/README.md
  AgentQnA/kubernetes/helm/cpu-values.yaml
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

Refactor Translation example and merge with CodeTrans, update docker compose of rocm and xeon part
  Translation/docker_compose/amd/gpu/rocm/README.md
  Translation/docker_compose/amd/gpu/rocm/compose.yaml
  Translation/docker_compose/intel/cpu/xeon/README.md
  Translation/docker_compose/intel/cpu/xeon/compose_tgi.yaml
  Translation/docker_compose/set_env.sh
  Translation/docker_image_build/build.yaml
  Translation/translation.py
Owners: liang1.lv@intel.com, sihan.chen@intel.com

Enable base image build in CD
  .github/workflows/_build_comps_base_image.yml
  .github/workflows/manual-example-workflow.yml
  .github/workflows/nightly-docker-build-publish.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Add --no-cache for image build
  DocSum/tests/test_compose_on_gaudi.sh
  DocSum/tests/test_compose_on_rocm.sh
  DocSum/tests/test_compose_on_xeon.sh
Owners: letong.han@intel.com, xinyao.wang@intel.com

debug
  .github/workflows/debug-nightly-docker-build-publish.yml
  .github/workflows/nightly-docker-build-publish.yml.1
Owners: suyue.chen@intel.com, ze.pan@intel.com

disable inject commit for base image
  .github/workflows/_build_comps_base_image.yml
  .github/workflows/nightly-docker-build-publish.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

disable weekly update 3rd party images
  .github/workflows/weekly-update-images.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

disable inject commit
  .github/workflows/manual-example-workflow.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

CodeGen - fix files for deploy on ROCm
  CodeGen/docker_compose/amd/gpu/rocm/compose.yaml
Owners: liang1.lv@intel.com, xinyao.wang@intel.com

Fix conversational UI setup in ChatQnA
  ChatQnA/docker_compose/intel/cpu/xeon/use_conversation_ui.sh
  ChatQnA/tests/test_conversation_ui_setup.sh
Owners: liang1.lv@intel.com, letong.han@intel.com
