Repository opea-project/GenAIExamples, changes with the owners that .github/CODEOWNERS names for each.
All owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com, ze.pan@intel.com, kaokao.lv@intel.com, minmin.hou@intel.com, sihan.chen@intel.com, wenjiao.yue@intel.com, chun.tao@intel.com, letong.han@intel.com, xinyao.wang@intel.com, supriya.krishnamurthi@intel.com, chendi.xue@intel.com, yongbo.zhu@intel.com, mingyuan.qi@intel.com, yogesh.pandey@intel.com, rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com, xinyu.ye@intel.com, melanie.h.buehler@intel.com, tiep.le@intel.com, jaswanth.karani@intel.com, hoong.tee.yeoh@intel.com, huiling.bao@intel.com

Add Telemetry support for AgentQnA using Grafana, Prometheus and Jaeger
  AgentQnA/README.md
  AgentQnA/docker_compose/intel/hpu/gaudi/compose.telemetry.yaml
  AgentQnA/docker_compose/intel/hpu/gaudi/grafana/dashboards/download_opea_dashboard.sh
  AgentQnA/docker_compose/intel/hpu/gaudi/grafana/provisioning/dashboards/local.yaml
  AgentQnA/docker_compose/intel/hpu/gaudi/grafana/provisioning/datasources/datasource.yml
  AgentQnA/docker_compose/intel/hpu/gaudi/prometheus.yaml
  AgentQnA/docker_compose/intel/hpu/gaudi/set_env.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

add telemetry tracing into tools.py
  AgentQnA/README.md
  AgentQnA/tests/step4_launch_and_validate_agent_gaudi.sh
  AgentQnA/tools/tools.py
  AgentQnA/ui/svelte/.env
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

updated README to address review feedback
  AgentQnA/README.md
  AgentQnA/ui/svelte/.env
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

Add Telemetry support for AgentQnA using Grafana, Prometheus and Jaeger (#1732)
  AgentQnA/README.md
  AgentQnA/docker_compose/intel/hpu/gaudi/compose.telemetry.yaml
  AgentQnA/docker_compose/intel/hpu/gaudi/grafana/dashboards/download_opea_dashboard.sh
  AgentQnA/docker_compose/intel/hpu/gaudi/grafana/provisioning/dashboards/local.yaml
  AgentQnA/docker_compose/intel/hpu/gaudi/grafana/provisioning/datasources/datasource.yml
  AgentQnA/docker_compose/intel/hpu/gaudi/prometheus.yaml
  AgentQnA/docker_compose/intel/hpu/gaudi/set_env.sh
  AgentQnA/tests/step4_launch_and_validate_agent_gaudi.sh
  AgentQnA/tools/tools.py
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

Fix README for deploy AgentQnA application on ROCm vLLM (#1742)
  AgentQnA/docker_compose/amd/gpu/rocm/README.md
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

DocSum - fix files for deploy on ROCm vLLM
  DocSum/docker_compose/amd/gpu/rocm/compose.yaml
Owners: letong.han@intel.com, xinyao.wang@intel.com

DocSum - fix files for deploy on ROCm vLLM
  DocSum/docker_compose/amd/gpu/rocm/compose.yaml
  DocSum/tests/test_compose_on_rocm.sh
Owners: letong.han@intel.com, xinyao.wang@intel.com

Update test_compose_on_rocm.sh
  MultimodalQnA/tests/test_compose_on_rocm.sh
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

MultimodalQnA audio features completion (#1698)
  MultimodalQnA/README.md
  MultimodalQnA/assets/img/audio-ingestion.png
  MultimodalQnA/assets/img/audio-query.png
  MultimodalQnA/assets/img/example_query.png
  MultimodalQnA/assets/img/image-ingestion.png
  MultimodalQnA/assets/img/image-query-text.png
  MultimodalQnA/assets/img/image-query-tts.png
  MultimodalQnA/assets/img/image-query.png
  MultimodalQnA/assets/img/ingest_pdf.png
  MultimodalQnA/assets/img/mmqna-ui.png
  MultimodalQnA/assets/img/pdf-ingestion.png
  MultimodalQnA/assets/img/pdf-query.png
  MultimodalQnA/assets/img/upload-gen-captions.png
  MultimodalQnA/assets/img/upload-gen-trans.png
  MultimodalQnA/assets/img/vector-store.png
  MultimodalQnA/assets/img/video-ingestion.png
  MultimodalQnA/assets/img/video-query.png
  MultimodalQnA/docker_compose/amd/gpu/rocm/compose.yaml
  MultimodalQnA/docker_compose/intel/cpu/xeon/README.md
  MultimodalQnA/docker_compose/intel/cpu/xeon/compose.yaml
  MultimodalQnA/docker_compose/intel/cpu/xeon/set_env.sh
  MultimodalQnA/docker_compose/intel/hpu/gaudi/README.md
  MultimodalQnA/docker_compose/intel/hpu/gaudi/compose.yaml
  MultimodalQnA/docker_compose/intel/hpu/gaudi/set_env.sh
  MultimodalQnA/docker_image_build/build.yaml
  MultimodalQnA/multimodalqna.py
  MultimodalQnA/tests/test_compose_on_gaudi.sh
  MultimodalQnA/tests/test_compose_on_rocm.sh
  MultimodalQnA/tests/test_compose_on_xeon.sh
  MultimodalQnA/ui/gradio/conversation.py
  MultimodalQnA/ui/gradio/multimodalqna_ui_gradio.py
  MultimodalQnA/ui/gradio/requirements.txt
  MultimodalQnA/ui/gradio/utils.py
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

DocSum - fix files for deploy on ROCm vLLM
  DocSum/docker_compose/amd/gpu/rocm/compose_vllm.yaml
Owners: letong.han@intel.com, xinyao.wang@intel.com

Code Enhancement for vllm inference (#1729)
  EdgeCraftRAG/README.md
  EdgeCraftRAG/docker_compose/intel/gpu/arc/compose_vllm_multi-arc.yaml
  EdgeCraftRAG/ui/gradio/ecrag_client.py
  EdgeCraftRAG/ui/gradio/ecragui.py
Owners: yongbo.zhu@intel.com, mingyuan.qi@intel.com

Add containers ready check
  MultimodalQnA/tests/test_compose_on_rocm.sh
  MultimodalQnA/tests/test_compose_vllm_on_rocm.sh
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

update gaudi node exporter
  ChatQnA/docker_compose/intel/hpu/gaudi/compose.telemetry.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_tgi.telemetry.yaml
Owners: liang1.lv@intel.com, letong.han@intel.com

update to the latest Grafana Dashboardo
  ChatQnA/docker_compose/intel/cpu/xeon/grafana/dashboards/download_opea_dashboard.sh
  ChatQnA/docker_compose/intel/cpu/xeon/set_env.sh
  ChatQnA/docker_compose/intel/hpu/gaudi/grafana/dashboards/download_opea_dashboard.sh
  ChatQnA/docker_compose/intel/hpu/gaudi/set_env.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

Adding files to deploy DocSum application on ROCm vLLM (#1572)
  DocSum/assets/img/ui-result-page.png
  DocSum/assets/img/ui-starting-page.png
  DocSum/docker_compose/amd/gpu/rocm/README.md
  DocSum/docker_compose/amd/gpu/rocm/compose_vllm.yaml
  DocSum/docker_compose/amd/gpu/rocm/set_env_vllm.sh
  DocSum/docker_image_build/build.yaml
  DocSum/tests/test_compose_vllm_on_rocm.sh
Owners: letong.han@intel.com, xinyao.wang@intel.com

Update test_compose_on_rocm.sh
  MultimodalQnA/tests/test_compose_on_rocm.sh
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

add port clean up for example test
  .github/workflows/_run-docker-compose.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

add multilang tts test
  AudioQnA/tests/test_compose_multilang_on_xeon.sh
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

fix copyright year
  AudioQnA/tests/test_compose_multilang_on_xeon.sh
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

Fix cache dirs and clip endpoint
  VideoQnA/docker_compose/intel/cpu/xeon/compose.yaml
  VideoQnA/tests/test_compose_on_xeon.sh
Owners: huiling.bao@intel.com, xinyao.wang@intel.com

Sync values yaml file for 1.3 release
  AgentQnA/kubernetes/helm/cpu-values.yaml
  AgentQnA/kubernetes/helm/gaudi-values.yaml
  AudioQnA/kubernetes/helm/cpu-multilang-values.yaml
  AudioQnA/kubernetes/helm/cpu-tgi-values.yaml
  AudioQnA/kubernetes/helm/gaudi-tgi-values.yaml
  AudioQnA/kubernetes/helm/gaudi-values.yaml
  ChatQnA/kubernetes/helm/cpu-qdrant-values.yaml
  ChatQnA/kubernetes/helm/cpu-tgi-values.yaml
  ChatQnA/kubernetes/helm/faqgen-cpu-tgi-values.yaml
  ChatQnA/kubernetes/helm/faqgen-cpu-values.yaml
  ChatQnA/kubernetes/helm/faqgen-gaudi-tgi-values.yaml
  ChatQnA/kubernetes/helm/faqgen-gaudi-values.yaml
  ChatQnA/kubernetes/helm/gaudi-values.yaml
  ChatQnA/kubernetes/helm/guardrails-gaudi-values.yaml
  ChatQnA/kubernetes/helm/norerank-values.yaml
  CodeGen/kubernetes/helm/cpu-tgi-values.yaml
  CodeGen/kubernetes/helm/cpu-values.yaml
  CodeGen/kubernetes/helm/gaudi-tgi-values.yaml
  CodeGen/kubernetes/helm/gaudi-values.yaml
  CodeTrans/kubernetes/helm/cpu-tgi-values.yaml
  CodeTrans/kubernetes/helm/cpu-values.yaml
  CodeTrans/kubernetes/helm/gaudi-tgi-values.yaml
  CodeTrans/kubernetes/helm/gaudi-values.yaml
  DocSum/kubernetes/helm/cpu-tgi-values.yaml
  DocSum/kubernetes/helm/cpu-values.yaml
  DocSum/kubernetes/helm/gaudi-tgi-values.yaml
  DocSum/kubernetes/helm/gaudi-values.yaml
  VisualQnA/kubernetes/helm/cpu-tgi-values.yaml
  VisualQnA/kubernetes/helm/gaudi-tgi-values.yaml
  VisualQnA/kubernetes/helm/gaudi-values.yaml
Owners: kaokao.lv@intel.com, minmin.hou@intel.com, sihan.chen@intel.com, wenjiao.yue@intel.com, liang1.lv@intel.com, letong.han@intel.com, xinyao.wang@intel.com

fix svc name to build
  AudioQnA/tests/test_compose_multilang_on_xeon.sh
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

Init commit for VisualQnA vLLM implementation
  VisualQnA/docker_compose/amd/gpu/rocm/compose_vllm.yaml
  VisualQnA/docker_compose/amd/gpu/rocm/set_env_vllm.sh
  VisualQnA/docker_image_build/build.yaml
  VisualQnA/tests/test_compose_vllm_on_rocm.sh
Owners: liang1.lv@intel.com, sihan.chen@intel.com

Update compose_vllm.yaml
  VisualQnA/docker_compose/amd/gpu/rocm/compose_vllm.yaml
Owners: liang1.lv@intel.com, sihan.chen@intel.com

Update test_compose_on_rocm.sh
  MultimodalQnA/tests/test_compose_on_rocm.sh
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

fix conda env create
  ChatQnA/tests/test_compose_qdrant_on_xeon.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

Update test_compose_vllm_on_rocm.sh
  VisualQnA/tests/test_compose_vllm_on_rocm.sh
Owners: liang1.lv@intel.com, sihan.chen@intel.com

Update test_compose_vllm_on_rocm.sh
  VisualQnA/tests/test_compose_vllm_on_rocm.sh
Owners: liang1.lv@intel.com, sihan.chen@intel.com

Update test_compose_vllm_on_rocm.sh
  VisualQnA/tests/test_compose_vllm_on_rocm.sh
Owners: liang1.lv@intel.com, sihan.chen@intel.com

optimize log grouping
  ChatQnA/tests/test_compose_on_gaudi.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

add log group for all chatqna test
  ChatQnA/tests/test_compose_faqgen_on_gaudi.sh
  ChatQnA/tests/test_compose_faqgen_on_rocm.sh
  ChatQnA/tests/test_compose_faqgen_on_xeon.sh
  ChatQnA/tests/test_compose_faqgen_tgi_on_gaudi.sh
  ChatQnA/tests/test_compose_faqgen_tgi_on_xeon.sh
  ChatQnA/tests/test_compose_guardrails_on_gaudi.sh
  ChatQnA/tests/test_compose_milvus_on_xeon.sh
  ChatQnA/tests/test_compose_on_rocm.sh
  ChatQnA/tests/test_compose_on_xeon.sh
  ChatQnA/tests/test_compose_pinecone_on_xeon.sh
  ChatQnA/tests/test_compose_qdrant_on_xeon.sh
  ChatQnA/tests/test_compose_tgi_on_gaudi.sh
  ChatQnA/tests/test_compose_tgi_on_xeon.sh
  ChatQnA/tests/test_compose_without_rerank_on_gaudi.sh
  ChatQnA/tests/test_compose_without_rerank_on_xeon.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

Fix relative path validity issue (#1750)
  .github/workflows/pr-link-path-scan.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Adding files to deploy ChatQnA application on ROCm vLLM (#1560)
  ChatQnA/README.md
  ChatQnA/assets/img/ui-result-page-faqgen.png
  ChatQnA/assets/img/ui-result-page.png
  ChatQnA/assets/img/ui-starting-page.png
  ChatQnA/docker_compose/amd/gpu/rocm/README.md
  ChatQnA/docker_compose/amd/gpu/rocm/compose_faqgen.yaml
  ChatQnA/docker_compose/amd/gpu/rocm/compose_faqgen_vllm.yaml
  ChatQnA/docker_compose/amd/gpu/rocm/compose_vllm.yaml
  ChatQnA/docker_compose/amd/gpu/rocm/set_env_faqgen.sh
  ChatQnA/docker_compose/amd/gpu/rocm/set_env_faqgen_vllm.sh
  ChatQnA/docker_compose/amd/gpu/rocm/set_env_vllm.sh
  ChatQnA/docker_image_build/build.yaml
  ChatQnA/tests/test_compose_faqgen_on_rocm.sh
  ChatQnA/tests/test_compose_faqgen_vllm_on_rocm.sh
  ChatQnA/tests/test_compose_vllm_on_rocm.sh
  ChatQnA/ui/svelte/playwright.config.ts
Owners: liang1.lv@intel.com, letong.han@intel.com

DocSum - Adding files to deploy an application in the K8S environment using Helm
  DocSum/kubernetes/amd/gpu/rocm/chart/.helmignore
  DocSum/kubernetes/amd/gpu/rocm/chart/Chart.yaml
  DocSum/kubernetes/amd/gpu/rocm/chart/README.md
  DocSum/kubernetes/amd/gpu/rocm/chart/templates/NOTES.txt
  DocSum/kubernetes/amd/gpu/rocm/chart/templates/_helpers.tpl
  DocSum/kubernetes/amd/gpu/rocm/chart/templates/deployment-backend.yaml
  DocSum/kubernetes/amd/gpu/rocm/chart/templates/deployment-gradio-ui.yaml
  DocSum/kubernetes/amd/gpu/rocm/chart/templates/deployment-llm.yaml
  DocSum/kubernetes/amd/gpu/rocm/chart/templates/deployment-vllm.yaml
  DocSum/kubernetes/amd/gpu/rocm/chart/templates/deployment-whisper.yaml
  DocSum/kubernetes/amd/gpu/rocm/chart/templates/ingress-gradio-ui.yaml
  DocSum/kubernetes/amd/gpu/rocm/chart/templates/service-backend.yaml
  DocSum/kubernetes/amd/gpu/rocm/chart/templates/service-gradio-ui.yaml
  DocSum/kubernetes/amd/gpu/rocm/chart/templates/service-llm.yaml
  DocSum/kubernetes/amd/gpu/rocm/chart/templates/service-vllm.yaml
  DocSum/kubernetes/amd/gpu/rocm/chart/templates/service-whisper.yaml
  DocSum/kubernetes/amd/gpu/rocm/chart/values.yaml
Owners: letong.han@intel.com, xinyao.wang@intel.com

DocSum - Adding files to deploy an application in the K8S environment using Helm
  DocSum/kubernetes/amd/gpu/rocm/chart/values.yaml
Owners: letong.han@intel.com, xinyao.wang@intel.com

update left issue in rocm test
  ChatQnA/tests/test_compose_faqgen_on_rocm.sh
  ChatQnA/tests/test_compose_faqgen_vllm_on_rocm.sh
  ChatQnA/tests/test_compose_on_rocm.sh
  ChatQnA/tests/test_compose_vllm_on_rocm.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

update Readme.md file, minor fixes
  VisualQnA/assets/img/visualqna-ui-result-page.png
  VisualQnA/assets/img/visualqna-ui-starting-page.png
  VisualQnA/docker_compose/amd/gpu/rocm/.README.md.kate-swp
  VisualQnA/docker_compose/amd/gpu/rocm/README.md
  VisualQnA/docker_compose/amd/gpu/rocm/set_env.sh
  VisualQnA/docker_compose/amd/gpu/rocm/set_env_vllm.sh
Owners: liang1.lv@intel.com, sihan.chen@intel.com

DocSum - Adding files to deploy an application in the K8S environment using Helm
  DocSum/kubernetes/amd/gpu/rocm/chart/templates/deployment-llm.yaml
  DocSum/kubernetes/amd/gpu/rocm/chart/templates/deployment-vllm.yaml
  DocSum/kubernetes/amd/gpu/rocm/chart/values.yaml
Owners: letong.han@intel.com, xinyao.wang@intel.com

Address review comments: - Revert vdms tag change since latest tag is always latest stable version; - Minor updates in README; - Remove debug logs from videoqna.py; - Revert mounting volumes
  VideoQnA/docker_compose/intel/cpu/xeon/README.md
  VideoQnA/docker_compose/intel/cpu/xeon/compose.yaml
  VideoQnA/docker_compose/intel/cpu/xeon/set_env.sh
  VideoQnA/tests/test_compose_on_xeon.sh
  VideoQnA/videoqna.py
Owners: huiling.bao@intel.com, xinyao.wang@intel.com

Minor fixes
  VisualQnA/docker_compose/amd/gpu/rocm/.README.md.kate-swp
  VisualQnA/docker_compose/amd/gpu/rocm/README.md
  VisualQnA/tests/test_compose_on_rocm.sh
  VisualQnA/tests/test_compose_vllm_on_rocm.sh
Owners: liang1.lv@intel.com, sihan.chen@intel.com

.github/CODEOWNERS:

* liang1.lv@intel.com feng.tian@intel.com suyue.chen@intel.com
/.github/ suyue.chen@intel.com ze.pan@intel.com
/AgentQnA/ kaokao.lv@intel.com minmin.hou@intel.com
/AudioQnA/ sihan.chen@intel.com wenjiao.yue@intel.com
/AvatarChatbot/ chun.tao@intel.com kaokao.lv@intel.com
/ChatQnA/ liang1.lv@intel.com letong.han@intel.com
/CodeGen/ liang1.lv@intel.com xinyao.wang@intel.com
/CodeTrans/ sihan.chen@intel.com xinyao.wang@intel.com
/DBQnA/ supriya.krishnamurthi@intel.com liang1.lv@intel.com
/DocIndexRetriever/ kaokao.lv@intel.com chendi.xue@intel.com
/DocSum/ letong.han@intel.com xinyao.wang@intel.com
/EdgeCraftRAG/ yongbo.zhu@intel.com mingyuan.qi@intel.com
/FaqGen/ yogesh.pandey@intel.com xinyao.wang@intel.com
/GraphRAG/ rita.brugarolas.brufau@intel.com abolfazl.shahbazi@intel.com
/InstructionTuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/MultimodalQnA/ melanie.h.buehler@intel.com tiep.le@intel.com
/ProductivitySuite/ jaswanth.karani@intel.com hoong.tee.yeoh@intel.com
/RerankFinetuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/SearchQnA/ sihan.chen@intel.com letong.han@intel.com
/Text2Image/ wenjiao.yue@intel.com xinyu.ye@intel.com
/Translation/ liang1.lv@intel.com sihan.chen@intel.com
/VideoQnA/ huiling.bao@intel.com xinyao.wang@intel.com
/VisualQnA/ liang1.lv@intel.com sihan.chen@intel.com
