Repository opea-project/GenAIExamples, changes with the owners that .github/CODEOWNERS names for each.
All owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com, ze.pan@intel.com, kaokao.lv@intel.com, minmin.hou@intel.com, sihan.chen@intel.com, wenjiao.yue@intel.com, chun.tao@intel.com, letong.han@intel.com, xinyao.wang@intel.com, supriya.krishnamurthi@intel.com, chendi.xue@intel.com, yongbo.zhu@intel.com, mingyuan.qi@intel.com, yogesh.pandey@intel.com, rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com, xinyu.ye@intel.com, melanie.h.buehler@intel.com, tiep.le@intel.com, jaswanth.karani@intel.com, hoong.tee.yeoh@intel.com, huiling.bao@intel.com

.github/CODEOWNERS:

* liang1.lv@intel.com feng.tian@intel.com suyue.chen@intel.com
/.github/ suyue.chen@intel.com ze.pan@intel.com
/AgentQnA/ kaokao.lv@intel.com minmin.hou@intel.com
/AudioQnA/ sihan.chen@intel.com wenjiao.yue@intel.com
/AvatarChatbot/ chun.tao@intel.com kaokao.lv@intel.com
/ChatQnA/ liang1.lv@intel.com letong.han@intel.com
/CodeGen/ liang1.lv@intel.com xinyao.wang@intel.com
/CodeTrans/ sihan.chen@intel.com xinyao.wang@intel.com
/DBQnA/ supriya.krishnamurthi@intel.com liang1.lv@intel.com
/DocIndexRetriever/ kaokao.lv@intel.com chendi.xue@intel.com
/DocSum/ letong.han@intel.com xinyao.wang@intel.com
/EdgeCraftRAG/ yongbo.zhu@intel.com mingyuan.qi@intel.com
/FaqGen/ yogesh.pandey@intel.com xinyao.wang@intel.com
/GraphRAG/ rita.brugarolas.brufau@intel.com abolfazl.shahbazi@intel.com
/InstructionTuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/MultimodalQnA/ melanie.h.buehler@intel.com tiep.le@intel.com
/ProductivitySuite/ jaswanth.karani@intel.com hoong.tee.yeoh@intel.com
/RerankFinetuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/SearchQnA/ sihan.chen@intel.com letong.han@intel.com
/Text2Image/ wenjiao.yue@intel.com xinyu.ye@intel.com
/Translation/ liang1.lv@intel.com sihan.chen@intel.com
/VideoQnA/ huiling.bao@intel.com xinyao.wang@intel.com
/VisualQnA/ liang1.lv@intel.com sihan.chen@intel.com

Remove perf test code from test scripts. (#1510)
  ChatQnA/tests/test_compose_on_gaudi.sh
  ChatQnA/tests/test_compose_on_rocm.sh
  ChatQnA/tests/test_compose_on_xeon.sh
  ChatQnA/tests/test_compose_pinecone_on_xeon.sh
  ChatQnA/tests/test_compose_tgi_on_gaudi.sh
  ChatQnA/tests/test_compose_tgi_on_xeon.sh
  ChatQnA/tests/test_compose_without_rerank_on_gaudi.sh
  ChatQnA/tests/test_compose_without_rerank_on_xeon.sh
  GraphRAG/tests/test_compose_on_gaudi.sh
Owners: liang1.lv@intel.com, letong.han@intel.com, rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com

Docker compose updated
  ChatQnA/tests/test_compose_milvus_on_xeon.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

Update compose_milvus.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_milvus.yaml
Owners: liang1.lv@intel.com, letong.han@intel.com

Docker compose updated
  ChatQnA/docker_compose/intel/cpu/xeon/compose_milvus.yaml
Owners: liang1.lv@intel.com, letong.han@intel.com

Create milvus.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/milvus.yaml
Owners: liang1.lv@intel.com, letong.han@intel.com

Fix benchmark scripts (#1517)
  ChatQnA/benchmark_chatqna.yaml
  README-deploy-benchmark.md
  benchmark.py
  deploy.py
  deploy_and_benchmark.py
  requirements.txt
Owners: liang1.lv@intel.com, letong.han@intel.com, feng.tian@intel.com, suyue.chen@intel.com

Docker compose updated
  ChatQnA/docker_compose/intel/cpu/xeon/compose_milvus.yaml
Owners: liang1.lv@intel.com, letong.han@intel.com

Fix trivy issue (#1569)
  AvatarChatbot/Dockerfile
  ChatQnA/tests/test_compose_on_gaudi.sh
  EdgeCraftRAG/ui/docker/Dockerfile.ui
  VideoQnA/ui/docker/Dockerfile
Owners: chun.tao@intel.com, kaokao.lv@intel.com, liang1.lv@intel.com, letong.han@intel.com, yongbo.zhu@intel.com, mingyuan.qi@intel.com, huiling.bao@intel.com, xinyao.wang@intel.com

Docker compose updated
  ChatQnA/docker_compose/intel/cpu/xeon/compose_milvus.yaml
  ChatQnA/tests/test_compose_milvus_on_xeon.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

Expand CI test scope for common test scripts (#1554)
  .github/workflows/_run-docker-compose.yml
  .github/workflows/scripts/get_test_matrix.sh
Owners: suyue.chen@intel.com, ze.pan@intel.com

Update compose_milvus.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_milvus.yaml
Owners: liang1.lv@intel.com, letong.han@intel.com

Docker compose updated
  ChatQnA/docker_compose/intel/cpu/xeon/compose_milvus.yaml
  ChatQnA/tests/test_compose_milvus_on_xeon.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

Docker compose updated
  ChatQnA/docker_compose/intel/cpu/xeon/compose_milvus.yaml
Owners: liang1.lv@intel.com, letong.han@intel.com

Top level README: add link to github.io documentation (#1584)
  README.md
Owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com

Update test_compose_milvus_on_xeon.sh
  ChatQnA/tests/test_compose_milvus_on_xeon.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

Fix mismatched environment variable (#1575)
  ChatQnA/docker_compose/intel/cpu/aipc/set_env.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

Fix minor typo in README (#1559)
  README.md
Owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com

Add test script for Milvus on Xeon
  ChatQnA/tests/test_compose_milvus_on_xeon.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

ChatQnA Docker compose file for Milvus as vdb (#1548)
  ChatQnA/docker_compose/intel/cpu/xeon/compose_milvus.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/milvus.yaml
  ChatQnA/tests/test_compose_milvus_on_xeon.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

Add quickstart for ChatQnA
  ChatQnA/README.md
  ChatQnA/docker_compose/intel/hpu/gaudi/README.md
  ChatQnA/docker_compose/intel/hpu/gaudi/set_env.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

Restore top level README.md
  ChatQnA/README.md
Owners: liang1.lv@intel.com, letong.han@intel.com

Fix cd workflow condition (#1588)
  .github/workflows/manual-example-workflow.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

revert chatqna async and enhance tests
  ChatQnA/chatqna.py
  ChatQnA/tests/test_compose_on_gaudi.sh
  ChatQnA/tests/test_compose_on_rocm.sh
  ChatQnA/tests/test_compose_on_xeon.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

fix
  ChatQnA/tests/test_compose_on_rocm.sh
  ChatQnA/tests/test_compose_on_xeon.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

Update test_compose_on_xeon.sh for tgi image download
  DBQnA/tests/test_compose_on_xeon.sh
Owners: supriya.krishnamurthi@intel.com, liang1.lv@intel.com

Revert "align async for GraphRAG"
  GraphRAG/graphrag.py
Owners: rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com

Update DBQnA tgi docker image to latest tgi 2.4.0 (#1593)
  DBQnA/docker_compose/intel/cpu/xeon/README.md
  DBQnA/docker_compose/intel/cpu/xeon/compose.yaml
  DBQnA/docker_compose/intel/cpu/xeon/set_env.sh
  DBQnA/tests/test_compose_on_xeon.sh
Owners: supriya.krishnamurthi@intel.com, liang1.lv@intel.com

debug
  ChatQnA/tests/test_compose_on_xeon.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

add a cpu specific helm chart values file for AgentQnA
  AgentQnA/kubernetes/helm/README.md
  AgentQnA/kubernetes/helm/cpu-values.yaml
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

Revert chatqna async and enhance tests (#1598)
  ChatQnA/chatqna.py
  ChatQnA/tests/test_compose_on_gaudi.sh
  ChatQnA/tests/test_compose_on_rocm.sh
  ChatQnA/tests/test_compose_on_xeon.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

cut the sleep time
  ChatQnA/tests/test_compose_on_xeon.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

open UI test on rocm
  ChatQnA/tests/test_compose_on_rocm.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

Remove test code.
  .github/workflows/pr-docker-compose-e2e.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Align ECRAG with RAG Pilot
  EdgeCraftRAG/edgecraftrag/api/v1/data.py
  EdgeCraftRAG/edgecraftrag/api/v1/pipeline.py
  EdgeCraftRAG/edgecraftrag/base.py
  EdgeCraftRAG/edgecraftrag/components/generator.py
  EdgeCraftRAG/edgecraftrag/components/indexer.py
  EdgeCraftRAG/edgecraftrag/components/node_parser.py
  EdgeCraftRAG/edgecraftrag/components/pipeline.py
  EdgeCraftRAG/edgecraftrag/components/postprocessor.py
  EdgeCraftRAG/edgecraftrag/components/retriever.py
  EdgeCraftRAG/edgecraftrag/controllers/nodemgr.py
  EdgeCraftRAG/edgecraftrag/controllers/pipelinemgr.py
Owners: yongbo.zhu@intel.com, mingyuan.qi@intel.com

Use model cache for docker compose test (#1582)
  .github/workflows/_example-workflow.yml
  .github/workflows/_run-docker-compose.yml
  .github/workflows/manual-example-workflow.yml
  .github/workflows/pr-docker-compose-e2e.yml
  AudioQnA/docker_compose/intel/cpu/xeon/compose.yaml
  AudioQnA/docker_compose/intel/cpu/xeon/compose_multilang.yaml
  AudioQnA/docker_compose/intel/hpu/gaudi/compose.yaml
  AudioQnA/tests/test_compose_on_gaudi.sh
  AudioQnA/tests/test_compose_on_xeon.sh
  DBQnA/docker_compose/intel/cpu/xeon/compose.yaml
  DBQnA/tests/test_compose_on_xeon.sh
  DocIndexRetriever/docker_compose/intel/cpu/xeon/compose.yaml
  DocIndexRetriever/docker_compose/intel/cpu/xeon/compose_without_rerank.yaml
  DocIndexRetriever/docker_compose/intel/hpu/gaudi/compose.yaml
  DocIndexRetriever/tests/test_compose_on_gaudi.sh
  DocIndexRetriever/tests/test_compose_on_xeon.sh
  DocIndexRetriever/tests/test_compose_without_rerank_on_xeon.sh
  FaqGen/docker_compose/intel/cpu/xeon/compose.yaml
  FaqGen/tests/test_compose_on_gaudi.sh
  FaqGen/tests/test_compose_on_xeon.sh
  Translation/docker_compose/intel/cpu/xeon/compose.yaml
  Translation/docker_compose/intel/hpu/gaudi/compose.yaml
  Translation/tests/test_compose_on_gaudi.sh
  Translation/tests/test_compose_on_xeon.sh
  VisualQnA/docker_compose/intel/cpu/xeon/compose.yaml
  VisualQnA/docker_compose/intel/hpu/gaudi/compose.yaml
  VisualQnA/tests/test_compose_on_gaudi.sh
  VisualQnA/tests/test_compose_on_xeon.sh
Owners: suyue.chen@intel.com, ze.pan@intel.com, sihan.chen@intel.com, wenjiao.yue@intel.com, supriya.krishnamurthi@intel.com, liang1.lv@intel.com, kaokao.lv@intel.com, chendi.xue@intel.com, yogesh.pandey@intel.com, xinyao.wang@intel.com

open chatqna frontend test (#1594)
  ChatQnA/tests/test_compose_on_gaudi.sh
  ChatQnA/tests/test_compose_on_rocm.sh
  ChatQnA/tests/test_compose_on_xeon.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

small fix retriever log
  GraphRAG/tests/test_compose_on_gaudi.sh
Owners: rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com

merged InstructionTuning and RerankFinetuning into Finetuning.
  Finetuning/README.md
  Finetuning/docker_compose/intel/cpu/xeon/README.md
  Finetuning/docker_compose/intel/hpu/gaudi/README.md
  Finetuning/docker_image_build/build.yaml
  Finetuning/tests/test_compose_on_gaudi.sh
  Finetuning/tests/test_compose_on_xeon.sh
  InstructionTuning/docker_image_build/build.yaml
  InstructionTuning/tests/test_compose_on_xeon.sh
  RerankFinetuning/README.md
  RerankFinetuning/docker_compose/intel/cpu/xeon/README.md
  RerankFinetuning/docker_compose/intel/hpu/gaudi/README.md
  RerankFinetuning/tests/test_compose_on_gaudi.sh
  RerankFinetuning/tests/test_compose_on_xeon.sh
Owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com, xinyu.ye@intel.com, kaokao.lv@intel.com

fit UT error with dataprep container port
  GraphRAG/docker_compose/intel/hpu/gaudi/compose.yaml
Owners: rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com

Enable CodeGen,CodeTrans and DocSum model cache for docker compose test. (#1599)
  .github/workflows/_run-docker-compose.yml
  CodeGen/docker_compose/intel/cpu/xeon/compose.yaml
  CodeGen/docker_compose/intel/hpu/gaudi/compose.yaml
  CodeGen/tests/test_compose_on_gaudi.sh
  CodeGen/tests/test_compose_on_xeon.sh
  CodeTrans/docker_compose/intel/cpu/xeon/compose.yaml
  CodeTrans/docker_compose/intel/hpu/gaudi/compose.yaml
  CodeTrans/tests/test_compose_on_gaudi.sh
  CodeTrans/tests/test_compose_on_xeon.sh
  DocSum/docker_compose/intel/cpu/xeon/compose.yaml
  DocSum/tests/test_compose_on_gaudi.sh
  DocSum/tests/test_compose_on_xeon.sh
Owners: suyue.chen@intel.com, ze.pan@intel.com, liang1.lv@intel.com, xinyao.wang@intel.com, sihan.chen@intel.com, letong.han@intel.com
