Repository opea-project/GenAIExamples, changes with the owners that .github/CODEOWNERS names for each.
All owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com, ze.pan@intel.com, kaokao.lv@intel.com, minmin.hou@intel.com, sihan.chen@intel.com, wenjiao.yue@intel.com, chun.tao@intel.com, letong.han@intel.com, xinyao.wang@intel.com, supriya.krishnamurthi@intel.com, chendi.xue@intel.com, yongbo.zhu@intel.com, mingyuan.qi@intel.com, yogesh.pandey@intel.com, rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com, xinyu.ye@intel.com, melanie.h.buehler@intel.com, tiep.le@intel.com, jaswanth.karani@intel.com, hoong.tee.yeoh@intel.com, huiling.bao@intel.com

.github/CODEOWNERS:

* liang1.lv@intel.com feng.tian@intel.com suyue.chen@intel.com
/.github/ suyue.chen@intel.com ze.pan@intel.com
/AgentQnA/ kaokao.lv@intel.com minmin.hou@intel.com
/AudioQnA/ sihan.chen@intel.com wenjiao.yue@intel.com
/AvatarChatbot/ chun.tao@intel.com kaokao.lv@intel.com
/ChatQnA/ liang1.lv@intel.com letong.han@intel.com
/CodeGen/ liang1.lv@intel.com xinyao.wang@intel.com
/CodeTrans/ sihan.chen@intel.com xinyao.wang@intel.com
/DBQnA/ supriya.krishnamurthi@intel.com liang1.lv@intel.com
/DocIndexRetriever/ kaokao.lv@intel.com chendi.xue@intel.com
/DocSum/ letong.han@intel.com xinyao.wang@intel.com
/EdgeCraftRAG/ yongbo.zhu@intel.com mingyuan.qi@intel.com
/FaqGen/ yogesh.pandey@intel.com xinyao.wang@intel.com
/GraphRAG/ rita.brugarolas.brufau@intel.com abolfazl.shahbazi@intel.com
/InstructionTuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/MultimodalQnA/ melanie.h.buehler@intel.com tiep.le@intel.com
/ProductivitySuite/ jaswanth.karani@intel.com hoong.tee.yeoh@intel.com
/RerankFinetuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/SearchQnA/ sihan.chen@intel.com letong.han@intel.com
/Text2Image/ wenjiao.yue@intel.com xinyu.ye@intel.com
/Translation/ liang1.lv@intel.com sihan.chen@intel.com
/VideoQnA/ huiling.bao@intel.com xinyao.wang@intel.com
/VisualQnA/ liang1.lv@intel.com sihan.chen@intel.com

Support vLLM for DBQnA
  DBQnA/docker_compose/intel/cpu/xeon/README.md
Owners: supriya.krishnamurthi@intel.com, liang1.lv@intel.com

Create compose_vllm.yaml for vLLM
  DBQnA/docker_compose/intel/cpu/xeon/compose_vllm.yaml
Owners: supriya.krishnamurthi@intel.com, liang1.lv@intel.com

Create test_compose_vllm_on_xeon.sh for vLLM
  DBQnA/tests/test_compose_vllm_on_xeon.sh
Owners: supriya.krishnamurthi@intel.com, liang1.lv@intel.com

Split to reduce testing costs
  .github/workflows/_run-docker-compose.yml
  AvatarChatbot/docker_compose/intel/cpu/xeon/compose.yaml
  AvatarChatbot/docker_compose/intel/hpu/gaudi/compose.yaml
  AvatarChatbot/tests/test_compose_on_gaudi.sh
  AvatarChatbot/tests/test_compose_on_xeon.sh
  ChatQnA/docker_compose/intel/cpu/xeon/compose.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_pinecone.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_qdrant.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_tgi.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_without_rerank.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_guardrails.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_tgi.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_without_rerank.yaml
  ChatQnA/tests/test_compose_guardrails_on_gaudi.sh
  ChatQnA/tests/test_compose_on_gaudi.sh
  ChatQnA/tests/test_compose_on_xeon.sh
  ChatQnA/tests/test_compose_pinecone_on_xeon.sh
  ChatQnA/tests/test_compose_qdrant_on_xeon.sh
  ChatQnA/tests/test_compose_tgi_on_gaudi.sh
  ChatQnA/tests/test_compose_tgi_on_xeon.sh
  ChatQnA/tests/test_compose_without_rerank_on_gaudi.sh
  ChatQnA/tests/test_compose_without_rerank_on_xeon.sh
  GraphRAG/docker_compose/intel/hpu/gaudi/compose.yaml
  GraphRAG/tests/test_compose_on_gaudi.sh
  ProductivitySuite/docker_compose/intel/cpu/xeon/compose.yaml
  ProductivitySuite/tests/test_compose_on_xeon.sh
  SearchQnA/docker_compose/intel/cpu/xeon/compose.yaml
  SearchQnA/docker_compose/intel/hpu/gaudi/compose.yaml
  SearchQnA/tests/test_compose_on_gaudi.sh
  SearchQnA/tests/test_compose_on_xeon.sh
Owners: suyue.chen@intel.com, ze.pan@intel.com, chun.tao@intel.com, kaokao.lv@intel.com, liang1.lv@intel.com, letong.han@intel.com, rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com, jaswanth.karani@intel.com, hoong.tee.yeoh@intel.com, sihan.chen@intel.com

Use GenAIComp base image to simplify Dockerfiles & reduce image sizes
  AudioQnA/Dockerfile
  AudioQnA/Dockerfile.multilang
  AvatarChatbot/Dockerfile
  ChatQnA/Dockerfile
  ChatQnA/Dockerfile.guardrails
  ChatQnA/Dockerfile.without_rerank
  CodeGen/Dockerfile
  CodeTrans/Dockerfile
  DocIndexRetriever/Dockerfile
  DocSum/Dockerfile
  EdgeCraftRAG/Dockerfile
  FaqGen/Dockerfile
  GraphRAG/Dockerfile
  MultimodalQnA/Dockerfile
  SearchQnA/Dockerfile
  Translation/Dockerfile
  VideoQnA/Dockerfile
  VisualQnA/Dockerfile
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com, chun.tao@intel.com, kaokao.lv@intel.com, liang1.lv@intel.com, letong.han@intel.com, xinyao.wang@intel.com, chendi.xue@intel.com, yongbo.zhu@intel.com, mingyuan.qi@intel.com, yogesh.pandey@intel.com, rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com, melanie.h.buehler@intel.com, tiep.le@intel.com, huiling.bao@intel.com

Fix typo
  .github/workflows/_run-docker-compose.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

test
  .github/workflows/pr-docker-compose-e2e.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Update test_compose_vllm_on_xeon.sh
  DBQnA/tests/test_compose_vllm_on_xeon.sh
Owners: supriya.krishnamurthi@intel.com, liang1.lv@intel.com

[AudioQnA] Fix the LLM model field for inputs alignment
  AudioQnA/audioqna.py
  AudioQnA/audioqna_multilang.py
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

Revert "test"
  .github/workflows/pr-docker-compose-e2e.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Enable AvatarChatbot model cache for docker compose test.
  AvatarChatbot/docker_compose/intel/cpu/xeon/compose.yaml
  AvatarChatbot/docker_compose/intel/hpu/gaudi/compose.yaml
  AvatarChatbot/tests/test_compose_on_gaudi.sh
  AvatarChatbot/tests/test_compose_on_xeon.sh
Owners: chun.tao@intel.com, kaokao.lv@intel.com

Use GenAIComp base image to simplify Dockerfiles, part 1
  AudioQnA/Dockerfile
  AudioQnA/Dockerfile.multilang
  DocIndexRetriever/Dockerfile
  EdgeCraftRAG/Dockerfile
  FaqGen/Dockerfile
  VideoQnA/Dockerfile
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com, kaokao.lv@intel.com, chendi.xue@intel.com, yongbo.zhu@intel.com, mingyuan.qi@intel.com, yogesh.pandey@intel.com, xinyao.wang@intel.com, huiling.bao@intel.com

Enable ChatQnA model cache for docker compose test.
  ChatQnA/docker_compose/intel/cpu/xeon/compose.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_pinecone.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_qdrant.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_tgi.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_without_rerank.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_guardrails.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_tgi.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_without_rerank.yaml
  ChatQnA/tests/test_compose_guardrails_on_gaudi.sh
  ChatQnA/tests/test_compose_on_gaudi.sh
  ChatQnA/tests/test_compose_on_xeon.sh
  ChatQnA/tests/test_compose_pinecone_on_xeon.sh
  ChatQnA/tests/test_compose_qdrant_on_xeon.sh
  ChatQnA/tests/test_compose_tgi_on_gaudi.sh
  ChatQnA/tests/test_compose_tgi_on_xeon.sh
  ChatQnA/tests/test_compose_without_rerank_on_gaudi.sh
  ChatQnA/tests/test_compose_without_rerank_on_xeon.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

Enable SearchQnA model cache for docker compose test.
  SearchQnA/docker_compose/intel/cpu/xeon/compose.yaml
  SearchQnA/docker_compose/intel/hpu/gaudi/compose.yaml
  SearchQnA/tests/test_compose_on_gaudi.sh
  SearchQnA/tests/test_compose_on_xeon.sh
Owners: sihan.chen@intel.com, letong.han@intel.com

Enable GraphRAG ProductivitySuite model cache for docker compose test.
  GraphRAG/docker_compose/intel/hpu/gaudi/compose.yaml
  GraphRAG/tests/test_compose_on_gaudi.sh
  ProductivitySuite/docker_compose/intel/cpu/xeon/compose.yaml
  ProductivitySuite/tests/test_compose_on_xeon.sh
Owners: rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com, jaswanth.karani@intel.com, hoong.tee.yeoh@intel.com

bugfix GraphRAG updated docker compose and env settings to fix issues post refactor (#1567)
  GraphRAG/README.md
  GraphRAG/docker_compose/intel/hpu/gaudi/compose.yaml
  GraphRAG/docker_compose/intel/hpu/gaudi/set_env.sh
  GraphRAG/tests/test_compose_on_gaudi.sh
Owners: rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com

Update check-online-doc-build.yml (#1390)
  .github/workflows/check-online-doc-build.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Remove vllm hpu commit id limit (#1386)
  .github/workflows/_example-workflow.yml
  ChatQnA/tests/test_compose_vllm_on_gaudi.sh
Owners: suyue.chen@intel.com, ze.pan@intel.com, liang1.lv@intel.com, letong.han@intel.com

Refactor vllm openvino to third parties (#1388)
  EdgeCraftRAG/tests/test_compose_vllm_on_arc.sh
Owners: yongbo.zhu@intel.com, mingyuan.qi@intel.com

[DOC] Fix document issue (#1395)
  ChatQnA/docker_compose/intel/cpu/aipc/README.md
  CodeGen/docker_compose/intel/cpu/xeon/README.md
  CodeGen/docker_compose/intel/hpu/gaudi/README.md
Owners: liang1.lv@intel.com, letong.han@intel.com, xinyao.wang@intel.com

Add SQL agent to AgentQnA (#1370)
  AgentQnA/README.md
  AgentQnA/assets/agent_qna_arch.png
  AgentQnA/docker_compose/intel/cpu/xeon/README.md
  AgentQnA/docker_compose/intel/cpu/xeon/compose_openai.yaml
  AgentQnA/docker_compose/intel/cpu/xeon/launch_agent_service_openai.sh
  AgentQnA/docker_compose/intel/hpu/gaudi/README.md
  AgentQnA/docker_compose/intel/hpu/gaudi/compose.yaml
  AgentQnA/docker_compose/intel/hpu/gaudi/launch_agent_service_gaudi.sh
  AgentQnA/retrieval_tool/launch_retrieval_tool.sh
  AgentQnA/tests/sql_agent_test/run_data_split.sh
  AgentQnA/tests/sql_agent_test/split_data.py
  AgentQnA/tests/step1_build_images.sh
  AgentQnA/tests/step4_launch_and_validate_agent_tgi.sh
  AgentQnA/tests/test.py
  AgentQnA/tests/test_compose_on_gaudi.sh
  AgentQnA/tools/supervisor_agent_tools.yaml
  AgentQnA/tools/tools.py
  AgentQnA/tools/worker_agent_tools.py
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

Use staged builds to minimize final image sizes (#1031)
  AudioQnA/Dockerfile
  AudioQnA/Dockerfile.multilang
  AvatarChatbot/Dockerfile
  ChatQnA/Dockerfile
  ChatQnA/Dockerfile.guardrails
  ChatQnA/Dockerfile.without_rerank
  ChatQnA/Dockerfile.wrapper
  CodeGen/Dockerfile
  CodeTrans/Dockerfile
  DocIndexRetriever/Dockerfile
  DocSum/Dockerfile
  EdgeCraftRAG/Dockerfile
  EdgeCraftRAG/Dockerfile.server
  FaqGen/Dockerfile
  GraphRAG/Dockerfile
  MultimodalQnA/Dockerfile
  SearchQnA/Dockerfile
  Translation/Dockerfile
  VideoQnA/Dockerfile
  VisualQnA/Dockerfile
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com, chun.tao@intel.com, kaokao.lv@intel.com, liang1.lv@intel.com, letong.han@intel.com, xinyao.wang@intel.com, chendi.xue@intel.com, yongbo.zhu@intel.com, mingyuan.qi@intel.com, yogesh.pandey@intel.com, rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com, melanie.h.buehler@intel.com, tiep.le@intel.com, huiling.bao@intel.com

Fix CI filter issue (#1393)
  .github/workflows/pr-dockerfile-path-and-build-yaml-scan.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Fix vllm hpu to a stable release (#1398)
  .github/workflows/_example-workflow.yml
  ChatQnA/tests/test_compose_vllm_on_gaudi.sh
Owners: suyue.chen@intel.com, ze.pan@intel.com, liang1.lv@intel.com, letong.han@intel.com

[ChatQnA] Switch to vLLM as default llm backend on Gaudi (#1404)
  ChatQnA/README.md
  ChatQnA/docker_compose/intel/hpu/gaudi/README.md
  ChatQnA/docker_compose/intel/hpu/gaudi/compose.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_guardrails.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_tgi.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_without_rerank.yaml
  ChatQnA/tests/test_compose_guardrails_on_gaudi.sh
  ChatQnA/tests/test_compose_on_gaudi.sh
  ChatQnA/tests/test_compose_tgi_on_gaudi.sh
  ChatQnA/tests/test_compose_vllm_on_gaudi.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

Modify the corresponding path based on the refactor of chathistory in GenAIComps. (#1397)
  ProductivitySuite/docker_compose/intel/cpu/xeon/README.md
  ProductivitySuite/docker_image_build/build.yaml
  docker_images_list.md
Owners: jaswanth.karani@intel.com, hoong.tee.yeoh@intel.com, liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com

Align OpenAI API for FaqGen, DocSum (#1401)
  DocSum/docker_compose/intel/hpu/gaudi/compose.yaml
  DocSum/docsum.py
  DocSum/tests/test_compose_on_gaudi.sh
  DocSum/tests/test_compose_on_rocm.sh
  DocSum/tests/test_compose_on_xeon.sh
  FaqGen/docker_compose/intel/hpu/gaudi/compose.yaml
  FaqGen/faqgen.py
  FaqGen/tests/test_compose_on_gaudi.sh
  FaqGen/tests/test_compose_on_rocm.sh
  FaqGen/tests/test_compose_on_xeon.sh
Owners: letong.han@intel.com, xinyao.wang@intel.com, yogesh.pandey@intel.com

Add UT for Text2Image on Gaudi (#1424)
  Text2Image/docker_image_build/build.yaml
  Text2Image/tests/test_compose_on_gaudi.sh
Owners: wenjiao.yue@intel.com, xinyu.ye@intel.com

Clean up test scripts and enhance git clone (#1417)
  AudioQnA/tests/test_compose_on_gaudi.sh
  AudioQnA/tests/test_compose_on_rocm.sh
  AudioQnA/tests/test_compose_on_xeon.sh
  AvatarChatbot/tests/test_compose_on_gaudi.sh
  AvatarChatbot/tests/test_compose_on_xeon.sh
  ChatQnA/tests/test_compose_on_rocm.sh
  ChatQnA/tests/test_compose_tgi_on_gaudi.sh
  ChatQnA/tests/test_compose_tgi_on_xeon.sh
  DocSum/tests/test_compose_on_gaudi.sh
  DocSum/tests/test_compose_on_rocm.sh
  DocSum/tests/test_compose_on_xeon.sh
  GraphRAG/tests/test_compose_on_gaudi.sh
  MultimodalQnA/tests/test_compose_on_gaudi.sh
  MultimodalQnA/tests/test_compose_on_rocm.sh
  MultimodalQnA/tests/test_compose_on_xeon.sh
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com, chun.tao@intel.com, kaokao.lv@intel.com, liang1.lv@intel.com, letong.han@intel.com, xinyao.wang@intel.com, rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com, melanie.h.buehler@intel.com, tiep.le@intel.com

Add secrets OPENAI_API_KEY (#1412)
  .github/workflows/_run-docker-compose.yml
  .github/workflows/scripts/docker_compose_clean_up.sh
Owners: suyue.chen@intel.com, ze.pan@intel.com

[ChatQnA] Switch to vLLM as default llm backend on Xeon (#1403)
  ChatQnA/docker_compose/intel/cpu/xeon/README.md
  ChatQnA/docker_compose/intel/cpu/xeon/README_pinecone.md
  ChatQnA/docker_compose/intel/cpu/xeon/README_qdrant.md
  ChatQnA/docker_compose/intel/cpu/xeon/compose.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_pinecone.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_qdrant.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_tgi.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_without_rerank.yaml
  ChatQnA/tests/test_compose_pinecone_on_xeon.sh
  ChatQnA/tests/test_compose_qdrant_on_xeon.sh
  ChatQnA/tests/test_compose_tgi_on_xeon.sh
  ChatQnA/tests/test_compose_vllm_on_xeon.sh
  ChatQnA/tests/test_compose_without_rerank_on_xeon.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

Add port 5000 checking and warning (#1414)
  .github/workflows/scripts/docker_compose_clean_up.sh
Owners: suyue.chen@intel.com, ze.pan@intel.com

Fix Vectorestores Path Issue of Refactor (#1399)
  docker_images_list.md
Owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com

General README.md - add deploy on AMD info (#1409)
  README.md
Owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com

Update DocIndexRetriever CI test scripts (#1416)
  DocIndexRetriever/tests/test_compose_on_gaudi.sh
  DocIndexRetriever/tests/test_compose_on_xeon.sh
  DocIndexRetriever/tests/test_compose_without_rerank_on_xeon.sh
Owners: kaokao.lv@intel.com, chendi.xue@intel.com

Enchance health check in GenAIExample docker-compose (#1410)
  AudioQnA/docker_compose/intel/cpu/xeon/compose.yaml
  AudioQnA/docker_compose/intel/hpu/gaudi/compose.yaml
  AudioQnA/tests/test_compose_on_gaudi.sh
  AudioQnA/tests/test_compose_on_xeon.sh
  AvatarChatbot/docker_compose/intel/cpu/xeon/compose.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose.yaml
  ChatQnA/tests/test_compose_on_gaudi.sh
  ChatQnA/tests/test_compose_on_xeon.sh
  CodeGen/docker_compose/intel/hpu/gaudi/compose.yaml
  FaqGen/docker_compose/intel/hpu/gaudi/compose.yaml
  MultimodalQnA/docker_compose/intel/hpu/gaudi/compose.yaml
  SearchQnA/docker_compose/intel/hpu/gaudi/compose.yaml
  Translation/docker_compose/intel/hpu/gaudi/compose.yaml
  Translation/tests/test_compose_on_gaudi.sh
  VisualQnA/docker_compose/intel/hpu/gaudi/compose.yaml
  VisualQnA/tests/test_compose_on_gaudi.sh
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com, chun.tao@intel.com, kaokao.lv@intel.com, liang1.lv@intel.com, letong.han@intel.com, xinyao.wang@intel.com, yogesh.pandey@intel.com, melanie.h.buehler@intel.com, tiep.le@intel.com

update agent example for the GenAIComps changes. (#1407)
  WorkflowExecAgent/docker_compose/intel/cpu/xeon/compose_vllm.yaml
  WorkflowExecAgent/docker_image_build/build.yaml
Owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com

[Bug] Enhance the template (#1396)
  .github/ISSUE_TEMPLATE/1_bug_template.yml
  .github/ISSUE_TEMPLATE/2_feature_template.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Standardize name for LLM comps (#1402)
  DocSum/docker_compose/amd/gpu/rocm/README.md
  DocSum/docker_compose/set_env.sh
  DocSum/tests/test_compose_on_gaudi.sh
  DocSum/tests/test_compose_on_rocm.sh
  DocSum/tests/test_compose_on_xeon.sh
  FaqGen/docker_compose/amd/gpu/rocm/README.md
  FaqGen/docker_compose/intel/cpu/xeon/README.md
  FaqGen/docker_compose/intel/hpu/gaudi/README.md
  FaqGen/tests/test_compose_on_gaudi.sh
  FaqGen/tests/test_compose_on_rocm.sh
  FaqGen/tests/test_compose_on_xeon.sh
  ProductivitySuite/tests/test_compose_on_xeon.sh
Owners: letong.han@intel.com, xinyao.wang@intel.com, yogesh.pandey@intel.com, jaswanth.karani@intel.com, hoong.tee.yeoh@intel.com

remove Dockerfile.wrapper (#1429)
  ChatQnA/Dockerfile.wrapper
  ChatQnA/docker_image_build/build.yaml
  ChatQnA/kubernetes/helm/withwrapper-values.yaml
Owners: liang1.lv@intel.com, letong.han@intel.com
