Repository opea-project/GenAIExamples, changes with the owners that .github/CODEOWNERS names for each.
All owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com, ze.pan@intel.com, kaokao.lv@intel.com, minmin.hou@intel.com, sihan.chen@intel.com, wenjiao.yue@intel.com, chun.tao@intel.com, letong.han@intel.com, xinyao.wang@intel.com, supriya.krishnamurthi@intel.com, chendi.xue@intel.com, yongbo.zhu@intel.com, mingyuan.qi@intel.com, yogesh.pandey@intel.com, rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com, xinyu.ye@intel.com, melanie.h.buehler@intel.com, tiep.le@intel.com, jaswanth.karani@intel.com, hoong.tee.yeoh@intel.com, huiling.bao@intel.com

.github/CODEOWNERS:

* liang1.lv@intel.com feng.tian@intel.com suyue.chen@intel.com
/.github/ suyue.chen@intel.com ze.pan@intel.com
/AgentQnA/ kaokao.lv@intel.com minmin.hou@intel.com
/AudioQnA/ sihan.chen@intel.com wenjiao.yue@intel.com
/AvatarChatbot/ chun.tao@intel.com kaokao.lv@intel.com
/ChatQnA/ liang1.lv@intel.com letong.han@intel.com
/CodeGen/ liang1.lv@intel.com xinyao.wang@intel.com
/CodeTrans/ sihan.chen@intel.com xinyao.wang@intel.com
/DBQnA/ supriya.krishnamurthi@intel.com liang1.lv@intel.com
/DocIndexRetriever/ kaokao.lv@intel.com chendi.xue@intel.com
/DocSum/ letong.han@intel.com xinyao.wang@intel.com
/EdgeCraftRAG/ yongbo.zhu@intel.com mingyuan.qi@intel.com
/FaqGen/ yogesh.pandey@intel.com xinyao.wang@intel.com
/GraphRAG/ rita.brugarolas.brufau@intel.com abolfazl.shahbazi@intel.com
/InstructionTuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/MultimodalQnA/ melanie.h.buehler@intel.com tiep.le@intel.com
/ProductivitySuite/ jaswanth.karani@intel.com hoong.tee.yeoh@intel.com
/RerankFinetuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/SearchQnA/ sihan.chen@intel.com letong.han@intel.com
/Text2Image/ wenjiao.yue@intel.com xinyu.ye@intel.com
/Translation/ liang1.lv@intel.com sihan.chen@intel.com
/VideoQnA/ huiling.bao@intel.com xinyao.wang@intel.com
/VisualQnA/ liang1.lv@intel.com sihan.chen@intel.com

add research agent ut.
  FinanceAgent/docker_compose/intel/hpu/gaudi/compose.yaml
  FinanceAgent/tests/test_compose_on_gaudi.sh
  FinanceAgent/tools/research_agent_tools.yaml
  FinanceAgent/tools/research_tools.py
Owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com

Add AudioQnA multilang tts test (#1746)
  AudioQnA/tests/test_compose_multilang_on_xeon.sh
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

[CICD enhance] ChatQnA run CI with latest base image, group logs in GHA outputs. (#1736)
  .github/workflows/_run-docker-compose.yml
  .github/workflows/nightly-docker-build-publish.yml
  ChatQnA/Dockerfile
  ChatQnA/docker_image_build/build.yaml
  ChatQnA/tests/test_compose_faqgen_on_gaudi.sh
  ChatQnA/tests/test_compose_faqgen_on_rocm.sh
  ChatQnA/tests/test_compose_faqgen_on_xeon.sh
  ChatQnA/tests/test_compose_faqgen_tgi_on_gaudi.sh
  ChatQnA/tests/test_compose_faqgen_tgi_on_xeon.sh
  ChatQnA/tests/test_compose_faqgen_vllm_on_rocm.sh
  ChatQnA/tests/test_compose_guardrails_on_gaudi.sh
  ChatQnA/tests/test_compose_milvus_on_xeon.sh
  ChatQnA/tests/test_compose_on_gaudi.sh
  ChatQnA/tests/test_compose_on_rocm.sh
  ChatQnA/tests/test_compose_on_xeon.sh
  ChatQnA/tests/test_compose_pinecone_on_xeon.sh
  ChatQnA/tests/test_compose_qdrant_on_xeon.sh
  ChatQnA/tests/test_compose_tgi_on_gaudi.sh
  ChatQnA/tests/test_compose_tgi_on_xeon.sh
  ChatQnA/tests/test_compose_vllm_on_rocm.sh
  ChatQnA/tests/test_compose_without_rerank_on_gaudi.sh
  ChatQnA/tests/test_compose_without_rerank_on_xeon.sh
Owners: suyue.chen@intel.com, ze.pan@intel.com, liang1.lv@intel.com, letong.han@intel.com

Add financial research agent. (#1738)
  FinanceAgent/docker_compose/intel/hpu/gaudi/compose.yaml
  FinanceAgent/prompts/research_prompt.py
  FinanceAgent/tests/test_compose_on_gaudi.sh
  FinanceAgent/tools/research_agent_tools.yaml
  FinanceAgent/tools/research_tools.py
Owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com

increase timeout 10s to 60s
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_faqgen.yaml
Owners: liang1.lv@intel.com, letong.han@intel.com

test
  ChatQnA/README.md
  ChatQnA/docker_compose/amd/gpu/rocm/README.md
Owners: liang1.lv@intel.com, letong.han@intel.com

test
  .github/workflows/pr-link-path-scan.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Fix issue
  .github/workflows/pr-link-path-scan.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

test
  ChatQnA/README.md
Owners: liang1.lv@intel.com, letong.han@intel.com

test
  ChatQnA/README.md
Owners: liang1.lv@intel.com, letong.han@intel.com

Revert "test"
  ChatQnA/README.md
Owners: liang1.lv@intel.com, letong.han@intel.com

Revert "test"
  ChatQnA/README.md
Owners: liang1.lv@intel.com, letong.han@intel.com

[ChatQnA] update to the latest Grafana Dashboard (#1728)
  ChatQnA/docker_compose/intel/cpu/xeon/grafana/dashboards/download_opea_dashboard.sh
  ChatQnA/docker_compose/intel/cpu/xeon/set_env.sh
  ChatQnA/docker_compose/intel/hpu/gaudi/compose.telemetry.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_tgi.telemetry.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/grafana/dashboards/download_opea_dashboard.sh
  ChatQnA/docker_compose/intel/hpu/gaudi/set_env.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

new chatqna readme template
  ChatQnA/README.md
  ChatQnA/README_miscellaneous.md
  ChatQnA/docker_compose/intel/cpu/xeon/README.md
Owners: liang1.lv@intel.com, letong.han@intel.com

Fix functional tests
  VisualQnA/docker_compose/amd/gpu/rocm/set_env_vllm.sh
  VisualQnA/tests/test_compose_vllm_on_rocm.sh
Owners: liang1.lv@intel.com, sihan.chen@intel.com

fix tests
  VisualQnA/docker_compose/amd/gpu/rocm/compose_vllm.yaml
  VisualQnA/docker_compose/amd/gpu/rocm/set_env_vllm.sh
Owners: liang1.lv@intel.com, sihan.chen@intel.com

Update $MODEL_CACHE vars
  VisualQnA/docker_compose/amd/gpu/rocm/compose.yaml
  VisualQnA/tests/test_compose_on_rocm.sh
  VisualQnA/tests/test_compose_vllm_on_rocm.sh
Owners: liang1.lv@intel.com, sihan.chen@intel.com

update MODEL_CACHE var for tests
  MultimodalQnA/tests/test_compose_on_rocm.sh
  MultimodalQnA/tests/test_compose_vllm_on_rocm.sh
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

update ui style.
  AgentQnA/ui/open_webui_patches/0001-deal-opea-agent-tool-content.patch
  AgentQnA/ui/open_webui_patches/0001-update-for-opea-tool-content.patch
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

Use GenAIComp base image to simplify Dockerfiles - part 4/4
  AvatarChatbot/Dockerfile
Owners: chun.tao@intel.com, kaokao.lv@intel.com

Change MODEL_CACHE and Update TEI image version for rocm
  AgentQnA/tests/test_compose_on_rocm.sh
  AgentQnA/tests/test_compose_vllm_on_rocm.sh
  AudioQnA/tests/test_compose_on_rocm.sh
  AudioQnA/tests/test_compose_vllm_on_rocm.sh
  ChatQnA/tests/test_compose_faqgen_on_rocm.sh
  ChatQnA/tests/test_compose_faqgen_vllm_on_rocm.sh
  ChatQnA/tests/test_compose_on_rocm.sh
  ChatQnA/tests/test_compose_vllm_on_rocm.sh
  CodeGen/tests/test_compose_on_rocm.sh
  CodeGen/tests/test_compose_vllm_on_rocm.sh
  CodeTrans/tests/test_compose_on_rocm.sh
  CodeTrans/tests/test_compose_vllm_on_rocm.sh
  DocSum/tests/test_compose_on_rocm.sh
  DocSum/tests/test_compose_vllm_on_rocm.sh
  SearchQnA/docker_compose/amd/gpu/rocm/compose.yaml
  SearchQnA/docker_compose/amd/gpu/rocm/compose_vllm.yaml
  SearchQnA/tests/test_compose_on_rocm.sh
  SearchQnA/tests/test_compose_vllm_on_rocm.sh
  Translation/docker_compose/amd/gpu/rocm/compose.yaml
  Translation/docker_compose/amd/gpu/rocm/compose_vllm.yaml
  Translation/tests/test_compose_on_rocm.sh
  Translation/tests/test_compose_vllm_on_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com, sihan.chen@intel.com, wenjiao.yue@intel.com, liang1.lv@intel.com, letong.han@intel.com, xinyao.wang@intel.com

DocSum - Adding files to deploy an application in the K8S environment using Helm
  DocSum/kubernetes/helm/amd/gpu/rocm/chart/.helmignore
  DocSum/kubernetes/helm/amd/gpu/rocm/chart/Chart.yaml
  DocSum/kubernetes/helm/amd/gpu/rocm/chart/README.md
  DocSum/kubernetes/helm/amd/gpu/rocm/chart/templates/NOTES.txt
  DocSum/kubernetes/helm/amd/gpu/rocm/chart/templates/_helpers.tpl
  DocSum/kubernetes/helm/amd/gpu/rocm/chart/templates/deployment-backend.yaml
  DocSum/kubernetes/helm/amd/gpu/rocm/chart/templates/deployment-gradio-ui.yaml
  DocSum/kubernetes/helm/amd/gpu/rocm/chart/templates/deployment-llm.yaml
  DocSum/kubernetes/helm/amd/gpu/rocm/chart/templates/deployment-vllm.yaml
  DocSum/kubernetes/helm/amd/gpu/rocm/chart/templates/deployment-whisper.yaml
  DocSum/kubernetes/helm/amd/gpu/rocm/chart/templates/ingress-gradio-ui.yaml
  DocSum/kubernetes/helm/amd/gpu/rocm/chart/templates/service-backend.yaml
  DocSum/kubernetes/helm/amd/gpu/rocm/chart/templates/service-gradio-ui.yaml
  DocSum/kubernetes/helm/amd/gpu/rocm/chart/templates/service-llm.yaml
  DocSum/kubernetes/helm/amd/gpu/rocm/chart/templates/service-vllm.yaml
  DocSum/kubernetes/helm/amd/gpu/rocm/chart/templates/service-whisper.yaml
  DocSum/kubernetes/helm/amd/gpu/rocm/chart/values.yaml
Owners: letong.han@intel.com, xinyao.wang@intel.com

Revert nginx port to 80
  Translation/docker_compose/amd/gpu/rocm/compose.yaml
  Translation/docker_compose/amd/gpu/rocm/compose_vllm.yaml
Owners: liang1.lv@intel.com, sihan.chen@intel.com

update MODEL_CACHE test var
  AgentQnA/tests/test_compose_on_rocm.sh
  AgentQnA/tests/test_compose_vllm_on_rocm.sh
  AudioQnA/tests/test_compose_on_rocm.sh
  AudioQnA/tests/test_compose_vllm_on_rocm.sh
  ChatQnA/tests/test_compose_faqgen_on_rocm.sh
  ChatQnA/tests/test_compose_faqgen_vllm_on_rocm.sh
  ChatQnA/tests/test_compose_on_rocm.sh
  ChatQnA/tests/test_compose_vllm_on_rocm.sh
  CodeGen/tests/test_compose_on_rocm.sh
  CodeGen/tests/test_compose_vllm_on_rocm.sh
  CodeTrans/tests/test_compose_on_rocm.sh
  CodeTrans/tests/test_compose_vllm_on_rocm.sh
  DocSum/tests/test_compose_on_rocm.sh
  DocSum/tests/test_compose_vllm_on_rocm.sh
  Translation/tests/test_compose_on_rocm.sh
  Translation/tests/test_compose_vllm_on_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com, sihan.chen@intel.com, wenjiao.yue@intel.com, liang1.lv@intel.com, letong.han@intel.com, xinyao.wang@intel.com

Added cache volumes back as requested during review
  VideoQnA/docker_compose/intel/cpu/xeon/README.md
  VideoQnA/docker_compose/intel/cpu/xeon/compose.yaml
  VideoQnA/tests/test_compose_on_xeon.sh
Owners: huiling.bao@intel.com, xinyao.wang@intel.com

Fix root to user in volume
  VideoQnA/docker_compose/intel/cpu/xeon/compose.yaml
Owners: huiling.bao@intel.com, xinyao.wang@intel.com

Revert volumes to original values (no env var); try to resolve permission denied error with clip model in CI
  VideoQnA/docker_compose/intel/cpu/xeon/README.md
  VideoQnA/docker_compose/intel/cpu/xeon/compose.yaml
  VideoQnA/tests/test_compose_on_xeon.sh
Owners: huiling.bao@intel.com, xinyao.wang@intel.com

Fix typo
  VideoQnA/docker_compose/intel/cpu/xeon/compose.yaml
Owners: huiling.bao@intel.com, xinyao.wang@intel.com

Fix ChatQnA UI issue in set_env.sh on Xeon
  ChatQnA/README.md
  ChatQnA/docker_compose/intel/cpu/xeon/set_env.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

DocSum - Adding files to deploy an application in the K8S environment using Helm
  DocSum/kubernetes/helm/README.md
  DocSum/kubernetes/helm/amd/gpu/rocm/chart/.helmignore
  DocSum/kubernetes/helm/amd/gpu/rocm/chart/Chart.yaml
  DocSum/kubernetes/helm/amd/gpu/rocm/chart/README.md
  DocSum/kubernetes/helm/amd/gpu/rocm/chart/templates/NOTES.txt
  DocSum/kubernetes/helm/amd/gpu/rocm/chart/templates/_helpers.tpl
  DocSum/kubernetes/helm/amd/gpu/rocm/chart/templates/deployment-backend.yaml
  DocSum/kubernetes/helm/amd/gpu/rocm/chart/templates/deployment-gradio-ui.yaml
  DocSum/kubernetes/helm/amd/gpu/rocm/chart/templates/deployment-llm.yaml
  DocSum/kubernetes/helm/amd/gpu/rocm/chart/templates/deployment-vllm.yaml
  DocSum/kubernetes/helm/amd/gpu/rocm/chart/templates/deployment-whisper.yaml
  DocSum/kubernetes/helm/amd/gpu/rocm/chart/templates/ingress-gradio-ui.yaml
  DocSum/kubernetes/helm/amd/gpu/rocm/chart/templates/service-backend.yaml
  DocSum/kubernetes/helm/amd/gpu/rocm/chart/templates/service-gradio-ui.yaml
  DocSum/kubernetes/helm/amd/gpu/rocm/chart/templates/service-llm.yaml
  DocSum/kubernetes/helm/amd/gpu/rocm/chart/templates/service-vllm.yaml
  DocSum/kubernetes/helm/amd/gpu/rocm/chart/templates/service-whisper.yaml
  DocSum/kubernetes/helm/amd/gpu/rocm/chart/values.yaml
  DocSum/kubernetes/helm/rocm-tgi-values.yaml
  DocSum/kubernetes/helm/rocm-values.yaml
Owners: letong.han@intel.com, xinyao.wang@intel.com

DocSum - Adding files to deploy an application in the K8S environment using Helm
  DocSum/kubernetes/helm/README.md
Owners: letong.han@intel.com, xinyao.wang@intel.com

ChatQnA - Adding files to deploy an application in the K8S environment using Helm
  ChatQnA/kubernetes/helm/README.md
  ChatQnA/kubernetes/helm/faqgen-rocm-tgi-values.yaml
  ChatQnA/kubernetes/helm/faqgen-rocm-values.yaml
  ChatQnA/kubernetes/helm/rocm-tgi-values.yaml
  ChatQnA/kubernetes/helm/rocm-values.yaml
Owners: liang1.lv@intel.com, letong.han@intel.com

ChatQnA - Adding files to deploy an application in the K8S environment using Helm
  ChatQnA/kubernetes/helm/README.md
Owners: liang1.lv@intel.com, letong.han@intel.com

ChatQnA - Adding files to deploy an application in the K8S environment using Helm
  ChatQnA/kubernetes/helm/README.md
Owners: liang1.lv@intel.com, letong.han@intel.com

Adding files to deploy VisualQnA application on ROCm vLLM (#1751)
  VisualQnA/assets/img/visualqna-ui-result-page.png
  VisualQnA/assets/img/visualqna-ui-starting-page.png
  VisualQnA/docker_compose/amd/gpu/rocm/README.md
  VisualQnA/docker_compose/amd/gpu/rocm/compose_vllm.yaml
  VisualQnA/docker_compose/amd/gpu/rocm/set_env_vllm.sh
  VisualQnA/docker_image_build/build.yaml
  VisualQnA/tests/test_compose_vllm_on_rocm.sh
Owners: liang1.lv@intel.com, sihan.chen@intel.com

Update test_compose_on_rocm.sh
  SearchQnA/tests/test_compose_on_rocm.sh
Owners: sihan.chen@intel.com, letong.han@intel.com

Updating SearchQnA xeon with nginx component
  SearchQnA/docker_compose/intel/cpu/xeon/compose.yaml
  SearchQnA/ui/svelte/.env
Owners: sihan.chen@intel.com, letong.han@intel.com

Update test_compose_on_rocm.sh
  DocSum/tests/test_compose_on_rocm.sh
Owners: letong.han@intel.com, xinyao.wang@intel.com

Fix vllm cpu initilize engine issue for deepseek models
  ChatQnA/docker_compose/intel/cpu/xeon/compose.yaml
Owners: liang1.lv@intel.com, letong.han@intel.com

refine third parties links
  .github/workflows/dockerhub-description.yml
  AudioQnA/docker_compose/intel/cpu/xeon/README.md
  AudioQnA/docker_compose/intel/hpu/gaudi/README.md
  AudioQnA/docker_image_build/build.yaml
  AvatarChatbot/docker_compose/amd/gpu/rocm/README.md
  AvatarChatbot/docker_compose/intel/cpu/xeon/README.md
  AvatarChatbot/docker_compose/intel/hpu/gaudi/README.md
  AvatarChatbot/docker_image_build/build.yaml
  DocSum/docker_compose/intel/cpu/xeon/README.md
  DocSum/docker_compose/intel/hpu/gaudi/README.md
  DocSum/docker_image_build/build.yaml
  MultimodalQnA/docker_compose/amd/gpu/rocm/README.md
  MultimodalQnA/docker_compose/intel/cpu/xeon/README.md
  MultimodalQnA/docker_compose/intel/hpu/gaudi/README.md
  MultimodalQnA/docker_image_build/build.yaml
  VideoQnA/docker_compose/intel/cpu/xeon/README.md
  VideoQnA/docker_image_build/build.yaml
  docker_images_list.md
Owners: suyue.chen@intel.com, ze.pan@intel.com, sihan.chen@intel.com, wenjiao.yue@intel.com, chun.tao@intel.com, kaokao.lv@intel.com, letong.han@intel.com, xinyao.wang@intel.com, melanie.h.buehler@intel.com, tiep.le@intel.com, huiling.bao@intel.com, liang1.lv@intel.com, feng.tian@intel.com
