Repository opea-project/GenAIExamples, changes with the owners that .github/CODEOWNERS names for each.
All owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com, ze.pan@intel.com, kaokao.lv@intel.com, minmin.hou@intel.com, sihan.chen@intel.com, wenjiao.yue@intel.com, chun.tao@intel.com, letong.han@intel.com, xinyao.wang@intel.com, supriya.krishnamurthi@intel.com, chendi.xue@intel.com, yongbo.zhu@intel.com, mingyuan.qi@intel.com, yogesh.pandey@intel.com, rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com, xinyu.ye@intel.com, melanie.h.buehler@intel.com, tiep.le@intel.com, jaswanth.karani@intel.com, hoong.tee.yeoh@intel.com, huiling.bao@intel.com

Update set_env.sh
  ChatQnA/docker_compose/amd/gpu/rocm/set_env.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

Revert TGI version changes for AvatarChatbot CI test
  AvatarChatbot/docker_compose/amd/gpu/rocm/compose.yaml
  AvatarChatbot/docker_compose/intel/hpu/gaudi/README.md
  AvatarChatbot/docker_compose/intel/hpu/gaudi/compose.yaml
  AvatarChatbot/tests/test_compose_on_gaudi.sh
  AvatarChatbot/tests/test_compose_on_rocm.sh
Owners: chun.tao@intel.com, kaokao.lv@intel.com

add a cpu specific helm chart values file for AgentQnA
  AgentQnA/kubernetes/helm/README.md
  AgentQnA/kubernetes/helm/cpu-values.yaml
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

Adding files to deploy SearchQnA application on ROCm vLLM (#1649)
  SearchQnA/assets/img/searchqna-ui-response-example.png
  SearchQnA/assets/img/searchqna-ui-starting-page.png
  SearchQnA/docker_compose/amd/gpu/rocm/README.md
  SearchQnA/docker_compose/amd/gpu/rocm/compose_vllm.yaml
  SearchQnA/docker_compose/amd/gpu/rocm/set_env_vllm.sh
  SearchQnA/docker_image_build/build.yaml
  SearchQnA/tests/test_compose_vllm_on_rocm.sh
  SearchQnA/ui/svelte/playwright.config.ts
Owners: sihan.chen@intel.com, letong.han@intel.com

Update ChatQna & CodeGen README.md with new Terraform Modules
  ChatQnA/README.md
  CodeGen/README.md
Owners: liang1.lv@intel.com, letong.han@intel.com, xinyao.wang@intel.com

[docs] Multimodal Endpoints Issue (#1700)
  MultimodalQnA/README.md
  MultimodalQnA/docker_compose/amd/gpu/rocm/README.md
  MultimodalQnA/docker_compose/intel/cpu/xeon/README.md
  MultimodalQnA/docker_compose/intel/hpu/gaudi/README.md
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

Update MMQnA tgi-gaudi verison to match compose.yaml (#1663)
  MultimodalQnA/docker_compose/intel/hpu/gaudi/README.md
  MultimodalQnA/tests/test_compose_on_gaudi.sh
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

add docker group steps
  ChatQnA/docker_compose/install_docker.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

Fix model cache path and use Random to avoid ns conflict
  .github/workflows/_helm-e2e.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Update TGI image versions (#1625)
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_tgi_rocm.sh
  AgentQnA/docker_compose/amd/gpu/rocm/set_env.sh
  AgentQnA/docker_compose/intel/hpu/gaudi/tgi_gaudi.yaml
  AudioQnA/docker_compose/amd/gpu/rocm/compose.yaml
  AudioQnA/kubernetes/gmc/README.md
  AudioQnA/tests/test_compose_on_rocm.sh
  ChatQnA/benchmark/accuracy/README.md
  ChatQnA/benchmark/accuracy_faqgen/launch_tgi.sh
  ChatQnA/docker_compose/amd/gpu/rocm/README.md
  ChatQnA/docker_compose/intel/hpu/gaudi/README.md
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_guardrails.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_tgi.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/how_to_validate_service.md
  ChatQnA/docker_compose/nvidia/gpu/compose.yaml
  ChatQnA/kubernetes/gmc/README.md
  ChatQnA/tests/test_compose_guardrails_on_gaudi.sh
  ChatQnA/tests/test_compose_tgi_on_gaudi.sh
  CodeGen/docker_compose/amd/gpu/rocm/compose.yaml
  CodeTrans/docker_compose/amd/gpu/rocm/compose.yaml
  CodeTrans/tests/test_compose_on_rocm.sh
  DBQnA/docker_compose/amd/gpu/rocm/compose.yaml
  DBQnA/docker_compose/intel/cpu/xeon/README.md
  DBQnA/tests/test_compose_on_rocm.sh
  DocSum/docker_compose/amd/gpu/rocm/README.md
  DocSum/docker_compose/amd/gpu/rocm/compose.yaml
  DocSum/docker_compose/amd/gpu/rocm/set_env.sh
  DocSum/kubernetes/gmc/README.md
  DocSum/tests/test_compose_on_rocm.sh
  DocSum/tests/test_compose_on_xeon.sh
  MultimodalQnA/docker_compose/amd/gpu/rocm/compose.yaml
  SearchQnA/docker_compose/amd/gpu/rocm/compose.yaml
  SearchQnA/tests/test_compose_on_gaudi.sh
  SearchQnA/tests/test_compose_on_rocm.sh
  Translation/docker_compose/amd/gpu/rocm/compose.yaml
  Translation/tests/test_compose_on_rocm.sh
  VisualQnA/docker_compose/intel/hpu/gaudi/README.md
Owners: kaokao.lv@intel.com, minmin.hou@intel.com, sihan.chen@intel.com, wenjiao.yue@intel.com, liang1.lv@intel.com, letong.han@intel.com, xinyao.wang@intel.com, supriya.krishnamurthi@intel.com, melanie.h.buehler@intel.com, tiep.le@intel.com

ChatQnA - fix files for deploy on ROCm vLLM
  ChatQnA/tests/test_compose_faqgen_on_gaudi.sh
  ChatQnA/ui/svelte/playwright.config.ts
Owners: liang1.lv@intel.com, letong.han@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/tests/test_compose_vllm_on_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/tests/test_compose_vllm_on_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/tests/test_compose_vllm_on_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/tests/test_compose_vllm_on_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/tests/test_compose_vllm_on_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_vllm_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/tests/test_compose_vllm_on_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/tests/step1_build_images.sh
  ChatQnA/tests/test_compose_guardrails_on_gaudi.sh
  ChatQnA/tests/test_compose_on_gaudi.sh
  ChatQnA/tests/test_compose_without_rerank_on_gaudi.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com, liang1.lv@intel.com, letong.han@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/tests/test_compose_vllm_on_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  .github/workflows/_get-image-list.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/README_vllm.md
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_vllm_rocm.sh
  AgentQnA/docker_compose/amd/gpu/rocm/set_env_vllm.sh
  AgentQnA/tests/step4_launch_and_validate_agent_rocm_vllm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/README.md
  AgentQnA/docker_image_build/build.yaml
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_vllm_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/tests/step4_launch_and_validate_agent_rocm_vllm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/tests/test_compose_vllm_on_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/tests/step4_launch_and_validate_agent_rocm_vllm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/tests/step4_launch_and_validate_agent_rocm_vllm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/tests/test_compose_vllm_on_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/tests/step4_launch_and_validate_agent_rocm_vllm.sh
  AgentQnA/tests/test_compose_vllm_on_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/tests/step4_launch_and_validate_agent_rocm_vllm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

Remove vllm hpu triton version fix (#1515)
  AgentQnA/tests/step1_build_images.sh
  ChatQnA/tests/test_compose_guardrails_on_gaudi.sh
  ChatQnA/tests/test_compose_on_gaudi.sh
  ChatQnA/tests/test_compose_without_rerank_on_gaudi.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com, liang1.lv@intel.com, letong.han@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/compose_vllm.yaml
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/README_vllm.md
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_vllm_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  .github/workflows/_helm-e2e.yaml
  .github/workflows/pr-chart-e2e.yaml
Owners: suyue.chen@intel.com, ze.pan@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/tests/test_compose_vllm_on_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/tests/test_compose_on_gaudi.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/tests/test_compose_on_gaudi.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/README_vllm.md
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_vllm_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

.github/CODEOWNERS:

* liang1.lv@intel.com feng.tian@intel.com suyue.chen@intel.com
/.github/ suyue.chen@intel.com ze.pan@intel.com
/AgentQnA/ kaokao.lv@intel.com minmin.hou@intel.com
/AudioQnA/ sihan.chen@intel.com wenjiao.yue@intel.com
/AvatarChatbot/ chun.tao@intel.com kaokao.lv@intel.com
/ChatQnA/ liang1.lv@intel.com letong.han@intel.com
/CodeGen/ liang1.lv@intel.com xinyao.wang@intel.com
/CodeTrans/ sihan.chen@intel.com xinyao.wang@intel.com
/DBQnA/ supriya.krishnamurthi@intel.com liang1.lv@intel.com
/DocIndexRetriever/ kaokao.lv@intel.com chendi.xue@intel.com
/DocSum/ letong.han@intel.com xinyao.wang@intel.com
/EdgeCraftRAG/ yongbo.zhu@intel.com mingyuan.qi@intel.com
/FaqGen/ yogesh.pandey@intel.com xinyao.wang@intel.com
/GraphRAG/ rita.brugarolas.brufau@intel.com abolfazl.shahbazi@intel.com
/InstructionTuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/MultimodalQnA/ melanie.h.buehler@intel.com tiep.le@intel.com
/ProductivitySuite/ jaswanth.karani@intel.com hoong.tee.yeoh@intel.com
/RerankFinetuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/SearchQnA/ sihan.chen@intel.com letong.han@intel.com
/Text2Image/ wenjiao.yue@intel.com xinyu.ye@intel.com
/Translation/ liang1.lv@intel.com sihan.chen@intel.com
/VideoQnA/ huiling.bao@intel.com xinyao.wang@intel.com
/VisualQnA/ liang1.lv@intel.com sihan.chen@intel.com
