Repository opea-project/GenAIExamples, changes with the owners that .github/CODEOWNERS names for each.
All owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com, ze.pan@intel.com, kaokao.lv@intel.com, minmin.hou@intel.com, sihan.chen@intel.com, wenjiao.yue@intel.com, chun.tao@intel.com, letong.han@intel.com, xinyao.wang@intel.com, supriya.krishnamurthi@intel.com, chendi.xue@intel.com, yongbo.zhu@intel.com, mingyuan.qi@intel.com, yogesh.pandey@intel.com, rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com, xinyu.ye@intel.com, melanie.h.buehler@intel.com, tiep.le@intel.com, jaswanth.karani@intel.com, hoong.tee.yeoh@intel.com, huiling.bao@intel.com

Set vLLM as default model for FaqGen (#1580)
  FaqGen/docker_compose/intel/cpu/xeon/README.md
  FaqGen/docker_compose/intel/cpu/xeon/compose_tgi.yaml
  FaqGen/docker_compose/intel/hpu/gaudi/README.md
  FaqGen/docker_compose/intel/hpu/gaudi/compose.yaml
  FaqGen/docker_compose/intel/hpu/gaudi/compose_tgi.yaml
  FaqGen/tests/test_compose_on_xeon.sh
  FaqGen/tests/test_compose_tgi_on_gaudi.sh
  FaqGen/tests/test_compose_tgi_on_xeon.sh
Owners: yogesh.pandey@intel.com, xinyao.wang@intel.com

Enable CodeGen vLLM (#1636)
  CodeGen/docker_compose/intel/cpu/xeon/README.md
  CodeGen/docker_compose/intel/cpu/xeon/compose.yaml
  CodeGen/docker_compose/intel/hpu/gaudi/README.md
  CodeGen/docker_compose/intel/hpu/gaudi/compose.yaml
  CodeGen/docker_compose/set_env.sh
  CodeGen/docker_image_build/build.yaml
  CodeGen/tests/test_compose_on_gaudi.sh
  CodeGen/tests/test_compose_on_xeon.sh
Owners: liang1.lv@intel.com, xinyao.wang@intel.com

[ChatQnA] Enable Prometheus and Grafana with telemetry docker compose file. (#1623)
  ChatQnA/README.md
  ChatQnA/docker_compose/intel/cpu/xeon/README.md
  ChatQnA/docker_compose/intel/cpu/xeon/compose.telemetry.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_tgi.telemetry.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/grafana/dashboards/download_opea_dashboard.sh
  ChatQnA/docker_compose/intel/cpu/xeon/grafana/provisioning/dashboards/local.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/grafana/provisioning/datasources/datasource.yml
  ChatQnA/docker_compose/intel/cpu/xeon/prometheus.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/set_env.sh
  ChatQnA/docker_compose/intel/hpu/gaudi/README.md
  ChatQnA/docker_compose/intel/hpu/gaudi/compose.telemetry.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_tgi.telemetry.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/grafana/dashboards/download_opea_dashboard.sh
  ChatQnA/docker_compose/intel/hpu/gaudi/grafana/provisioning/dashboards/local.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/grafana/provisioning/datasources/datasource.yml
  ChatQnA/docker_compose/intel/hpu/gaudi/prometheus.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/set_env.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

Update compose.yaml for SearchQnA (#1622)
  SearchQnA/docker_compose/amd/gpu/rocm/compose.yaml
  SearchQnA/docker_compose/intel/cpu/xeon/compose.yaml
  SearchQnA/docker_compose/intel/hpu/gaudi/compose.yaml
Owners: sihan.chen@intel.com, letong.han@intel.com

Enable SearchQnA model cache for docker compose test. (#1606)
  SearchQnA/docker_compose/amd/gpu/rocm/compose.yaml
  SearchQnA/docker_compose/intel/cpu/xeon/compose.yaml
  SearchQnA/docker_compose/intel/hpu/gaudi/compose.yaml
  SearchQnA/tests/test_compose_on_gaudi.sh
  SearchQnA/tests/test_compose_on_rocm.sh
  SearchQnA/tests/test_compose_on_xeon.sh
Owners: sihan.chen@intel.com, letong.han@intel.com

Enable Gaudi3, Rocm and Arc on manually release test. (#1615)
  .github/workflows/_example-workflow.yml
  .github/workflows/_run-docker-compose.yml
  .github/workflows/manual-example-workflow.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Update compose.yaml (#1619)
  CodeGen/docker_compose/intel/cpu/xeon/compose.yaml
  CodeGen/docker_compose/intel/hpu/gaudi/compose.yaml
  CodeTrans/docker_compose/intel/cpu/xeon/compose.yaml
  CodeTrans/docker_compose/intel/hpu/gaudi/compose.yaml
  DocSum/docker_compose/intel/cpu/xeon/compose.yaml
Owners: liang1.lv@intel.com, xinyao.wang@intel.com, sihan.chen@intel.com, letong.han@intel.com

Enhance ChatQnA test scripts (#1643)
  ChatQnA/docker_compose/intel/cpu/xeon/compose_milvus.yaml
  ChatQnA/tests/test_compose_guardrails_on_gaudi.sh
  ChatQnA/tests/test_compose_milvus_on_xeon.sh
  ChatQnA/tests/test_compose_qdrant_on_xeon.sh
  ChatQnA/tests/test_compose_tgi_on_gaudi.sh
  ChatQnA/tests/test_compose_tgi_on_xeon.sh
  ChatQnA/tests/test_compose_without_rerank_on_gaudi.sh
  ChatQnA/tests/test_compose_without_rerank_on_xeon.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

Enable inject_commit to docker image feature. (#1653)
  .github/workflows/nightly-docker-build-publish.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

[ChatQnA][docker]Check healthy of redis to avoid dataprep failure (#1591)
  ChatQnA/docker_compose/intel/cpu/xeon/compose.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose.yaml
Owners: liang1.lv@intel.com, letong.han@intel.com

Use GenAIComp base image to simplify Dockerfiles (#1612)
  AudioQnA/Dockerfile
  AudioQnA/Dockerfile.multilang
  DocIndexRetriever/Dockerfile
  EdgeCraftRAG/Dockerfile
  FaqGen/Dockerfile
  VideoQnA/Dockerfile
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com, kaokao.lv@intel.com, chendi.xue@intel.com, yongbo.zhu@intel.com, mingyuan.qi@intel.com, yogesh.pandey@intel.com, xinyao.wang@intel.com, huiling.bao@intel.com

Update model cache for AgentQnA (#1627)
  AgentQnA/docker_compose/amd/gpu/rocm/compose.yaml
  AgentQnA/tests/step2_start_retrieval_tool.sh
  AgentQnA/tests/step4_launch_and_validate_agent_gaudi.sh
  AgentQnA/tests/step4a_launch_and_validate_agent_tgi_on_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

[AudioQnA] Enable vLLM and set it as default LLM serving (#1657)
  AudioQnA/audioqna.py
  AudioQnA/audioqna_multilang.py
  AudioQnA/docker_compose/intel/cpu/xeon/README.md
  AudioQnA/docker_compose/intel/cpu/xeon/compose_multilang.yaml
  AudioQnA/docker_compose/intel/cpu/xeon/compose_tgi.yaml
  AudioQnA/docker_compose/intel/cpu/xeon/set_env.sh
  AudioQnA/docker_compose/intel/hpu/gaudi/README.md
  AudioQnA/docker_compose/intel/hpu/gaudi/compose.yaml
  AudioQnA/docker_compose/intel/hpu/gaudi/compose_tgi.yaml
  AudioQnA/docker_compose/intel/hpu/gaudi/set_env.sh
  AudioQnA/docker_image_build/build.yaml
  AudioQnA/tests/test_compose_on_xeon.sh
  AudioQnA/tests/test_compose_tgi_on_gaudi.sh
  AudioQnA/tests/test_compose_tgi_on_xeon.sh
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

Fix corner CI issue when the example path deleted (#1634)
  .github/workflows/scripts/get_test_matrix.sh
Owners: suyue.chen@intel.com, ze.pan@intel.com

Update compose.yaml for ChatQnA (#1621)
  ChatQnA/docker_compose/amd/gpu/rocm/compose.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_pinecone.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_qdrant.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_tgi.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_without_rerank.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_guardrails.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_tgi.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_without_rerank.yaml
Owners: liang1.lv@intel.com, letong.han@intel.com

Refine README with highlighted examples and updated support info (#1006)
  README.md
  supported_examples.md
Owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com

Update compose.yaml (#1620)
  AudioQnA/docker_compose/intel/cpu/xeon/compose.yaml
  AudioQnA/docker_compose/intel/cpu/xeon/compose_multilang.yaml
  AudioQnA/docker_compose/intel/hpu/gaudi/compose.yaml
  DBQnA/docker_compose/intel/cpu/xeon/compose.yaml
  DocIndexRetriever/docker_compose/intel/cpu/xeon/compose.yaml
  DocIndexRetriever/docker_compose/intel/hpu/gaudi/compose.yaml
  FaqGen/docker_compose/intel/cpu/xeon/compose.yaml
  Translation/docker_compose/intel/cpu/xeon/compose.yaml
  Translation/docker_compose/intel/hpu/gaudi/compose.yaml
  VisualQnA/docker_compose/intel/cpu/xeon/compose.yaml
  VisualQnA/docker_compose/intel/hpu/gaudi/compose.yaml
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com, supriya.krishnamurthi@intel.com, liang1.lv@intel.com, kaokao.lv@intel.com, chendi.xue@intel.com, yogesh.pandey@intel.com, xinyao.wang@intel.com

Enable GraphRAG and ProductivitySuite model cache for docker compose test. (#1608)
  GraphRAG/docker_compose/intel/hpu/gaudi/compose.yaml
  GraphRAG/tests/test_compose_on_gaudi.sh
  ProductivitySuite/docker_compose/intel/cpu/xeon/compose.yaml
  ProductivitySuite/tests/test_compose_on_xeon.sh
Owners: rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com, jaswanth.karani@intel.com, hoong.tee.yeoh@intel.com

Fix docker image opea/edgecraftrag security issue #1577 (#1617)
  EdgeCraftRAG/Dockerfile.server
  EdgeCraftRAG/edgecraftrag/requirements.txt
  EdgeCraftRAG/ui/docker/Dockerfile.ui
Owners: yongbo.zhu@intel.com, mingyuan.qi@intel.com

Enable vllm for CodeTrans (#1626)
  CodeTrans/docker_compose/intel/cpu/xeon/README.md
  CodeTrans/docker_compose/intel/cpu/xeon/compose_tgi.yaml
  CodeTrans/docker_compose/intel/hpu/gaudi/README.md
  CodeTrans/docker_compose/intel/hpu/gaudi/compose.yaml
  CodeTrans/docker_compose/intel/hpu/gaudi/compose_tgi.yaml
  CodeTrans/docker_compose/set_env.sh
  CodeTrans/docker_image_build/build.yaml
  CodeTrans/tests/test_compose_on_gaudi.sh
  CodeTrans/tests/test_compose_tgi_on_gaudi.sh
  CodeTrans/tests/test_compose_tgi_on_xeon.sh
Owners: sihan.chen@intel.com, xinyao.wang@intel.com

Add GitHub Action to check and close stale issues and PRs (#1646)
  .github/workflows/daily_check_issue_and_pr.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Use the latest HabanaAI/vllm-fork release tag to build vllm-gaudi image (#1635)
  .github/workflows/_example-workflow.yml
  AgentQnA/tests/step1_build_images.sh
  ChatQnA/tests/test_compose_guardrails_on_gaudi.sh
  ChatQnA/tests/test_compose_on_gaudi.sh
  ChatQnA/tests/test_compose_without_rerank_on_gaudi.sh
  CodeTrans/tests/test_compose_on_gaudi.sh
Owners: suyue.chen@intel.com, ze.pan@intel.com, kaokao.lv@intel.com, minmin.hou@intel.com, liang1.lv@intel.com, letong.han@intel.com, sihan.chen@intel.com, xinyao.wang@intel.com

Fix vllm model cache directory (#1642)
  ChatQnA/docker_compose/intel/cpu/xeon/README.md
  ChatQnA/docker_compose/intel/cpu/xeon/README_pinecone.md
  ChatQnA/docker_compose/intel/cpu/xeon/compose.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_milvus.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_qdrant.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_without_rerank.yaml
  CodeTrans/docker_compose/intel/cpu/xeon/README.md
  CodeTrans/docker_compose/intel/cpu/xeon/compose.yaml
  CodeTrans/docker_compose/intel/hpu/gaudi/README.md
  CodeTrans/docker_compose/intel/hpu/gaudi/compose.yaml
  FaqGen/docker_compose/intel/cpu/xeon/compose.yaml
  FaqGen/docker_compose/intel/hpu/gaudi/compose.yaml
Owners: liang1.lv@intel.com, letong.han@intel.com, sihan.chen@intel.com, xinyao.wang@intel.com, yogesh.pandey@intel.com

[Bug: 112] Fix introduction in GenAIExamples main README (#1631)
  README.md
Owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com

Use GenAIComp base image to simplify Dockerfiles & reduce image sizes - part 2 (#1638)
  ChatQnA/Dockerfile
  ChatQnA/Dockerfile.guardrails
  ChatQnA/Dockerfile.without_rerank
  DocSum/Dockerfile
  GraphRAG/Dockerfile
  SearchQnA/Dockerfile
  Translation/Dockerfile
  VisualQnA/Dockerfile
Owners: liang1.lv@intel.com, letong.han@intel.com, xinyao.wang@intel.com, rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com, sihan.chen@intel.com

Enable ChatQnA model cache for docker compose test. (#1605)
  ChatQnA/docker_compose/amd/gpu/rocm/compose.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_pinecone.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_qdrant.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_tgi.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_without_rerank.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_guardrails.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_tgi.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_without_rerank.yaml
  ChatQnA/tests/test_compose_guardrails_on_gaudi.sh
  ChatQnA/tests/test_compose_on_gaudi.sh
  ChatQnA/tests/test_compose_on_rocm.sh
  ChatQnA/tests/test_compose_on_xeon.sh
  ChatQnA/tests/test_compose_pinecone_on_xeon.sh
  ChatQnA/tests/test_compose_qdrant_on_xeon.sh
  ChatQnA/tests/test_compose_tgi_on_gaudi.sh
  ChatQnA/tests/test_compose_tgi_on_xeon.sh
  ChatQnA/tests/test_compose_without_rerank_on_gaudi.sh
  ChatQnA/tests/test_compose_without_rerank_on_xeon.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

[AudioQnA] Fix the LLM model field for inputs alignment (#1611)
  AudioQnA/audioqna.py
  AudioQnA/audioqna_multilang.py
  AudioQnA/docker_compose/amd/gpu/rocm/compose.yaml
  AudioQnA/docker_compose/intel/cpu/xeon/compose.yaml
  AudioQnA/docker_compose/intel/hpu/gaudi/compose.yaml
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

[ChatQnA] Show spinner after query to improve user experience (#1003) (#1628)
  ChatQnA/ui/svelte/src/lib/shared/components/loading/Spinner.svelte
  ChatQnA/ui/svelte/src/routes/+page.svelte
Owners: liang1.lv@intel.com, letong.han@intel.com

Enable base image build in CI/CD (#1669)
  .github/workflows/_build_comps_base_image.yml
  .github/workflows/manual-example-workflow.yml
  .github/workflows/nightly-docker-build-publish.yml
  .github/workflows/weekly-update-images.yml
  DocSum/Dockerfile
  DocSum/docker_image_build/build.yaml
  DocSum/tests/test_compose_on_gaudi.sh
  DocSum/tests/test_compose_on_rocm.sh
  DocSum/tests/test_compose_on_xeon.sh
Owners: suyue.chen@intel.com, ze.pan@intel.com, letong.han@intel.com, xinyao.wang@intel.com

change gaudi node exporter from default one to 41612 (#1702)
  ChatQnA/docker_compose/intel/hpu/gaudi/compose.telemetry.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_tgi.telemetry.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/set_env.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

Use GenAIComp base image to simplify Dockerfiles - part 3/4 (#1671)
  CodeGen/Dockerfile
  CodeTrans/Dockerfile
  MultimodalQnA/Dockerfile
Owners: liang1.lv@intel.com, xinyao.wang@intel.com, sihan.chen@intel.com, melanie.h.buehler@intel.com, tiep.le@intel.com

Adding files to deploy AudioQnA application on ROCm vLLM (#1655)
  AudioQnA/docker_compose/amd/gpu/rocm/README.md
  AudioQnA/docker_compose/amd/gpu/rocm/compose_vllm.yaml
  AudioQnA/docker_compose/amd/gpu/rocm/set_env_vllm.sh
  AudioQnA/docker_compose/intel/cpu/xeon/README_vllm.md
  AudioQnA/docker_image_build/build.yaml
  AudioQnA/tests/test_compose_vllm_on_rocm.sh
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

Fix CD cancel issue (#1706)
  .github/workflows/_build_image.yml
  .github/workflows/_example-workflow.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Remove FaqGen from ProductivitySuite (#1709)
  ProductivitySuite/docker_compose/intel/cpu/xeon/README.md
  ProductivitySuite/docker_compose/intel/cpu/xeon/compose.yaml
  ProductivitySuite/docker_compose/intel/cpu/xeon/set_env.sh
  ProductivitySuite/docker_image_build/build.yaml
  ProductivitySuite/tests/test_compose_on_xeon.sh
Owners: jaswanth.karani@intel.com, hoong.tee.yeoh@intel.com

Adding files to deploy CodeTrans application on ROCm vLLM (#1545)
  CodeTrans/assets/img/ui-result-page.png
  CodeTrans/assets/img/ui-starting-page.png
  CodeTrans/docker_compose/amd/gpu/rocm/README.md
  CodeTrans/docker_compose/amd/gpu/rocm/compose_vllm.yaml
  CodeTrans/docker_compose/amd/gpu/rocm/set_env_vllm.sh
  CodeTrans/docker_image_build/build.yaml
  CodeTrans/tests/test_compose_vllm_on_rocm.sh
Owners: sihan.chen@intel.com, xinyao.wang@intel.com

Fix workflow issues. (#1691)
  .github/workflows/_run-docker-compose.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Integrate docker images into compose yaml file to simplify the run instructions. fix ui ip issue and add web search tool support (#1656)
  AgentQnA/docker_compose/intel/cpu/xeon/README.md
  AgentQnA/docker_compose/intel/cpu/xeon/compose_openai.yaml
  AgentQnA/docker_compose/intel/cpu/xeon/launch_agent_service_openai.sh
  AgentQnA/docker_compose/intel/cpu/xeon/set_env.sh
  AgentQnA/docker_compose/intel/hpu/gaudi/README.md
  AgentQnA/docker_compose/intel/hpu/gaudi/compose.webtool.yaml
  AgentQnA/docker_compose/intel/hpu/gaudi/compose.yaml
  AgentQnA/docker_compose/intel/hpu/gaudi/launch_agent_service_gaudi.sh
  AgentQnA/docker_compose/intel/hpu/gaudi/launch_tgi_gaudi.sh
  AgentQnA/docker_compose/intel/hpu/gaudi/set_env.sh
  AgentQnA/tests/step4_launch_and_validate_agent_gaudi.sh
  AgentQnA/tools/supervisor_agent_webtools.yaml
  AgentQnA/tools/tools.py
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

Enhance port release before CI test (#1704)
  .github/workflows/scripts/docker_compose_clean_up.sh
Owners: suyue.chen@intel.com, ze.pan@intel.com

Add final README.md and set_env.sh script for quickstart review. Previous pull request was 1595. (#1662)
  ChatQnA/docker_compose/intel/hpu/gaudi/README.md
  ChatQnA/docker_compose/intel/hpu/gaudi/set_env.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

remove 3 useless environments. (#1708)
  DocIndexRetriever/docker_compose/intel/cpu/xeon/README.md
  DocIndexRetriever/docker_compose/intel/cpu/xeon/compose.yaml
  DocIndexRetriever/docker_compose/intel/cpu/xeon/compose_without_rerank.yaml
  DocIndexRetriever/docker_compose/intel/hpu/gaudi/README.md
  DocIndexRetriever/docker_compose/intel/hpu/gaudi/compose.yaml
Owners: kaokao.lv@intel.com, chendi.xue@intel.com

.github/CODEOWNERS:

* liang1.lv@intel.com feng.tian@intel.com suyue.chen@intel.com
/.github/ suyue.chen@intel.com ze.pan@intel.com
/AgentQnA/ kaokao.lv@intel.com minmin.hou@intel.com
/AudioQnA/ sihan.chen@intel.com wenjiao.yue@intel.com
/AvatarChatbot/ chun.tao@intel.com kaokao.lv@intel.com
/ChatQnA/ liang1.lv@intel.com letong.han@intel.com
/CodeGen/ liang1.lv@intel.com xinyao.wang@intel.com
/CodeTrans/ sihan.chen@intel.com xinyao.wang@intel.com
/DBQnA/ supriya.krishnamurthi@intel.com liang1.lv@intel.com
/DocIndexRetriever/ kaokao.lv@intel.com chendi.xue@intel.com
/DocSum/ letong.han@intel.com xinyao.wang@intel.com
/EdgeCraftRAG/ yongbo.zhu@intel.com mingyuan.qi@intel.com
/FaqGen/ yogesh.pandey@intel.com xinyao.wang@intel.com
/GraphRAG/ rita.brugarolas.brufau@intel.com abolfazl.shahbazi@intel.com
/InstructionTuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/MultimodalQnA/ melanie.h.buehler@intel.com tiep.le@intel.com
/ProductivitySuite/ jaswanth.karani@intel.com hoong.tee.yeoh@intel.com
/RerankFinetuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/SearchQnA/ sihan.chen@intel.com letong.han@intel.com
/Text2Image/ wenjiao.yue@intel.com xinyu.ye@intel.com
/Translation/ liang1.lv@intel.com sihan.chen@intel.com
/VideoQnA/ huiling.bao@intel.com xinyao.wang@intel.com
/VisualQnA/ liang1.lv@intel.com sihan.chen@intel.com
