Repository opea-project/GenAIExamples, changes with the owners that .github/CODEOWNERS names for each.
All owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com, ze.pan@intel.com, kaokao.lv@intel.com, minmin.hou@intel.com, sihan.chen@intel.com, wenjiao.yue@intel.com, chun.tao@intel.com, letong.han@intel.com, xinyao.wang@intel.com, supriya.krishnamurthi@intel.com, chendi.xue@intel.com, yongbo.zhu@intel.com, mingyuan.qi@intel.com, yogesh.pandey@intel.com, rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com, xinyu.ye@intel.com, melanie.h.buehler@intel.com, tiep.le@intel.com, jaswanth.karani@intel.com, hoong.tee.yeoh@intel.com, huiling.bao@intel.com

.github/CODEOWNERS:

* liang1.lv@intel.com feng.tian@intel.com suyue.chen@intel.com
/.github/ suyue.chen@intel.com ze.pan@intel.com
/AgentQnA/ kaokao.lv@intel.com minmin.hou@intel.com
/AudioQnA/ sihan.chen@intel.com wenjiao.yue@intel.com
/AvatarChatbot/ chun.tao@intel.com kaokao.lv@intel.com
/ChatQnA/ liang1.lv@intel.com letong.han@intel.com
/CodeGen/ liang1.lv@intel.com xinyao.wang@intel.com
/CodeTrans/ sihan.chen@intel.com xinyao.wang@intel.com
/DBQnA/ supriya.krishnamurthi@intel.com liang1.lv@intel.com
/DocIndexRetriever/ kaokao.lv@intel.com chendi.xue@intel.com
/DocSum/ letong.han@intel.com xinyao.wang@intel.com
/EdgeCraftRAG/ yongbo.zhu@intel.com mingyuan.qi@intel.com
/FaqGen/ yogesh.pandey@intel.com xinyao.wang@intel.com
/GraphRAG/ rita.brugarolas.brufau@intel.com abolfazl.shahbazi@intel.com
/InstructionTuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/MultimodalQnA/ melanie.h.buehler@intel.com tiep.le@intel.com
/ProductivitySuite/ jaswanth.karani@intel.com hoong.tee.yeoh@intel.com
/RerankFinetuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/SearchQnA/ sihan.chen@intel.com letong.han@intel.com
/Text2Image/ wenjiao.yue@intel.com xinyu.ye@intel.com
/Translation/ liang1.lv@intel.com sihan.chen@intel.com
/VideoQnA/ huiling.bao@intel.com xinyao.wang@intel.com
/VisualQnA/ liang1.lv@intel.com sihan.chen@intel.com

Unify dir for benchmark result (#1587)
  benchmark.py
  deploy.py
  deploy_and_benchmark.py
Owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com

fix workflow
  .github/workflows/manual-example-workflow.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Fix async in chatqna bug
  ChatQnA/chatqna.py
Owners: liang1.lv@intel.com, letong.han@intel.com

for test
  .github/workflows/_run-docker-compose.yml
  .github/workflows/pr-docker-compose-e2e.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Revert "for test"
  .github/workflows/_run-docker-compose.yml
  .github/workflows/pr-docker-compose-e2e.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Fix async in chatqna bug (#1589)
  ChatQnA/chatqna.py
Owners: liang1.lv@intel.com, letong.han@intel.com

[ChatQnA][docker]Check healthy of redis to avoid dataprep failure
  ChatQnA/docker_compose/intel/cpu/xeon/compose.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose.yaml
Owners: liang1.lv@intel.com, letong.han@intel.com

Align async for GraphRAG
  GraphRAG/graphrag.py
Owners: rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com

add link to github.io documentation
  README.md
Owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com

Fix benchmark scripts (#1517)
  ChatQnA/benchmark_chatqna.yaml
  README-deploy-benchmark.md
  benchmark.py
  deploy.py
  deploy_and_benchmark.py
  requirements.txt
Owners: liang1.lv@intel.com, letong.han@intel.com, feng.tian@intel.com, suyue.chen@intel.com

[ChatQna][docker] Fix subset of compose to avoid conflict
  ChatQnA/docker_compose/amd/gpu/rocm/compose.yaml
  ChatQnA/docker_compose/intel/cpu/aipc/compose.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_tgi.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_without_rerank.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_guardrails.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_tgi.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_without_rerank.yaml
  ChatQnA/docker_compose/nvidia/gpu/compose.yaml
Owners: liang1.lv@intel.com, letong.han@intel.com

[ChatQnA] Align the TEI Embedding endpoint environment
  ChatQnA/docker_compose/amd/gpu/rocm/compose.yaml
  ChatQnA/docker_compose/intel/cpu/aipc/compose.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_tgi.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_without_rerank.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_guardrails.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_tgi.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_without_rerank.yaml
  ChatQnA/docker_compose/nvidia/gpu/compose.yaml
Owners: liang1.lv@intel.com, letong.han@intel.com

Top level README: add link to github.io documentation (#1584)
  README.md
Owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com

Update compose.yaml to latest tgi 2.4.0
  DBQnA/docker_compose/intel/cpu/xeon/compose.yaml
Owners: supriya.krishnamurthi@intel.com, liang1.lv@intel.com

Update README.md to align host_ip
  DBQnA/docker_compose/intel/cpu/xeon/README.md
Owners: supriya.krishnamurthi@intel.com, liang1.lv@intel.com

Create set_env.sh for simple deploy
  DBQnA/docker_compose/intel/cpu/xeon/set_env.sh
Owners: supriya.krishnamurthi@intel.com, liang1.lv@intel.com

align async for GraphRAG
  GraphRAG/graphrag.py
Owners: rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com

fix click example button issue (#1586)
  AgentQnA/ui/svelte/src/lib/components/home.svelte
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

Update README.md for http_proxy
  DBQnA/docker_compose/intel/cpu/xeon/README.md
Owners: supriya.krishnamurthi@intel.com, liang1.lv@intel.com

open chatqna vllm frontend test
  ChatQnA/tests/test_compose_on_gaudi.sh
  ChatQnA/tests/test_compose_on_xeon.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

Compose file to use Milvus as vdb
  ChatQnA/docker_compose/intel/cpu/xeon/compose_milvus.yaml
Owners: liang1.lv@intel.com, letong.han@intel.com

Docker compose updated
  ChatQnA/docker_compose/intel/cpu/xeon/compose_milvus.yaml
Owners: liang1.lv@intel.com, letong.han@intel.com

Docker compose updated
  ChatQnA/docker_compose/intel/cpu/xeon/compose_milvus.yaml
Owners: liang1.lv@intel.com, letong.han@intel.com

Simplify ChatQnA AIPC user setting (#1573)
  ChatQnA/docker_compose/intel/cpu/aipc/README.md
  ChatQnA/docker_compose/intel/cpu/aipc/compose.yaml
  ChatQnA/docker_compose/intel/cpu/aipc/set_env.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

Fix async in chatqna bug (#1589)
  ChatQnA/chatqna.py
Owners: liang1.lv@intel.com, letong.han@intel.com

Refactor AudioQnA README (#1508)
  AudioQnA/docker_compose/intel/cpu/xeon/README.md
  AudioQnA/docker_compose/intel/cpu/xeon/compose_multilang.yaml
  docker_images_list.md
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com, liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com

Make a fix in the main README.md of the ChatQnA. (#1551)
  ChatQnA/README.md
Owners: liang1.lv@intel.com, letong.han@intel.com

Update AgentQnA and DocIndexRetriever (#1564)
  AgentQnA/README.md
  AgentQnA/docker_compose/intel/cpu/xeon/compose_openai.yaml
  AgentQnA/docker_compose/intel/cpu/xeon/launch_agent_service_openai.sh
  AgentQnA/docker_compose/intel/hpu/gaudi/compose.yaml
  AgentQnA/docker_compose/intel/hpu/gaudi/launch_agent_service_gaudi.sh
  AgentQnA/tests/step4_launch_and_validate_agent_gaudi.sh
  AgentQnA/tests/test.py
  AgentQnA/tests/test_compose_on_gaudi.sh
  DocIndexRetriever/docker_compose/intel/cpu/xeon/compose.yaml
  DocIndexRetriever/retrieval_tool.py
  DocIndexRetriever/tests/test.py
Owners: kaokao.lv@intel.com, minmin.hou@intel.com, chendi.xue@intel.com

Fix ChatQnA ROCm compose Readme file and absolute path for ROCM CI test (#1159)
  ChatQnA/docker_compose/amd/gpu/rocm/README.md
  ChatQnA/tests/test_compose_on_rocm.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

Align mongo related image names with comps (#1543)
  ProductivitySuite/docker_compose/intel/cpu/xeon/README.md
  ProductivitySuite/docker_compose/intel/cpu/xeon/compose.yaml
  ProductivitySuite/docker_image_build/build.yaml
  docker_images_list.md
Owners: jaswanth.karani@intel.com, hoong.tee.yeoh@intel.com, liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com

Milvus compose
  ChatQnA/tests/test_compose_milvus_on_xeon.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

update vLLM CPU to the latest stable version (#1546)
  .github/workflows/_example-workflow.yml
  ChatQnA/tests/test_compose_on_xeon.sh
  ChatQnA/tests/test_compose_pinecone_on_xeon.sh
  ChatQnA/tests/test_compose_qdrant_on_xeon.sh
  ChatQnA/tests/test_compose_without_rerank_on_xeon.sh
  WorkflowExecAgent/tests/2_start_vllm_service.sh
Owners: suyue.chen@intel.com, ze.pan@intel.com, liang1.lv@intel.com, letong.han@intel.com, feng.tian@intel.com

Update compose_milvus.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_milvus.yaml
Owners: liang1.lv@intel.com, letong.han@intel.com

Docker compose updated
  ChatQnA/docker_compose/intel/cpu/xeon/compose_milvus.yaml
Owners: liang1.lv@intel.com, letong.han@intel.com

fix click example button issue (#1586)
  AgentQnA/ui/svelte/src/lib/components/home.svelte
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

Docker compose updated
  ChatQnA/docker_compose/intel/cpu/xeon/compose_milvus.yaml
  ChatQnA/tests/test_compose_milvus_on_xeon.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

Docker compose updated
  ChatQnA/tests/test_compose_milvus_on_xeon.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

Docker compose updated
  ChatQnA/docker_compose/intel/cpu/xeon/compose_milvus.yaml
  ChatQnA/tests/test_compose_milvus_on_xeon.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

Fix "OpenAI" & "response" spelling (#1561)
  AgentQnA/docker_compose/intel/cpu/xeon/README.md
  ChatQnA/chatqna.py
  GraphRAG/graphrag.py
Owners: kaokao.lv@intel.com, minmin.hou@intel.com, liang1.lv@intel.com, letong.han@intel.com, rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com

Update README.md of AIPC quick start (#1578)
  ChatQnA/docker_compose/intel/cpu/aipc/README.md
Owners: liang1.lv@intel.com, letong.han@intel.com
