Repository opea-project/GenAIExamples, changes with the owners that .github/CODEOWNERS names for each.
All owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com, ze.pan@intel.com, kaokao.lv@intel.com, minmin.hou@intel.com, sihan.chen@intel.com, wenjiao.yue@intel.com, chun.tao@intel.com, letong.han@intel.com, xinyao.wang@intel.com, supriya.krishnamurthi@intel.com, chendi.xue@intel.com, yongbo.zhu@intel.com, mingyuan.qi@intel.com, yogesh.pandey@intel.com, rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com, xinyu.ye@intel.com, melanie.h.buehler@intel.com, tiep.le@intel.com, jaswanth.karani@intel.com, hoong.tee.yeoh@intel.com, huiling.bao@intel.com

.github/CODEOWNERS:

* liang1.lv@intel.com feng.tian@intel.com suyue.chen@intel.com
/.github/ suyue.chen@intel.com ze.pan@intel.com
/AgentQnA/ kaokao.lv@intel.com minmin.hou@intel.com
/AudioQnA/ sihan.chen@intel.com wenjiao.yue@intel.com
/AvatarChatbot/ chun.tao@intel.com kaokao.lv@intel.com
/ChatQnA/ liang1.lv@intel.com letong.han@intel.com
/CodeGen/ liang1.lv@intel.com xinyao.wang@intel.com
/CodeTrans/ sihan.chen@intel.com xinyao.wang@intel.com
/DBQnA/ supriya.krishnamurthi@intel.com liang1.lv@intel.com
/DocIndexRetriever/ kaokao.lv@intel.com chendi.xue@intel.com
/DocSum/ letong.han@intel.com xinyao.wang@intel.com
/EdgeCraftRAG/ yongbo.zhu@intel.com mingyuan.qi@intel.com
/FaqGen/ yogesh.pandey@intel.com xinyao.wang@intel.com
/GraphRAG/ rita.brugarolas.brufau@intel.com abolfazl.shahbazi@intel.com
/InstructionTuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/MultimodalQnA/ melanie.h.buehler@intel.com tiep.le@intel.com
/ProductivitySuite/ jaswanth.karani@intel.com hoong.tee.yeoh@intel.com
/RerankFinetuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/SearchQnA/ sihan.chen@intel.com letong.han@intel.com
/Text2Image/ wenjiao.yue@intel.com xinyu.ye@intel.com
/Translation/ liang1.lv@intel.com sihan.chen@intel.com
/VideoQnA/ huiling.bao@intel.com xinyao.wang@intel.com
/VisualQnA/ liang1.lv@intel.com sihan.chen@intel.com

remove test code
  .github/workflows/scripts/docker_compose_clean_up.sh
Owners: suyue.chen@intel.com, ze.pan@intel.com

fix docker image clean up issue (#1773)
  .github/workflows/_run-docker-compose.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Sync values yaml file for 1.3 release (#1748)
  AgentQnA/kubernetes/helm/cpu-values.yaml
  AgentQnA/kubernetes/helm/gaudi-values.yaml
  AudioQnA/kubernetes/helm/cpu-multilang-values.yaml
  AudioQnA/kubernetes/helm/cpu-tgi-values.yaml
  AudioQnA/kubernetes/helm/gaudi-tgi-values.yaml
  AudioQnA/kubernetes/helm/gaudi-values.yaml
  ChatQnA/kubernetes/helm/cpu-qdrant-values.yaml
  ChatQnA/kubernetes/helm/cpu-tgi-values.yaml
  ChatQnA/kubernetes/helm/faqgen-cpu-tgi-values.yaml
  ChatQnA/kubernetes/helm/faqgen-cpu-values.yaml
  ChatQnA/kubernetes/helm/faqgen-gaudi-tgi-values.yaml
  ChatQnA/kubernetes/helm/faqgen-gaudi-values.yaml
  ChatQnA/kubernetes/helm/gaudi-values.yaml
  ChatQnA/kubernetes/helm/guardrails-gaudi-values.yaml
  ChatQnA/kubernetes/helm/norerank-values.yaml
  CodeGen/kubernetes/helm/cpu-tgi-values.yaml
  CodeGen/kubernetes/helm/cpu-values.yaml
  CodeGen/kubernetes/helm/gaudi-tgi-values.yaml
  CodeGen/kubernetes/helm/gaudi-values.yaml
  CodeTrans/kubernetes/helm/cpu-tgi-values.yaml
  CodeTrans/kubernetes/helm/cpu-values.yaml
  CodeTrans/kubernetes/helm/gaudi-tgi-values.yaml
  CodeTrans/kubernetes/helm/gaudi-values.yaml
  DocSum/kubernetes/helm/cpu-tgi-values.yaml
  DocSum/kubernetes/helm/cpu-values.yaml
  DocSum/kubernetes/helm/gaudi-tgi-values.yaml
  DocSum/kubernetes/helm/gaudi-values.yaml
  VisualQnA/kubernetes/helm/cpu-tgi-values.yaml
  VisualQnA/kubernetes/helm/gaudi-tgi-values.yaml
  VisualQnA/kubernetes/helm/gaudi-values.yaml
Owners: kaokao.lv@intel.com, minmin.hou@intel.com, sihan.chen@intel.com, wenjiao.yue@intel.com, liang1.lv@intel.com, letong.han@intel.com, xinyao.wang@intel.com

Fix GenAIExamples #1607
  AvatarChatbot/tests/test_compose_on_gaudi.sh
  AvatarChatbot/tests/test_compose_on_xeon.sh
Owners: chun.tao@intel.com, kaokao.lv@intel.com

Fix GenAIExamples #1607
  AvatarChatbot/tests/test_compose_on_gaudi.sh
  AvatarChatbot/tests/test_compose_on_xeon.sh
Owners: chun.tao@intel.com, kaokao.lv@intel.com

Fix ChatQnA UI issue in set_env.sh on Xeon
  ChatQnA/README.md
  ChatQnA/docker_compose/intel/cpu/xeon/set_env.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

Initial commit adding options to select files
  MultimodalQnA/ui/gradio/multimodalqna_ui_gradio.py
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

Update FAQGen to seperate LLM Host/Server(inside docker) PORTS from ChatQnA
  ChatQnA/docker_compose/intel/cpu/xeon/compose_faqgen.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_faqgen_tgi.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/set_env.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

Fix ChatQnA port to internal vllm port
  ChatQnA/docker_compose/intel/cpu/xeon/compose.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_milvus.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_pinecone.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_qdrant.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_tgi.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_without_rerank.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_guardrails.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_tgi.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_without_rerank.yaml
Owners: liang1.lv@intel.com, letong.han@intel.com

Fix ChatQnA port to internal vllm port (#1763)
  ChatQnA/docker_compose/intel/cpu/xeon/compose.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_milvus.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_pinecone.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_qdrant.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_tgi.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_without_rerank.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_guardrails.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_tgi.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_without_rerank.yaml
Owners: liang1.lv@intel.com, letong.han@intel.com

Fix vLLM CPU initialize engine issue for DeepSeek models (#1762)
  ChatQnA/docker_compose/intel/cpu/xeon/compose.yaml
Owners: liang1.lv@intel.com, letong.han@intel.com

add Gaudi support for TEI Embedding service in ChatQnA
  ChatQnA/README.md
  ChatQnA/docker_compose/intel/hpu/gaudi/README.md
  ChatQnA/docker_compose/intel/hpu/gaudi/compose.tei-embedding-gaudi.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_faqgen.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_faqgen_tgi.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_guardrails.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_tgi.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_without_rerank.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/how_to_validate_service.md
  ChatQnA/docker_compose/intel/hpu/gaudi/prometheus.yaml
  ChatQnA/tests/test_compose_faqgen_on_gaudi.sh
  ChatQnA/tests/test_compose_faqgen_tgi_on_gaudi.sh
  ChatQnA/tests/test_compose_guardrails_on_gaudi.sh
  ChatQnA/tests/test_compose_on_gaudi.sh
  ChatQnA/tests/test_compose_tgi_on_gaudi.sh
  ChatQnA/tests/test_compose_without_rerank_on_gaudi.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

Fix GenAIExamples #1607 (#1776)
  AvatarChatbot/tests/test_compose_on_gaudi.sh
  AvatarChatbot/tests/test_compose_on_xeon.sh
Owners: chun.tao@intel.com, kaokao.lv@intel.com

Update ChatQna & CodeGen README.md with new Automated Terraform Deployment Options (#1731)
  ChatQnA/README.md
  CodeGen/README.md
Owners: liang1.lv@intel.com, letong.han@intel.com, xinyao.wang@intel.com

Iteratively add image docker hub description (#1768)
  .github/workflows/dockerhub-description.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

update the compose file
  CodeGen/README.md
  CodeGen/assets/img/codegen_gradio_ui_dataprep.png
  CodeGen/assets/img/codegen_gradio_ui_main.png
  CodeGen/assets/img/codegen_gradio_ui_query.png
  CodeGen/assets/img/codegen_gradio_ui_rm.png
  CodeGen/codegen.py
  CodeGen/docker_compose/intel/cpu/xeon/README.md
  CodeGen/docker_compose/intel/cpu/xeon/compose.yaml
  CodeGen/docker_compose/intel/hpu/gaudi/README.md
  CodeGen/docker_compose/intel/hpu/gaudi/compose.yaml
  CodeGen/docker_compose/set_env.sh
  CodeGen/docker_image_build/build.yaml
  CodeGen/tests/test_compose_on_gaudi.sh
  CodeGen/tests/test_compose_on_xeon.sh
  CodeGen/ui/docker/Dockerfile.gradio
  CodeGen/ui/gradio/README.md
  CodeGen/ui/gradio/codegen_ui_gradio.py
  CodeGen/ui/gradio/requirements.txt
Owners: liang1.lv@intel.com, xinyao.wang@intel.com

Adaptation to vllm v0.8.3 build paths (#1761)
  .github/workflows/_build_image.yml
  AudioQnA/docker_compose/intel/cpu/xeon/README.md
  AudioQnA/docker_image_build/build.yaml
  AudioQnA/tests/test_compose_multilang_on_xeon.sh
  AudioQnA/tests/test_compose_on_xeon.sh
  ChatQnA/docker_image_build/build.yaml
  ChatQnA/tests/test_compose_faqgen_on_xeon.sh
  ChatQnA/tests/test_compose_faqgen_tgi_on_xeon.sh
  ChatQnA/tests/test_compose_milvus_on_xeon.sh
  ChatQnA/tests/test_compose_on_xeon.sh
  ChatQnA/tests/test_compose_pinecone_on_xeon.sh
  ChatQnA/tests/test_compose_qdrant_on_xeon.sh
  ChatQnA/tests/test_compose_without_rerank_on_xeon.sh
  CodeGen/docker_image_build/build.yaml
  CodeGen/tests/test_compose_on_xeon.sh
  CodeTrans/docker_image_build/build.yaml
  CodeTrans/tests/test_compose_on_xeon.sh
  DocSum/docker_image_build/build.yaml
  DocSum/tests/test_compose_on_xeon.sh
  WorkflowExecAgent/tests/2_start_vllm_service.sh
Owners: suyue.chen@intel.com, ze.pan@intel.com, sihan.chen@intel.com, wenjiao.yue@intel.com, liang1.lv@intel.com, letong.han@intel.com, xinyao.wang@intel.com, feng.tian@intel.com

Update README.md
  MultimodalQnA/docker_compose/amd/gpu/rocm/README.md
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

update gradio test & rebase
  CodeGen/tests/test_compose_on_gaudi.sh
  CodeGen/tests/test_compose_on_xeon.sh
  CodeGen/ui/gradio/codegen_ui_gradio.py
Owners: liang1.lv@intel.com, xinyao.wang@intel.com

Use GenAIComp base image to simplify Dockerfiles & reduce image sizes (#1369)
  AvatarChatbot/Dockerfile
Owners: chun.tao@intel.com, kaokao.lv@intel.com

Fix VideoQnA
  VideoQnA/docker_compose/intel/cpu/xeon/README.md
  VideoQnA/docker_compose/intel/cpu/xeon/compose.yaml
  VideoQnA/docker_compose/intel/cpu/xeon/set_env.sh
  VideoQnA/docker_image_build/build.yaml
  VideoQnA/tests/test_compose_on_xeon.sh
  VideoQnA/videoqna.py
Owners: huiling.bao@intel.com, xinyao.wang@intel.com

Fix cache dirs and clip endpoint
  VideoQnA/docker_compose/intel/cpu/xeon/compose.yaml
  VideoQnA/tests/test_compose_on_xeon.sh
Owners: huiling.bao@intel.com, xinyao.wang@intel.com

Address review comments: - Revert vdms tag change since latest tag is always latest stable version; - Minor updates in README; - Remove debug logs from videoqna.py; - Revert mounting volumes
  VideoQnA/docker_compose/intel/cpu/xeon/README.md
  VideoQnA/docker_compose/intel/cpu/xeon/compose.yaml
  VideoQnA/docker_compose/intel/cpu/xeon/set_env.sh
  VideoQnA/tests/test_compose_on_xeon.sh
  VideoQnA/videoqna.py
Owners: huiling.bao@intel.com, xinyao.wang@intel.com

Fix root to user in volume
  VideoQnA/docker_compose/intel/cpu/xeon/compose.yaml
Owners: huiling.bao@intel.com, xinyao.wang@intel.com

Added cache volumes back as requested during review
  VideoQnA/docker_compose/intel/cpu/xeon/README.md
  VideoQnA/docker_compose/intel/cpu/xeon/compose.yaml
  VideoQnA/tests/test_compose_on_xeon.sh
Owners: huiling.bao@intel.com, xinyao.wang@intel.com

Update set_env to match test script
  VideoQnA/docker_compose/intel/cpu/xeon/set_env.sh
Owners: huiling.bao@intel.com, xinyao.wang@intel.com

Fix typo
  VideoQnA/docker_compose/intel/cpu/xeon/compose.yaml
Owners: huiling.bao@intel.com, xinyao.wang@intel.com

Fix VideoQnA
  VideoQnA/docker_compose/intel/cpu/xeon/README.md
Owners: huiling.bao@intel.com, xinyao.wang@intel.com

Revert volumes to orig
  VideoQnA/docker_compose/intel/cpu/xeon/compose.yaml
Owners: huiling.bao@intel.com, xinyao.wang@intel.com

Revert volumes to original values (no env var); try to resolve permission denied error with clip model in CI
  VideoQnA/docker_compose/intel/cpu/xeon/README.md
  VideoQnA/docker_compose/intel/cpu/xeon/compose.yaml
  VideoQnA/tests/test_compose_on_xeon.sh
Owners: huiling.bao@intel.com, xinyao.wang@intel.com

Add tag to VDMS container instead of latest
  VideoQnA/docker_compose/intel/cpu/xeon/compose.yaml
  VideoQnA/tests/test_compose_on_xeon.sh
Owners: huiling.bao@intel.com, xinyao.wang@intel.com

Revert lvm-vidro-llama volume to orig
  VideoQnA/docker_compose/intel/cpu/xeon/compose.yaml
Owners: huiling.bao@intel.com, xinyao.wang@intel.com

CodGen Examples using-RAG-and-Agents (#1757)
  CodeGen/README.md
  CodeGen/assets/img/codegen_gradio_ui_dataprep.png
  CodeGen/assets/img/codegen_gradio_ui_main.png
  CodeGen/assets/img/codegen_gradio_ui_query.png
  CodeGen/assets/img/codegen_gradio_ui_rm.png
  CodeGen/codegen.py
  CodeGen/docker_compose/intel/cpu/xeon/README.md
  CodeGen/docker_compose/intel/cpu/xeon/compose.yaml
  CodeGen/docker_compose/intel/hpu/gaudi/README.md
  CodeGen/docker_compose/intel/hpu/gaudi/compose.yaml
  CodeGen/docker_compose/set_env.sh
  CodeGen/docker_image_build/build.yaml
  CodeGen/tests/test_compose_on_gaudi.sh
  CodeGen/tests/test_compose_on_xeon.sh
  CodeGen/ui/docker/Dockerfile.gradio
  CodeGen/ui/gradio/README.md
  CodeGen/ui/gradio/codegen_ui_gradio.py
  CodeGen/ui/gradio/requirements.txt
Owners: liang1.lv@intel.com, xinyao.wang@intel.com

Fix typo in CodeGen README
  CodeGen/README.md
Owners: liang1.lv@intel.com, xinyao.wang@intel.com

Fix typo in CodeGen README (#1783)
  CodeGen/README.md
Owners: liang1.lv@intel.com, xinyao.wang@intel.com

Unified file writing method
  EdgeCraftRAG/docker_image_build/build.yaml
Owners: yongbo.zhu@intel.com, mingyuan.qi@intel.com

Improve DocSum file handling
  DocSum/docsum.py
Owners: letong.han@intel.com, xinyao.wang@intel.com

Fix unneeded breaks in code blocks, and markdown title formatting
  SearchQnA/docker_compose/intel/cpu/xeon/README.md
Owners: sihan.chen@intel.com, letong.han@intel.com

update research agent tools and prompt.
  FinanceAgent/prompts/research_prompt.py
  FinanceAgent/tools/research_agent_tools.yaml
  FinanceAgent/tools/research_tools.py
Owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com

add depends_on condition
  DocIndexRetriever/docker_compose/intel/hpu/gaudi/compose.yaml
  DocIndexRetriever/tests/test_compose_on_gaudi.sh
Owners: kaokao.lv@intel.com, chendi.xue@intel.com
