Repository opea-project/GenAIExamples, changes with the owners that .github/CODEOWNERS names for each.
All owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com, ze.pan@intel.com, kaokao.lv@intel.com, minmin.hou@intel.com, sihan.chen@intel.com, wenjiao.yue@intel.com, chun.tao@intel.com, letong.han@intel.com, xinyao.wang@intel.com, supriya.krishnamurthi@intel.com, chendi.xue@intel.com, yongbo.zhu@intel.com, mingyuan.qi@intel.com, yogesh.pandey@intel.com, rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com, xinyu.ye@intel.com, melanie.h.buehler@intel.com, tiep.le@intel.com, jaswanth.karani@intel.com, hoong.tee.yeoh@intel.com, huiling.bao@intel.com

[ChatQnA] Update the default LLM to llama3-8B on cpu/gpu/hpu (#1430)
  ChatQnA/README.md
  ChatQnA/chatqna.py
  ChatQnA/docker_compose/amd/gpu/rocm/README.md
  ChatQnA/docker_compose/amd/gpu/rocm/set_env.sh
  ChatQnA/docker_compose/intel/cpu/xeon/README.md
  ChatQnA/docker_compose/intel/cpu/xeon/README_pinecone.md
  ChatQnA/docker_compose/intel/cpu/xeon/README_qdrant.md
  ChatQnA/docker_compose/intel/cpu/xeon/set_env.sh
  ChatQnA/docker_compose/intel/hpu/gaudi/README.md
  ChatQnA/docker_compose/intel/hpu/gaudi/how_to_validate_service.md
  ChatQnA/docker_compose/intel/hpu/gaudi/set_env.sh
  ChatQnA/docker_compose/nvidia/gpu/README.md
  ChatQnA/docker_compose/nvidia/gpu/set_env.sh
  ChatQnA/tests/test_compose_guardrails_on_gaudi.sh
  ChatQnA/tests/test_compose_on_gaudi.sh
  ChatQnA/tests/test_compose_on_rocm.sh
  ChatQnA/tests/test_compose_on_xeon.sh
  ChatQnA/tests/test_compose_pinecone_on_xeon.sh
  ChatQnA/tests/test_compose_qdrant_on_xeon.sh
  ChatQnA/tests/test_compose_tgi_on_gaudi.sh
  ChatQnA/tests/test_compose_tgi_on_xeon.sh
  ChatQnA/tests/test_compose_without_rerank_on_gaudi.sh
  ChatQnA/tests/test_compose_without_rerank_on_xeon.sh
  ChatQnA/ui/react/src/components/Conversation/Conversation.tsx
  ChatQnA/ui/svelte/src/lib/network/chat/Network.ts
Owners: liang1.lv@intel.com, letong.han@intel.com

Simplify git clone code in CI test (#1422)
  ProductivitySuite/tests/test_compose_on_xeon.sh
  RerankFinetuning/tests/test_compose_on_xeon.sh
  SearchQnA/tests/test_compose_on_gaudi.sh
  SearchQnA/tests/test_compose_on_xeon.sh
  Text2Image/tests/test_compose_on_xeon.sh
  Translation/tests/test_compose_on_gaudi.sh
  Translation/tests/test_compose_on_rocm.sh
  Translation/tests/test_compose_on_xeon.sh
  VideoQnA/tests/test_compose_on_xeon.sh
  VisualQnA/tests/test_compose_on_gaudi.sh
  VisualQnA/tests/test_compose_on_rocm.sh
  VisualQnA/tests/test_compose_on_xeon.sh
  WorkflowExecAgent/tests/1_build_images.sh
Owners: jaswanth.karani@intel.com, hoong.tee.yeoh@intel.com, xinyu.ye@intel.com, kaokao.lv@intel.com, sihan.chen@intel.com, letong.han@intel.com, wenjiao.yue@intel.com, liang1.lv@intel.com, huiling.bao@intel.com, xinyao.wang@intel.com, feng.tian@intel.com, suyue.chen@intel.com

ProductivitySuite: Fix FaqGen Microservice CI test fail (#1437)
  ProductivitySuite/tests/test_compose_on_xeon.sh
Owners: jaswanth.karani@intel.com, hoong.tee.yeoh@intel.com

Add helm e2e test workflow (#1372)
  .github/workflows/_example-workflow.yml
  .github/workflows/_helm-e2e.yaml
  .github/workflows/manual-example-workflow.yml
  .github/workflows/pr-chart-e2e.yaml
  .github/workflows/scripts/k8s-utils.sh
Owners: suyue.chen@intel.com, ze.pan@intel.com

Update GraphRAG to be compatible with latest component changes (#1427)
  GraphRAG/docker_compose/intel/hpu/gaudi/compose.yaml
  GraphRAG/docker_compose/intel/hpu/gaudi/set_env.sh
  GraphRAG/graphrag.py
  GraphRAG/tests/test_compose_on_gaudi.sh
  GraphRAG/ui/svelte/playwright.config.ts
Owners: rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com

MultimodalQnA image query, pdf, dynamic ports, and UI updates (#1381)
  MultimodalQnA/Dockerfile
  MultimodalQnA/README.md
  MultimodalQnA/assets/img/audio-ingestion.png
  MultimodalQnA/assets/img/audio-query.png
  MultimodalQnA/assets/img/image-ingestion.png
  MultimodalQnA/assets/img/image-query.png
  MultimodalQnA/assets/img/ingest_pdf.png
  MultimodalQnA/assets/img/mmqna-ui.png
  MultimodalQnA/assets/img/pdf-query.png
  MultimodalQnA/assets/img/video-ingestion.png
  MultimodalQnA/assets/img/video-query.png
  MultimodalQnA/docker_compose/intel/cpu/xeon/README.md
  MultimodalQnA/docker_compose/intel/cpu/xeon/compose.yaml
  MultimodalQnA/docker_compose/intel/cpu/xeon/set_env.sh
  MultimodalQnA/docker_compose/intel/hpu/gaudi/README.md
  MultimodalQnA/docker_compose/intel/hpu/gaudi/compose.yaml
  MultimodalQnA/docker_compose/intel/hpu/gaudi/set_env.sh
  MultimodalQnA/docker_image_build/build.yaml
  MultimodalQnA/multimodalqna.py
  MultimodalQnA/tests/test_compose_on_gaudi.sh
  MultimodalQnA/tests/test_compose_on_rocm.sh
  MultimodalQnA/tests/test_compose_on_xeon.sh
  MultimodalQnA/ui/gradio/conversation.py
  MultimodalQnA/ui/gradio/multimodalqna_ui_gradio.py
  MultimodalQnA/ui/gradio/requirements.txt
  MultimodalQnA/ui/gradio/utils.py
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

Fix CD workflow issue (#1443)
  .github/workflows/_helm-e2e.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Unify the yaml name to fix the CD workflow (#1435)
  .github/workflows/_example-workflow.yml
  .github/workflows/_helm-e2e.yml
  .github/workflows/manual-docker-clean.yml
  .github/workflows/pr-chart-e2e.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Fix for NLTK related import failure (#1487)
  DocSum/ui/gradio/docsum_ui_gradio.py
Owners: letong.han@intel.com, xinyao.wang@intel.com

DBQnA - Adding files to deploy DBQnA application on AMD GPU (#1273)
  DBQnA/docker_compose/amd/gpu/rocm/README.md
  DBQnA/docker_compose/amd/gpu/rocm/chinook.sql
  DBQnA/docker_compose/amd/gpu/rocm/compose.yaml
  DBQnA/docker_compose/amd/gpu/rocm/set_env.sh
  DBQnA/docker_image_build/build.yaml
  DBQnA/tests/test_compose_on_rocm.sh
  DBQnA/ui/docker/Dockerfile.react
  DBQnA/ui/react/.env
  DBQnA/ui/react/src/App.test.tsx
  DBQnA/ui/react/vite.config.ts
Owners: supriya.krishnamurthi@intel.com, liang1.lv@intel.com

[chore/chatqna] Missing protocol in curl command (#1447)
  ChatQnA/docker_compose/intel/cpu/xeon/README.md
Owners: liang1.lv@intel.com, letong.han@intel.com

Update top level readme (#1458)
  README.md
Owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com

Fix wrong vllm repo. (#1454)
  AgentQnA/tests/step1_build_images.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

Fix null value_file judgment (#1470)
  .github/workflows/_get-image-list.yml
  .github/workflows/_helm-e2e.yml
  .github/workflows/_run-docker-compose.yml
  .github/workflows/manual-docker-publish.yml
  .github/workflows/manual-docker-scan.yml
  .github/workflows/manual-example-workflow.yml
  .github/workflows/manual-image-build.yml
  .github/workflows/manual-reset-local-registry.yml
  .github/workflows/nightly-docker-build-publish.yml
  .github/workflows/pr-chart-e2e.yml
  .github/workflows/pr-docker-compose-e2e.yml
  .github/workflows/push-image-build.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Update README.md for OPEA OTLP tracing (#1406)
  ChatQnA/README.md
Owners: liang1.lv@intel.com, letong.han@intel.com

Add support for latest deepseek models on Gaudi (#1491)
  ChatQnA/docker_compose/intel/hpu/gaudi/README.md
  ChatQnA/docker_compose/intel/hpu/gaudi/compose.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_guardrails.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_tgi.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_without_rerank.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/set_env.sh
  ChatQnA/tests/test_compose_guardrails_on_gaudi.sh
  ChatQnA/tests/test_compose_on_gaudi.sh
  ChatQnA/tests/test_compose_tgi_on_gaudi.sh
  ChatQnA/tests/test_compose_without_rerank_on_gaudi.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

AgentQnA - add README file for deploy on ROCm (#1379)
  AgentQnA/docker_compose/amd/gpu/rocm/README.md
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

Added UT for rerank finetuning on Gaudi (#1472)
  RerankFinetuning/docker_image_build/build.yaml
  RerankFinetuning/tests/test_compose_on_gaudi.sh
Owners: xinyu.ye@intel.com, kaokao.lv@intel.com

CI: improve helm CI (#1452)
  .github/workflows/_helm-e2e.yml
  .github/workflows/scripts/k8s-utils.sh
Owners: suyue.chen@intel.com, ze.pan@intel.com

Freeze the triton version in vllm-gaudi image to 3.1.0 (#1463)
  .github/workflows/_example-workflow.yml
  AgentQnA/tests/step1_build_images.sh
  AgentQnA/tests/test_compose_on_gaudi.sh
  ChatQnA/tests/test_compose_guardrails_on_gaudi.sh
  ChatQnA/tests/test_compose_on_gaudi.sh
  ChatQnA/tests/test_compose_without_rerank_on_gaudi.sh
Owners: suyue.chen@intel.com, ze.pan@intel.com, kaokao.lv@intel.com, minmin.hou@intel.com, liang1.lv@intel.com, letong.han@intel.com

Provide unified scalable deployment and benchmarking support for exam… (#1315)
  ChatQnA/benchmark_chatqna.yaml
  README-deploy-benchmark.md
  benchmark.py
  deploy.py
  deploy_and_benchmark.py
  requirements.txt
Owners: liang1.lv@intel.com, letong.han@intel.com, feng.tian@intel.com, suyue.chen@intel.com

Sync value files from GenAIInfra (#1428)
  AgentQnA/kubernetes/helm/gaudi-values.yaml
  ChatQnA/kubernetes/helm/cpu-tgi-values.yaml
  ChatQnA/kubernetes/helm/gaudi-tgi-values.yaml
  ChatQnA/kubernetes/helm/gaudi-vllm-values.yaml
  ChatQnA/kubernetes/helm/guardrails-gaudi-values.yaml
  ChatQnA/kubernetes/helm/guardrails-values.yaml
  ChatQnA/kubernetes/helm/nv-values.yaml
  ChatQnA/tests/test_manifest_guardrails_on_gaudi.sh
  ChatQnA/tests/test_manifest_guardrails_on_xeon.sh
  ChatQnA/tests/test_manifest_on_gaudi.sh
  ChatQnA/tests/test_manifest_on_xeon.sh
  ChatQnA/tests/test_manifest_vllm_on_gaudi.sh
  CodeGen/kubernetes/helm/gaudi-values.yaml
  CodeGen/tests/test_manifest_on_gaudi.sh
  CodeGen/tests/test_manifest_on_xeon.sh
  CodeTrans/kubernetes/helm/gaudi-values.yaml
  CodeTrans/tests/test_manifest_on_gaudi.sh
  CodeTrans/tests/test_manifest_on_xeon.sh
  DocSum/kubernetes/helm/cpu-values.yaml
  DocSum/kubernetes/helm/gaudi-values.yaml
  DocSum/tests/test_manifest_on_gaudi.sh
  DocSum/tests/test_manifest_on_xeon.sh
  FaqGen/kubernetes/helm/gaudi-values.yaml
  SearchQnA/kubernetes/helm/README.md
  SearchQnA/kubernetes/helm/cpu-values.yaml
  SearchQnA/kubernetes/helm/gaudi-values.yaml
  Text2Image/kubernetes/helm/README.md
  Text2Image/kubernetes/helm/cpu-values.yaml
  Text2Image/kubernetes/helm/gaudi-values.yaml
  Translation/tests/test_manifest_on_gaudi.sh
  Translation/tests/test_manifest_on_xeon.sh
  VisualQnA/kubernetes/helm/gaudi-values.yaml
Owners: kaokao.lv@intel.com, minmin.hou@intel.com, liang1.lv@intel.com, letong.han@intel.com, xinyao.wang@intel.com, sihan.chen@intel.com, yogesh.pandey@intel.com, wenjiao.yue@intel.com, xinyu.ye@intel.com

Fix test matrix for helm charts (#1449)
  .github/workflows/_helm-e2e.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

remove image build condition (#1456)
  .github/workflows/_example-workflow.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Update ChatQnA helm chart README. (#1459)
  ChatQnA/kubernetes/helm/README.md
Owners: liang1.lv@intel.com, letong.han@intel.com

SearchQnA App - Adding files to deploy SearchQnA application on AMD GPU (#1193)
  SearchQnA/docker_compose/amd/gpu/rocm/README.md
  SearchQnA/docker_compose/amd/gpu/rocm/compose.yaml
  SearchQnA/docker_compose/amd/gpu/rocm/set_env.sh
  SearchQnA/tests/test_compose_on_rocm.sh
Owners: sihan.chen@intel.com, letong.han@intel.com

Add docker compose yaml for text2image example (#1418)
  Text2Image/docker_compose/intel/cpu/xeon/compose.yaml
  Text2Image/docker_compose/intel/hpu/gaudi/compose.yaml
  Text2Image/docker_image_build/build.yaml
  Text2Image/tests/test_compose_on_gaudi.sh
  Text2Image/tests/test_compose_on_xeon.sh
Owners: wenjiao.yue@intel.com, xinyu.ye@intel.com

Fix image on push action due to manifest test remove (#1460)
  .github/workflows/_helm-e2e.yml
  .github/workflows/_manifest-e2e.yml
  .github/workflows/_run-docker-compose.yml
  .github/workflows/manual-example-workflow.yml
  .github/workflows/pr-docker-compose-e2e.yml
  .github/workflows/pr-gmc-e2e.yaml.disabled
  .github/workflows/pr-manifest-e2e.yml.disabled
  .github/workflows/scripts/get_test_matrix.sh
Owners: suyue.chen@intel.com, ze.pan@intel.com

Use local hub cache for AgentQnA test (#1450)
  AgentQnA/tests/step1_build_images.sh
  AgentQnA/tests/step4_launch_and_validate_agent_tgi.sh
  AgentQnA/tests/test_compose_on_gaudi.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

Restore test code. (#1502)
  .github/workflows/nightly-docker-build-publish.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

[ROCm] Fix the hf-token setting for TGI and TEI in ChatQnA (#1432)
  ChatQnA/docker_compose/amd/gpu/rocm/compose.yaml
  ChatQnA/tests/test_compose_on_rocm.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

Simplify git clone code in CI test (#1434)
  .github/workflows/_example-workflow.yml
  .github/workflows/pr-dockerfile-path-and-build-yaml-scan.yml
  AgentQnA/tests/step1_build_images.sh
  ChatQnA/tests/test_compose_guardrails_on_gaudi.sh
  ChatQnA/tests/test_compose_on_gaudi.sh
  ChatQnA/tests/test_compose_on_xeon.sh
  ChatQnA/tests/test_compose_pinecone_on_xeon.sh
  ChatQnA/tests/test_compose_qdrant_on_xeon.sh
  ChatQnA/tests/test_compose_without_rerank_on_gaudi.sh
  ChatQnA/tests/test_compose_without_rerank_on_xeon.sh
  CodeGen/tests/test_compose_on_gaudi.sh
  CodeGen/tests/test_compose_on_rocm.sh
  CodeGen/tests/test_compose_on_xeon.sh
  CodeTrans/tests/test_compose_on_gaudi.sh
  CodeTrans/tests/test_compose_on_rocm.sh
  CodeTrans/tests/test_compose_on_xeon.sh
  DBQnA/tests/test_compose_on_xeon.sh
  DocSum/tests/test_compose_on_rocm.sh
  EdgeCraftRAG/tests/test_compose_vllm_on_arc.sh
  FaqGen/tests/test_compose_on_gaudi.sh
  FaqGen/tests/test_compose_on_rocm.sh
  FaqGen/tests/test_compose_on_xeon.sh
  InstructionTuning/tests/test_compose_on_xeon.sh
Owners: suyue.chen@intel.com, ze.pan@intel.com, kaokao.lv@intel.com, minmin.hou@intel.com, liang1.lv@intel.com, letong.han@intel.com, xinyao.wang@intel.com, sihan.chen@intel.com, supriya.krishnamurthi@intel.com, yongbo.zhu@intel.com, mingyuan.qi@intel.com, yogesh.pandey@intel.com, xinyu.ye@intel.com

[Doc] Clean empty document (#1497)
  FaqGen/kubernetes/gmc/README.md
  README.md
Owners: yogesh.pandey@intel.com, xinyao.wang@intel.com, liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com

Remove kubernetes manifest related code and tests (#1466)
  .github/workflows/push-infra-issue-creation.yml
  ChatQnA/tests/common/_test_manifest_utils.sh
  ProductivitySuite/README.md
  ProductivitySuite/kubernetes/intel/README.md
  ProductivitySuite/kubernetes/intel/cpu/xeon/manifest/chat_history.yaml
  ProductivitySuite/kubernetes/intel/cpu/xeon/manifest/chatqna.yaml
  ProductivitySuite/kubernetes/intel/cpu/xeon/manifest/codegen.yaml
  ProductivitySuite/kubernetes/intel/cpu/xeon/manifest/docsum.yaml
  ProductivitySuite/kubernetes/intel/cpu/xeon/manifest/faqgen.yaml
  ProductivitySuite/kubernetes/intel/cpu/xeon/manifest/keycloak_install.yaml
  ProductivitySuite/kubernetes/intel/cpu/xeon/manifest/mongo.yaml
  ProductivitySuite/kubernetes/intel/cpu/xeon/manifest/productivity_suite_reactui.yaml
  ProductivitySuite/kubernetes/intel/cpu/xeon/manifest/prompt_registry.yaml
  ProductivitySuite/kubernetes/intel/cpu/xeon/utils
  Translation/kubernetes/intel/README.md
  Translation/kubernetes/intel/cpu/xeon/manifest/translation.yaml
  Translation/kubernetes/intel/hpu/gaudi/manifest/translation.yaml
Owners: suyue.chen@intel.com, ze.pan@intel.com, liang1.lv@intel.com, letong.han@intel.com, jaswanth.karani@intel.com, hoong.tee.yeoh@intel.com, sihan.chen@intel.com

Fix Helm-chart workflow issues. (#1448)
  .github/workflows/_helm-e2e.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

AvatarChatbot - Adding files to deploy AvatarChatbot application on AMD GPU (#1288)
  AvatarChatbot/docker_compose/amd/gpu/rocm/README.md
  AvatarChatbot/docker_compose/amd/gpu/rocm/compose.yaml
  AvatarChatbot/docker_compose/amd/gpu/rocm/set_env.sh
  AvatarChatbot/tests/test_compose_on_rocm.sh
Owners: chun.tao@intel.com, kaokao.lv@intel.com

Fix Domain Access Issue in Latest Vite Version (#1444)
  AgentQnA/ui/svelte/vite.config.ts
  AudioQnA/ui/svelte/vite.config.ts
  ChatQnA/ui/svelte/vite.config.ts
  CodeGen/ui/svelte/vite.config.ts
  CodeTrans/ui/svelte/vite.config.ts
  DocSum/ui/svelte/vite.config.ts
  FaqGen/ui/svelte/vite.config.ts
  GraphRAG/ui/svelte/vite.config.ts
  SearchQnA/ui/svelte/vite.config.ts
  Text2Image/ui/svelte/vite.config.ts
  Translation/ui/svelte/vite.config.ts
  VisualQnA/ui/svelte/vite.config.ts
Owners: kaokao.lv@intel.com, minmin.hou@intel.com, sihan.chen@intel.com, wenjiao.yue@intel.com, liang1.lv@intel.com, letong.han@intel.com, xinyao.wang@intel.com, yogesh.pandey@intel.com, rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com, xinyu.ye@intel.com

update image release workflow (#1303)
  .github/workflows/manual-docker-publish.yml
  .github/workflows/nightly-docker-build-publish.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Switch helm-chart test runs-on label. (#1446)
  .github/workflows/_helm-e2e.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Fix multimodal docker image issue for MutimodalQnA on Gaudi (#1455)
  MultimodalQnA/docker_compose/intel/hpu/gaudi/compose.yaml
  MultimodalQnA/docker_image_build/build.yaml
  MultimodalQnA/tests/test_compose_on_gaudi.sh
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

.github/CODEOWNERS:

* liang1.lv@intel.com feng.tian@intel.com suyue.chen@intel.com
/.github/ suyue.chen@intel.com ze.pan@intel.com
/AgentQnA/ kaokao.lv@intel.com minmin.hou@intel.com
/AudioQnA/ sihan.chen@intel.com wenjiao.yue@intel.com
/AvatarChatbot/ chun.tao@intel.com kaokao.lv@intel.com
/ChatQnA/ liang1.lv@intel.com letong.han@intel.com
/CodeGen/ liang1.lv@intel.com xinyao.wang@intel.com
/CodeTrans/ sihan.chen@intel.com xinyao.wang@intel.com
/DBQnA/ supriya.krishnamurthi@intel.com liang1.lv@intel.com
/DocIndexRetriever/ kaokao.lv@intel.com chendi.xue@intel.com
/DocSum/ letong.han@intel.com xinyao.wang@intel.com
/EdgeCraftRAG/ yongbo.zhu@intel.com mingyuan.qi@intel.com
/FaqGen/ yogesh.pandey@intel.com xinyao.wang@intel.com
/GraphRAG/ rita.brugarolas.brufau@intel.com abolfazl.shahbazi@intel.com
/InstructionTuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/MultimodalQnA/ melanie.h.buehler@intel.com tiep.le@intel.com
/ProductivitySuite/ jaswanth.karani@intel.com hoong.tee.yeoh@intel.com
/RerankFinetuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/SearchQnA/ sihan.chen@intel.com letong.han@intel.com
/Text2Image/ wenjiao.yue@intel.com xinyu.ye@intel.com
/Translation/ liang1.lv@intel.com sihan.chen@intel.com
/VideoQnA/ huiling.bao@intel.com xinyao.wang@intel.com
/VisualQnA/ liang1.lv@intel.com sihan.chen@intel.com
