Repository opea-project/GenAIExamples, changes with the owners that .github/CODEOWNERS names for each.
All owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com, ze.pan@intel.com, kaokao.lv@intel.com, minmin.hou@intel.com, sihan.chen@intel.com, wenjiao.yue@intel.com, chun.tao@intel.com, letong.han@intel.com, xinyao.wang@intel.com, supriya.krishnamurthi@intel.com, chendi.xue@intel.com, yongbo.zhu@intel.com, mingyuan.qi@intel.com, yogesh.pandey@intel.com, rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com, xinyu.ye@intel.com, melanie.h.buehler@intel.com, tiep.le@intel.com, jaswanth.karani@intel.com, hoong.tee.yeoh@intel.com, huiling.bao@intel.com

.github/CODEOWNERS:

* liang1.lv@intel.com feng.tian@intel.com suyue.chen@intel.com
/.github/ suyue.chen@intel.com ze.pan@intel.com
/AgentQnA/ kaokao.lv@intel.com minmin.hou@intel.com
/AudioQnA/ sihan.chen@intel.com wenjiao.yue@intel.com
/AvatarChatbot/ chun.tao@intel.com kaokao.lv@intel.com
/ChatQnA/ liang1.lv@intel.com letong.han@intel.com
/CodeGen/ liang1.lv@intel.com xinyao.wang@intel.com
/CodeTrans/ sihan.chen@intel.com xinyao.wang@intel.com
/DBQnA/ supriya.krishnamurthi@intel.com liang1.lv@intel.com
/DocIndexRetriever/ kaokao.lv@intel.com chendi.xue@intel.com
/DocSum/ letong.han@intel.com xinyao.wang@intel.com
/EdgeCraftRAG/ yongbo.zhu@intel.com mingyuan.qi@intel.com
/FaqGen/ yogesh.pandey@intel.com xinyao.wang@intel.com
/GraphRAG/ rita.brugarolas.brufau@intel.com abolfazl.shahbazi@intel.com
/InstructionTuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/MultimodalQnA/ melanie.h.buehler@intel.com tiep.le@intel.com
/ProductivitySuite/ jaswanth.karani@intel.com hoong.tee.yeoh@intel.com
/RerankFinetuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/SearchQnA/ sihan.chen@intel.com letong.han@intel.com
/Text2Image/ wenjiao.yue@intel.com xinyu.ye@intel.com
/Translation/ liang1.lv@intel.com sihan.chen@intel.com
/VideoQnA/ huiling.bao@intel.com xinyao.wang@intel.com
/VisualQnA/ liang1.lv@intel.com sihan.chen@intel.com

ChatQnA - fix files for deploy on ROCm vLLM
  ChatQnA/tests/test_compose_faqgen_vllm_on_rocm.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

Update README.md
  DocIndexRetriever/docker_compose/intel/cpu/xeon/README.md
Owners: kaokao.lv@intel.com, chendi.xue@intel.com

summarization agent integration
  FinanceAgent/README.md
  FinanceAgent/docker_compose/intel/hpu/gaudi/compose.yaml
  FinanceAgent/docker_compose/intel/hpu/gaudi/launch_agents.sh
  FinanceAgent/prompts/sum_prompt.py
  FinanceAgent/tools/sum_agent_tools.py
  FinanceAgent/tools/sum_agent_tools.yaml
Owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com

fix typo
  DocSum/tests/test_compose_tgi_on_xeon.sh
Owners: letong.han@intel.com, xinyao.wang@intel.com

ChatQnA - fix files for deploy on ROCm vLLM
  ChatQnA/tests/test_compose_faqgen_on_rocm.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

SearchQnA - fix files for deploy on ROCm vLLM
  SearchQnA/docker_compose/amd/gpu/rocm/README.md
  SearchQnA/docker_compose/amd/gpu/rocm/compose.yaml
  SearchQnA/docker_compose/amd/gpu/rocm/compose_vllm.yaml
  SearchQnA/docker_compose/amd/gpu/rocm/set_env.sh
  SearchQnA/docker_compose/amd/gpu/rocm/set_env_vllm.sh
Owners: sihan.chen@intel.com, letong.han@intel.com

SearchQnA - fix files for deploy on ROCm vLLM
  SearchQnA/docker_compose/amd/gpu/rocm/set_env.sh
  SearchQnA/docker_compose/amd/gpu/rocm/set_env_vllm.sh
  SearchQnA/tests/test_compose_on_rocm.sh
  SearchQnA/tests/test_compose_vllm_on_rocm.sh
Owners: sihan.chen@intel.com, letong.han@intel.com

SearchQnA - fix files for deploy on ROCm vLLM
  SearchQnA/docker_compose/amd/gpu/rocm/set_env.sh
Owners: sihan.chen@intel.com, letong.han@intel.com

SearchQnA - fix files for deploy on ROCm vLLM
  SearchQnA/tests/test_compose_on_rocm.sh
Owners: sihan.chen@intel.com, letong.han@intel.com

SearchQnA - fix files for deploy on ROCm vLLM
  SearchQnA/docker_compose/amd/gpu/rocm/README.md
  SearchQnA/ui/svelte/tests/searchQnA.spec.ts
Owners: sihan.chen@intel.com, letong.han@intel.com

SearchQnA - fix files for deploy on ROCm vLLM
  SearchQnA/ui/svelte/playwright.config.ts
Owners: sihan.chen@intel.com, letong.han@intel.com

SearchQnA - fix files for deploy on ROCm vLLM
  SearchQnA/ui/svelte/playwright.config.ts
  SearchQnA/ui/svelte/tests/searchQnA.spec.ts
Owners: sihan.chen@intel.com, letong.han@intel.com

SearchQnA - fix files for deploy on ROCm vLLM
  SearchQnA/tests/test_compose_on_rocm.sh
Owners: sihan.chen@intel.com, letong.han@intel.com

SearchQnA - fix files for deploy on ROCm vLLM
  SearchQnA/tests/test_compose_vllm_on_rocm.sh
Owners: sihan.chen@intel.com, letong.han@intel.com

SearchQnA - fix files for deploy on ROCm vLLM
  SearchQnA/docker_compose/amd/gpu/rocm/README.md
Owners: sihan.chen@intel.com, letong.han@intel.com

Added Web UI validation example
  SearchQnA/assets/img/searchqna-ui-response-example.png
  SearchQnA/assets/img/searchqna-ui-starting-page.png
  SearchQnA/docker_compose/amd/gpu/rocm/README.md
Owners: sihan.chen@intel.com, letong.han@intel.com

Build AMD vLLM image from Comps repo
  SearchQnA/Dockerfile-vllm-rocm
  SearchQnA/docker_image_build/build.yaml
Owners: sihan.chen@intel.com, letong.han@intel.com

[Bug: 899] Create a version of DocIndexRetriever example with Zilliz/Milvus as Vector DB (#1616)
  DocIndexRetriever/docker_compose/intel/cpu/xeon/README.md
  DocIndexRetriever/docker_compose/intel/cpu/xeon/compose_milvus.yaml
  DocIndexRetriever/docker_compose/intel/cpu/xeon/config/milvus.yaml
  DocIndexRetriever/docker_compose/intel/hpu/gaudi/README.md
  DocIndexRetriever/docker_compose/intel/hpu/gaudi/compose_milvus.yaml
  DocIndexRetriever/docker_compose/intel/hpu/gaudi/config/milvus.yaml
  DocIndexRetriever/retrieval_tool.py
  DocIndexRetriever/tests/test_compose_milvus_on_gaudi.sh
  DocIndexRetriever/tests/test_compose_milvus_on_xeon.sh
Owners: kaokao.lv@intel.com, chendi.xue@intel.com

Update vllm-rocm config from comps
  SearchQnA/docker_compose/amd/gpu/rocm/compose_vllm.yaml
  SearchQnA/tests/test_compose_vllm_on_rocm.sh
  Translation/docker_compose/amd/gpu/rocm/.README.md.kate-swp
Owners: sihan.chen@intel.com, letong.han@intel.com, liang1.lv@intel.com

ChatQnA - fix files for deploy on ROCm vLLM
  ChatQnA/docker_compose/amd/gpu/rocm/README_vLLM.md
  ChatQnA/tests/test_compose_faqgen_on_rocm.sh
  ChatQnA/tests/test_compose_on_rocm.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

ChatQnA - fix files for deploy on ROCm vLLM
  ChatQnA/tests/test_compose_faqgen_on_rocm.sh
  ChatQnA/tests/test_compose_on_rocm.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

Change Readme.md change vllm-rocm build from comps
  Translation/Dockerfile-vllm-rocm
  Translation/docker_compose/amd/gpu/rocm/README.md
  Translation/docker_image_build/build.yaml
Owners: liang1.lv@intel.com, sihan.chen@intel.com

Added response file examples
  Translation/assets/img/translation-ui-response-example.png
  Translation/assets/img/translation-ui-starting-page.png
  Translation/docker_compose/amd/gpu/rocm/README.md
Owners: liang1.lv@intel.com, sihan.chen@intel.com

ChatQnA - fix files for deploy on ROCm vLLM
  ChatQnA/tests/test_compose_faqgen_on_rocm.sh
  ChatQnA/tests/test_compose_on_rocm.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

ChatQnA - fix files for deploy on ROCm vLLM
  ChatQnA/docker_compose/amd/gpu/rocm/compose.yaml
  ChatQnA/docker_compose/amd/gpu/rocm/compose_faqgen.yaml
  ChatQnA/docker_compose/amd/gpu/rocm/compose_faqgen_vllm.yaml
Owners: liang1.lv@intel.com, letong.han@intel.com

ChatQnA - fix files for deploy on ROCm vLLM
  ChatQnA/docker_compose/amd/gpu/rocm/compose_faqgen.yaml
  ChatQnA/docker_compose/amd/gpu/rocm/set_env_faqgen.sh
  ChatQnA/tests/test_compose_faqgen_on_rocm.sh
  ChatQnA/tests/test_compose_faqgen_vllm_on_rocm.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

ChatQnA - fix files for deploy on ROCm vLLM
  ChatQnA/tests/test_compose_faqgen_on_gaudi.sh
  ChatQnA/tests/test_compose_faqgen_vllm_on_rocm.sh
  ChatQnA/ui/svelte/playwright.config.ts
Owners: liang1.lv@intel.com, letong.han@intel.com

ChatQnA - fix files for deploy on ROCm vLLM
  ChatQnA/tests/test_compose_faqgen_vllm_on_rocm.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

ChatQnA - fix files for deploy on ROCm vLLM
  ChatQnA/docker_compose/amd/gpu/rocm/compose_faqgen_vllm.yaml
Owners: liang1.lv@intel.com, letong.han@intel.com

summarization agent and supervisor tested
  FinanceAgent/docker_compose/intel/hpu/gaudi/compose.yaml
  FinanceAgent/tools/sum_agent_tools.py
  FinanceAgent/tools/supervisor_agent_tools.yaml
  FinanceAgent/tools/supervisor_tools.py
Owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com

removed agent summarization and set as supervisor tool instead
  FinanceAgent/docker_compose/intel/hpu/gaudi/compose.yaml
  FinanceAgent/docker_compose/intel/hpu/gaudi/launch_agents.sh
  FinanceAgent/prompts/sum_prompt.py
  FinanceAgent/tools/sum_agent_tools.py
  FinanceAgent/tools/sum_agent_tools.yaml
  FinanceAgent/tools/supervisor_agent_tools.yaml
  FinanceAgent/tools/supervisor_tools.py
Owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/Dockerfile-vllm-rocm
  AgentQnA/docker_compose/amd/gpu/rocm/README.md
  AgentQnA/docker_compose/amd/gpu/rocm/compose.yaml
  AgentQnA/docker_compose/amd/gpu/rocm/compose_vllm.yaml
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_tgi_rocm.sh
  AgentQnA/docker_compose/amd/gpu/rocm/set_env.sh
  AgentQnA/docker_image_build/build.yaml
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/README.md
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_vllm_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_vllm_rocm.sh
  AgentQnA/docker_compose/amd/gpu/rocm/stop_agent_service_tgi_rocm.sh
  AgentQnA/docker_compose/amd/gpu/rocm/stop_agent_service_vllm_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

Change vllm-rocm image name to image from comps
  Translation/docker_compose/amd/gpu/rocm/README.md
  Translation/docker_compose/amd/gpu/rocm/compose_vllm.yaml
Owners: liang1.lv@intel.com, sihan.chen@intel.com

Added Delay before starting validation tests
  Translation/tests/test_compose_on_rocm.sh
  Translation/tests/test_compose_vllm_on_rocm.sh
Owners: liang1.lv@intel.com, sihan.chen@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/README.md
  AgentQnA/docker_compose/amd/gpu/rocm/compose_tgi_old.yaml
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_tgi_rocm.sh
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_tgi_rocm_old.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/stop_agent_service_tgi_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/compose_tgi_old.yaml
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/compose.yaml
Owners: kaokao.lv@intel.com, minmin.hou@intel.com
