Repository opea-project/GenAIExamples, changes with the owners that .github/CODEOWNERS names for each.
All owners: sihan.chen@intel.com, liang1.lv@intel.com, letong.han@intel.com

.github/CODEOWNERS:

/AudioQnA/ sihan.chen@intel.com
/ChatQnA/ liang1.lv@intel.com
/CodeGen/ liang1.lv@intel.com
/CodeTrans/ sihan.chen@intel.com
/DocSum/ sihan.chen@intel.com
/FaqGen/ letong.han@intel.com
/SearchQnA/ letong.han@intel.com
/Translation/ liang1.lv@intel.com
/VisualQnA/ liang1.lv@intel.com

remove useless code
  FaqGen/kubernetes/manifests/FAQGen/README.md
  FaqGen/kubernetes/manifests/FAQGen/benchmark.py
  FaqGen/kubernetes/manifests/FAQGen/build_images.sh
  FaqGen/kubernetes/manifests/FAQGen/faq.yaml
  FaqGen/kubernetes/manifests/FAQGen/manifest/faq_gaudi.yaml
  FaqGen/kubernetes/manifests/FAQGen/manifest/faq_xeon.yaml
  FaqGen/kubernetes/manifests/FAQGen/manifest/ui.yaml
  FaqGen/kubernetes/manifests/benchmark.py
  FaqGen/kubernetes/manifests/split/1_tgi.yaml
  FaqGen/kubernetes/manifests/split/1_tgi_cpu.yaml
  FaqGen/kubernetes/manifests/split/2_micro.yaml
  FaqGen/kubernetes/manifests/split/2_micro_cpu.yaml
  FaqGen/kubernetes/manifests/split/3_mega.yaml
  FaqGen/kubernetes/manifests/split/3_mega_cpu.yaml
  FaqGen/kubernetes/manifests/split/4_ui.yaml
Owners: letong.han@intel.com

normalize embedding and reranking endpoint docker image name (#427)
  comps/embeddings/langchain-mosec/README.md
  comps/reranks/langchain-mosec/README.md
  tests/test_embeddings_langchain-mosec.sh
  tests/test_reranks_langchain-mosec.sh
Owners: none

add secrets for test (#436)
  .github/workflows/microservice-test.yml
Owners: none

Update dataprep default mosec embedding model in config.py (#435)
  comps/dataprep/milvus/config.py
Owners: none

bug fix
  .github/workflows/_run-docker-compose.yml
Owners: none

quite image build
  ChatQnA/tests/test_chatqna_guardrails_on_gaudi.sh
  ChatQnA/tests/test_chatqna_on_gaudi.sh
  ChatQnA/tests/test_chatqna_vllm_on_gaudi.sh
  ChatQnA/tests/test_chatqna_vllm_ray_on_gaudi.sh
Owners: liang1.lv@intel.com

fix image path
  ChatQnA/tests/test_chatqna_qdrant_on_xeon.sh
Owners: liang1.lv@intel.com

improve manifest chaqna test
  ChatQnA/tests/test_manifest_on_gaudi.sh
Owners: liang1.lv@intel.com

Convert HTML to markdown format. (#564)
  docker_images_list.md
Owners: none

Update ChatQnA readme with OpenShift instructions (#527)
  ChatQnA/README.md
Owners: liang1.lv@intel.com

inherit secrets
  .github/workflows/pr-docker-compose-e2e.yml
Owners: none

update image name
  ChatQnA/docker/gaudi/README.md
  ChatQnA/docker/gaudi/compose_vllm.yaml
  ChatQnA/docker/gaudi/compose_vllm_ray.yaml
  ChatQnA/tests/test_chatqna_vllm_on_gaudi.sh
  ChatQnA/tests/test_chatqna_vllm_ray_on_gaudi.sh
Owners: liang1.lv@intel.com

Convert HTML to markdown format.
  docker_images_list.md
Owners: none

Fix minor issue in ChatQnA Gaudi docker README
  ChatQnA/docker/gaudi/README.md
Owners: liang1.lv@intel.com

Vllm and vllm-ray bug fix (add opea for vllm, update setuptools version) (#437)
  comps/llms/README.md
  comps/llms/text-generation/vllm-ray/build_docker_vllmray.sh
  comps/llms/text-generation/vllm-ray/docker_compose_llm.yaml
  comps/llms/text-generation/vllm-ray/launch_vllmray.sh
  comps/llms/text-generation/vllm-ray/requirements.txt
  comps/llms/text-generation/vllm/README.md
  comps/llms/text-generation/vllm/build_docker_vllm.sh
  comps/llms/text-generation/vllm/docker/Dockerfile.hpu
  comps/llms/text-generation/vllm/docker_compose_llm.yaml
  comps/llms/text-generation/vllm/launch_vllm_service.sh
  tests/test_llms_text-generation_vllm-ray.sh
  tests/test_llms_text-generation_vllm.sh
Owners: none

Added unified ports for Chat History Microservice. (#449)
  comps/chathistory/mongo/README.md
  comps/chathistory/mongo/chathistory_mongo.py
  comps/chathistory/mongo/docker/docker-compose-chathistory-mongo.yaml
  tests/test_chathistory_mongo.sh
Owners: none

Support multiple image sources for LVM microservice (#451)
  comps/cores/mega/gateway.py
  comps/lvms/lvm_tgi.py
  requirements.txt
Owners: none

update test scripts
  ChatQnA/docker/xeon/README.md
  ChatQnA/docker/xeon/compose_qdrant.yaml
  ChatQnA/docker/xeon/compose_vllm.yaml
  ChatQnA/tests/test_chatqna_vllm_on_xeon.sh
Owners: liang1.lv@intel.com

improve manifest chaqna test (#565)
  ChatQnA/tests/test_manifest_on_gaudi.sh
Owners: liang1.lv@intel.com

update workflow
  .github/workflows/_image-build.yml
  .github/workflows/_run-docker-compose.yml
Owners: none

bug fix
  .github/workflows/_run-docker-compose.yml
  ChatQnA/tests/test_chatqna_qdrant_on_xeon.sh
Owners: liang1.lv@intel.com

bug fix and temp stop invalid test with prefix '_'
  ChatQnA/docker/xeon/compose_qdrant.yaml
  ChatQnA/tests/_test_chatqna_guardrails_on_gaudi.sh
  ChatQnA/tests/_test_chatqna_qdrant_on_xeon.sh
  ChatQnA/tests/_test_chatqna_vllm_on_gaudi.sh
  ChatQnA/tests/_test_chatqna_vllm_on_xeon.sh
  ChatQnA/tests/_test_chatqna_vllm_ray_on_gaudi.sh
Owners: liang1.lv@intel.com

align vllm-ray response format to tgi response format (#452)
  comps/llms/text-generation/vllm-ray/llm.py
Owners: none

update docker clean logical
  .github/workflows/_run-docker-compose.yml
  ChatQnA/docker/chatqna.py
Owners: liang1.lv@intel.com

remove test code
  .github/workflows/pr-docker-compose-e2e.yml
Owners: none

support multiple test cases for ChatQnA (#553)
  .github/workflows/_image-build.yml
  .github/workflows/_run-docker-compose.yml
  .github/workflows/pr-docker-compose-e2e.yml
  ChatQnA/docker/gaudi/README.md
  ChatQnA/docker/gaudi/compose_vllm.yaml
  ChatQnA/docker/gaudi/compose_vllm_ray.yaml
  ChatQnA/docker/xeon/README.md
  ChatQnA/docker/xeon/compose_qdrant.yaml
  ChatQnA/docker/xeon/compose_vllm.yaml
  ChatQnA/tests/_test_chatqna_guardrails_on_gaudi.sh
  ChatQnA/tests/_test_chatqna_qdrant_on_xeon.sh
  ChatQnA/tests/_test_chatqna_vllm_on_gaudi.sh
  ChatQnA/tests/_test_chatqna_vllm_on_xeon.sh
  ChatQnA/tests/_test_chatqna_vllm_ray_on_gaudi.sh
  ChatQnA/tests/test_chatqna_on_gaudi.sh
Owners: liang1.lv@intel.com

Support launch as Non-Root user in all published container images. (#406)
  comps/asr/Dockerfile
  comps/asr/whisper/Dockerfile
  comps/asr/whisper/Dockerfile_hpu
  comps/embeddings/langchain-mosec/mosec-docker/Dockerfile
  comps/llms/text-generation/vllm-xft/docker/Dockerfile
  comps/llms/text-generation/vllm/docker/Dockerfile.hpu
  comps/llms/utils/lm-eval/Dockerfile.cpu
  comps/lvms/Dockerfile
  comps/lvms/llava/Dockerfile
  comps/lvms/llava/Dockerfile_hpu
  comps/reranks/langchain-mosec/mosec-docker/Dockerfile
  comps/tts/Dockerfile
  comps/tts/speecht5/Dockerfile
  comps/tts/speecht5/Dockerfile_hpu
  comps/web_retrievers/langchain/chroma/docker/Dockerfile
  tests/test_asr_whisper.sh
  tests/test_embeddings_langchain-mosec.sh
  tests/test_lvms_llava.sh
  tests/test_reranks_langchain-mosec.sh
  tests/test_tts_speecht5.sh
  tests/test_web_retrievers_langchain_chroma.sh
Owners: none

modify service port for qdrant ci test
  ChatQnA/docker/xeon/compose_qdrant.yaml
  ChatQnA/tests/test_chatqna_qdrant_on_xeon.sh
Owners: liang1.lv@intel.com

Add E2E example test (#453)
  .github/workflows/_get-test-matrix.yml
  .github/workflows/manual-image-build.yml
  .github/workflows/mix-code-scan.yml
  .github/workflows/mix-megaservice-test.yml
  .github/workflows/mix-trellix.yml
  .github/workflows/pr-dockerfile-path-scan.yaml
  .github/workflows/pr-examples-test.yml
  .github/workflows/pr-microservice-test.yml
  .github/workflows/push-image-build.yml
  .github/workflows/reuse-image-build.yml
  .github/workflows/schedule-image-build.yml
  .github/workflows/scripts/docker_images_build_push.sh
  tests/test_asr.sh
  tests/test_tts.sh
  tests/test_workflow_chatqna.py
Owners: none

build new images for llms (#450)
  .github/workflows/docker/compose/llms-compose.yaml
Owners: none

Update Microservice CI trigger path (#458)
  .github/workflows/_get-test-matrix.yml
  .github/workflows/pr-microservice-test.yml
Owners: none

prompt_registry: Unifying API endpoint port (#443)
  comps/prompt_registry/mongo/README.md
  comps/prompt_registry/mongo/docker/docker-compose-prompt-registry-mongo.yaml
  comps/prompt_registry/mongo/prompt.py
  tests/test_prompt_registry_mongo.sh
Owners: none

fix typo
  .github/workflows/_run-docker-compose.yml
Owners: none

Fix typo in CI workflow (#570)
  .github/workflows/_run-docker-compose.yml
Owners: none

fix ffmpeg build on hpu (#441)
  comps/asr/whisper/Dockerfile_hpu
  comps/tts/speecht5/Dockerfile_hpu
Owners: none

Add path check for dockerfiles in compose.yaml and change workflow name. (#412)
  .github/workflows/pr-dockerfile-path-scan.yaml
Owners: none

Fix minor issue in ChatQnA Gaudi docker README (#567)
  ChatQnA/docker/gaudi/README.md
Owners: liang1.lv@intel.com

Fix OpenVINO vLLM build scripts and update unit test case (#446)
  comps/llms/text-generation/vllm-openvino/README.md
  comps/llms/text-generation/vllm-openvino/build_vllm_openvino.sh
  comps/llms/text-generation/vllm-openvino/launch_model_server.sh
  tests/test_llms_text-generation_vllm-openvino.sh
Owners: none

update funcs
  ChatQnA/tests/test_chatqna_qdrant_on_xeon.sh
Owners: liang1.lv@intel.com
