Repository opea-project/GenAIExamples, changes with the owners that .github/CODEOWNERS names for each.
All owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com, ze.pan@intel.com, kaokao.lv@intel.com, minmin.hou@intel.com, sihan.chen@intel.com, wenjiao.yue@intel.com, chun.tao@intel.com, letong.han@intel.com, xinyao.wang@intel.com, supriya.krishnamurthi@intel.com, chendi.xue@intel.com, yongbo.zhu@intel.com, mingyuan.qi@intel.com, yogesh.pandey@intel.com, rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com, xinyu.ye@intel.com, melanie.h.buehler@intel.com, tiep.le@intel.com, jaswanth.karani@intel.com, hoong.tee.yeoh@intel.com, huiling.bao@intel.com

update dockerfile
  AgentQnA/ui/docker/Dockerfile
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

fix dockerfile workdir
  AgentQnA/ui/docker/Dockerfile
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

remove old ui.
  AgentQnA/docker_compose/intel/hpu/gaudi/set_env.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

Update model cache path for Rocm.
  .github/workflows/_run-docker-compose.yml
  AudioQnA/docker_compose/amd/gpu/rocm/compose.yaml
  AudioQnA/tests/test_compose_on_rocm.sh
  CodeGen/docker_compose/amd/gpu/rocm/compose.yaml
  CodeTrans/docker_compose/amd/gpu/rocm/compose.yaml
  CodeTrans/tests/test_compose_on_rocm.sh
  DBQnA/docker_compose/amd/gpu/rocm/compose.yaml
  DBQnA/tests/test_compose_on_rocm.sh
  DocSum/docker_compose/amd/gpu/rocm/compose.yaml
  DocSum/tests/test_compose_on_rocm.sh
  Translation/docker_compose/amd/gpu/rocm/compose.yaml
  Translation/tests/test_compose_on_rocm.sh
  VisualQnA/docker_compose/amd/gpu/rocm/compose.yaml
  VisualQnA/tests/test_compose_on_rocm.sh
Owners: suyue.chen@intel.com, ze.pan@intel.com, sihan.chen@intel.com, wenjiao.yue@intel.com, liang1.lv@intel.com, xinyao.wang@intel.com, supriya.krishnamurthi@intel.com, letong.han@intel.com

Iteratively add image docker hub description
  .github/workflows/dockerhub-description.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Update model cache path for Rocm.
  AvatarChatbot/tests/test_compose_on_rocm.sh
Owners: chun.tao@intel.com, kaokao.lv@intel.com

Update model cache for Rocm
  MultimodalQnA/tests/test_compose_on_rocm.sh
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

Update vllm/Dockerfile.cpu to vllm/docker/Dockerfile.cpu
  AudioQnA/docker_compose/intel/cpu/xeon/README.md
  AudioQnA/docker_image_build/build.yaml
  ChatQnA/docker_image_build/build.yaml
  CodeGen/docker_image_build/build.yaml
  CodeTrans/docker_image_build/build.yaml
  DocSum/docker_image_build/build.yaml
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com, liang1.lv@intel.com, letong.han@intel.com, xinyao.wang@intel.com

update research agent prompt and tool.
  FinanceAgent/prompts/research_prompt.py
  FinanceAgent/tools/research_agent_tools.yaml
Owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com

Fix vllm and vllm-fork tags (#1766)
  .github/workflows/_build_image.yml
  AgentQnA/tests/step1_build_images.sh
  AudioQnA/docker_compose/intel/cpu/xeon/README.md
  AudioQnA/docker_compose/intel/hpu/gaudi/README.md
  AudioQnA/tests/test_compose_multilang_on_xeon.sh
  AudioQnA/tests/test_compose_on_gaudi.sh
  AudioQnA/tests/test_compose_on_xeon.sh
  ChatQnA/tests/test_compose_faqgen_on_gaudi.sh
  ChatQnA/tests/test_compose_faqgen_on_xeon.sh
  ChatQnA/tests/test_compose_faqgen_tgi_on_xeon.sh
  ChatQnA/tests/test_compose_guardrails_on_gaudi.sh
  ChatQnA/tests/test_compose_milvus_on_xeon.sh
  ChatQnA/tests/test_compose_on_gaudi.sh
  ChatQnA/tests/test_compose_on_xeon.sh
  ChatQnA/tests/test_compose_pinecone_on_xeon.sh
  ChatQnA/tests/test_compose_qdrant_on_xeon.sh
  ChatQnA/tests/test_compose_without_rerank_on_gaudi.sh
  ChatQnA/tests/test_compose_without_rerank_on_xeon.sh
  CodeGen/tests/test_compose_on_gaudi.sh
  CodeGen/tests/test_compose_on_xeon.sh
  CodeTrans/tests/test_compose_on_gaudi.sh
  CodeTrans/tests/test_compose_on_xeon.sh
  DocSum/tests/test_compose_on_gaudi.sh
  DocSum/tests/test_compose_on_xeon.sh
  WorkflowExecAgent/tests/2_start_vllm_service.sh
Owners: suyue.chen@intel.com, ze.pan@intel.com, kaokao.lv@intel.com, minmin.hou@intel.com, sihan.chen@intel.com, wenjiao.yue@intel.com, liang1.lv@intel.com, letong.han@intel.com, xinyao.wang@intel.com, feng.tian@intel.com

Update xeon README to use nginx, and instruction to access the UI.
  ChatQnA/docker_compose/intel/cpu/xeon/README.md
  SearchQnA/README.md
  SearchQnA/docker_compose/intel/cpu/xeon/README.md
  SearchQnA/searchqna.py
Owners: liang1.lv@intel.com, letong.han@intel.com, sihan.chen@intel.com

Reverting back changes
  ChatQnA/docker_compose/intel/cpu/xeon/README.md
  SearchQnA/README.md
  SearchQnA/searchqna.py
Owners: liang1.lv@intel.com, letong.han@intel.com, sihan.chen@intel.com

Merging README changes
  SearchQnA/docker_compose/intel/cpu/xeon/README.md
Owners: sihan.chen@intel.com, letong.han@intel.com

Update SearchQnA/docker_image_build/build.yaml file to include nginx in the build like ChatQnA
  SearchQnA/docker_image_build/build.yaml
Owners: sihan.chen@intel.com, letong.han@intel.com

Limit vllm and vllm-fork tags
  .github/workflows/_build_image.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

test
  .github/workflows/_build_image.yml
  .github/workflows/pr-docker-compose-e2e.yml
  CodeTrans/tests/test_compose_on_xeon.sh
Owners: suyue.chen@intel.com, ze.pan@intel.com, sihan.chen@intel.com, xinyao.wang@intel.com

Revert "test"
  .github/workflows/_build_image.yml
  .github/workflows/pr-docker-compose-e2e.yml
  AgentQnA/tests/step1_build_images.sh
  AudioQnA/docker_compose/intel/cpu/xeon/README.md
  AudioQnA/docker_compose/intel/hpu/gaudi/README.md
  AudioQnA/tests/test_compose_multilang_on_xeon.sh
  AudioQnA/tests/test_compose_on_gaudi.sh
  AudioQnA/tests/test_compose_on_xeon.sh
  ChatQnA/tests/test_compose_faqgen_on_gaudi.sh
  ChatQnA/tests/test_compose_faqgen_on_xeon.sh
  ChatQnA/tests/test_compose_faqgen_tgi_on_xeon.sh
  ChatQnA/tests/test_compose_guardrails_on_gaudi.sh
  ChatQnA/tests/test_compose_milvus_on_xeon.sh
  ChatQnA/tests/test_compose_on_gaudi.sh
  ChatQnA/tests/test_compose_on_xeon.sh
  ChatQnA/tests/test_compose_pinecone_on_xeon.sh
  ChatQnA/tests/test_compose_qdrant_on_xeon.sh
  ChatQnA/tests/test_compose_without_rerank_on_gaudi.sh
  ChatQnA/tests/test_compose_without_rerank_on_xeon.sh
  CodeGen/tests/test_compose_on_gaudi.sh
  CodeGen/tests/test_compose_on_xeon.sh
  CodeTrans/tests/test_compose_on_gaudi.sh
  CodeTrans/tests/test_compose_on_xeon.sh
  DocSum/tests/test_compose_on_gaudi.sh
  DocSum/tests/test_compose_on_xeon.sh
  WorkflowExecAgent/tests/2_start_vllm_service.sh
Owners: suyue.chen@intel.com, ze.pan@intel.com, kaokao.lv@intel.com, minmin.hou@intel.com, sihan.chen@intel.com, wenjiao.yue@intel.com, liang1.lv@intel.com, letong.han@intel.com, xinyao.wang@intel.com, feng.tian@intel.com

Fix typo
  .github/workflows/_build_image.yml
  ChatQnA/tests/test_compose_without_rerank_on_xeon.sh
  CodeGen/tests/test_compose_on_gaudi.sh
Owners: suyue.chen@intel.com, ze.pan@intel.com, liang1.lv@intel.com, letong.han@intel.com, xinyao.wang@intel.com

fix bugs
  DocIndexRetriever/docker_compose/intel/cpu/xeon/compose.yaml
  DocIndexRetriever/docker_compose/intel/hpu/gaudi/compose.yaml
Owners: kaokao.lv@intel.com, chendi.xue@intel.com

lengthen startup wait time on gaudi
  DocIndexRetriever/docker_compose/intel/cpu/xeon/compose.yaml
  DocIndexRetriever/tests/test_compose_on_gaudi.sh
Owners: kaokao.lv@intel.com, chendi.xue@intel.com

Update vllm/Dockerfile.cpu to vllm/docker/Dockerfile.cpu
  AudioQnA/docker_compose/intel/cpu/xeon/README.md
  AudioQnA/docker_image_build/build.yaml
  ChatQnA/docker_image_build/build.yaml
  CodeGen/docker_image_build/build.yaml
  CodeTrans/docker_image_build/build.yaml
  DocSum/docker_image_build/build.yaml
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com, liang1.lv@intel.com, letong.han@intel.com, xinyao.wang@intel.com

fix docformatter version
  .pre-commit-config.yaml
Owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com

fix wrong links
  docker_images_list.md
Owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com

add dockerhub login step to avoid 429 Too Many Requests
  .github/workflows/_run-docker-compose.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Add dockerhub login step to avoid 429 Too Many Requests (#1772)
  .github/workflows/_run-docker-compose.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

fix docker image clean up issue
  .github/workflows/_run-docker-compose.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

add uploading api for opea.
  AgentQnA/ui/open_webui_patches/0002-update-agent-icloud-upload-feature.patch
  AgentQnA/ui/open_webui_patches/0003-update-build-script.patch
  AgentQnA/ui/open_webui_patches/0004-enhance-tool-formating.patch
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

update dockerfile.
  AgentQnA/ui/docker/Dockerfile
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

Update .github/workflows/_run-docker-compose.yml
  .github/workflows/_run-docker-compose.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

update dockerfile format
  AgentQnA/ui/docker/Dockerfile
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

update dockerfile for removing useless files
  AgentQnA/ui/docker/Dockerfile
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

fix typo.
  AgentQnA/ui/open_webui_patches/0005-fix-tool-call-typo.patch
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

Sync values yaml file for 1.3 release
  AgentQnA/kubernetes/helm/cpu-values.yaml
  AgentQnA/kubernetes/helm/gaudi-values.yaml
  AudioQnA/kubernetes/helm/cpu-multilang-values.yaml
  AudioQnA/kubernetes/helm/cpu-tgi-values.yaml
  AudioQnA/kubernetes/helm/gaudi-tgi-values.yaml
  AudioQnA/kubernetes/helm/gaudi-values.yaml
  ChatQnA/kubernetes/helm/cpu-qdrant-values.yaml
  ChatQnA/kubernetes/helm/cpu-tgi-values.yaml
  ChatQnA/kubernetes/helm/faqgen-cpu-tgi-values.yaml
  ChatQnA/kubernetes/helm/faqgen-cpu-values.yaml
  ChatQnA/kubernetes/helm/faqgen-gaudi-tgi-values.yaml
  ChatQnA/kubernetes/helm/faqgen-gaudi-values.yaml
  ChatQnA/kubernetes/helm/gaudi-values.yaml
  ChatQnA/kubernetes/helm/guardrails-gaudi-values.yaml
  ChatQnA/kubernetes/helm/norerank-values.yaml
  CodeGen/kubernetes/helm/cpu-tgi-values.yaml
  CodeGen/kubernetes/helm/cpu-values.yaml
  CodeGen/kubernetes/helm/gaudi-tgi-values.yaml
  CodeGen/kubernetes/helm/gaudi-values.yaml
  CodeTrans/kubernetes/helm/cpu-tgi-values.yaml
  CodeTrans/kubernetes/helm/cpu-values.yaml
  CodeTrans/kubernetes/helm/gaudi-tgi-values.yaml
  CodeTrans/kubernetes/helm/gaudi-values.yaml
  DocSum/kubernetes/helm/cpu-tgi-values.yaml
  DocSum/kubernetes/helm/cpu-values.yaml
  DocSum/kubernetes/helm/gaudi-tgi-values.yaml
  DocSum/kubernetes/helm/gaudi-values.yaml
  VisualQnA/kubernetes/helm/cpu-tgi-values.yaml
  VisualQnA/kubernetes/helm/gaudi-tgi-values.yaml
  VisualQnA/kubernetes/helm/gaudi-values.yaml
Owners: kaokao.lv@intel.com, minmin.hou@intel.com, sihan.chen@intel.com, wenjiao.yue@intel.com, liang1.lv@intel.com, letong.han@intel.com, xinyao.wang@intel.com

for debug
  .github/workflows/scripts/docker_compose_clean_up.sh
Owners: suyue.chen@intel.com, ze.pan@intel.com

for debug
  .github/workflows/_run-docker-compose.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

for debug
  .github/workflows/_run-docker-compose.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Refine third parties links (#1764)
  .github/workflows/dockerhub-description.yml
  AudioQnA/docker_compose/intel/cpu/xeon/README.md
  AudioQnA/docker_compose/intel/hpu/gaudi/README.md
  AudioQnA/docker_image_build/build.yaml
  AvatarChatbot/docker_compose/amd/gpu/rocm/README.md
  AvatarChatbot/docker_compose/intel/cpu/xeon/README.md
  AvatarChatbot/docker_compose/intel/hpu/gaudi/README.md
  AvatarChatbot/docker_image_build/build.yaml
  DocSum/docker_compose/intel/cpu/xeon/README.md
  DocSum/docker_compose/intel/hpu/gaudi/README.md
  DocSum/docker_image_build/build.yaml
  MultimodalQnA/docker_compose/amd/gpu/rocm/README.md
  MultimodalQnA/docker_compose/intel/cpu/xeon/README.md
  MultimodalQnA/docker_compose/intel/hpu/gaudi/README.md
  MultimodalQnA/docker_image_build/build.yaml
  VideoQnA/docker_compose/intel/cpu/xeon/README.md
  VideoQnA/docker_image_build/build.yaml
  docker_images_list.md
Owners: suyue.chen@intel.com, ze.pan@intel.com, sihan.chen@intel.com, wenjiao.yue@intel.com, chun.tao@intel.com, kaokao.lv@intel.com, letong.han@intel.com, xinyao.wang@intel.com, melanie.h.buehler@intel.com, tiep.le@intel.com, huiling.bao@intel.com, liang1.lv@intel.com, feng.tian@intel.com

Update.
  .github/workflows/_build_image.yml
  AudioQnA/docker_compose/intel/cpu/xeon/README.md
  AudioQnA/tests/test_compose_multilang_on_xeon.sh
  AudioQnA/tests/test_compose_on_xeon.sh
  ChatQnA/tests/test_compose_faqgen_on_xeon.sh
  ChatQnA/tests/test_compose_faqgen_tgi_on_xeon.sh
  ChatQnA/tests/test_compose_milvus_on_xeon.sh
  ChatQnA/tests/test_compose_on_xeon.sh
  ChatQnA/tests/test_compose_pinecone_on_xeon.sh
  ChatQnA/tests/test_compose_qdrant_on_xeon.sh
  ChatQnA/tests/test_compose_without_rerank_on_xeon.sh
  CodeGen/tests/test_compose_on_xeon.sh
  CodeTrans/tests/test_compose_on_xeon.sh
  DocSum/tests/test_compose_on_xeon.sh
  WorkflowExecAgent/tests/2_start_vllm_service.sh
Owners: suyue.chen@intel.com, ze.pan@intel.com, sihan.chen@intel.com, wenjiao.yue@intel.com, liang1.lv@intel.com, letong.han@intel.com, xinyao.wang@intel.com, feng.tian@intel.com

add a cpu specific helm chart values file for AgentQnA
  AgentQnA/kubernetes/helm/README.md
  AgentQnA/kubernetes/helm/cpu-values.yaml
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

minor fix
  .github/workflows/_run-docker-compose.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

.github/CODEOWNERS:

* liang1.lv@intel.com feng.tian@intel.com suyue.chen@intel.com
/.github/ suyue.chen@intel.com ze.pan@intel.com
/AgentQnA/ kaokao.lv@intel.com minmin.hou@intel.com
/AudioQnA/ sihan.chen@intel.com wenjiao.yue@intel.com
/AvatarChatbot/ chun.tao@intel.com kaokao.lv@intel.com
/ChatQnA/ liang1.lv@intel.com letong.han@intel.com
/CodeGen/ liang1.lv@intel.com xinyao.wang@intel.com
/CodeTrans/ sihan.chen@intel.com xinyao.wang@intel.com
/DBQnA/ supriya.krishnamurthi@intel.com liang1.lv@intel.com
/DocIndexRetriever/ kaokao.lv@intel.com chendi.xue@intel.com
/DocSum/ letong.han@intel.com xinyao.wang@intel.com
/EdgeCraftRAG/ yongbo.zhu@intel.com mingyuan.qi@intel.com
/FaqGen/ yogesh.pandey@intel.com xinyao.wang@intel.com
/GraphRAG/ rita.brugarolas.brufau@intel.com abolfazl.shahbazi@intel.com
/InstructionTuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/MultimodalQnA/ melanie.h.buehler@intel.com tiep.le@intel.com
/ProductivitySuite/ jaswanth.karani@intel.com hoong.tee.yeoh@intel.com
/RerankFinetuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/SearchQnA/ sihan.chen@intel.com letong.han@intel.com
/Text2Image/ wenjiao.yue@intel.com xinyu.ye@intel.com
/Translation/ liang1.lv@intel.com sihan.chen@intel.com
/VideoQnA/ huiling.bao@intel.com xinyao.wang@intel.com
/VisualQnA/ liang1.lv@intel.com sihan.chen@intel.com
