Repository opea-project/GenAIExamples, changes with the owners that .github/CODEOWNERS names for each.
All owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com, ze.pan@intel.com, kaokao.lv@intel.com, minmin.hou@intel.com, sihan.chen@intel.com, wenjiao.yue@intel.com, chun.tao@intel.com, letong.han@intel.com, xinyao.wang@intel.com, supriya.krishnamurthi@intel.com, chendi.xue@intel.com, yongbo.zhu@intel.com, mingyuan.qi@intel.com, yogesh.pandey@intel.com, rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com, xinyu.ye@intel.com, melanie.h.buehler@intel.com, tiep.le@intel.com, jaswanth.karani@intel.com, hoong.tee.yeoh@intel.com, huiling.bao@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/compose_vllm.yaml
  AgentQnA/tests/step4_launch_and_validate_agent_rocm_vllm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/tests/test_compose_vllm_on_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/compose_vllm.yaml
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/tests/step4_launch_and_validate_agent_rocm_vllm.sh
  AgentQnA/tests/test_compose_vllm_on_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/tests/Chinook_Sqlite.sqlite
  AgentQnA/tests/step4_launch_and_validate_agent_rocm_vllm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/tests/Chinook_Sqlite.sqlite
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_vllm_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/compose_vllm.yaml
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/tests/test_compose_vllm_on_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_vllm_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_vllm_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

Fix async in chatqna bug (#1589)
  ChatQnA/chatqna.py
Owners: liang1.lv@intel.com, letong.han@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/README_vllm.md
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_vllm_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

Update DBQnA tgi docker image to latest tgi 2.4.0 (#1593)
  DBQnA/docker_compose/intel/cpu/xeon/README.md
  DBQnA/docker_compose/intel/cpu/xeon/compose.yaml
  DBQnA/docker_compose/intel/cpu/xeon/set_env.sh
  DBQnA/tests/test_compose_on_xeon.sh
Owners: supriya.krishnamurthi@intel.com, liang1.lv@intel.com

Use model cache for docker compose test (#1582)
  .github/workflows/_example-workflow.yml
  .github/workflows/_run-docker-compose.yml
  .github/workflows/manual-example-workflow.yml
  .github/workflows/pr-docker-compose-e2e.yml
  AudioQnA/docker_compose/intel/cpu/xeon/compose.yaml
  AudioQnA/docker_compose/intel/cpu/xeon/compose_multilang.yaml
  AudioQnA/docker_compose/intel/hpu/gaudi/compose.yaml
  AudioQnA/tests/test_compose_on_gaudi.sh
  AudioQnA/tests/test_compose_on_xeon.sh
  DBQnA/docker_compose/intel/cpu/xeon/compose.yaml
  DBQnA/tests/test_compose_on_xeon.sh
  DocIndexRetriever/docker_compose/intel/cpu/xeon/compose.yaml
  DocIndexRetriever/docker_compose/intel/cpu/xeon/compose_without_rerank.yaml
  DocIndexRetriever/docker_compose/intel/hpu/gaudi/compose.yaml
  DocIndexRetriever/tests/test_compose_on_gaudi.sh
  DocIndexRetriever/tests/test_compose_on_xeon.sh
  DocIndexRetriever/tests/test_compose_without_rerank_on_xeon.sh
  FaqGen/docker_compose/intel/cpu/xeon/compose.yaml
  FaqGen/tests/test_compose_on_gaudi.sh
  FaqGen/tests/test_compose_on_xeon.sh
  Translation/docker_compose/intel/cpu/xeon/compose.yaml
  Translation/docker_compose/intel/hpu/gaudi/compose.yaml
  Translation/tests/test_compose_on_gaudi.sh
  Translation/tests/test_compose_on_xeon.sh
  VisualQnA/docker_compose/intel/cpu/xeon/compose.yaml
  VisualQnA/docker_compose/intel/hpu/gaudi/compose.yaml
  VisualQnA/tests/test_compose_on_gaudi.sh
  VisualQnA/tests/test_compose_on_xeon.sh
Owners: suyue.chen@intel.com, ze.pan@intel.com, sihan.chen@intel.com, wenjiao.yue@intel.com, supriya.krishnamurthi@intel.com, liang1.lv@intel.com, kaokao.lv@intel.com, chendi.xue@intel.com, yogesh.pandey@intel.com, xinyao.wang@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_vllm_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

bugfix GraphRAG updated docker compose and env settings to fix issues post refactor (#1567)
  GraphRAG/README.md
  GraphRAG/docker_compose/intel/hpu/gaudi/compose.yaml
  GraphRAG/docker_compose/intel/hpu/gaudi/set_env.sh
  GraphRAG/tests/test_compose_on_gaudi.sh
Owners: rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/README_vllm.md
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

open chatqna frontend test (#1594)
  ChatQnA/tests/test_compose_on_gaudi.sh
  ChatQnA/tests/test_compose_on_rocm.sh
  ChatQnA/tests/test_compose_on_xeon.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

fix click example button issue (#1586)
  AgentQnA/ui/svelte/src/lib/components/home.svelte
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

Fix cd workflow condition (#1588)
  .github/workflows/manual-example-workflow.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/tests/step4_launch_and_validate_agent_rocm_vllm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/tests/step4_launch_and_validate_agent_rocm_vllm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_vllm_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/tests/test_compose_vllm_on_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

ChatQnA Docker compose file for Milvus as vdb (#1548)
  ChatQnA/docker_compose/intel/cpu/xeon/compose_milvus.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/milvus.yaml
  ChatQnA/tests/test_compose_milvus_on_xeon.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

Fix ChatQnA ROCm compose Readme file and absolute path for ROCM CI test (#1159)
  ChatQnA/docker_compose/amd/gpu/rocm/README.md
  ChatQnA/tests/test_compose_on_rocm.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/tests/step4_launch_and_validate_agent_rocm_vllm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/compose_vllm.yaml
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

Fix benchmark scripts (#1517)
  ChatQnA/benchmark_chatqna.yaml
  README-deploy-benchmark.md
  benchmark.py
  deploy.py
  deploy_and_benchmark.py
  requirements.txt
Owners: liang1.lv@intel.com, letong.han@intel.com, feng.tian@intel.com, suyue.chen@intel.com

Top level README: add link to github.io documentation (#1584)
  README.md
Owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com

Enable CodeGen,CodeTrans and DocSum model cache for docker compose test. (#1599)
  .github/workflows/_run-docker-compose.yml
  CodeGen/docker_compose/intel/cpu/xeon/compose.yaml
  CodeGen/docker_compose/intel/hpu/gaudi/compose.yaml
  CodeGen/tests/test_compose_on_gaudi.sh
  CodeGen/tests/test_compose_on_xeon.sh
  CodeTrans/docker_compose/intel/cpu/xeon/compose.yaml
  CodeTrans/docker_compose/intel/hpu/gaudi/compose.yaml
  CodeTrans/tests/test_compose_on_gaudi.sh
  CodeTrans/tests/test_compose_on_xeon.sh
  DocSum/docker_compose/intel/cpu/xeon/compose.yaml
  DocSum/tests/test_compose_on_gaudi.sh
  DocSum/tests/test_compose_on_xeon.sh
Owners: suyue.chen@intel.com, ze.pan@intel.com, liang1.lv@intel.com, xinyao.wang@intel.com, sihan.chen@intel.com, letong.han@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/README_vllm.md
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_vllm_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

Revert chatqna async and enhance tests (#1598)
  ChatQnA/chatqna.py
  ChatQnA/tests/test_compose_on_gaudi.sh
  ChatQnA/tests/test_compose_on_rocm.sh
  ChatQnA/tests/test_compose_on_xeon.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

Align mongo related image names with comps (#1543)
  ProductivitySuite/docker_compose/intel/cpu/xeon/README.md
  ProductivitySuite/docker_compose/intel/cpu/xeon/compose.yaml
  ProductivitySuite/docker_image_build/build.yaml
  docker_images_list.md
Owners: jaswanth.karani@intel.com, hoong.tee.yeoh@intel.com, liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_vllm_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_vllm_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_vllm_rocm.sh
  AgentQnA/tests/step4_launch_and_validate_agent_rocm_vllm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

DocSum - add files for deploy app with ROCm vLLM
  DocSum/Dockerfile-vllm-rocm
  DocSum/docker_compose/amd/gpu/rocm-vllm/README.md
  DocSum/docker_compose/amd/gpu/rocm-vllm/compose.yaml
  DocSum/docker_compose/amd/gpu/rocm-vllm/set_env.sh
  DocSum/docker_image_build/build.yaml
  DocSum/tests/test_compose_on_rocm_vllm.sh
Owners: letong.han@intel.com, xinyao.wang@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/compose_vllm.yaml
  AgentQnA/docker_compose/amd/gpu/rocm/set_env_vllm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

.github/CODEOWNERS:

* liang1.lv@intel.com feng.tian@intel.com suyue.chen@intel.com
/.github/ suyue.chen@intel.com ze.pan@intel.com
/AgentQnA/ kaokao.lv@intel.com minmin.hou@intel.com
/AudioQnA/ sihan.chen@intel.com wenjiao.yue@intel.com
/AvatarChatbot/ chun.tao@intel.com kaokao.lv@intel.com
/ChatQnA/ liang1.lv@intel.com letong.han@intel.com
/CodeGen/ liang1.lv@intel.com xinyao.wang@intel.com
/CodeTrans/ sihan.chen@intel.com xinyao.wang@intel.com
/DBQnA/ supriya.krishnamurthi@intel.com liang1.lv@intel.com
/DocIndexRetriever/ kaokao.lv@intel.com chendi.xue@intel.com
/DocSum/ letong.han@intel.com xinyao.wang@intel.com
/EdgeCraftRAG/ yongbo.zhu@intel.com mingyuan.qi@intel.com
/FaqGen/ yogesh.pandey@intel.com xinyao.wang@intel.com
/GraphRAG/ rita.brugarolas.brufau@intel.com abolfazl.shahbazi@intel.com
/InstructionTuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/MultimodalQnA/ melanie.h.buehler@intel.com tiep.le@intel.com
/ProductivitySuite/ jaswanth.karani@intel.com hoong.tee.yeoh@intel.com
/RerankFinetuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/SearchQnA/ sihan.chen@intel.com letong.han@intel.com
/Text2Image/ wenjiao.yue@intel.com xinyu.ye@intel.com
/Translation/ liang1.lv@intel.com sihan.chen@intel.com
/VideoQnA/ huiling.bao@intel.com xinyao.wang@intel.com
/VisualQnA/ liang1.lv@intel.com sihan.chen@intel.com
