Repository opea-project/GenAIExamples, changes with the owners that .github/CODEOWNERS names for each.
All owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com, ze.pan@intel.com, kaokao.lv@intel.com, minmin.hou@intel.com, sihan.chen@intel.com, wenjiao.yue@intel.com, chun.tao@intel.com, letong.han@intel.com, xinyao.wang@intel.com, supriya.krishnamurthi@intel.com, chendi.xue@intel.com, yongbo.zhu@intel.com, mingyuan.qi@intel.com, yogesh.pandey@intel.com, rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com, xinyu.ye@intel.com, melanie.h.buehler@intel.com, tiep.le@intel.com, jaswanth.karani@intel.com, hoong.tee.yeoh@intel.com, huiling.bao@intel.com

Fix vllm model cache directory (#1642)
  ChatQnA/docker_compose/intel/cpu/xeon/README.md
  ChatQnA/docker_compose/intel/cpu/xeon/README_pinecone.md
  ChatQnA/docker_compose/intel/cpu/xeon/compose.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_milvus.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_qdrant.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_without_rerank.yaml
  CodeTrans/docker_compose/intel/cpu/xeon/README.md
  CodeTrans/docker_compose/intel/cpu/xeon/compose.yaml
  CodeTrans/docker_compose/intel/hpu/gaudi/README.md
  CodeTrans/docker_compose/intel/hpu/gaudi/compose.yaml
  FaqGen/docker_compose/intel/cpu/xeon/compose.yaml
  FaqGen/docker_compose/intel/hpu/gaudi/compose.yaml
Owners: liang1.lv@intel.com, letong.han@intel.com, sihan.chen@intel.com, xinyao.wang@intel.com, yogesh.pandey@intel.com

FaqGen - add files for deploy with ROCm vLLM
  FaqGen/docker_compose/amd/gpu/rocm/README_vllm.md
Owners: yogesh.pandey@intel.com, xinyao.wang@intel.com

FaqGen - add files for deploy with ROCm vLLM
  FaqGen/tests/test_compose_vllm_on_rocm.sh
Owners: yogesh.pandey@intel.com, xinyao.wang@intel.com

FaqGen - add files for deploy with ROCm vLLM
  FaqGen/tests/test_compose_vllm_on_rocm.sh
Owners: yogesh.pandey@intel.com, xinyao.wang@intel.com

FaqGen - add files for deploy with ROCm vLLM
  FaqGen/tests/test_compose_vllm_on_rocm.sh
Owners: yogesh.pandey@intel.com, xinyao.wang@intel.com

FaqGen - add files for deploy with ROCm vLLM
  FaqGen/tests/test_compose_vllm_on_rocm.sh
Owners: yogesh.pandey@intel.com, xinyao.wang@intel.com

FaqGen - add files for deploy with ROCm vLLM
  FaqGen/tests/test_compose_vllm_on_rocm.sh
Owners: yogesh.pandey@intel.com, xinyao.wang@intel.com

add tests and readme
  VisualQnA/docker_compose/intel/cpu/xeon/README.md
  VisualQnA/docker_compose/intel/cpu/xeon/set_env.sh
  VisualQnA/docker_compose/intel/hpu/gaudi/README.md
  VisualQnA/docker_compose/intel/hpu/gaudi/compose.yaml
  VisualQnA/docker_compose/intel/hpu/gaudi/compose_tgi.yaml
  VisualQnA/docker_compose/intel/hpu/gaudi/set_env.sh
  VisualQnA/tests/test_compose_on_gaudi.sh
  VisualQnA/tests/test_compose_tgi_on_gaudi.sh
  VisualQnA/tests/test_compose_tgi_on_rocm.sh
  VisualQnA/tests/test_compose_tgi_on_xeon.sh
Owners: liang1.lv@intel.com, sihan.chen@intel.com

for tgi
  ChatQnA/docker_compose/intel/cpu/xeon/compose.telemetry.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_tgi.telemetry.yaml
Owners: liang1.lv@intel.com, letong.han@intel.com

FaqGen - add files for deploy with ROCm vLLM
  FaqGen/tests/test_compose_vllm_on_rocm.sh
Owners: yogesh.pandey@intel.com, xinyao.wang@intel.com

FaqGen - add files for deploy with ROCm vLLM
  FaqGen/tests/test_compose_vllm_on_rocm.sh
Owners: yogesh.pandey@intel.com, xinyao.wang@intel.com

for hpu
  ChatQnA/docker_compose/intel/hpu/gaudi/set_env.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

FaqGen - add files for deploy with ROCm vLLM
  FaqGen/tests/test_compose_vllm_on_rocm.sh
Owners: yogesh.pandey@intel.com, xinyao.wang@intel.com

FaqGen - add files for deploy with ROCm vLLM
  FaqGen/tests/test_compose_vllm_on_rocm.sh
Owners: yogesh.pandey@intel.com, xinyao.wang@intel.com

fix xeon tests
  VisualQnA/docker_compose/intel/cpu/xeon/README.md
  VisualQnA/docker_compose/intel/cpu/xeon/compose.yaml
  VisualQnA/docker_compose/intel/cpu/xeon/compose_tgi.yaml
  VisualQnA/docker_compose/intel/cpu/xeon/set_env.sh
  VisualQnA/docker_compose/intel/hpu/gaudi/compose.yaml
  VisualQnA/docker_compose/intel/hpu/gaudi/set_env.sh
  VisualQnA/tests/test_compose_on_gaudi.sh
  VisualQnA/tests/test_compose_on_xeon.sh
Owners: liang1.lv@intel.com, sihan.chen@intel.com

Add GitHub Action to check and close stale issues and PRs
  .github/workflows/daily_check_issue.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

update permissions
  .github/workflows/daily_check_issue.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Enhance ChatQnA test scripts (#1643)
  ChatQnA/docker_compose/intel/cpu/xeon/compose_milvus.yaml
  ChatQnA/tests/test_compose_guardrails_on_gaudi.sh
  ChatQnA/tests/test_compose_milvus_on_xeon.sh
  ChatQnA/tests/test_compose_qdrant_on_xeon.sh
  ChatQnA/tests/test_compose_tgi_on_gaudi.sh
  ChatQnA/tests/test_compose_tgi_on_xeon.sh
  ChatQnA/tests/test_compose_without_rerank_on_gaudi.sh
  ChatQnA/tests/test_compose_without_rerank_on_xeon.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

Fix
  .github/workflows/_example-workflow.yml
  .github/workflows/manual-example-workflow.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

FaqGen - add files for deploy with ROCm vLLM
  FaqGen/docker_compose/amd/gpu/rocm/README_vllm.md
Owners: yogesh.pandey@intel.com, xinyao.wang@intel.com

FaqGen - add files for deploy with ROCm vLLM
  FaqGen/docker_compose/amd/gpu/rocm/README_vllm.md
Owners: yogesh.pandey@intel.com, xinyao.wang@intel.com

FaqGen - add files for deploy with ROCm vLLM
  FaqGen/docker_compose/amd/gpu/rocm/README_vllm.md
Owners: yogesh.pandey@intel.com, xinyao.wang@intel.com

Remove test code.
  .github/workflows/_example-workflow.yml
  .github/workflows/manual-example-workflow.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Enable CodeGen vLLM service as default
  CodeGen/docker_compose/intel/cpu/xeon/.env
  CodeGen/docker_compose/intel/cpu/xeon/README.md
  CodeGen/docker_compose/intel/cpu/xeon/compose.yaml
  CodeGen/docker_compose/intel/hpu/gaudi/.env
  CodeGen/docker_compose/intel/hpu/gaudi/README.md
  CodeGen/docker_compose/intel/hpu/gaudi/compose.yaml
  CodeGen/docker_compose/set_env.sh
  CodeGen/docker_image_build/build.yaml
  CodeGen/tests/test_compose_on_gaudi.sh
  CodeGen/tests/test_compose_on_xeon.sh
Owners: liang1.lv@intel.com, xinyao.wang@intel.com

test
  .github/workflows/manual-example-workflow.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Changes per review comments
  MultimodalQnA/ui/gradio/conversation.py
  MultimodalQnA/ui/gradio/multimodalqna_ui_gradio.py
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

make ci happy
  VisualQnA/tests/test_compose_on_gaudi.sh
  VisualQnA/tests/test_compose_on_xeon.sh
  VisualQnA/tests/test_compose_tgi_on_gaudi.sh
  VisualQnA/tests/test_compose_tgi_on_rocm.sh
  VisualQnA/tests/test_compose_tgi_on_xeon.sh
Owners: liang1.lv@intel.com, sihan.chen@intel.com

Translation - add files for deploy with ROCm vLLM
  Translation/Dockerfile-vllm-rocm
  Translation/docker_compose/amd/gpu/rocm/compose_vllm.yaml
  Translation/docker_compose/amd/gpu/rocm/set_env_vllm.sh
  Translation/docker_image_build/build.yaml
Owners: liang1.lv@intel.com, sihan.chen@intel.com

Translation - add files for deploy with ROCm vLLM
  Translation/tests/test_compose_vllm_on_rocm.sh
Owners: liang1.lv@intel.com, sihan.chen@intel.com

Translation - add files for deploy with ROCm vLLM
  Translation/docker_compose/amd/gpu/rocm/compose_vllm.yaml
Owners: liang1.lv@intel.com, sihan.chen@intel.com

fix service up check
  VisualQnA/tests/test_compose_on_gaudi.sh
  VisualQnA/tests/test_compose_tgi_on_gaudi.sh
  VisualQnA/tests/test_compose_tgi_on_xeon.sh
Owners: liang1.lv@intel.com, sihan.chen@intel.com

Translation - add files for deploy with ROCm vLLM
  Translation/docker_compose/amd/gpu/rocm/compose_vllm.yaml
Owners: liang1.lv@intel.com, sihan.chen@intel.com

Translation - add files for deploy with ROCm vLLM
  Translation/tests/test_compose_vllm_on_rocm.sh
Owners: liang1.lv@intel.com, sihan.chen@intel.com

Translation - add files for deploy with ROCm vLLM
  Translation/tests/test_compose_vllm_on_rocm.sh
Owners: liang1.lv@intel.com, sihan.chen@intel.com

Translation - add files for deploy with ROCm vLLM
  Translation/tests/test_compose_vllm_on_rocm.sh
Owners: liang1.lv@intel.com, sihan.chen@intel.com

Translation - add files for deploy with ROCm vLLM
  Translation/tests/test_compose_vllm_on_rocm.sh
Owners: liang1.lv@intel.com, sihan.chen@intel.com

Translation - add files for deploy with ROCm vLLM
  Translation/tests/test_compose_vllm_on_rocm.sh
Owners: liang1.lv@intel.com, sihan.chen@intel.com

Translation - add files for deploy with ROCm vLLM
  Translation/tests/test_compose_vllm_on_rocm.sh
Owners: liang1.lv@intel.com, sihan.chen@intel.com

Translation - add files for deploy with ROCm vLLM
  Translation/tests/test_compose_vllm_on_rocm.sh
Owners: liang1.lv@intel.com, sihan.chen@intel.com

Translation - add files for deploy with ROCm vLLM
  Translation/tests/test_compose_vllm_on_rocm.sh
Owners: liang1.lv@intel.com, sihan.chen@intel.com

.github/CODEOWNERS:

* liang1.lv@intel.com feng.tian@intel.com suyue.chen@intel.com
/.github/ suyue.chen@intel.com ze.pan@intel.com
/AgentQnA/ kaokao.lv@intel.com minmin.hou@intel.com
/AudioQnA/ sihan.chen@intel.com wenjiao.yue@intel.com
/AvatarChatbot/ chun.tao@intel.com kaokao.lv@intel.com
/ChatQnA/ liang1.lv@intel.com letong.han@intel.com
/CodeGen/ liang1.lv@intel.com xinyao.wang@intel.com
/CodeTrans/ sihan.chen@intel.com xinyao.wang@intel.com
/DBQnA/ supriya.krishnamurthi@intel.com liang1.lv@intel.com
/DocIndexRetriever/ kaokao.lv@intel.com chendi.xue@intel.com
/DocSum/ letong.han@intel.com xinyao.wang@intel.com
/EdgeCraftRAG/ yongbo.zhu@intel.com mingyuan.qi@intel.com
/FaqGen/ yogesh.pandey@intel.com xinyao.wang@intel.com
/GraphRAG/ rita.brugarolas.brufau@intel.com abolfazl.shahbazi@intel.com
/InstructionTuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/MultimodalQnA/ melanie.h.buehler@intel.com tiep.le@intel.com
/ProductivitySuite/ jaswanth.karani@intel.com hoong.tee.yeoh@intel.com
/RerankFinetuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/SearchQnA/ sihan.chen@intel.com letong.han@intel.com
/Text2Image/ wenjiao.yue@intel.com xinyu.ye@intel.com
/Translation/ liang1.lv@intel.com sihan.chen@intel.com
/VideoQnA/ huiling.bao@intel.com xinyao.wang@intel.com
/VisualQnA/ liang1.lv@intel.com sihan.chen@intel.com
