Repository opea-project/GenAIExamples, changes with the owners that .github/CODEOWNERS names for each.
All owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com, ze.pan@intel.com, kaokao.lv@intel.com, minmin.hou@intel.com, sihan.chen@intel.com, wenjiao.yue@intel.com, chun.tao@intel.com, letong.han@intel.com, xinyao.wang@intel.com, supriya.krishnamurthi@intel.com, chendi.xue@intel.com, yongbo.zhu@intel.com, mingyuan.qi@intel.com, yogesh.pandey@intel.com, rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com, xinyu.ye@intel.com, melanie.h.buehler@intel.com, tiep.le@intel.com, jaswanth.karani@intel.com, hoong.tee.yeoh@intel.com, huiling.bao@intel.com

.github/CODEOWNERS:

* liang1.lv@intel.com feng.tian@intel.com suyue.chen@intel.com
/.github/ suyue.chen@intel.com ze.pan@intel.com
/AgentQnA/ kaokao.lv@intel.com minmin.hou@intel.com
/AudioQnA/ sihan.chen@intel.com wenjiao.yue@intel.com
/AvatarChatbot/ chun.tao@intel.com kaokao.lv@intel.com
/ChatQnA/ liang1.lv@intel.com letong.han@intel.com
/CodeGen/ liang1.lv@intel.com xinyao.wang@intel.com
/CodeTrans/ sihan.chen@intel.com xinyao.wang@intel.com
/DBQnA/ supriya.krishnamurthi@intel.com liang1.lv@intel.com
/DocIndexRetriever/ kaokao.lv@intel.com chendi.xue@intel.com
/DocSum/ letong.han@intel.com xinyao.wang@intel.com
/EdgeCraftRAG/ yongbo.zhu@intel.com mingyuan.qi@intel.com
/FaqGen/ yogesh.pandey@intel.com xinyao.wang@intel.com
/GraphRAG/ rita.brugarolas.brufau@intel.com abolfazl.shahbazi@intel.com
/InstructionTuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/MultimodalQnA/ melanie.h.buehler@intel.com tiep.le@intel.com
/ProductivitySuite/ jaswanth.karani@intel.com hoong.tee.yeoh@intel.com
/RerankFinetuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/SearchQnA/ sihan.chen@intel.com letong.han@intel.com
/Text2Image/ wenjiao.yue@intel.com xinyu.ye@intel.com
/Translation/ liang1.lv@intel.com sihan.chen@intel.com
/VideoQnA/ huiling.bao@intel.com xinyao.wang@intel.com
/VisualQnA/ liang1.lv@intel.com sihan.chen@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/compose.yaml
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_tgi_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/compose.yaml
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_tgi_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/compose.yaml
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_tgi_rocm.sh
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_vllm_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/compose.yaml
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/compose.yaml
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

Check Nginx Downgrade
  Translation/docker_compose/amd/gpu/rocm/compose.yaml
  Translation/docker_compose/amd/gpu/rocm/compose_vllm.yaml
Owners: liang1.lv@intel.com, sihan.chen@intel.com

Fix for compose_vllm
  Translation/docker_compose/amd/gpu/rocm/README.md
  Translation/docker_compose/amd/gpu/rocm/compose_vllm.yaml
Owners: liang1.lv@intel.com, sihan.chen@intel.com

fix nginx start issue
  Translation/docker_compose/amd/gpu/rocm/.README.md.kate-swp
  Translation/docker_compose/amd/gpu/rocm/compose.yaml
  Translation/docker_compose/amd/gpu/rocm/compose_vllm.yaml
  Translation/tests/test_compose_on_rocm.sh
  Translation/tests/test_compose_vllm_on_rocm.sh
Owners: liang1.lv@intel.com, sihan.chen@intel.com

fix nginx test issues
  Translation/docker_compose/amd/gpu/rocm/.README.md.kate-swp
  Translation/docker_compose/amd/gpu/rocm/README.md
  Translation/docker_compose/amd/gpu/rocm/README_vllm.md
Owners: liang1.lv@intel.com, sihan.chen@intel.com

update Readme.md
  Translation/docker_compose/amd/gpu/rocm/README.md
Owners: liang1.lv@intel.com, sihan.chen@intel.com

minor fixes
  Translation/docker_compose/amd/gpu/rocm/README.md
  Translation/docker_compose/amd/gpu/rocm/compose.yaml
  Translation/docker_compose/amd/gpu/rocm/compose_vllm.yaml
Owners: liang1.lv@intel.com, sihan.chen@intel.com

modify to short file for type=stuff in test scripts
  DocSum/tests/test_compose_on_gaudi.sh
  DocSum/tests/test_compose_on_xeon.sh
  DocSum/tests/test_compose_tgi_on_gaudi.sh
  DocSum/tests/test_compose_tgi_on_xeon.sh
Owners: letong.han@intel.com, xinyao.wang@intel.com

update expected results
  DocSum/tests/test_compose_on_gaudi.sh
  DocSum/tests/test_compose_on_xeon.sh
  DocSum/tests/test_compose_tgi_on_gaudi.sh
  DocSum/tests/test_compose_tgi_on_xeon.sh
Owners: letong.han@intel.com, xinyao.wang@intel.com

fix typo
  DocSum/tests/test_compose_tgi_on_xeon.sh
Owners: letong.han@intel.com, xinyao.wang@intel.com

only test
  ChatQnA/tests/test_compose_faqgen_on_gaudi.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

Summarization agent and updated supervisor (#1722)
  FinanceAgent/README.md
  FinanceAgent/docker_compose/intel/hpu/gaudi/compose.yaml
  FinanceAgent/docker_compose/intel/hpu/gaudi/dataprep_compose.yaml
  FinanceAgent/docker_compose/intel/hpu/gaudi/launch_agents.sh
  FinanceAgent/prompts/finqa_prompt.py
  FinanceAgent/prompts/supervisor_prompt.py
  FinanceAgent/tests/test.py
  FinanceAgent/tests/test_compose_on_gaudi.sh
  FinanceAgent/tests/test_redis_finance.py
  FinanceAgent/tools/finqa_agent_tools.yaml
  FinanceAgent/tools/finqa_tools.py
  FinanceAgent/tools/redis_kv.py
  FinanceAgent/tools/research_agent_tools.yaml
  FinanceAgent/tools/sum_agent_tools.py
  FinanceAgent/tools/supervisor_agent_tools.yaml
  FinanceAgent/tools/supervisor_tools.py
  FinanceAgent/tools/utils.py
Owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com

Specify MMQnA UI to use pydantic==2.10.6 (#73)
  MultimodalQnA/ui/gradio/requirements.txt
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

Update README.md
  ChatQnA/README.md
Owners: liang1.lv@intel.com, letong.han@intel.com

modify test file
  EdgeCraftRAG/tests/test_compose_vllm_on_arc.sh
Owners: yongbo.zhu@intel.com, mingyuan.qi@intel.com

add ipex-vllm inference
  EdgeCraftRAG/README.md
  EdgeCraftRAG/docker_compose/intel/gpu/arc/compose_vllm_multi-arc.yaml
  EdgeCraftRAG/ui/gradio/ecrag_client.py
  EdgeCraftRAG/ui/gradio/ecragui.py
Owners: yongbo.zhu@intel.com, mingyuan.qi@intel.com

minor fix
  EdgeCraftRAG/tests/test_compose_vllm_on_arc.sh
Owners: yongbo.zhu@intel.com, mingyuan.qi@intel.com

minor fix
  EdgeCraftRAG/tests/test_compose_vllm_on_arc.sh
Owners: yongbo.zhu@intel.com, mingyuan.qi@intel.com

1. Add 'Readme' column in docker_images_list.md file. 2. Update the trigger strategy of dockerhub description from on push to schedule weekly
  .github/workflows/dockerhub-description.yml
  docker_images_list.md
Owners: suyue.chen@intel.com, ze.pan@intel.com, liang1.lv@intel.com, feng.tian@intel.com

fix typo in readme
  DocSum/docker_compose/intel/hpu/gaudi/README.md
Owners: letong.han@intel.com, xinyao.wang@intel.com

remove buold rocm-vllm from Dockerfile
  AgentQnA/tests/step1_build_images_rocm_vllm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

refine healthcheck endpoint to localhost:80
  DocSum/docker_compose/intel/cpu/xeon/compose.yaml
  DocSum/docker_compose/intel/cpu/xeon/compose_tgi.yaml
  DocSum/docker_compose/intel/hpu/gaudi/compose.yaml
  DocSum/docker_compose/intel/hpu/gaudi/compose_tgi.yaml
Owners: letong.han@intel.com, xinyao.wang@intel.com

Enable vllm for DocSum (#1716)
  DocSum/docker_compose/intel/cpu/xeon/README.md
  DocSum/docker_compose/intel/cpu/xeon/compose.yaml
  DocSum/docker_compose/intel/cpu/xeon/compose_tgi.yaml
  DocSum/docker_compose/intel/hpu/gaudi/README.md
  DocSum/docker_compose/intel/hpu/gaudi/compose_tgi.yaml
  DocSum/docker_compose/set_env.sh
  DocSum/docker_image_build/build.yaml
  DocSum/tests/test_compose_on_gaudi.sh
  DocSum/tests/test_compose_tgi_on_gaudi.sh
  DocSum/tests/test_compose_tgi_on_xeon.sh
Owners: letong.han@intel.com, xinyao.wang@intel.com

Use GenAIComp base image to simplify Dockerfiles - part 4/4
  AvatarChatbot/Dockerfile
Owners: chun.tao@intel.com, kaokao.lv@intel.com

Improve DocSum file handling
  DocSum/docsum.py
Owners: letong.han@intel.com, xinyao.wang@intel.com

expand example test time limit
  .github/workflows/_run-docker-compose.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

for test
  AudioQnA/tests/test_compose_on_xeon.sh
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

remove test code
  AudioQnA/tests/test_compose_on_xeon.sh
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

test
  AvatarChatbot/docker_compose/intel/hpu/gaudi/compose.yaml
  AvatarChatbot/tests/test_compose_on_gaudi.sh
Owners: chun.tao@intel.com, kaokao.lv@intel.com

update to the latest Grafana Dashboardo
  ChatQnA/docker_compose/intel/cpu/xeon/grafana/dashboards/download_opea_dashboard.sh
  ChatQnA/docker_compose/intel/cpu/xeon/set_env.sh
  ChatQnA/docker_compose/intel/hpu/gaudi/grafana/dashboards/download_opea_dashboard.sh
  ChatQnA/docker_compose/intel/hpu/gaudi/set_env.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

Expand example running timeout for the new test cluster with k8s runner set (#1723)
  .github/workflows/_run-docker-compose.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Adding files to deploy Translation application on ROCm vLLM (#1648)
  Translation/assets/img/translation-ui-response-example.png
  Translation/assets/img/translation-ui-starting-page.png
  Translation/docker_compose/amd/gpu/rocm/README.md
  Translation/docker_compose/amd/gpu/rocm/compose_vllm.yaml
  Translation/docker_compose/amd/gpu/rocm/set_env_vllm.sh
  Translation/docker_image_build/build.yaml
  Translation/tests/test_compose_vllm_on_rocm.sh
Owners: liang1.lv@intel.com, sihan.chen@intel.com

Delete .README.md.kate-swp
  Translation/docker_compose/amd/gpu/rocm/.README.md.kate-swp
Owners: liang1.lv@intel.com, sihan.chen@intel.com

Update test_compose_on_rocm.sh
  ChatQnA/tests/test_compose_on_rocm.sh
Owners: liang1.lv@intel.com, letong.han@intel.com
