Repository opea-project/GenAIExamples, changes with the owners that .github/CODEOWNERS names for each.
All owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com, ze.pan@intel.com, kaokao.lv@intel.com, minmin.hou@intel.com, sihan.chen@intel.com, wenjiao.yue@intel.com, chun.tao@intel.com, letong.han@intel.com, xinyao.wang@intel.com, supriya.krishnamurthi@intel.com, chendi.xue@intel.com, yongbo.zhu@intel.com, mingyuan.qi@intel.com, yogesh.pandey@intel.com, rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com, xinyu.ye@intel.com, melanie.h.buehler@intel.com, tiep.le@intel.com, jaswanth.karani@intel.com, hoong.tee.yeoh@intel.com, huiling.bao@intel.com

Fix workflow issues. (#1691)
  .github/workflows/_run-docker-compose.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Fix input issue for manual-image-build.yml (#1666)
  .github/workflows/_example-workflow.yml
  .github/workflows/manual-example-workflow.yml
  .github/workflows/manual-image-build.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Enhance ChatQnA test scripts (#1643)
  ChatQnA/docker_compose/intel/cpu/xeon/compose_milvus.yaml
  ChatQnA/tests/test_compose_guardrails_on_gaudi.sh
  ChatQnA/tests/test_compose_milvus_on_xeon.sh
  ChatQnA/tests/test_compose_qdrant_on_xeon.sh
  ChatQnA/tests/test_compose_tgi_on_gaudi.sh
  ChatQnA/tests/test_compose_tgi_on_xeon.sh
  ChatQnA/tests/test_compose_without_rerank_on_gaudi.sh
  ChatQnA/tests/test_compose_without_rerank_on_xeon.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

change gaudi node exporter from default one to 41612 (#1702)
  ChatQnA/docker_compose/intel/hpu/gaudi/compose.telemetry.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_tgi.telemetry.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/set_env.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

DocSum - fix files for deploy on ROCm vLLM
  DocSum/docker_compose/amd/gpu/rocm/README.md
  DocSum/docker_compose/amd/gpu/rocm/compose.yaml
Owners: letong.han@intel.com, xinyao.wang@intel.com

Revert "for new image registry test"
  .github/workflows/_build_comps_base_image.yml
  .github/workflows/_example-workflow.yml
  .github/workflows/_gmc-workflow.yml
  .github/workflows/manual-docker-publish.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

DocSum - fix files for deploy on ROCm vLLM
  DocSum/docker_compose/amd/gpu/rocm/README.md
Owners: letong.han@intel.com, xinyao.wang@intel.com

ChatQnA - fix files for deploy on ROCm vLLM
  ChatQnA/Dockerfile-vllm-rocm
  ChatQnA/docker_compose/amd/gpu/rocm/README.md
  ChatQnA/docker_compose/amd/gpu/rocm/compose.yaml
  ChatQnA/docker_compose/amd/gpu/rocm/compose_vllm.yaml
  ChatQnA/docker_compose/amd/gpu/rocm/set_env.sh
  ChatQnA/docker_image_build/build.yaml
Owners: liang1.lv@intel.com, letong.han@intel.com

ChatQnA - fix files for deploy on ROCm vLLM
  ChatQnA/docker_compose/amd/gpu/rocm/README.md
Owners: liang1.lv@intel.com, letong.han@intel.com

ChatQnA - fix files for deploy on ROCm vLLM
  ChatQnA/docker_compose/amd/gpu/rocm/README.md
Owners: liang1.lv@intel.com, letong.han@intel.com

update translation UI response format
  Translation/ui/svelte/src/lib/shared/Network.ts
Owners: liang1.lv@intel.com, sihan.chen@intel.com

enhance port release
  .github/workflows/scripts/docker_compose_clean_up.sh
Owners: suyue.chen@intel.com, ze.pan@intel.com

enhance port release bug fix
  .github/workflows/scripts/docker_compose_clean_up.sh
Owners: suyue.chen@intel.com, ze.pan@intel.com

Revert "for test only"
  .github/workflows/_run-docker-compose.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Update README.md
  AudioQnA/docker_compose/amd/gpu/rocm/README.md
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

update Translation UI
  Translation/ui/svelte/src/lib/shared/Network.ts
Owners: liang1.lv@intel.com, sihan.chen@intel.com

New UI Screenshots for mmqna-phase3 (#72)
  MultimodalQnA/README.md
  MultimodalQnA/assets/img/audio-ingestion.png
  MultimodalQnA/assets/img/audio-query.png
  MultimodalQnA/assets/img/example_query.png
  MultimodalQnA/assets/img/image-ingestion.png
  MultimodalQnA/assets/img/image-query-text.png
  MultimodalQnA/assets/img/image-query-tts.png
  MultimodalQnA/assets/img/image-query.png
  MultimodalQnA/assets/img/ingest_pdf.png
  MultimodalQnA/assets/img/mmqna-ui.png
  MultimodalQnA/assets/img/pdf-ingestion.png
  MultimodalQnA/assets/img/pdf-query.png
  MultimodalQnA/assets/img/upload-gen-captions.png
  MultimodalQnA/assets/img/upload-gen-trans.png
  MultimodalQnA/assets/img/vector-store.png
  MultimodalQnA/assets/img/video-ingestion.png
  MultimodalQnA/assets/img/video-query.png
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

Fix issue
  .github/workflows/_build_image.yml
  .github/workflows/_example-workflow.yml
  .github/workflows/_run-docker-compose.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Adds relevant audio clip in the UI query tab similar to video clip (#71)
  MultimodalQnA/assets/img/audio-query.png
  MultimodalQnA/ui/gradio/conversation.py
  MultimodalQnA/ui/gradio/multimodalqna_ui_gradio.py
  MultimodalQnA/ui/gradio/utils.py
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

Use GenAIComp base image to simplify Dockerfiles - part 3/4 (#1671)
  CodeGen/Dockerfile
  CodeTrans/Dockerfile
  MultimodalQnA/Dockerfile
Owners: liang1.lv@intel.com, xinyao.wang@intel.com, sihan.chen@intel.com, melanie.h.buehler@intel.com, tiep.le@intel.com

Enhance port release before CI test (#1704)
  .github/workflows/scripts/docker_compose_clean_up.sh
Owners: suyue.chen@intel.com, ze.pan@intel.com

Adding files to deploy AudioQnA application on ROCm vLLM (#1655)
  AudioQnA/docker_compose/amd/gpu/rocm/README.md
  AudioQnA/docker_compose/amd/gpu/rocm/compose_vllm.yaml
  AudioQnA/docker_compose/amd/gpu/rocm/set_env_vllm.sh
  AudioQnA/docker_compose/intel/cpu/xeon/README_vllm.md
  AudioQnA/docker_image_build/build.yaml
  AudioQnA/tests/test_compose_vllm_on_rocm.sh
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

refactor files of tgi on xeon
  DocSum/docker_compose/intel/cpu/xeon/compose_tgi.yaml
  DocSum/docker_compose/set_env.sh
  DocSum/tests/test_compose_tgi_on_xeon.sh
Owners: letong.han@intel.com, xinyao.wang@intel.com

Fix CD cancel issue (#1706)
  .github/workflows/_build_image.yml
  .github/workflows/_example-workflow.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

remove 3 useless environments.
  DocIndexRetriever/docker_compose/intel/cpu/xeon/README.md
  DocIndexRetriever/docker_compose/intel/cpu/xeon/compose.yaml
  DocIndexRetriever/docker_compose/intel/cpu/xeon/compose_without_rerank.yaml
  DocIndexRetriever/docker_compose/intel/hpu/gaudi/README.md
  DocIndexRetriever/docker_compose/intel/hpu/gaudi/compose.yaml
Owners: kaokao.lv@intel.com, chendi.xue@intel.com

DocSum - fix files for deploy on ROCm vLLM
  DocSum/docker_compose/amd/gpu/rocm/compose.yaml
  DocSum/docker_compose/amd/gpu/rocm/compose_vllm.yaml
  DocSum/tests/test_compose_on_rocm.sh
  DocSum/tests/test_compose_vllm_on_rocm.sh
Owners: letong.han@intel.com, xinyao.wang@intel.com

DocSum - fix files for deploy on ROCm vLLM
  DocSum/assets/img/ui-result-page.png
  DocSum/assets/img/ui-starting-page.png
  DocSum/docker_compose/amd/gpu/rocm/README.md
Owners: letong.han@intel.com, xinyao.wang@intel.com

Adding files to deploy CodeGen application on ROCm vLLM (#1544)
  CodeGen/assets/img/ui-result-page.png
  CodeGen/assets/img/ui-starting-page.png
  CodeGen/docker_compose/amd/gpu/rocm/README.md
  CodeGen/docker_compose/amd/gpu/rocm/compose_vllm.yaml
  CodeGen/docker_compose/amd/gpu/rocm/set_env_vllm.sh
  CodeGen/docker_image_build/build.yaml
  CodeGen/tests/test_compose_vllm_on_rocm.sh
Owners: liang1.lv@intel.com, xinyao.wang@intel.com

DocSum - fix files for deploy on ROCm vLLM
  DocSum/tests/test_compose_vllm_on_rocm.sh
Owners: letong.han@intel.com, xinyao.wang@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/README_vllm.md
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

Adding files to deploy CodeTrans application on ROCm vLLM (#1545)
  CodeTrans/assets/img/ui-result-page.png
  CodeTrans/assets/img/ui-starting-page.png
  CodeTrans/docker_compose/amd/gpu/rocm/README.md
  CodeTrans/docker_compose/amd/gpu/rocm/compose_vllm.yaml
  CodeTrans/docker_compose/amd/gpu/rocm/set_env_vllm.sh
  CodeTrans/docker_image_build/build.yaml
  CodeTrans/tests/test_compose_vllm_on_rocm.sh
Owners: sihan.chen@intel.com, xinyao.wang@intel.com

remove 3 useless environments. (#1708)
  DocIndexRetriever/docker_compose/intel/cpu/xeon/README.md
  DocIndexRetriever/docker_compose/intel/cpu/xeon/compose.yaml
  DocIndexRetriever/docker_compose/intel/cpu/xeon/compose_without_rerank.yaml
  DocIndexRetriever/docker_compose/intel/hpu/gaudi/README.md
  DocIndexRetriever/docker_compose/intel/hpu/gaudi/compose.yaml
Owners: kaokao.lv@intel.com, chendi.xue@intel.com

Remove FaqGen from ProductivitySuite
  ProductivitySuite/docker_compose/intel/cpu/xeon/README.md
  ProductivitySuite/docker_compose/intel/cpu/xeon/compose.yaml
  ProductivitySuite/docker_compose/intel/cpu/xeon/set_env.sh
  ProductivitySuite/docker_image_build/build.yaml
  ProductivitySuite/tests/test_compose_on_xeon.sh
Owners: jaswanth.karani@intel.com, hoong.tee.yeoh@intel.com

support vllm on xeon
  DocSum/docker_compose/intel/cpu/xeon/compose.yaml
  DocSum/docker_image_build/build.yaml
  DocSum/tests/test_compose_on_xeon.sh
  DocSum/tests/test_compose_tgi_on_xeon.sh
Owners: letong.han@intel.com, xinyao.wang@intel.com

Remove FaqGen from ProductivitySuite (#1709)
  ProductivitySuite/docker_compose/intel/cpu/xeon/README.md
  ProductivitySuite/docker_compose/intel/cpu/xeon/compose.yaml
  ProductivitySuite/docker_compose/intel/cpu/xeon/set_env.sh
  ProductivitySuite/docker_image_build/build.yaml
  ProductivitySuite/tests/test_compose_on_xeon.sh
Owners: jaswanth.karani@intel.com, hoong.tee.yeoh@intel.com

Fix issue
  .github/workflows/_build_image.yml
  .github/workflows/_example-workflow.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Update Readme.md and add MODEL_PATH var
  SearchQnA/docker_compose/amd/gpu/rocm/README.md
  SearchQnA/docker_compose/amd/gpu/rocm/README_vllm.md
  SearchQnA/docker_compose/amd/gpu/rocm/compose_vllm.yaml
Owners: sihan.chen@intel.com, letong.han@intel.com

Fix comments
  .github/workflows/_build_image.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Update README.md
  SearchQnA/docker_compose/amd/gpu/rocm/README.md
Owners: sihan.chen@intel.com, letong.han@intel.com

DocSum - fix files for deploy on ROCm vLLM
  DocSum/tests/test_compose_vllm_on_rocm.sh
Owners: letong.han@intel.com, xinyao.wang@intel.com

.github/CODEOWNERS:

* liang1.lv@intel.com feng.tian@intel.com suyue.chen@intel.com
/.github/ suyue.chen@intel.com ze.pan@intel.com
/AgentQnA/ kaokao.lv@intel.com minmin.hou@intel.com
/AudioQnA/ sihan.chen@intel.com wenjiao.yue@intel.com
/AvatarChatbot/ chun.tao@intel.com kaokao.lv@intel.com
/ChatQnA/ liang1.lv@intel.com letong.han@intel.com
/CodeGen/ liang1.lv@intel.com xinyao.wang@intel.com
/CodeTrans/ sihan.chen@intel.com xinyao.wang@intel.com
/DBQnA/ supriya.krishnamurthi@intel.com liang1.lv@intel.com
/DocIndexRetriever/ kaokao.lv@intel.com chendi.xue@intel.com
/DocSum/ letong.han@intel.com xinyao.wang@intel.com
/EdgeCraftRAG/ yongbo.zhu@intel.com mingyuan.qi@intel.com
/FaqGen/ yogesh.pandey@intel.com xinyao.wang@intel.com
/GraphRAG/ rita.brugarolas.brufau@intel.com abolfazl.shahbazi@intel.com
/InstructionTuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/MultimodalQnA/ melanie.h.buehler@intel.com tiep.le@intel.com
/ProductivitySuite/ jaswanth.karani@intel.com hoong.tee.yeoh@intel.com
/RerankFinetuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/SearchQnA/ sihan.chen@intel.com letong.han@intel.com
/Text2Image/ wenjiao.yue@intel.com xinyu.ye@intel.com
/Translation/ liang1.lv@intel.com sihan.chen@intel.com
/VideoQnA/ huiling.bao@intel.com xinyao.wang@intel.com
/VisualQnA/ liang1.lv@intel.com sihan.chen@intel.com
