Repository opea-project/GenAIExamples, changes with the owners that .github/CODEOWNERS names for each.
All owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com, ze.pan@intel.com, kaokao.lv@intel.com, minmin.hou@intel.com, sihan.chen@intel.com, wenjiao.yue@intel.com, chun.tao@intel.com, letong.han@intel.com, xinyao.wang@intel.com, supriya.krishnamurthi@intel.com, chendi.xue@intel.com, yongbo.zhu@intel.com, mingyuan.qi@intel.com, yogesh.pandey@intel.com, rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com, xinyu.ye@intel.com, melanie.h.buehler@intel.com, tiep.le@intel.com, jaswanth.karani@intel.com, hoong.tee.yeoh@intel.com, huiling.bao@intel.com

.github/CODEOWNERS:

* liang1.lv@intel.com feng.tian@intel.com suyue.chen@intel.com
/.github/ suyue.chen@intel.com ze.pan@intel.com
/AgentQnA/ kaokao.lv@intel.com minmin.hou@intel.com
/AudioQnA/ sihan.chen@intel.com wenjiao.yue@intel.com
/AvatarChatbot/ chun.tao@intel.com kaokao.lv@intel.com
/ChatQnA/ liang1.lv@intel.com letong.han@intel.com
/CodeGen/ liang1.lv@intel.com xinyao.wang@intel.com
/CodeTrans/ sihan.chen@intel.com xinyao.wang@intel.com
/DBQnA/ supriya.krishnamurthi@intel.com liang1.lv@intel.com
/DocIndexRetriever/ kaokao.lv@intel.com chendi.xue@intel.com
/DocSum/ letong.han@intel.com xinyao.wang@intel.com
/EdgeCraftRAG/ yongbo.zhu@intel.com mingyuan.qi@intel.com
/FaqGen/ yogesh.pandey@intel.com xinyao.wang@intel.com
/GraphRAG/ rita.brugarolas.brufau@intel.com abolfazl.shahbazi@intel.com
/InstructionTuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/MultimodalQnA/ melanie.h.buehler@intel.com tiep.le@intel.com
/ProductivitySuite/ jaswanth.karani@intel.com hoong.tee.yeoh@intel.com
/RerankFinetuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/SearchQnA/ sihan.chen@intel.com letong.han@intel.com
/Text2Image/ wenjiao.yue@intel.com xinyu.ye@intel.com
/Translation/ liang1.lv@intel.com sihan.chen@intel.com
/VideoQnA/ huiling.bao@intel.com xinyao.wang@intel.com
/VisualQnA/ liang1.lv@intel.com sihan.chen@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/tests/step4a_launch_and_validate_agent_tgi_on_rocm.sh
  AgentQnA/tests/test_compose_on_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/tests/step4a_launch_and_validate_agent_tgi_on_rocm.sh
  AgentQnA/tests/test_compose_on_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/tests/step4a_launch_and_validate_agent_tgi_on_rocm.sh
  AgentQnA/tests/test_compose_on_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/compose.yaml
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_tgi_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_tgi_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_tgi_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_tgi_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

always publish the images even some test failed.
  .github/workflows/nightly-docker-build-publish.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Update the trigger strategy of dockerhub description
  .github/workflows/dockerhub-description.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Update the trigger strategy of dockerhub description
  docker_images_list.md
Owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com

Add short descriptions to the images OPEA publishes on Docker Hub (#1637)
  .github/workflows/dockerhub-description.yml
  docker_images_list.md
Owners: suyue.chen@intel.com, ze.pan@intel.com, liang1.lv@intel.com, feng.tian@intel.com

Init changes for MultimodalQnA for vLLM
  MultimodalQnA/docker_compose/amd/gpu/rocm/README.md
  MultimodalQnA/docker_compose/amd/gpu/rocm/compose_vllm.yaml
  MultimodalQnA/docker_compose/amd/gpu/rocm/set_env_vllm.sh
  MultimodalQnA/docker_image_build/build.yaml
  MultimodalQnA/tests/test_compose_vllm_on_rocm.sh
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_tgi_rocm.sh
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_tgi_rocm_old.sh
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_vllm_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_vllm_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_vllm_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_vllm_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_vllm_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_vllm_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_tgi_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_tgi_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_tgi_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/compose.yaml
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_tgi_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_tgi_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

add financial research tools and prompt.
  FinanceAgent/prompts/research_prompt.py
  FinanceAgent/tools/research_agent_tools.yaml
  FinanceAgent/tools/research_tools.py
Owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/compose.yaml
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/compose.yaml
  AgentQnA/docker_compose/amd/gpu/rocm/compose_vllm.yaml
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/compose.yaml
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/compose.yaml
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/compose.yaml
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_tgi_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_tgi_rocm_old.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_vllm_rocm.sh
  AgentQnA/docker_compose/amd/gpu/rocm/stop_agent_service_tgi_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/stop_agent_service_tgi_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/stop_agent_service_vllm_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/tests/step4a_launch_and_validate_agent_tgi_on_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/tests/step4a_launch_and_validate_agent_tgi_on_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/tests/step4a_launch_and_validate_agent_tgi_on_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/tests/step4a_launch_and_validate_agent_tgi_on_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/tests/test_compose_on_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com
