Repository opea-project/GenAIExamples, changes with the owners that .github/CODEOWNERS names for each.
All owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com, ze.pan@intel.com, kaokao.lv@intel.com, minmin.hou@intel.com, sihan.chen@intel.com, wenjiao.yue@intel.com, chun.tao@intel.com, letong.han@intel.com, xinyao.wang@intel.com, supriya.krishnamurthi@intel.com, chendi.xue@intel.com, yongbo.zhu@intel.com, mingyuan.qi@intel.com, yogesh.pandey@intel.com, rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com, xinyu.ye@intel.com, melanie.h.buehler@intel.com, tiep.le@intel.com, jaswanth.karani@intel.com, hoong.tee.yeoh@intel.com, huiling.bao@intel.com

.github/CODEOWNERS:

* liang1.lv@intel.com feng.tian@intel.com suyue.chen@intel.com
/.github/ suyue.chen@intel.com ze.pan@intel.com
/AgentQnA/ kaokao.lv@intel.com minmin.hou@intel.com
/AudioQnA/ sihan.chen@intel.com wenjiao.yue@intel.com
/AvatarChatbot/ chun.tao@intel.com kaokao.lv@intel.com
/ChatQnA/ liang1.lv@intel.com letong.han@intel.com
/CodeGen/ liang1.lv@intel.com xinyao.wang@intel.com
/CodeTrans/ sihan.chen@intel.com xinyao.wang@intel.com
/DBQnA/ supriya.krishnamurthi@intel.com liang1.lv@intel.com
/DocIndexRetriever/ kaokao.lv@intel.com chendi.xue@intel.com
/DocSum/ letong.han@intel.com xinyao.wang@intel.com
/EdgeCraftRAG/ yongbo.zhu@intel.com mingyuan.qi@intel.com
/FaqGen/ yogesh.pandey@intel.com xinyao.wang@intel.com
/GraphRAG/ rita.brugarolas.brufau@intel.com abolfazl.shahbazi@intel.com
/InstructionTuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/MultimodalQnA/ melanie.h.buehler@intel.com tiep.le@intel.com
/ProductivitySuite/ jaswanth.karani@intel.com hoong.tee.yeoh@intel.com
/RerankFinetuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/SearchQnA/ sihan.chen@intel.com letong.han@intel.com
/Text2Image/ wenjiao.yue@intel.com xinyu.ye@intel.com
/Translation/ liang1.lv@intel.com sihan.chen@intel.com
/VideoQnA/ huiling.bao@intel.com xinyao.wang@intel.com
/VisualQnA/ liang1.lv@intel.com sihan.chen@intel.com

Update compose.yaml for AgentQnA
  AgentQnA/tests/step2_start_retrieval_tool.sh
  AgentQnA/tests/step4_launch_and_validate_agent_gaudi.sh
  AgentQnA/tests/step4a_launch_and_validate_agent_tgi_on_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

modify parameters to be configurable
  CodeTrans/docker_compose/intel/hpu/gaudi/compose.yaml
  CodeTrans/docker_compose/set_env.sh
  CodeTrans/tests/test_compose_on_gaudi.sh
Owners: sihan.chen@intel.com, xinyao.wang@intel.com

[ChatQnA] show spinner after query to improve user experience (#1003)
  ChatQnA/ui/svelte/src/lib/shared/components/loading/Spinner.svelte
  ChatQnA/ui/svelte/src/routes/+page.svelte
Owners: liang1.lv@intel.com, letong.han@intel.com

Enable vllm for CodeTrans (#1626)
  CodeTrans/docker_compose/intel/cpu/xeon/README.md
  CodeTrans/docker_compose/intel/cpu/xeon/compose_tgi.yaml
  CodeTrans/docker_compose/intel/hpu/gaudi/README.md
  CodeTrans/docker_compose/intel/hpu/gaudi/compose.yaml
  CodeTrans/docker_compose/intel/hpu/gaudi/compose_tgi.yaml
  CodeTrans/docker_compose/set_env.sh
  CodeTrans/docker_image_build/build.yaml
  CodeTrans/tests/test_compose_on_gaudi.sh
  CodeTrans/tests/test_compose_tgi_on_gaudi.sh
  CodeTrans/tests/test_compose_tgi_on_xeon.sh
Owners: sihan.chen@intel.com, xinyao.wang@intel.com

Update model cache for AgentQnA (#1627)
  AgentQnA/docker_compose/amd/gpu/rocm/compose.yaml
  AgentQnA/tests/step2_start_retrieval_tool.sh
  AgentQnA/tests/step4_launch_and_validate_agent_gaudi.sh
  AgentQnA/tests/step4a_launch_and_validate_agent_tgi_on_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

[Bug: 112] Fix introduction in GenAIExamples main README
  README.md
Owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com

Use GenAIComp base image to simplify Dockerfiles (#1612)
  AudioQnA/Dockerfile
  AudioQnA/Dockerfile.multilang
  DocIndexRetriever/Dockerfile
  EdgeCraftRAG/Dockerfile
  FaqGen/Dockerfile
  VideoQnA/Dockerfile
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com, kaokao.lv@intel.com, chendi.xue@intel.com, yongbo.zhu@intel.com, mingyuan.qi@intel.com, yogesh.pandey@intel.com, xinyao.wang@intel.com, huiling.bao@intel.com

AgentQnA - fix tests for Gaudi
  AgentQnA/tests/test_compose_on_gaudi.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

[Bug: 112] Fix introduction in GenAIExamples main README (#1631)
  README.md
Owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com

vllm VisualQnA support
  VisualQnA/docker_compose/intel/cpu/xeon/compose_tgi.yaml
  VisualQnA/docker_compose/intel/cpu/xeon/set_env.sh
Owners: liang1.lv@intel.com, sihan.chen@intel.com

fix corner issue, when the example path deleted
  .github/workflows/scripts/get_test_matrix.sh
Owners: suyue.chen@intel.com, ze.pan@intel.com

Fix corner CI issue when the example path deleted (#1634)
  .github/workflows/scripts/get_test_matrix.sh
Owners: suyue.chen@intel.com, ze.pan@intel.com

Fix the model cache dir in vllm container
  ChatQnA/docker_compose/intel/cpu/xeon/README.md
  ChatQnA/docker_compose/intel/cpu/xeon/README_pinecone.md
  ChatQnA/docker_compose/intel/cpu/xeon/compose.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_milvus.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_qdrant.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_without_rerank.yaml
Owners: liang1.lv@intel.com, letong.han@intel.com

Update for CodeTrans
  CodeTrans/docker_compose/intel/cpu/xeon/README.md
  CodeTrans/docker_compose/intel/cpu/xeon/compose.yaml
  CodeTrans/docker_compose/intel/hpu/gaudi/README.md
  CodeTrans/docker_compose/intel/hpu/gaudi/compose.yaml
Owners: sihan.chen@intel.com, xinyao.wang@intel.com

always use the latest HabanaAI/vllm-fork release tag to build vllm-gaudi image
  .github/workflows/_example-workflow.yml
  AgentQnA/tests/step1_build_images.sh
  ChatQnA/tests/test_compose_guardrails_on_gaudi.sh
  ChatQnA/tests/test_compose_on_gaudi.sh
  ChatQnA/tests/test_compose_without_rerank_on_gaudi.sh
  CodeTrans/tests/test_compose_on_gaudi.sh
Owners: suyue.chen@intel.com, ze.pan@intel.com, kaokao.lv@intel.com, minmin.hou@intel.com, liang1.lv@intel.com, letong.han@intel.com, sihan.chen@intel.com, xinyao.wang@intel.com

[Feature: 316] Add short descriptions to the images OPEA publishes on Docker Hub
  .github/workflows/dockerhub-description.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

[ChatQnA] Show spinner after query to improve user experience (#1003) (#1628)
  ChatQnA/ui/svelte/src/lib/shared/components/loading/Spinner.svelte
  ChatQnA/ui/svelte/src/routes/+page.svelte
Owners: liang1.lv@intel.com, letong.han@intel.com

Update compose.yaml for AgentQnA
  AgentQnA/tests/step2_start_retrieval_tool.sh
  AgentQnA/tests/step4_launch_and_validate_agent_gaudi.sh
  AgentQnA/tests/step4a_launch_and_validate_agent_tgi_on_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

Use GenAIComp base image to simplify Dockerfiles & reduce image sizes
  AvatarChatbot/Dockerfile
  ChatQnA/Dockerfile
  ChatQnA/Dockerfile.guardrails
  ChatQnA/Dockerfile.without_rerank
  CodeGen/Dockerfile
  CodeTrans/Dockerfile
  DocSum/Dockerfile
  GraphRAG/Dockerfile
  MultimodalQnA/Dockerfile
  SearchQnA/Dockerfile
  Translation/Dockerfile
  VisualQnA/Dockerfile
Owners: chun.tao@intel.com, kaokao.lv@intel.com, liang1.lv@intel.com, letong.han@intel.com, xinyao.wang@intel.com, sihan.chen@intel.com, rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com, melanie.h.buehler@intel.com, tiep.le@intel.com

only test
  MultimodalQnA/tests/test_compose_on_rocm.sh
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

Use the latest HabanaAI/vllm-fork release tag to build vllm-gaudi image (#1635)
  .github/workflows/_example-workflow.yml
  AgentQnA/tests/step1_build_images.sh
  ChatQnA/tests/test_compose_guardrails_on_gaudi.sh
  ChatQnA/tests/test_compose_on_gaudi.sh
  ChatQnA/tests/test_compose_without_rerank_on_gaudi.sh
  CodeTrans/tests/test_compose_on_gaudi.sh
Owners: suyue.chen@intel.com, ze.pan@intel.com, kaokao.lv@intel.com, minmin.hou@intel.com, liang1.lv@intel.com, letong.han@intel.com, sihan.chen@intel.com, xinyao.wang@intel.com

Use GenAIComp base image to simplify Dockerfiles & reduce image sizes
  ChatQnA/Dockerfile
  ChatQnA/Dockerfile.guardrails
  ChatQnA/Dockerfile.without_rerank
  DocSum/Dockerfile
  GraphRAG/Dockerfile
  SearchQnA/Dockerfile
  Translation/Dockerfile
  VisualQnA/Dockerfile
Owners: liang1.lv@intel.com, letong.han@intel.com, xinyao.wang@intel.com, rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com, sihan.chen@intel.com

Fix
  .github/workflows/_example-workflow.yml
  .github/workflows/manual-example-workflow.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Restrict file media types to known/working formats
  MultimodalQnA/ui/gradio/multimodalqna_ui_gradio.py
  MultimodalQnA/ui/gradio/utils.py
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

Remove extra whitespace
  MultimodalQnA/ui/gradio/multimodalqna_ui_gradio.py
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

Fix test_compose_on_gaudi.sh script's diff not syncing with phase3
  MultimodalQnA/tests/test_compose_on_gaudi.sh
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

Enable Prometheus and Grafana docker compose under telemetry.yaml file
  ChatQnA/docker_compose/intel/cpu/xeon/compose.telemetry.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_tgi.telemetry.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/grafana/dashboards/chatqna_megaservice_grafana.json
  ChatQnA/docker_compose/intel/cpu/xeon/grafana/dashboards/cpu_grafana.json
  ChatQnA/docker_compose/intel/cpu/xeon/grafana/dashboards/dataprep_microservice_grafana.json
  ChatQnA/docker_compose/intel/cpu/xeon/grafana/dashboards/embedding_microservice_grafana.json
  ChatQnA/docker_compose/intel/cpu/xeon/grafana/dashboards/gaudi_grafana.json
  ChatQnA/docker_compose/intel/cpu/xeon/grafana/dashboards/milvus_grafana.json
  ChatQnA/docker_compose/intel/cpu/xeon/grafana/dashboards/node_grafana.json
  ChatQnA/docker_compose/intel/cpu/xeon/grafana/dashboards/qdrant_grafana.json
  ChatQnA/docker_compose/intel/cpu/xeon/grafana/dashboards/redis_grafana.json
  ChatQnA/docker_compose/intel/cpu/xeon/grafana/dashboards/rerank_microservice_grafana.json
  ChatQnA/docker_compose/intel/cpu/xeon/grafana/dashboards/retrieval_microservice_grafana.json
  ChatQnA/docker_compose/intel/cpu/xeon/grafana/dashboards/tei_grafana.json
  ChatQnA/docker_compose/intel/cpu/xeon/grafana/dashboards/tgi_grafana.json
  ChatQnA/docker_compose/intel/cpu/xeon/grafana/dashboards/vllm_grafana.json
  ChatQnA/docker_compose/intel/cpu/xeon/grafana/provisioning/dashboards/local.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/grafana/provisioning/datasources/datasource.yml
  ChatQnA/docker_compose/intel/cpu/xeon/prometheus.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose.telemetry.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_tgi.telemetry.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/grafana/dashboards/chatqna_megaservice_grafana.json
  ChatQnA/docker_compose/intel/hpu/gaudi/grafana/dashboards/cpu_grafana.json
  ChatQnA/docker_compose/intel/hpu/gaudi/grafana/dashboards/dataprep_microservice_grafana.json
  ChatQnA/docker_compose/intel/hpu/gaudi/grafana/dashboards/embedding_microservice_grafana.json
  ChatQnA/docker_compose/intel/hpu/gaudi/grafana/dashboards/gaudi_grafana.json
  ChatQnA/docker_compose/intel/hpu/gaudi/grafana/dashboards/milvus_grafana.json
  ChatQnA/docker_compose/intel/hpu/gaudi/grafana/dashboards/node_grafana.json
  ChatQnA/docker_compose/intel/hpu/gaudi/grafana/dashboards/qdrant_grafana.json
  ChatQnA/docker_compose/intel/hpu/gaudi/grafana/dashboards/redis_grafana.json
  ChatQnA/docker_compose/intel/hpu/gaudi/grafana/dashboards/rerank_microservice_grafana.json
  ChatQnA/docker_compose/intel/hpu/gaudi/grafana/dashboards/retrieval_microservice_grafana.json
  ChatQnA/docker_compose/intel/hpu/gaudi/grafana/dashboards/tei_grafana.json
  ChatQnA/docker_compose/intel/hpu/gaudi/grafana/dashboards/tgi_grafana.json
  ChatQnA/docker_compose/intel/hpu/gaudi/grafana/dashboards/vllm_grafana.json
  ChatQnA/docker_compose/intel/hpu/gaudi/grafana/provisioning/dashboards/local.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/grafana/provisioning/datasources/datasource.yml
  ChatQnA/docker_compose/intel/hpu/gaudi/prometheus.yaml
Owners: liang1.lv@intel.com, letong.han@intel.com

Update README.md
  ChatQnA/README.md
Owners: liang1.lv@intel.com, letong.han@intel.com

add no_proxy setting into set_env.sh
  ChatQnA/Dockerfile
  ChatQnA/docker_compose/intel/cpu/xeon/set_env.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

fix
  ChatQnA/Dockerfile
Owners: liang1.lv@intel.com, letong.han@intel.com

[Bug: 899] Create a version of DocIndexRetriever example with Zilliz/Milvus as Vector DB
  DocIndexRetriever/docker_compose/intel/cpu/xeon/README.md
  DocIndexRetriever/docker_compose/intel/cpu/xeon/compose_milvus.yaml
  DocIndexRetriever/docker_compose/intel/cpu/xeon/config/milvus.yaml
  DocIndexRetriever/docker_compose/intel/hpu/gaudi/compose_milvus.yaml
  DocIndexRetriever/docker_compose/intel/hpu/gaudi/config/milvus.yaml
  DocIndexRetriever/retrieval_tool.py
  DocIndexRetriever/tests/test_compose_milvus_on_gaudi.sh
  DocIndexRetriever/tests/test_compose_milvus_on_xeon.sh
Owners: kaokao.lv@intel.com, chendi.xue@intel.com

Enable CodeGen vLLM service as default
  CodeGen/docker_compose/intel/cpu/xeon/README.md
  CodeGen/docker_compose/intel/cpu/xeon/compose.yaml
  CodeGen/docker_compose/intel/hpu/gaudi/README.md
  CodeGen/docker_compose/intel/hpu/gaudi/compose.yaml
  CodeGen/docker_compose/set_env.sh
  CodeGen/docker_image_build/build.yaml
  CodeGen/tests/test_compose_on_gaudi.sh
  CodeGen/tests/test_compose_on_xeon.sh
Owners: liang1.lv@intel.com, xinyao.wang@intel.com

add jaeger ip into no proxy
  ChatQnA/docker_compose/intel/cpu/xeon/compose.telemetry.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/set_env.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

Set vLLM as default model for FaqGen (#1580)
  FaqGen/docker_compose/intel/cpu/xeon/README.md
  FaqGen/docker_compose/intel/cpu/xeon/compose_tgi.yaml
  FaqGen/docker_compose/intel/hpu/gaudi/README.md
  FaqGen/docker_compose/intel/hpu/gaudi/compose.yaml
  FaqGen/docker_compose/intel/hpu/gaudi/compose_tgi.yaml
  FaqGen/tests/test_compose_on_xeon.sh
  FaqGen/tests/test_compose_tgi_on_gaudi.sh
  FaqGen/tests/test_compose_tgi_on_xeon.sh
Owners: yogesh.pandey@intel.com, xinyao.wang@intel.com

Update for faqgen
  FaqGen/docker_compose/intel/cpu/xeon/compose.yaml
  FaqGen/docker_compose/intel/hpu/gaudi/compose.yaml
Owners: yogesh.pandey@intel.com, xinyao.wang@intel.com

enhance validate response checking
  ChatQnA/tests/test_compose_guardrails_on_gaudi.sh
  ChatQnA/tests/test_compose_milvus_on_xeon.sh
  ChatQnA/tests/test_compose_qdrant_on_xeon.sh
  ChatQnA/tests/test_compose_tgi_on_gaudi.sh
  ChatQnA/tests/test_compose_tgi_on_xeon.sh
  ChatQnA/tests/test_compose_without_rerank_on_gaudi.sh
  ChatQnA/tests/test_compose_without_rerank_on_xeon.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

add model cache for milvus test
  ChatQnA/docker_compose/intel/cpu/xeon/compose_milvus.yaml
  ChatQnA/tests/test_compose_milvus_on_xeon.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

FaqGen - add files for deploy with ROCm vLLM
  FaqGen/docker_compose/amd/gpu/rocm/compose_vllm.yaml
  FaqGen/docker_compose/amd/gpu/rocm/set_env_vllm.sh
Owners: yogesh.pandey@intel.com, xinyao.wang@intel.com

FaqGen - add files for deploy with ROCm vLLM
  FaqGen/docker_compose/amd/gpu/rocm/set_env_vllm.sh
Owners: yogesh.pandey@intel.com, xinyao.wang@intel.com

FaqGen - add files for deploy with ROCm vLLM
  FaqGen/docker_compose/amd/gpu/rocm/README_vllm.md
  FaqGen/docker_compose/amd/gpu/rocm/set_env_vllm.sh
Owners: yogesh.pandey@intel.com, xinyao.wang@intel.com
