Repository opea-project/GenAIExamples, changes with the owners that .github/CODEOWNERS names for each.
All owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com, ze.pan@intel.com, kaokao.lv@intel.com, minmin.hou@intel.com, sihan.chen@intel.com, wenjiao.yue@intel.com, chun.tao@intel.com, letong.han@intel.com, xinyao.wang@intel.com, supriya.krishnamurthi@intel.com, chendi.xue@intel.com, yongbo.zhu@intel.com, mingyuan.qi@intel.com, yogesh.pandey@intel.com, rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com, xinyu.ye@intel.com, melanie.h.buehler@intel.com, tiep.le@intel.com, jaswanth.karani@intel.com, hoong.tee.yeoh@intel.com, huiling.bao@intel.com

.github/CODEOWNERS:

* liang1.lv@intel.com feng.tian@intel.com suyue.chen@intel.com
/.github/ suyue.chen@intel.com ze.pan@intel.com
/AgentQnA/ kaokao.lv@intel.com minmin.hou@intel.com
/AudioQnA/ sihan.chen@intel.com wenjiao.yue@intel.com
/AvatarChatbot/ chun.tao@intel.com kaokao.lv@intel.com
/ChatQnA/ liang1.lv@intel.com letong.han@intel.com
/CodeGen/ liang1.lv@intel.com xinyao.wang@intel.com
/CodeTrans/ sihan.chen@intel.com xinyao.wang@intel.com
/DBQnA/ supriya.krishnamurthi@intel.com liang1.lv@intel.com
/DocIndexRetriever/ kaokao.lv@intel.com chendi.xue@intel.com
/DocSum/ letong.han@intel.com xinyao.wang@intel.com
/EdgeCraftRAG/ yongbo.zhu@intel.com mingyuan.qi@intel.com
/FaqGen/ yogesh.pandey@intel.com xinyao.wang@intel.com
/GraphRAG/ rita.brugarolas.brufau@intel.com abolfazl.shahbazi@intel.com
/InstructionTuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/MultimodalQnA/ melanie.h.buehler@intel.com tiep.le@intel.com
/ProductivitySuite/ jaswanth.karani@intel.com hoong.tee.yeoh@intel.com
/RerankFinetuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/SearchQnA/ sihan.chen@intel.com letong.han@intel.com
/Text2Image/ wenjiao.yue@intel.com xinyu.ye@intel.com
/Translation/ liang1.lv@intel.com sihan.chen@intel.com
/VideoQnA/ huiling.bao@intel.com xinyao.wang@intel.com
/VisualQnA/ liang1.lv@intel.com sihan.chen@intel.com

ChatQnA - fix files for deploy on ROCm vLLM
  ChatQnA/docker_compose/amd/gpu/rocm/compose_vllm_faqgen.yaml
  ChatQnA/docker_compose/amd/gpu/rocm/set_env_vllm_faqgen.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

ChatQnA - fix files for deploy on ROCm vLLM
  ChatQnA/docker_compose/amd/gpu/rocm/README.md
Owners: liang1.lv@intel.com, letong.han@intel.com

ChatQnA - fix files for deploy on ROCm vLLM
  ChatQnA/docker_compose/amd/gpu/rocm/README.md
  ChatQnA/docker_compose/amd/gpu/rocm/compose.yaml
  ChatQnA/docker_compose/amd/gpu/rocm/compose_faqgen.yaml
  ChatQnA/docker_compose/amd/gpu/rocm/compose_faqgen_vllm.yaml
  ChatQnA/docker_compose/amd/gpu/rocm/set_env_faqgen.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

ChatQnA - fix files for deploy on ROCm vLLM
  ChatQnA/docker_compose/amd/gpu/rocm/README.md
  ChatQnA/docker_compose/amd/gpu/rocm/compose_faqgen_vllm.yaml
  ChatQnA/docker_compose/amd/gpu/rocm/compose_vllm.yaml
Owners: liang1.lv@intel.com, letong.han@intel.com

Update Readme.md and set_env files
  SearchQnA/docker_compose/amd/gpu/rocm/README.md
  SearchQnA/docker_compose/amd/gpu/rocm/set_env.sh
  SearchQnA/docker_compose/amd/gpu/rocm/set_env_vllm.sh
Owners: sihan.chen@intel.com, letong.han@intel.com

ChatQnA - fix files for deploy on ROCm vLLM
  ChatQnA/docker_compose/amd/gpu/rocm/compose_faqgen_vllm.yaml
Owners: liang1.lv@intel.com, letong.han@intel.com

ChatQnA - fix files for deploy on ROCm vLLM
  ChatQnA/docker_compose/amd/gpu/rocm/README.md
  ChatQnA/docker_compose/amd/gpu/rocm/compose_vllm.yaml
  ChatQnA/docker_compose/amd/gpu/rocm/set_env_vllm.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

ChatQnA - fix files for deploy on ROCm vLLM
  ChatQnA/assets/img/ui-result-page-faqgen.png
  ChatQnA/assets/img/ui-starting-page.png
Owners: liang1.lv@intel.com, letong.han@intel.com

ChatQnA - fix files for deploy on ROCm vLLM
  ChatQnA/docker_compose/amd/gpu/rocm/set_env_vllm.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

Add sleep before running validate
  SearchQnA/tests/test_compose_on_rocm.sh
  SearchQnA/tests/test_compose_vllm_on_rocm.sh
Owners: sihan.chen@intel.com, letong.han@intel.com

support vllm in DocSum gaudi and refine related files
  DocSum/docker_compose/intel/cpu/xeon/README.md
  DocSum/docker_compose/intel/cpu/xeon/compose.yaml
  DocSum/docker_compose/intel/hpu/gaudi/README.md
  DocSum/docker_compose/intel/hpu/gaudi/compose_tgi.yaml
  DocSum/tests/test_compose_on_gaudi.sh
  DocSum/tests/test_compose_tgi_on_gaudi.sh
  DocSum/tests/test_compose_tgi_on_xeon.sh
Owners: letong.han@intel.com, xinyao.wang@intel.com

ChatQnA - fix files for deploy on ROCm vLLM
  ChatQnA/assets/img/ui-result-page-faqgen-vllm.png
  ChatQnA/assets/img/ui-result-page-vllm.png
  ChatQnA/docker_compose/amd/gpu/rocm/README.md
  ChatQnA/docker_compose/amd/gpu/rocm/compose.yaml
  ChatQnA/docker_compose/amd/gpu/rocm/set_env.sh
  ChatQnA/docker_compose/amd/gpu/rocm/set_env_faqgen_vllm.sh
  ChatQnA/docker_compose/amd/gpu/rocm/set_env_vllm.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

ChatQnA - fix files for deploy on ROCm vLLM
  ChatQnA/docker_compose/amd/gpu/rocm/compose.yaml
Owners: liang1.lv@intel.com, letong.han@intel.com

ChatQnA - fix files for deploy on ROCm vLLM
  ChatQnA/docker_compose/amd/gpu/rocm/set_env.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

update expected results of long text tests
  DocSum/tests/test_compose_on_gaudi.sh
  DocSum/tests/test_compose_on_xeon.sh
  DocSum/tests/test_compose_tgi_on_gaudi.sh
  DocSum/tests/test_compose_tgi_on_xeon.sh
Owners: letong.han@intel.com, xinyao.wang@intel.com

ChatQnA - fix files for deploy on ROCm vLLM
  ChatQnA/docker_compose/amd/gpu/rocm/compose_faqgen.yaml
  ChatQnA/docker_compose/amd/gpu/rocm/set_env_faqgen.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

ChatQnA - fix files for deploy on ROCm vLLM
  ChatQnA/docker_compose/amd/gpu/rocm/compose_faqgen.yaml
Owners: liang1.lv@intel.com, letong.han@intel.com

typo for docker image
  AgentQnA/docker_compose/intel/cpu/xeon/compose_openai.yaml
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

[docs] Multimodal Endpoints Issue (#1700)
  MultimodalQnA/README.md
  MultimodalQnA/docker_compose/amd/gpu/rocm/README.md
  MultimodalQnA/docker_compose/intel/cpu/xeon/README.md
  MultimodalQnA/docker_compose/intel/hpu/gaudi/README.md
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

ChatQnA - fix files for deploy on ROCm vLLM
  ChatQnA/assets/img/ui-result-page-faqgen.png
  ChatQnA/assets/img/ui-result-page.png
  ChatQnA/docker_compose/amd/gpu/rocm/README.md
Owners: liang1.lv@intel.com, letong.han@intel.com

Increase timeout before tests
  SearchQnA/tests/test_compose_on_rocm.sh
  SearchQnA/tests/test_compose_vllm_on_rocm.sh
Owners: sihan.chen@intel.com, letong.han@intel.com

ChatQnA - fix files for deploy on ROCm vLLM
  ChatQnA/docker_compose/amd/gpu/rocm/set_env_faqgen.sh
  ChatQnA/tests/test_compose_faqgen_on_rocm.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

SearchQnA - fix files for deploy on ROCm vLLM
  SearchQnA/tests/test_compose_on_rocm.sh
Owners: sihan.chen@intel.com, letong.han@intel.com

SearchQnA - fix files for deploy on ROCm vLLM
  SearchQnA/docker_compose/amd/gpu/rocm/compose.yaml
Owners: sihan.chen@intel.com, letong.han@intel.com

refine test case
  DocSum/tests/test_compose_on_gaudi.sh
  DocSum/tests/test_compose_on_xeon.sh
  DocSum/tests/test_compose_tgi_on_gaudi.sh
  DocSum/tests/test_compose_tgi_on_xeon.sh
Owners: letong.han@intel.com, xinyao.wang@intel.com

SearchQnA - fix files for deploy on ROCm vLLM
  ChatQnA/tests/test_compose_on_rocm.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

typo for docker image (#1717)
  AgentQnA/docker_compose/intel/cpu/xeon/compose_openai.yaml
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

SearchQnA - fix files for deploy on ROCm vLLM
  ChatQnA/tests/test_compose_on_rocm.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

SearchQnA - fix files for deploy on ROCm vLLM
  ChatQnA/tests/test_compose_on_rocm.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

SearchQnA - fix files for deploy on ROCm vLLM
  ChatQnA/docker_compose/amd/gpu/rocm/compose.yaml
  ChatQnA/tests/test_compose_on_rocm.sh
  ChatQnA/ui/svelte/playwright.config.ts
Owners: liang1.lv@intel.com, letong.han@intel.com

SearchQnA - fix files for deploy on ROCm vLLM
  ChatQnA/tests/test_compose_on_rocm.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

ChatQnA - fix files for deploy on ROCm vLLM
  ChatQnA/tests/test_compose_on_rocm.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

ChatQnA - fix files for deploy on ROCm vLLM
  ChatQnA/tests/test_compose_on_rocm.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

ChatQnA - fix files for deploy on ROCm vLLM
  ChatQnA/docker_compose/amd/gpu/rocm/compose.yaml
  ChatQnA/tests/test_compose_on_rocm.sh
  ChatQnA/ui/svelte/playwright.config.ts
Owners: liang1.lv@intel.com, letong.han@intel.com

ChatQnA - fix files for deploy on ROCm vLLM
  ChatQnA/tests/test_compose_faqgen_on_rocm.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

ChatQnA - fix files for deploy on ROCm vLLM
  ChatQnA/tests/test_compose_on_rocm.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

ChatQnA - fix files for deploy on ROCm vLLM
  ChatQnA/docker_compose/amd/gpu/rocm/compose_faqgen.yaml
Owners: liang1.lv@intel.com, letong.han@intel.com

ChatQnA - fix files for deploy on ROCm vLLM
  ChatQnA/tests/test_compose_faqgen_on_rocm.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

ChatQnA - fix files for deploy on ROCm vLLM
  ChatQnA/tests/test_compose_faqgen_on_rocm.sh
  ChatQnA/tests/test_compose_vllm_on_rocm.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

ChatQnA - fix files for deploy on ROCm vLLM
  ChatQnA/tests/test_compose_vllm_on_rocm.sh
Owners: liang1.lv@intel.com, letong.han@intel.com
