Repository opea-project/GenAIExamples, changes with the owners that .github/CODEOWNERS names for each.
All owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com, ze.pan@intel.com, kaokao.lv@intel.com, minmin.hou@intel.com, sihan.chen@intel.com, wenjiao.yue@intel.com, chun.tao@intel.com, letong.han@intel.com, xinyao.wang@intel.com, supriya.krishnamurthi@intel.com, chendi.xue@intel.com, yongbo.zhu@intel.com, mingyuan.qi@intel.com, yogesh.pandey@intel.com, rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com, xinyu.ye@intel.com, melanie.h.buehler@intel.com, tiep.le@intel.com, jaswanth.karani@intel.com, hoong.tee.yeoh@intel.com, huiling.bao@intel.com

.github/CODEOWNERS:

* liang1.lv@intel.com feng.tian@intel.com suyue.chen@intel.com
/.github/ suyue.chen@intel.com ze.pan@intel.com
/AgentQnA/ kaokao.lv@intel.com minmin.hou@intel.com
/AudioQnA/ sihan.chen@intel.com wenjiao.yue@intel.com
/AvatarChatbot/ chun.tao@intel.com kaokao.lv@intel.com
/ChatQnA/ liang1.lv@intel.com letong.han@intel.com
/CodeGen/ liang1.lv@intel.com xinyao.wang@intel.com
/CodeTrans/ sihan.chen@intel.com xinyao.wang@intel.com
/DBQnA/ supriya.krishnamurthi@intel.com liang1.lv@intel.com
/DocIndexRetriever/ kaokao.lv@intel.com chendi.xue@intel.com
/DocSum/ letong.han@intel.com xinyao.wang@intel.com
/EdgeCraftRAG/ yongbo.zhu@intel.com mingyuan.qi@intel.com
/FaqGen/ yogesh.pandey@intel.com xinyao.wang@intel.com
/GraphRAG/ rita.brugarolas.brufau@intel.com abolfazl.shahbazi@intel.com
/InstructionTuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/MultimodalQnA/ melanie.h.buehler@intel.com tiep.le@intel.com
/ProductivitySuite/ jaswanth.karani@intel.com hoong.tee.yeoh@intel.com
/RerankFinetuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/SearchQnA/ sihan.chen@intel.com letong.han@intel.com
/Text2Image/ wenjiao.yue@intel.com xinyu.ye@intel.com
/Translation/ liang1.lv@intel.com sihan.chen@intel.com
/VideoQnA/ huiling.bao@intel.com xinyao.wang@intel.com
/VisualQnA/ liang1.lv@intel.com sihan.chen@intel.com

Update Dockerfile
  MultimodalQnA/Dockerfile
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

Fix workflow issues. (#1691)
  .github/workflows/_run-docker-compose.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Enable base image build in CI/CD (#1669)
  .github/workflows/_build_comps_base_image.yml
  .github/workflows/manual-example-workflow.yml
  .github/workflows/nightly-docker-build-publish.yml
  .github/workflows/weekly-update-images.yml
  DocSum/Dockerfile
  DocSum/docker_image_build/build.yaml
  DocSum/tests/test_compose_on_gaudi.sh
  DocSum/tests/test_compose_on_rocm.sh
  DocSum/tests/test_compose_on_xeon.sh
Owners: suyue.chen@intel.com, ze.pan@intel.com, letong.han@intel.com, xinyao.wang@intel.com

CodeTrans - fix files for deploy on ROCm
  CodeGen/docker_compose/amd/gpu/rocm/README.md
Owners: liang1.lv@intel.com, xinyao.wang@intel.com

CodeGen - fix files for deploy on ROCm
  CodeGen/docker_compose/amd/gpu/rocm/compose.yaml
  CodeGen/docker_compose/amd/gpu/rocm/compose_vllm.yaml
  CodeGen/tests/test_compose_on_rocm.sh
Owners: liang1.lv@intel.com, xinyao.wang@intel.com

Combine all ChatQnA related docker images into one
  ChatQnA/Dockerfile
  ChatQnA/Dockerfile.faqgen
  ChatQnA/Dockerfile.guardrails
  ChatQnA/Dockerfile.without_rerank
  ChatQnA/docker_compose/amd/gpu/rocm/README.md
  ChatQnA/docker_compose/amd/gpu/rocm/compose_faqgen.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/README.md
  ChatQnA/docker_compose/intel/cpu/xeon/compose_faqgen.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_faqgen_tgi.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_without_rerank.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/README.md
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_faqgen.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_faqgen_tgi.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_guardrails.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_without_rerank.yaml
  ChatQnA/docker_image_build/build.yaml
  ChatQnA/entrypoint.sh
  ChatQnA/tests/test_compose_faqgen_on_gaudi.sh
  ChatQnA/tests/test_compose_faqgen_on_rocm.sh
  ChatQnA/tests/test_compose_faqgen_on_xeon.sh
  ChatQnA/tests/test_compose_faqgen_tgi_on_gaudi.sh
  ChatQnA/tests/test_compose_faqgen_tgi_on_xeon.sh
  ChatQnA/tests/test_compose_guardrails_on_gaudi.sh
  ChatQnA/tests/test_compose_without_rerank_on_gaudi.sh
  ChatQnA/tests/test_compose_without_rerank_on_xeon.sh
  docker_images_list.md
Owners: liang1.lv@intel.com, letong.han@intel.com, feng.tian@intel.com, suyue.chen@intel.com

CodeTrans - fix files for deploy on ROCm
  CodeTrans/assets/img/ui-result-page.png
  CodeTrans/assets/img/ui-starting-page.png
  CodeTrans/docker_compose/amd/gpu/rocm/README.md
Owners: sihan.chen@intel.com, xinyao.wang@intel.com

CodeGen - fix files for deploy on ROCm
  CodeGen/tests/test_compose_on_rocm.sh
Owners: liang1.lv@intel.com, xinyao.wang@intel.com

CodeGen - fix files for deploy on ROCm
  CodeGen/tests/test_compose_on_rocm.sh
  CodeGen/tests/test_compose_vllm_on_rocm.sh
Owners: liang1.lv@intel.com, xinyao.wang@intel.com

CodeTrans - fix files for deploy on ROCm
  CodeTrans/tests/test_compose_on_rocm.sh
  CodeTrans/tests/test_compose_vllm_on_rocm.sh
Owners: sihan.chen@intel.com, xinyao.wang@intel.com

CodeTrans - fix files for deploy on ROCm
  CodeGen/tests/test_compose_vllm_on_rocm.sh
Owners: liang1.lv@intel.com, xinyao.wang@intel.com

for ut
  ChatQnA/Dockerfile
  ChatQnA/Dockerfile.guardrails
  ChatQnA/Dockerfile.without_rerank
  ChatQnA/chatqna.py
  ChatQnA/entrypoint.sh
  ChatQnA/tests/test_compose_guardrails_on_gaudi.sh
  ChatQnA/tests/test_compose_milvus_on_xeon.sh
  ChatQnA/tests/test_compose_on_gaudi.sh
  ChatQnA/tests/test_compose_on_rocm.sh
  ChatQnA/tests/test_compose_on_xeon.sh
  ChatQnA/tests/test_compose_pinecone_on_xeon.sh
  ChatQnA/tests/test_compose_qdrant_on_xeon.sh
  ChatQnA/tests/test_compose_tgi_on_gaudi.sh
  ChatQnA/tests/test_compose_tgi_on_xeon.sh
  ChatQnA/tests/test_compose_without_rerank_on_gaudi.sh
  ChatQnA/tests/test_compose_without_rerank_on_xeon.sh
  ChatQnA/tests/test_gmc_on_gaudi.sh
  ChatQnA/tests/test_gmc_on_xeon.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

CodeTrans - fix files for deploy on ROCm
  CodeTrans/docker_compose/amd/gpu/rocm/README.md
Owners: sihan.chen@intel.com, xinyao.wang@intel.com

fix xeon flow
  MultimodalQnA/README.md
  MultimodalQnA/docker_compose/amd/gpu/rocm/README.md
  MultimodalQnA/docker_compose/intel/cpu/xeon/README.md
  MultimodalQnA/docker_compose/intel/cpu/xeon/compose.yaml
  MultimodalQnA/docker_compose/intel/cpu/xeon/set_env.sh
  MultimodalQnA/docker_compose/intel/hpu/gaudi/README.md
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

CodeGen - fix files for deploy on ROCm
  CodeGen/docker_compose/amd/gpu/rocm/README.md
Owners: liang1.lv@intel.com, xinyao.wang@intel.com

CodeGen - fix files for deploy on ROCm
  CodeGen/docker_compose/amd/gpu/rocm/README.md
Owners: liang1.lv@intel.com, xinyao.wang@intel.com

test
  ChatQnA/chatqna.py
Owners: liang1.lv@intel.com, letong.han@intel.com

Fix VideoQnA
  VideoQnA/docker_compose/intel/cpu/xeon/README.md
  VideoQnA/docker_compose/intel/cpu/xeon/compose.yaml
  VideoQnA/docker_compose/intel/cpu/xeon/set_env.sh
  VideoQnA/docker_image_build/build.yaml
  VideoQnA/tests/test_compose_on_xeon.sh
  VideoQnA/videoqna.py
Owners: huiling.bao@intel.com, xinyao.wang@intel.com

FaqGen - fix files for deploy on ROCm
  FaqGen/Dockerfile-vllm-rocm
  FaqGen/docker_compose/amd/gpu/rocm/README.md
  FaqGen/docker_compose/amd/gpu/rocm/compose.yaml
  FaqGen/docker_compose/amd/gpu/rocm/compose_vllm.yaml
  FaqGen/docker_compose/amd/gpu/rocm/set_env.sh
  FaqGen/docker_image_build/build.yaml
Owners: yogesh.pandey@intel.com, xinyao.wang@intel.com

FaqGen - fix files for deploy on ROCm
  FaqGen/docker_compose/amd/gpu/rocm/compose_vllm.yaml
  FaqGen/tests/test_compose_on_rocm.sh
  FaqGen/tests/test_compose_vllm_on_rocm.sh
Owners: yogesh.pandey@intel.com, xinyao.wang@intel.com

FaqGen - fix files for deploy on ROCm
  FaqGen/assets/img/ui-result-page.png
  FaqGen/assets/img/ui-starting-page.png
  FaqGen/docker_compose/amd/gpu/rocm/README.md
  FaqGen/docker_compose/amd/gpu/rocm/compose_vllm.yaml
  FaqGen/docker_compose/amd/gpu/rocm/set_env_vllm.sh
Owners: yogesh.pandey@intel.com, xinyao.wang@intel.com

test
  ChatQnA/Dockerfile.guardrails
  ChatQnA/Dockerfile.without_rerank
  ChatQnA/entrypoint.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

FaqGen - fix files for deploy on ROCm
  FaqGen/docker_compose/amd/gpu/rocm/set_env_vllm.sh
Owners: yogesh.pandey@intel.com, xinyao.wang@intel.com

FaqGen - fix files for deploy on ROCm
  FaqGen/docker_image_build/build.yaml
Owners: yogesh.pandey@intel.com, xinyao.wang@intel.com

FaqGen - fix files for deploy on ROCm
  FaqGen/docker_compose/amd/gpu/rocm/README.md
  FaqGen/docker_compose/amd/gpu/rocm/compose_vllm.yaml
Owners: yogesh.pandey@intel.com, xinyao.wang@intel.com

FaqGen - fix files for deploy on ROCm
  FaqGen/docker_compose/amd/gpu/rocm/compose.yaml
Owners: yogesh.pandey@intel.com, xinyao.wang@intel.com

FaqGen - fix files for deploy on ROCm
  FaqGen/docker_compose/amd/gpu/rocm/compose.yaml
  FaqGen/docker_compose/amd/gpu/rocm/set_env.sh
Owners: yogesh.pandey@intel.com, xinyao.wang@intel.com

FaqGen - fix files for deploy on ROCm
  FaqGen/docker_compose/amd/gpu/rocm/compose.yaml
Owners: yogesh.pandey@intel.com, xinyao.wang@intel.com

FaqGen - fix files for deploy on ROCm
  FaqGen/docker_compose/amd/gpu/rocm/compose.yaml
Owners: yogesh.pandey@intel.com, xinyao.wang@intel.com

FaqGen - fix files for deploy on ROCm
  FaqGen/docker_compose/amd/gpu/rocm/README.md
Owners: yogesh.pandey@intel.com, xinyao.wang@intel.com

test
  ChatQnA/tests/test_compose_guardrails_on_gaudi.sh
  ChatQnA/tests/test_compose_milvus_on_xeon.sh
  ChatQnA/tests/test_compose_on_gaudi.sh
  ChatQnA/tests/test_compose_on_xeon.sh
  ChatQnA/tests/test_compose_pinecone_on_xeon.sh
  ChatQnA/tests/test_compose_qdrant_on_xeon.sh
  ChatQnA/tests/test_compose_tgi_on_gaudi.sh
  ChatQnA/tests/test_compose_tgi_on_xeon.sh
  ChatQnA/tests/test_compose_without_rerank_on_gaudi.sh
  ChatQnA/tests/test_compose_without_rerank_on_xeon.sh
  ChatQnA/tests/test_gmc_on_gaudi.sh
  ChatQnA/tests/test_gmc_on_xeon.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

FaqGen - fix files for deploy on ROCm
  FaqGen/docker_compose/amd/gpu/rocm/README.md
  FaqGen/docker_compose/amd/gpu/rocm/compose_vllm.yaml
Owners: yogesh.pandey@intel.com, xinyao.wang@intel.com

DocSum - fix files for deploy on ROCm
  DocSum/docker_compose/amd/gpu/rocm/README.md
  DocSum/docker_compose/amd/gpu/rocm/compose.yaml
  DocSum/docker_compose/amd/gpu/rocm/compose_vllm.yaml
  DocSum/docker_compose/amd/gpu/rocm/set_env.sh
  DocSum/docker_compose/amd/gpu/rocm/set_env_vllm.sh
  DocSum/docker_image_build/build.yaml
Owners: letong.han@intel.com, xinyao.wang@intel.com

DocSum - fix files for deploy on ROCm
  DocSum/docker_compose/amd/gpu/rocm/README.md
Owners: letong.han@intel.com, xinyao.wang@intel.com

DocSum - fix files for deploy on ROCm
  DocSum/docker_compose/amd/gpu/rocm/compose_vllm.yaml
Owners: letong.han@intel.com, xinyao.wang@intel.com

DocSum - fix files for deploy on ROCm
  DocSum/docker_compose/amd/gpu/rocm/compose.yaml
Owners: letong.han@intel.com, xinyao.wang@intel.com

DocSum - fix files for deploy on ROCm
  DocSum/docker_compose/amd/gpu/rocm/compose.yaml
Owners: letong.han@intel.com, xinyao.wang@intel.com

DocSum - fix files for deploy on ROCm
  DocSum/docker_compose/amd/gpu/rocm/set_env_vllm.sh
Owners: letong.han@intel.com, xinyao.wang@intel.com

DocSum - fix files for deploy on ROCm
  DocSum/docker_compose/amd/gpu/rocm/set_env.sh
  DocSum/docker_compose/amd/gpu/rocm/set_env_vllm.sh
Owners: letong.han@intel.com, xinyao.wang@intel.com

Adds audio response toggle button to UI (#67)
  MultimodalQnA/ui/gradio/conversation.py
  MultimodalQnA/ui/gradio/multimodalqna_ui_gradio.py
  MultimodalQnA/ui/gradio/requirements.txt
  MultimodalQnA/ui/gradio/utils.py
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com
