Repository opea-project/GenAIExamples, changes with the owners that .github/CODEOWNERS names for each.
All owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com, ze.pan@intel.com, kaokao.lv@intel.com, minmin.hou@intel.com, sihan.chen@intel.com, wenjiao.yue@intel.com, chun.tao@intel.com, letong.han@intel.com, xinyao.wang@intel.com, supriya.krishnamurthi@intel.com, chendi.xue@intel.com, yongbo.zhu@intel.com, mingyuan.qi@intel.com, yogesh.pandey@intel.com, rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com, xinyu.ye@intel.com, melanie.h.buehler@intel.com, tiep.le@intel.com, jaswanth.karani@intel.com, hoong.tee.yeoh@intel.com, huiling.bao@intel.com

Modified Dockerfile for megaservice tests to pass until merge
  MultimodalQnA/Dockerfile
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

Change test git clones (#69)
  MultimodalQnA/tests/test_compose_on_gaudi.sh
  MultimodalQnA/tests/test_compose_on_rocm.sh
  MultimodalQnA/tests/test_compose_on_xeon.sh
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

fix errors for running AgentQnA on xeon with openai and update readme (#1664)
  AgentQnA/README.md
  AgentQnA/docker_compose/intel/cpu/xeon/README.md
  AgentQnA/docker_compose/intel/cpu/xeon/compose_openai.yaml
  AgentQnA/docker_compose/intel/hpu/gaudi/README.md
  AgentQnA/tests/_test_compose_openai_on_xeon.sh
  AgentQnA/tests/step4_launch_and_validate_agent_openai.sh
  AgentQnA/ui/svelte/README.md
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

DocSum - fix files for deploy on ROCm
  DocSum/tests/test_compose_on_rocm.sh
Owners: letong.han@intel.com, xinyao.wang@intel.com

AudioQnA - add files for deploy with ROCm vLLM
  AudioQnA/docker_compose/amd/gpu/rocm/set_env_vllm.sh
  AudioQnA/tests/test_compose_vllm_on_rocm.sh
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

AudioQnA - add files for deploy with ROCm vLLM
  AudioQnA/docker_compose/amd/gpu/rocm/compose_vllm.yaml
  AudioQnA/docker_compose/amd/gpu/rocm/set_env_vllm.sh
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

AudioQnA - add files for deploy with ROCm vLLM
  AudioQnA/Dockerfile-vllm-rocm
  AudioQnA/docker_image_build/build.yaml
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

AudioQnA - add files for deploy with ROCm vLLM
  AudioQnA/tests/test_compose_vllm_on_rocm.sh
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

AudioQnA - add files for deploy with ROCm vLLM
  AudioQnA/docker_compose/amd/gpu/rocm/set_env_vllm.sh
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

AudioQnA - add files for deploy with ROCm vLLM
  AudioQnA/docker_compose/amd/gpu/rocm/set_env_vllm.sh
  AudioQnA/tests/test_compose_vllm_on_rocm.sh
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

AudioQnA - add files for deploy with ROCm vLLM
  AudioQnA/docker_compose/amd/gpu/rocm/compose_vllm.yaml
  AudioQnA/docker_image_build/build.yaml
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

AudioQnA - add files for deploy with ROCm vLLM
  AudioQnA/tests/test_compose_vllm_on_rocm.sh
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

AudioQnA - add files for deploy with ROCm vLLM
  AudioQnA/docker_compose/amd/gpu/rocm/set_env_vllm.sh
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

Update README.md
  AudioQnA/docker_compose/amd/gpu/rocm/README.md
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

AudioQnA - add files for deploy with ROCm vLLM
  AudioQnA/docker_compose/intel/cpu/xeon/README_vllm.md
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

Update README.md
  AudioQnA/docker_compose/amd/gpu/rocm/README.md
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

AudioQnA - add files for deploy with ROCm vLLM
  AudioQnA/Dockerfile-vllm-rocm
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

AudioQnA - add files for deploy with ROCm vLLM
  AudioQnA/tests/test_compose_vllm_on_rocm.sh
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

AudioQnA - add files for deploy with ROCm vLLM
  AudioQnA/docker_compose/intel/cpu/xeon/README_vllm.md
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

Update README.md
  AudioQnA/docker_compose/amd/gpu/rocm/README.md
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

for new image registry test
  .github/workflows/_build_comps_base_image.yml
  .github/workflows/_example-workflow.yml
  .github/workflows/_gmc-workflow.yml
  .github/workflows/manual-docker-publish.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

for test only
  .github/workflows/_run-docker-compose.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

update multimodal retrieval endpoint
  MultimodalQnA/README.md
  MultimodalQnA/docker_compose/amd/gpu/rocm/README.md
  MultimodalQnA/docker_compose/intel/cpu/xeon/README.md
  MultimodalQnA/docker_compose/intel/hpu/gaudi/README.md
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

Update README.md
  AudioQnA/docker_compose/amd/gpu/rocm/README.md
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

fix dataprep delete endpoints
  MultimodalQnA/docker_compose/intel/hpu/gaudi/README.md
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

Update TEI docker image to 1.6
  AgentQnA/tests/step1_build_images.sh
  ChatQnA/docker_compose/intel/cpu/aipc/compose.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_milvus.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_pinecone.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_tgi.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_without_rerank.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_guardrails.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_tgi.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_without_rerank.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/how_to_validate_service.md
  ChatQnA/docker_compose/nvidia/gpu/compose.yaml
  ChatQnA/kubernetes/gmc/README.md
  ChatQnA/tests/test_compose_guardrails_on_gaudi.sh
  ChatQnA/tests/test_compose_milvus_on_xeon.sh
  ChatQnA/tests/test_compose_on_gaudi.sh
  ChatQnA/tests/test_compose_on_rocm.sh
  ChatQnA/tests/test_compose_on_xeon.sh
  ChatQnA/tests/test_compose_pinecone_on_xeon.sh
  ChatQnA/tests/test_compose_tgi_on_gaudi.sh
  ChatQnA/tests/test_compose_tgi_on_xeon.sh
  ChatQnA/tests/test_compose_without_rerank_on_gaudi.sh
  ChatQnA/tests/test_compose_without_rerank_on_xeon.sh
  DocIndexRetriever/docker_compose/intel/cpu/xeon/compose.yaml
  DocIndexRetriever/docker_compose/intel/cpu/xeon/compose_without_rerank.yaml
  DocIndexRetriever/docker_compose/intel/hpu/gaudi/compose.yaml
  DocIndexRetriever/tests/test_compose_on_xeon.sh
  DocIndexRetriever/tests/test_compose_without_rerank_on_xeon.sh
  GraphRAG/docker_compose/intel/hpu/gaudi/compose.yaml
  GraphRAG/tests/test_compose_on_gaudi.sh
  ProductivitySuite/docker_compose/intel/cpu/xeon/compose.yaml
  ProductivitySuite/tests/test_compose_on_xeon.sh
  SearchQnA/docker_compose/amd/gpu/rocm/compose.yaml
  SearchQnA/docker_compose/intel/cpu/xeon/compose.yaml
  SearchQnA/docker_compose/intel/hpu/gaudi/compose.yaml
  SearchQnA/tests/test_compose_on_gaudi.sh
  SearchQnA/tests/test_compose_on_rocm.sh
  SearchQnA/tests/test_compose_on_xeon.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com, liang1.lv@intel.com, letong.han@intel.com, chendi.xue@intel.com, rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com, jaswanth.karani@intel.com, hoong.tee.yeoh@intel.com, sihan.chen@intel.com

MMQnA megaservice fix for trailing new line in first query prompts (#68)
  MultimodalQnA/multimodalqna.py
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

fix ci issue
  AgentQnA/README.md
  AgentQnA/docker_compose/intel/hpu/gaudi/set_env.sh
  AgentQnA/tests/step4_launch_and_validate_agent_gaudi.sh
  AgentQnA/tests/test_compose_on_gaudi.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

auto download sqlite file and update README
  AgentQnA/README.md
  AgentQnA/docker_compose/intel/cpu/xeon/compose_openai.yaml
  AgentQnA/docker_compose/intel/cpu/xeon/launch_agent_service_openai.sh
  AgentQnA/docker_compose/intel/cpu/xeon/set_env.sh
  AgentQnA/docker_compose/intel/hpu/gaudi/compose.yaml
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

update READMEs
  AgentQnA/README.md
  AgentQnA/docker_compose/intel/cpu/xeon/README.md
  AgentQnA/docker_compose/intel/hpu/gaudi/README.md
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

Update README.md and modify test script
  AgentQnA/docker_compose/intel/cpu/xeon/set_env.sh
  AgentQnA/docker_compose/intel/hpu/gaudi/set_env.sh
  AgentQnA/tests/step4_launch_and_validate_agent_gaudi.sh
  AgentQnA/tests/test_compose_on_gaudi.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

add all docker images into compose.yaml
  AgentQnA/docker_compose/intel/hpu/gaudi/compose.yaml
  AgentQnA/docker_compose/intel/hpu/gaudi/launch_agent_service_gaudi.sh
  AgentQnA/docker_compose/intel/hpu/gaudi/launch_tgi_gaudi.sh
  AgentQnA/docker_compose/intel/hpu/gaudi/set_env.sh
  AgentQnA/ui/svelte/.env
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

Update README.md and modify test script
  AgentQnA/README.md
  AgentQnA/docker_compose/intel/hpu/gaudi/set_env.sh
  AgentQnA/tests/step4_launch_and_validate_agent_gaudi.sh
  AgentQnA/tests/test_compose_on_gaudi.sh
  AgentQnA/ui/svelte/.env
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

add web search tool support and updated README files add mock-api docker instance
  AgentQnA/README.md
  AgentQnA/docker_compose/intel/cpu/xeon/README.md
  AgentQnA/docker_compose/intel/cpu/xeon/compose_openai.yaml
  AgentQnA/docker_compose/intel/cpu/xeon/set_env.sh
  AgentQnA/docker_compose/intel/hpu/gaudi/README.md
  AgentQnA/docker_compose/intel/hpu/gaudi/compose.webtool.yaml
  AgentQnA/docker_compose/intel/hpu/gaudi/compose.yaml
  AgentQnA/docker_compose/intel/hpu/gaudi/set_env.sh
  AgentQnA/tools/supervisor_agent_webtools.yaml
  AgentQnA/tools/tools.py
  AgentQnA/ui/svelte/.env
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

Test. Do NOT merge
  ChatQnA/docker_compose/intel/cpu/xeon/compose.yaml
  ChatQnA/tests/test_compose_qdrant_on_xeon.sh
  SearchQnA/tests/test_compose_on_rocm.sh
Owners: liang1.lv@intel.com, letong.han@intel.com, sihan.chen@intel.com

Integrate docker images into compose yaml file to simplify the run instructions. fix ui ip issue and add web search tool support (#1656)
  AgentQnA/README.md
  AgentQnA/docker_compose/intel/cpu/xeon/README.md
  AgentQnA/docker_compose/intel/cpu/xeon/compose_openai.yaml
  AgentQnA/docker_compose/intel/cpu/xeon/launch_agent_service_openai.sh
  AgentQnA/docker_compose/intel/cpu/xeon/set_env.sh
  AgentQnA/docker_compose/intel/hpu/gaudi/README.md
  AgentQnA/docker_compose/intel/hpu/gaudi/compose.webtool.yaml
  AgentQnA/docker_compose/intel/hpu/gaudi/compose.yaml
  AgentQnA/docker_compose/intel/hpu/gaudi/launch_agent_service_gaudi.sh
  AgentQnA/docker_compose/intel/hpu/gaudi/launch_tgi_gaudi.sh
  AgentQnA/docker_compose/intel/hpu/gaudi/set_env.sh
  AgentQnA/tests/step4_launch_and_validate_agent_gaudi.sh
  AgentQnA/tests/test_compose_on_gaudi.sh
  AgentQnA/tools/supervisor_agent_webtools.yaml
  AgentQnA/tools/tools.py
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

change gaudi node exporter from default one to 41612 to avoid confliction with the one on bare metal
  ChatQnA/docker_compose/intel/hpu/gaudi/compose.telemetry.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_tgi.telemetry.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/set_env.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

DocSum - fix files for deploy on ROCm
  DocSum/tests/test_compose_on_rocm.sh
  DocSum/tests/test_compose_vllm_on_rocm.sh
Owners: letong.han@intel.com, xinyao.wang@intel.com

DocSum - fix files for deploy on ROCm
  DocSum/tests/test_compose_on_rocm.sh
  DocSum/tests/test_compose_vllm_on_rocm.sh
Owners: letong.han@intel.com, xinyao.wang@intel.com

DocSum - fix files for deploy on ROCm vLLM
  DocSum/Dockerfile-vllm-rocm
  DocSum/docker_compose/amd/gpu/rocm/README_vllm.md
  DocSum/docker_compose/amd/gpu/rocm/compose.yaml
  DocSum/docker_compose/amd/gpu/rocm/compose_vllm.yaml
  DocSum/docker_compose/amd/gpu/rocm/set_env.sh
  DocSum/docker_compose/amd/gpu/rocm/set_env_vllm.sh
  DocSum/docker_image_build/build.yaml
  DocSum/tests/test_compose_on_rocm.sh
  DocSum/tests/test_compose_vllm_on_rocm.sh
Owners: letong.han@intel.com, xinyao.wang@intel.com

.github/CODEOWNERS:

* liang1.lv@intel.com feng.tian@intel.com suyue.chen@intel.com
/.github/ suyue.chen@intel.com ze.pan@intel.com
/AgentQnA/ kaokao.lv@intel.com minmin.hou@intel.com
/AudioQnA/ sihan.chen@intel.com wenjiao.yue@intel.com
/AvatarChatbot/ chun.tao@intel.com kaokao.lv@intel.com
/ChatQnA/ liang1.lv@intel.com letong.han@intel.com
/CodeGen/ liang1.lv@intel.com xinyao.wang@intel.com
/CodeTrans/ sihan.chen@intel.com xinyao.wang@intel.com
/DBQnA/ supriya.krishnamurthi@intel.com liang1.lv@intel.com
/DocIndexRetriever/ kaokao.lv@intel.com chendi.xue@intel.com
/DocSum/ letong.han@intel.com xinyao.wang@intel.com
/EdgeCraftRAG/ yongbo.zhu@intel.com mingyuan.qi@intel.com
/FaqGen/ yogesh.pandey@intel.com xinyao.wang@intel.com
/GraphRAG/ rita.brugarolas.brufau@intel.com abolfazl.shahbazi@intel.com
/InstructionTuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/MultimodalQnA/ melanie.h.buehler@intel.com tiep.le@intel.com
/ProductivitySuite/ jaswanth.karani@intel.com hoong.tee.yeoh@intel.com
/RerankFinetuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/SearchQnA/ sihan.chen@intel.com letong.han@intel.com
/Text2Image/ wenjiao.yue@intel.com xinyu.ye@intel.com
/Translation/ liang1.lv@intel.com sihan.chen@intel.com
/VideoQnA/ huiling.bao@intel.com xinyao.wang@intel.com
/VisualQnA/ liang1.lv@intel.com sihan.chen@intel.com
