Repository opea-project/GenAIExamples, changes with the owners that .github/CODEOWNERS names for each.
All owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com, ze.pan@intel.com, kaokao.lv@intel.com, minmin.hou@intel.com, sihan.chen@intel.com, wenjiao.yue@intel.com, chun.tao@intel.com, letong.han@intel.com, xinyao.wang@intel.com, supriya.krishnamurthi@intel.com, chendi.xue@intel.com, yongbo.zhu@intel.com, mingyuan.qi@intel.com, yogesh.pandey@intel.com, rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com, xinyu.ye@intel.com, melanie.h.buehler@intel.com, tiep.le@intel.com, jaswanth.karani@intel.com, hoong.tee.yeoh@intel.com, huiling.bao@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/tests/step4_launch_and_validate_agent_rocm_vllm.sh
  AgentQnA/tests/test_compose_on_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_tgi_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

DocSum - fix files for deploy on ROCm vLLM
  DocSum/Dockerfile-vllm-rocm
  DocSum/docker_compose/amd/gpu/rocm/README_vllm.md
Owners: letong.han@intel.com, xinyao.wang@intel.com

Update README.md
  ChatQnA/README.md
Owners: liang1.lv@intel.com, letong.han@intel.com

Update README.md to have Table for contents (#1721)
  ChatQnA/README.md
Owners: liang1.lv@intel.com, letong.han@intel.com

1. Add 'Readme' column in docker_images_list.md file. 2. Update the trigger strategy of dockerhub description from on push to schedule weekly
  .github/workflows/dockerhub-description.yml
  docker_images_list.md
Owners: suyue.chen@intel.com, ze.pan@intel.com, liang1.lv@intel.com, feng.tian@intel.com

Add short descriptions to the images OPEA publishes on Docker Hub (#1740)
  .github/workflows/dockerhub-description.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Adding files to deploy AgentQnA application on ROCm vLLM (#1613)
  AgentQnA/docker_compose/amd/gpu/rocm/README.md
  AgentQnA/docker_compose/amd/gpu/rocm/compose_vllm.yaml
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_vllm_rocm.sh
  AgentQnA/docker_compose/amd/gpu/rocm/stop_agent_service_tgi_rocm.sh
  AgentQnA/docker_compose/amd/gpu/rocm/stop_agent_service_vllm_rocm.sh
  AgentQnA/docker_image_build/build.yaml
  AgentQnA/tests/step1_build_images_rocm_vllm.sh
  AgentQnA/tests/step2_start_retrieval_tool_rocm_vllm.sh
  AgentQnA/tests/step3_ingest_data_and_validate_retrieval_rocm_vllm.sh
  AgentQnA/tests/step4_launch_and_validate_agent_rocm_vllm.sh
  AgentQnA/tests/test_compose_vllm_on_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

update Readme.md and test for vllm
  MultimodalQnA/docker_compose/amd/gpu/rocm/README.md
  MultimodalQnA/docker_compose/amd/gpu/rocm/set_env.sh
  MultimodalQnA/docker_compose/amd/gpu/rocm/set_env_vllm.sh
  MultimodalQnA/tests/test_compose_vllm_on_rocm.sh
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

Update README.md
  MultimodalQnA/docker_compose/amd/gpu/rocm/README.md
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

Update README.md
  MultimodalQnA/docker_compose/amd/gpu/rocm/README.md
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

AgentQnA - fix README for deploy on ROCm TGI and ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/README.md
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

Fix model cache path and use Random to avoid ns conflict (#1734)
  .github/workflows/_helm-e2e.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

DocSum - fix files for deploy on ROCm vLLM
  DocSum/docker_image_build/build.yaml
Owners: letong.han@intel.com, xinyao.wang@intel.com

Update Reamde.md and tests for vllm
  MultimodalQnA/docker_compose/amd/gpu/rocm/README.md
  MultimodalQnA/tests/test_compose_vllm_on_rocm.sh
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

ChatQnA - fix files for deploy on ROCm vLLM
  ChatQnA/tests/test_compose_faqgen_on_rocm.sh
  ChatQnA/tests/test_compose_faqgen_vllm_on_rocm.sh
  ChatQnA/tests/test_compose_on_rocm.sh
  ChatQnA/tests/test_compose_vllm_on_rocm.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

Update test_compose_vllm_on_rocm.sh
  MultimodalQnA/tests/test_compose_vllm_on_rocm.sh
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

update readme.md and tests
  MultimodalQnA/docker_compose/amd/gpu/rocm/README.md
  MultimodalQnA/docker_compose/amd/gpu/rocm/compose.yaml
  MultimodalQnA/docker_compose/amd/gpu/rocm/compose_vllm.yaml
  MultimodalQnA/docker_compose/amd/gpu/rocm/set_env_vllm.sh
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

Update test_compose_vllm_on_rocm.sh
  MultimodalQnA/tests/test_compose_vllm_on_rocm.sh
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

Fix VideoQnA
  VideoQnA/docker_compose/intel/cpu/xeon/README.md
  VideoQnA/docker_compose/intel/cpu/xeon/compose.yaml
  VideoQnA/docker_compose/intel/cpu/xeon/set_env.sh
  VideoQnA/docker_image_build/build.yaml
  VideoQnA/tests/test_compose_on_xeon.sh
  VideoQnA/videoqna.py
Owners: huiling.bao@intel.com, xinyao.wang@intel.com

add ${MODEL_CACHE var
  MultimodalQnA/docker_compose/amd/gpu/rocm/compose.yaml
  MultimodalQnA/docker_compose/amd/gpu/rocm/compose_vllm.yaml
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

Update test_compose_vllm_on_rocm.sh
  MultimodalQnA/tests/test_compose_vllm_on_rocm.sh
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

Update test_compose_vllm_on_rocm.sh
  MultimodalQnA/tests/test_compose_vllm_on_rocm.sh
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

Update README.md
  MultimodalQnA/docker_compose/amd/gpu/rocm/README.md
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

Update test_compose_on_rocm.sh
  MultimodalQnA/tests/test_compose_on_rocm.sh
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

Redefine docker images list.
  docker_images_list.md
Owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com

Add model environment variable (#1660)
  benchmark.py
Owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com

ChatQnA - fix files for deploy on ROCm vLLM
  ChatQnA/README.md
Owners: liang1.lv@intel.com, letong.han@intel.com

ChatQnA - fix files for deploy on ROCm vLLM
  ChatQnA/README.md
Owners: liang1.lv@intel.com, letong.han@intel.com

ChatQnA - fix files for deploy on ROCm vLLM
  ChatQnA/README.md
Owners: liang1.lv@intel.com, letong.han@intel.com

ChatQnA - fix files for deploy on ROCm vLLM
  ChatQnA/README.md
Owners: liang1.lv@intel.com, letong.han@intel.com

1. Enable latest base image test for chatqna in CI 2. Group log lines in GHA outputs for better readable logs
  ChatQnA/Dockerfile
  ChatQnA/docker_image_build/build.yaml
  ChatQnA/tests/test_compose_faqgen_on_gaudi.sh
  ChatQnA/tests/test_compose_faqgen_on_xeon.sh
  ChatQnA/tests/test_compose_faqgen_tgi_on_gaudi.sh
  ChatQnA/tests/test_compose_faqgen_tgi_on_xeon.sh
  ChatQnA/tests/test_compose_guardrails_on_gaudi.sh
  ChatQnA/tests/test_compose_milvus_on_xeon.sh
  ChatQnA/tests/test_compose_on_gaudi.sh
  ChatQnA/tests/test_compose_on_xeon.sh
  ChatQnA/tests/test_compose_pinecone_on_xeon.sh
  ChatQnA/tests/test_compose_qdrant_on_xeon.sh
  ChatQnA/tests/test_compose_tgi_on_gaudi.sh
  ChatQnA/tests/test_compose_tgi_on_xeon.sh
  ChatQnA/tests/test_compose_without_rerank_on_gaudi.sh
  ChatQnA/tests/test_compose_without_rerank_on_xeon.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

Revert clone changes for MMQnA phase 3 (#70)
  MultimodalQnA/Dockerfile
  MultimodalQnA/tests/test_compose_on_gaudi.sh
  MultimodalQnA/tests/test_compose_on_rocm.sh
  MultimodalQnA/tests/test_compose_on_xeon.sh
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

Fix VideoQnA
  VideoQnA/docker_compose/intel/cpu/xeon/README.md
  VideoQnA/docker_compose/intel/cpu/xeon/compose.yaml
  VideoQnA/docker_compose/intel/cpu/xeon/set_env.sh
  VideoQnA/docker_image_build/build.yaml
  VideoQnA/tests/test_compose_on_xeon.sh
  VideoQnA/videoqna.py
Owners: huiling.bao@intel.com, xinyao.wang@intel.com

only test
  ChatQnA/docker_compose/intel/hpu/gaudi/set_env.sh
  ChatQnA/tests/test_compose_faqgen_on_gaudi.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

Add tag to VDMS container instead of latest
  VideoQnA/docker_compose/intel/cpu/xeon/compose.yaml
  VideoQnA/tests/test_compose_on_xeon.sh
Owners: huiling.bao@intel.com, xinyao.wang@intel.com

fix summarization tool error
  FinanceAgent/docker_compose/intel/hpu/gaudi/compose.yaml
  FinanceAgent/tests/test.py
  FinanceAgent/tests/test_compose_on_gaudi.sh
  FinanceAgent/tools/sum_agent_tools.py
  FinanceAgent/tools/utils.py
Owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com

Bump gradio version
  MultimodalQnA/ui/gradio/requirements.txt
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

Added the test case for the xeon
  MultimodalQnA/docker_compose/intel/cpu/xeon/compose_milvus.yaml
  MultimodalQnA/tests/test_compose_milvus_on_xeon.sh
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

Update UI_TIMEOUT to 240 and minor doc update (#74)
  MultimodalQnA/docker_compose/intel/cpu/xeon/README.md
  MultimodalQnA/docker_compose/intel/cpu/xeon/set_env.sh
  MultimodalQnA/docker_compose/intel/hpu/gaudi/README.md
  MultimodalQnA/docker_compose/intel/hpu/gaudi/set_env.sh
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

.github/CODEOWNERS:

* liang1.lv@intel.com feng.tian@intel.com suyue.chen@intel.com
/.github/ suyue.chen@intel.com ze.pan@intel.com
/AgentQnA/ kaokao.lv@intel.com minmin.hou@intel.com
/AudioQnA/ sihan.chen@intel.com wenjiao.yue@intel.com
/AvatarChatbot/ chun.tao@intel.com kaokao.lv@intel.com
/ChatQnA/ liang1.lv@intel.com letong.han@intel.com
/CodeGen/ liang1.lv@intel.com xinyao.wang@intel.com
/CodeTrans/ sihan.chen@intel.com xinyao.wang@intel.com
/DBQnA/ supriya.krishnamurthi@intel.com liang1.lv@intel.com
/DocIndexRetriever/ kaokao.lv@intel.com chendi.xue@intel.com
/DocSum/ letong.han@intel.com xinyao.wang@intel.com
/EdgeCraftRAG/ yongbo.zhu@intel.com mingyuan.qi@intel.com
/FaqGen/ yogesh.pandey@intel.com xinyao.wang@intel.com
/GraphRAG/ rita.brugarolas.brufau@intel.com abolfazl.shahbazi@intel.com
/InstructionTuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/MultimodalQnA/ melanie.h.buehler@intel.com tiep.le@intel.com
/ProductivitySuite/ jaswanth.karani@intel.com hoong.tee.yeoh@intel.com
/RerankFinetuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/SearchQnA/ sihan.chen@intel.com letong.han@intel.com
/Text2Image/ wenjiao.yue@intel.com xinyu.ye@intel.com
/Translation/ liang1.lv@intel.com sihan.chen@intel.com
/VideoQnA/ huiling.bao@intel.com xinyao.wang@intel.com
/VisualQnA/ liang1.lv@intel.com sihan.chen@intel.com
