Repository opea-project/GenAIExamples, changes with the owners that .github/CODEOWNERS names for each.
All owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com, ze.pan@intel.com, kaokao.lv@intel.com, minmin.hou@intel.com, sihan.chen@intel.com, wenjiao.yue@intel.com, chun.tao@intel.com, letong.han@intel.com, xinyao.wang@intel.com, supriya.krishnamurthi@intel.com, chendi.xue@intel.com, yongbo.zhu@intel.com, mingyuan.qi@intel.com, yogesh.pandey@intel.com, rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com, xinyu.ye@intel.com, melanie.h.buehler@intel.com, tiep.le@intel.com, jaswanth.karani@intel.com, hoong.tee.yeoh@intel.com, huiling.bao@intel.com

.github/CODEOWNERS:

* liang1.lv@intel.com feng.tian@intel.com suyue.chen@intel.com
/.github/ suyue.chen@intel.com ze.pan@intel.com
/AgentQnA/ kaokao.lv@intel.com minmin.hou@intel.com
/AudioQnA/ sihan.chen@intel.com wenjiao.yue@intel.com
/AvatarChatbot/ chun.tao@intel.com kaokao.lv@intel.com
/ChatQnA/ liang1.lv@intel.com letong.han@intel.com
/CodeGen/ liang1.lv@intel.com xinyao.wang@intel.com
/CodeTrans/ sihan.chen@intel.com xinyao.wang@intel.com
/DBQnA/ supriya.krishnamurthi@intel.com liang1.lv@intel.com
/DocIndexRetriever/ kaokao.lv@intel.com chendi.xue@intel.com
/DocSum/ letong.han@intel.com xinyao.wang@intel.com
/EdgeCraftRAG/ yongbo.zhu@intel.com mingyuan.qi@intel.com
/FaqGen/ yogesh.pandey@intel.com xinyao.wang@intel.com
/GraphRAG/ rita.brugarolas.brufau@intel.com abolfazl.shahbazi@intel.com
/InstructionTuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/MultimodalQnA/ melanie.h.buehler@intel.com tiep.le@intel.com
/ProductivitySuite/ jaswanth.karani@intel.com hoong.tee.yeoh@intel.com
/RerankFinetuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/SearchQnA/ sihan.chen@intel.com letong.han@intel.com
/Text2Image/ wenjiao.yue@intel.com xinyu.ye@intel.com
/Translation/ liang1.lv@intel.com sihan.chen@intel.com
/VideoQnA/ huiling.bao@intel.com xinyao.wang@intel.com
/VisualQnA/ liang1.lv@intel.com sihan.chen@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_vllm_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/tests/test_compose_vllm_on_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/tests/step4_launch_and_validate_agent_rocm_vllm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/compose_vllm.yaml
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/tests/step4_launch_and_validate_agent_rocm_vllm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_vllm_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/tests/test_compose_vllm_on_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/README_vllm.md
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_vllm_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/tests/test_compose_vllm_on_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_vllm_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/README_vllm.md
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_vllm_rocm.sh
  AgentQnA/docker_compose/amd/gpu/rocm/set_env_vllm.sh
  AgentQnA/tests/step4_launch_and_validate_agent_rocm_vllm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/tests/test_compose_vllm_on_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/tests/test_compose_vllm_on_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/tests/step4_launch_and_validate_agent_rocm_vllm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_vllm_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/tests/step4_launch_and_validate_agent_rocm_vllm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/compose_vllm.yaml
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_vllm_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/tests/step4_launch_and_validate_agent_rocm_vllm.sh
  AgentQnA/tests/test_compose_vllm_on_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/tests/test_compose_vllm_on_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/tests/step4_launch_and_validate_agent_rocm_vllm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_vllm_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/tests/test_compose_vllm_on_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/tests/test_compose_vllm_on_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/tests/step4_launch_and_validate_agent_rocm_vllm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/tests/Chinook_Sqlite.sqlite
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_vllm_rocm.sh
  AgentQnA/tests/step4_launch_and_validate_agent_rocm_vllm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/tests/test_compose_vllm_on_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/compose_vllm.yaml
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/tests/step4_launch_and_validate_agent_rocm_vllm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/tests/test_compose_vllm_on_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/compose_vllm.yaml
  AgentQnA/tests/step4_launch_and_validate_agent_rocm_vllm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_vllm_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/README_vllm.md
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/README_vllm.md
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_vllm_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/README.md
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

Added Logic for audio responses & refactored code to align with new gradio version
  MultimodalQnA/ui/gradio/conversation.py
  MultimodalQnA/ui/gradio/multimodalqna_ui_gradio.py
  MultimodalQnA/ui/gradio/requirements.txt
  MultimodalQnA/ui/gradio/utils.py
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

Minr bug fixes and UI changes
  MultimodalQnA/ui/gradio/multimodalqna_ui_gradio.py
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

Pass LLM_MODEL_ID into the backend-server for cpu/hpu/gpu
  AudioQnA/audioqna.py
  AudioQnA/audioqna_multilang.py
  AudioQnA/docker_compose/amd/gpu/rocm/compose.yaml
  AudioQnA/docker_compose/intel/cpu/xeon/compose.yaml
  AudioQnA/docker_compose/intel/hpu/gaudi/compose.yaml
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

Enable ChatQnA model cache for docker compose test. (#1605)
  ChatQnA/docker_compose/amd/gpu/rocm/compose.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_pinecone.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_qdrant.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_tgi.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_without_rerank.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_guardrails.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_tgi.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_without_rerank.yaml
  ChatQnA/tests/test_compose_guardrails_on_gaudi.sh
  ChatQnA/tests/test_compose_on_gaudi.sh
  ChatQnA/tests/test_compose_on_rocm.sh
  ChatQnA/tests/test_compose_on_xeon.sh
  ChatQnA/tests/test_compose_pinecone_on_xeon.sh
  ChatQnA/tests/test_compose_qdrant_on_xeon.sh
  ChatQnA/tests/test_compose_tgi_on_gaudi.sh
  ChatQnA/tests/test_compose_tgi_on_xeon.sh
  ChatQnA/tests/test_compose_without_rerank_on_gaudi.sh
  ChatQnA/tests/test_compose_without_rerank_on_xeon.sh
Owners: liang1.lv@intel.com, letong.han@intel.com
