Repository opea-project/GenAIExamples, changes with the owners that .github/CODEOWNERS names for each.
All owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com, ze.pan@intel.com, kaokao.lv@intel.com, minmin.hou@intel.com, sihan.chen@intel.com, wenjiao.yue@intel.com, chun.tao@intel.com, letong.han@intel.com, xinyao.wang@intel.com, supriya.krishnamurthi@intel.com, chendi.xue@intel.com, yongbo.zhu@intel.com, mingyuan.qi@intel.com, yogesh.pandey@intel.com, rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com, xinyu.ye@intel.com, melanie.h.buehler@intel.com, tiep.le@intel.com, jaswanth.karani@intel.com, hoong.tee.yeoh@intel.com, huiling.bao@intel.com

.github/CODEOWNERS:

* liang1.lv@intel.com feng.tian@intel.com suyue.chen@intel.com
/.github/ suyue.chen@intel.com ze.pan@intel.com
/AgentQnA/ kaokao.lv@intel.com minmin.hou@intel.com
/AudioQnA/ sihan.chen@intel.com wenjiao.yue@intel.com
/AvatarChatbot/ chun.tao@intel.com kaokao.lv@intel.com
/ChatQnA/ liang1.lv@intel.com letong.han@intel.com
/CodeGen/ liang1.lv@intel.com xinyao.wang@intel.com
/CodeTrans/ sihan.chen@intel.com xinyao.wang@intel.com
/DBQnA/ supriya.krishnamurthi@intel.com liang1.lv@intel.com
/DocIndexRetriever/ kaokao.lv@intel.com chendi.xue@intel.com
/DocSum/ letong.han@intel.com xinyao.wang@intel.com
/EdgeCraftRAG/ yongbo.zhu@intel.com mingyuan.qi@intel.com
/FaqGen/ yogesh.pandey@intel.com xinyao.wang@intel.com
/GraphRAG/ rita.brugarolas.brufau@intel.com abolfazl.shahbazi@intel.com
/InstructionTuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/MultimodalQnA/ melanie.h.buehler@intel.com tiep.le@intel.com
/ProductivitySuite/ jaswanth.karani@intel.com hoong.tee.yeoh@intel.com
/RerankFinetuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/SearchQnA/ sihan.chen@intel.com letong.han@intel.com
/Text2Image/ wenjiao.yue@intel.com xinyu.ye@intel.com
/Translation/ liang1.lv@intel.com sihan.chen@intel.com
/VideoQnA/ huiling.bao@intel.com xinyao.wang@intel.com
/VisualQnA/ liang1.lv@intel.com sihan.chen@intel.com

Fix input issue for manual-image-build.yml (#1666)
  .github/workflows/_example-workflow.yml
  .github/workflows/manual-example-workflow.yml
  .github/workflows/manual-image-build.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Update stale issue and PR settings to 30 days for inactivity (#1661)
  .github/workflows/daily_check_issue_and_pr.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Set vLLM as default model for VisualQnA (#1644)
  VisualQnA/docker_compose/intel/cpu/xeon/README.md
  VisualQnA/docker_compose/intel/cpu/xeon/compose_tgi.yaml
  VisualQnA/docker_compose/intel/cpu/xeon/set_env.sh
  VisualQnA/docker_compose/intel/hpu/gaudi/README.md
  VisualQnA/docker_compose/intel/hpu/gaudi/compose.yaml
  VisualQnA/docker_compose/intel/hpu/gaudi/compose_tgi.yaml
  VisualQnA/docker_compose/intel/hpu/gaudi/set_env.sh
  VisualQnA/tests/test_compose_on_gaudi.sh
  VisualQnA/tests/test_compose_tgi_on_gaudi.sh
  VisualQnA/tests/test_compose_tgi_on_xeon.sh
Owners: liang1.lv@intel.com, sihan.chen@intel.com

Adding files to deploy CodeGen application on ROCm vLLM (#1544)
  CodeGen/assets/img/ui-result-page.png
  CodeGen/assets/img/ui-starting-page.png
  CodeGen/docker_compose/amd/gpu/rocm/README.md
  CodeGen/docker_compose/amd/gpu/rocm/compose_vllm.yaml
  CodeGen/docker_compose/amd/gpu/rocm/set_env_vllm.sh
  CodeGen/docker_image_build/build.yaml
  CodeGen/tests/test_compose_vllm_on_rocm.sh
Owners: liang1.lv@intel.com, xinyao.wang@intel.com

fix errors for running AgentQnA on xeon with openai and update readme (#1664)
  AgentQnA/README.md
  AgentQnA/docker_compose/intel/cpu/xeon/README.md
  AgentQnA/docker_compose/intel/cpu/xeon/compose_openai.yaml
  AgentQnA/docker_compose/intel/hpu/gaudi/README.md
  AgentQnA/tests/_test_compose_openai_on_xeon.sh
  AgentQnA/tests/step4_launch_and_validate_agent_openai.sh
  AgentQnA/ui/svelte/README.md
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/compose.yaml
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/README.md
  AgentQnA/docker_compose/amd/gpu/rocm/compose_tgi_old.yaml
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_tgi_rocm.sh
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_tgi_rocm_old.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/compose.yaml
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/README.md
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_vllm_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/compose.yaml
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_tgi_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/Dockerfile-vllm-rocm
  AgentQnA/docker_compose/amd/gpu/rocm/README.md
  AgentQnA/docker_compose/amd/gpu/rocm/compose.yaml
  AgentQnA/docker_compose/amd/gpu/rocm/compose_vllm.yaml
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_tgi_rocm.sh
  AgentQnA/docker_compose/amd/gpu/rocm/set_env.sh
  AgentQnA/docker_image_build/build.yaml
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/compose.yaml
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/compose.yaml
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_tgi_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

Adding files to deploy SearchQnA application on ROCm vLLM (#1649)
  SearchQnA/assets/img/searchqna-ui-response-example.png
  SearchQnA/assets/img/searchqna-ui-starting-page.png
  SearchQnA/docker_compose/amd/gpu/rocm/README.md
  SearchQnA/docker_compose/amd/gpu/rocm/compose_vllm.yaml
  SearchQnA/docker_compose/amd/gpu/rocm/set_env_vllm.sh
  SearchQnA/docker_image_build/build.yaml
  SearchQnA/tests/test_compose_vllm_on_rocm.sh
  SearchQnA/ui/svelte/playwright.config.ts
Owners: sihan.chen@intel.com, letong.han@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_vllm_rocm.sh
  AgentQnA/docker_compose/amd/gpu/rocm/stop_agent_service_tgi_rocm.sh
  AgentQnA/docker_compose/amd/gpu/rocm/stop_agent_service_vllm_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

[Bug: 899] Create a version of DocIndexRetriever example with Zilliz/Milvus as Vector DB (#1616)
  DocIndexRetriever/docker_compose/intel/cpu/xeon/README.md
  DocIndexRetriever/docker_compose/intel/cpu/xeon/compose_milvus.yaml
  DocIndexRetriever/docker_compose/intel/cpu/xeon/config/milvus.yaml
  DocIndexRetriever/docker_compose/intel/hpu/gaudi/README.md
  DocIndexRetriever/docker_compose/intel/hpu/gaudi/compose_milvus.yaml
  DocIndexRetriever/docker_compose/intel/hpu/gaudi/config/milvus.yaml
  DocIndexRetriever/retrieval_tool.py
  DocIndexRetriever/tests/test_compose_milvus_on_gaudi.sh
  DocIndexRetriever/tests/test_compose_milvus_on_xeon.sh
Owners: kaokao.lv@intel.com, chendi.xue@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/README_vllm.md
  AgentQnA/docker_compose/amd/gpu/rocm/compose.yaml
  AgentQnA/docker_compose/amd/gpu/rocm/compose_tgi_old.yaml
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_tgi_rocm.sh
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_tgi_rocm_old.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_tgi_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/compose.yaml
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_tgi_rocm.sh
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_vllm_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/compose_tgi_old.yaml
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/compose.yaml
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_tgi_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

typo for docker image (#1717)
  AgentQnA/docker_compose/intel/cpu/xeon/compose_openai.yaml
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

[docs] Multimodal Endpoints Issue (#1700)
  MultimodalQnA/README.md
  MultimodalQnA/docker_compose/amd/gpu/rocm/README.md
  MultimodalQnA/docker_compose/intel/cpu/xeon/README.md
  MultimodalQnA/docker_compose/intel/hpu/gaudi/README.md
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/stop_agent_service_tgi_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/compose.yaml
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

Expand example running timeout for the new test cluster with k8s runner set (#1723)
  .github/workflows/_run-docker-compose.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

remove buold rocm-vllm from Dockerfile
  AgentQnA/tests/step1_build_images_rocm_vllm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_tgi_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

Adding files to deploy Translation application on ROCm vLLM (#1648)
  Translation/assets/img/translation-ui-response-example.png
  Translation/assets/img/translation-ui-starting-page.png
  Translation/docker_compose/amd/gpu/rocm/README.md
  Translation/docker_compose/amd/gpu/rocm/compose_vllm.yaml
  Translation/docker_compose/amd/gpu/rocm/set_env_vllm.sh
  Translation/docker_image_build/build.yaml
  Translation/tests/test_compose_vllm_on_rocm.sh
Owners: liang1.lv@intel.com, sihan.chen@intel.com

Enable vllm for DocSum (#1716)
  DocSum/docker_compose/intel/cpu/xeon/README.md
  DocSum/docker_compose/intel/cpu/xeon/compose.yaml
  DocSum/docker_compose/intel/cpu/xeon/compose_tgi.yaml
  DocSum/docker_compose/intel/hpu/gaudi/README.md
  DocSum/docker_compose/intel/hpu/gaudi/compose_tgi.yaml
  DocSum/docker_compose/set_env.sh
  DocSum/docker_image_build/build.yaml
  DocSum/tests/test_compose_on_gaudi.sh
  DocSum/tests/test_compose_tgi_on_gaudi.sh
  DocSum/tests/test_compose_tgi_on_xeon.sh
Owners: letong.han@intel.com, xinyao.wang@intel.com

Update TGI image versions (#1625)
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_tgi_rocm.sh
  AgentQnA/docker_compose/amd/gpu/rocm/stop_agent_service_tgi_rocm.sh
  AgentQnA/docker_compose/intel/hpu/gaudi/tgi_gaudi.yaml
  AudioQnA/docker_compose/amd/gpu/rocm/compose.yaml
  AudioQnA/kubernetes/gmc/README.md
  AudioQnA/tests/test_compose_on_rocm.sh
  ChatQnA/benchmark/accuracy/README.md
  ChatQnA/benchmark/accuracy_faqgen/launch_tgi.sh
  ChatQnA/docker_compose/amd/gpu/rocm/README.md
  ChatQnA/docker_compose/intel/hpu/gaudi/README.md
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_guardrails.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_tgi.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/how_to_validate_service.md
  ChatQnA/docker_compose/nvidia/gpu/compose.yaml
  ChatQnA/kubernetes/gmc/README.md
  ChatQnA/tests/test_compose_guardrails_on_gaudi.sh
  ChatQnA/tests/test_compose_tgi_on_gaudi.sh
  CodeGen/docker_compose/amd/gpu/rocm/compose.yaml
  CodeTrans/docker_compose/amd/gpu/rocm/compose.yaml
  CodeTrans/tests/test_compose_on_rocm.sh
  DBQnA/docker_compose/amd/gpu/rocm/compose.yaml
  DBQnA/docker_compose/intel/cpu/xeon/README.md
  DBQnA/tests/test_compose_on_rocm.sh
  DocSum/docker_compose/amd/gpu/rocm/README.md
  DocSum/docker_compose/amd/gpu/rocm/compose.yaml
  DocSum/docker_compose/amd/gpu/rocm/set_env.sh
  DocSum/kubernetes/gmc/README.md
  DocSum/tests/test_compose_on_rocm.sh
  DocSum/tests/test_compose_on_xeon.sh
  MultimodalQnA/docker_compose/amd/gpu/rocm/compose.yaml
  SearchQnA/docker_compose/amd/gpu/rocm/compose.yaml
  SearchQnA/tests/test_compose_on_gaudi.sh
  SearchQnA/tests/test_compose_on_rocm.sh
  Translation/docker_compose/amd/gpu/rocm/compose.yaml
  Translation/tests/test_compose_on_rocm.sh
  VisualQnA/docker_compose/intel/hpu/gaudi/README.md
Owners: kaokao.lv@intel.com, minmin.hou@intel.com, sihan.chen@intel.com, wenjiao.yue@intel.com, liang1.lv@intel.com, letong.han@intel.com, xinyao.wang@intel.com, supriya.krishnamurthi@intel.com, melanie.h.buehler@intel.com, tiep.le@intel.com

Update MMQnA tgi-gaudi verison to match compose.yaml (#1663)
  MultimodalQnA/docker_compose/intel/hpu/gaudi/README.md
  MultimodalQnA/tests/test_compose_on_gaudi.sh
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/tests/test_compose_on_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_tgi_rocm.sh
  AgentQnA/docker_compose/amd/gpu/rocm/stop_agent_service_tgi_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/tests/test_compose_on_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/tests/test_compose_on_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/tests/step4a_launch_and_validate_agent_tgi_on_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - fix files for deploy on ROCm vLLM
  AgentQnA/tests/step4a_launch_and_validate_agent_tgi_on_rocm.sh
  AgentQnA/tests/test_compose_on_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com
