Repository opea-project/GenAIExamples, changes with the owners that .github/CODEOWNERS names for each.
All owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com, ze.pan@intel.com, kaokao.lv@intel.com, minmin.hou@intel.com, sihan.chen@intel.com, wenjiao.yue@intel.com, chun.tao@intel.com, letong.han@intel.com, xinyao.wang@intel.com, supriya.krishnamurthi@intel.com, chendi.xue@intel.com, yongbo.zhu@intel.com, mingyuan.qi@intel.com, yogesh.pandey@intel.com, rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com, xinyu.ye@intel.com, melanie.h.buehler@intel.com, tiep.le@intel.com, jaswanth.karani@intel.com, hoong.tee.yeoh@intel.com, huiling.bao@intel.com

.github/CODEOWNERS:

* liang1.lv@intel.com feng.tian@intel.com suyue.chen@intel.com
/.github/ suyue.chen@intel.com ze.pan@intel.com
/AgentQnA/ kaokao.lv@intel.com minmin.hou@intel.com
/AudioQnA/ sihan.chen@intel.com wenjiao.yue@intel.com
/AvatarChatbot/ chun.tao@intel.com kaokao.lv@intel.com
/ChatQnA/ liang1.lv@intel.com letong.han@intel.com
/CodeGen/ liang1.lv@intel.com xinyao.wang@intel.com
/CodeTrans/ sihan.chen@intel.com xinyao.wang@intel.com
/DBQnA/ supriya.krishnamurthi@intel.com liang1.lv@intel.com
/DocIndexRetriever/ kaokao.lv@intel.com chendi.xue@intel.com
/DocSum/ letong.han@intel.com xinyao.wang@intel.com
/EdgeCraftRAG/ yongbo.zhu@intel.com mingyuan.qi@intel.com
/FaqGen/ yogesh.pandey@intel.com xinyao.wang@intel.com
/GraphRAG/ rita.brugarolas.brufau@intel.com abolfazl.shahbazi@intel.com
/InstructionTuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/MultimodalQnA/ melanie.h.buehler@intel.com tiep.le@intel.com
/ProductivitySuite/ jaswanth.karani@intel.com hoong.tee.yeoh@intel.com
/RerankFinetuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/SearchQnA/ sihan.chen@intel.com letong.han@intel.com
/Text2Image/ wenjiao.yue@intel.com xinyu.ye@intel.com
/Translation/ liang1.lv@intel.com sihan.chen@intel.com
/VideoQnA/ huiling.bao@intel.com xinyao.wang@intel.com
/VisualQnA/ liang1.lv@intel.com sihan.chen@intel.com

DocSum - add files for deploy app with ROCm vLLM
  DocSum/Dockerfile-vllm-rocm
  DocSum/docker_compose/amd/gpu/rocm-vllm/README.md
  DocSum/docker_compose/amd/gpu/rocm-vllm/compose.yaml
  DocSum/docker_compose/amd/gpu/rocm-vllm/set_env.sh
  DocSum/docker_image_build/build.yaml
  DocSum/tests/test_compose_on_rocm_vllm.sh
Owners: letong.han@intel.com, xinyao.wang@intel.com

DocSum - fix files for deploy with ROCm vLLM
  DocSum/docker_compose/amd/gpu/rocm/compose_vllm.yaml
Owners: letong.han@intel.com, xinyao.wang@intel.com

DocSum - fix files for deploy with ROCm vLLM
  DocSum/Dockerfile-vllm-rocm
  DocSum/docker_compose/amd/gpu/rocm/README_vllm.md
  DocSum/docker_compose/amd/gpu/rocm/compose_vllm.yaml
  DocSum/docker_compose/amd/gpu/rocm/set_env_vllm.sh
  DocSum/tests/test_compose_vllm_on_rocm.sh
Owners: letong.han@intel.com, xinyao.wang@intel.com

DocSum - fix files for deploy with ROCm vLLM
  DocSum/tests/test_compose_vllm_on_rocm.sh
Owners: letong.han@intel.com, xinyao.wang@intel.com

Remove perf test code from test scripts. (#1510)
  ChatQnA/tests/test_compose_on_gaudi.sh
  ChatQnA/tests/test_compose_on_rocm.sh
  ChatQnA/tests/test_compose_on_xeon.sh
  ChatQnA/tests/test_compose_pinecone_on_xeon.sh
  ChatQnA/tests/test_compose_tgi_on_gaudi.sh
  ChatQnA/tests/test_compose_tgi_on_xeon.sh
  ChatQnA/tests/test_compose_without_rerank_on_gaudi.sh
  ChatQnA/tests/test_compose_without_rerank_on_xeon.sh
  GraphRAG/tests/test_compose_on_gaudi.sh
Owners: liang1.lv@intel.com, letong.han@intel.com, rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com

DocSum - fix main
  DocSum/Dockerfile-vllm-rocm
  DocSum/docker_compose/amd/gpu/rocm-vllm/README.md
  DocSum/docker_compose/amd/gpu/rocm-vllm/compose.yaml
  DocSum/docker_compose/amd/gpu/rocm-vllm/set_env.sh
  DocSum/docker_image_build/build.yaml
  DocSum/tests/test_compose_on_rocm_vllm.sh
Owners: letong.han@intel.com, xinyao.wang@intel.com

DocSum - add files for deploy app with ROCm vLLM
  DocSum/Dockerfile-vllm-rocm
  DocSum/docker_compose/amd/gpu/rocm-vllm/README.md
  DocSum/docker_compose/amd/gpu/rocm-vllm/compose.yaml
  DocSum/docker_compose/amd/gpu/rocm-vllm/set_env.sh
  DocSum/docker_image_build/build.yaml
  DocSum/tests/test_compose_on_rocm_vllm.sh
Owners: letong.han@intel.com, xinyao.wang@intel.com

Fix minor typo in README (#1559)
  README.md
Owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com

DocSum - fix files for deploy with ROCm vLLM
  DocSum/docker_compose/amd/gpu/rocm/compose_vllm.yaml
  DocSum/docker_compose/amd/gpu/rocm/set_env_vllm.sh
  DocSum/docker_image_build/build.yaml
  DocSum/tests/test_compose_vllm_on_rocm.sh
Owners: letong.han@intel.com, xinyao.wang@intel.com

DocSum - fix main
  DocSum/Dockerfile-vllm-rocm
  DocSum/docker_compose/amd/gpu/rocm-vllm/README.md
  DocSum/docker_compose/amd/gpu/rocm-vllm/compose.yaml
  DocSum/docker_compose/amd/gpu/rocm-vllm/set_env.sh
  DocSum/docker_image_build/build.yaml
  DocSum/tests/test_compose_on_rocm_vllm.sh
Owners: letong.han@intel.com, xinyao.wang@intel.com

DocSum - fix files for deploy with ROCm vLLM
  DocSum/tests/test_compose_on_rocm.sh
Owners: letong.han@intel.com, xinyao.wang@intel.com

DocSum - fix files for deploy with ROCm vLLM
  DocSum/docker_compose/amd/gpu/rocm/compose.yaml
Owners: letong.han@intel.com, xinyao.wang@intel.com

DocSum - fix files for deploy on ROCm
  DocSum/docker_compose/amd/gpu/rocm/README.md
Owners: letong.han@intel.com, xinyao.wang@intel.com

fix click example button issue (#1586)
  AgentQnA/ui/svelte/src/lib/components/home.svelte
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

Fix mismatched environment variable (#1575)
  ChatQnA/docker_compose/intel/cpu/aipc/set_env.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

DocSum - fix files for deploy with ROCm vLLM
  DocSum/tests/test_compose_on_rocm.sh
Owners: letong.han@intel.com, xinyao.wang@intel.com

Update README.md of AIPC quick start (#1578)
  ChatQnA/docker_compose/intel/cpu/aipc/README.md
Owners: liang1.lv@intel.com, letong.han@intel.com

Simplify ChatQnA AIPC user setting (#1573)
  ChatQnA/docker_compose/intel/cpu/aipc/README.md
  ChatQnA/docker_compose/intel/cpu/aipc/compose.yaml
  ChatQnA/docker_compose/intel/cpu/aipc/set_env.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

Top level README: add link to github.io documentation (#1584)
  README.md
Owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com

DocSum - fix files for deploy with ROCm vLLM
  DocSum/docker_compose/amd/gpu/rocm/compose.yaml
Owners: letong.han@intel.com, xinyao.wang@intel.com

Fix benchmark scripts (#1517)
  ChatQnA/benchmark_chatqna.yaml
  README-deploy-benchmark.md
  benchmark.py
  deploy.py
  deploy_and_benchmark.py
  requirements.txt
Owners: liang1.lv@intel.com, letong.han@intel.com, feng.tian@intel.com, suyue.chen@intel.com

DocSum - fix files for deploy with ROCm vLLM
  DocSum/docker_compose/amd/gpu/rocm/set_env.sh
Owners: letong.han@intel.com, xinyao.wang@intel.com

DocSum - fix files for deploy with ROCm vLLM
  DocSum/docker_compose/amd/gpu/rocm/set_env.sh
Owners: letong.han@intel.com, xinyao.wang@intel.com

Fix async in chatqna bug (#1589)
  ChatQnA/chatqna.py
Owners: liang1.lv@intel.com, letong.han@intel.com

Align mongo related image names with comps (#1543)
  ProductivitySuite/docker_compose/intel/cpu/xeon/README.md
  ProductivitySuite/docker_compose/intel/cpu/xeon/compose.yaml
  ProductivitySuite/docker_image_build/build.yaml
  docker_images_list.md
Owners: jaswanth.karani@intel.com, hoong.tee.yeoh@intel.com, liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com

DocSum - fix files for deploy with ROCm vLLM
  DocSum/tests/test_compose_vllm_on_rocm.sh
Owners: letong.han@intel.com, xinyao.wang@intel.com

DocSum - fix files for deploy with ROCm vLLM
  DocSum/docker_compose/amd/gpu/rocm/compose.yaml
Owners: letong.han@intel.com, xinyao.wang@intel.com

DocSum - fix files for deploy on ROCm
  DocSum/docker_compose/amd/gpu/rocm/README.md
  DocSum/docker_compose/amd/gpu/rocm/compose.yaml
  DocSum/docker_compose/amd/gpu/rocm/compose_vllm.yaml
  DocSum/docker_compose/amd/gpu/rocm/set_env.sh
  DocSum/docker_compose/amd/gpu/rocm/set_env_vllm.sh
  DocSum/docker_image_build/build.yaml
Owners: letong.han@intel.com, xinyao.wang@intel.com

DocSum - fix files for deploy with ROCm vLLM
  DocSum/docker_compose/amd/gpu/rocm/compose.yaml
Owners: letong.han@intel.com, xinyao.wang@intel.com

DocSum - fix files for deploy with ROCm vLLM
  DocSum/tests/test_compose_on_rocm.sh
Owners: letong.han@intel.com, xinyao.wang@intel.com

Fix "OpenAI" & "response" spelling (#1561)
  AgentQnA/docker_compose/intel/cpu/xeon/README.md
  ChatQnA/chatqna.py
  GraphRAG/graphrag.py
Owners: kaokao.lv@intel.com, minmin.hou@intel.com, liang1.lv@intel.com, letong.han@intel.com, rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com

DocSum - fix files for deploy with ROCm vLLM
  DocSum/docker_compose/amd/gpu/rocm/README.md
  DocSum/docker_compose/amd/gpu/rocm/README_vllm.md
  DocSum/tests/test_compose_vllm_on_rocm.sh
Owners: letong.han@intel.com, xinyao.wang@intel.com

DocSum - fix files for deploy with ROCm vLLM
  DocSum/tests/test_compose_on_rocm.sh
Owners: letong.han@intel.com, xinyao.wang@intel.com

DocSum - fix files for deploy with ROCm vLLM
  DocSum/tests/test_compose_vllm_on_rocm.sh
Owners: letong.han@intel.com, xinyao.wang@intel.com

Fix ChatQnA ROCm compose Readme file and absolute path for ROCM CI test (#1159)
  ChatQnA/docker_compose/amd/gpu/rocm/README.md
  ChatQnA/tests/test_compose_on_rocm.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

DocSum - fix files for deploy with ROCm vLLM
  DocSum/docker_compose/amd/gpu/rocm/compose.yaml
Owners: letong.han@intel.com, xinyao.wang@intel.com

Update AgentQnA and DocIndexRetriever (#1564)
  AgentQnA/README.md
  AgentQnA/docker_compose/intel/cpu/xeon/compose_openai.yaml
  AgentQnA/docker_compose/intel/cpu/xeon/launch_agent_service_openai.sh
  AgentQnA/docker_compose/intel/hpu/gaudi/compose.yaml
  AgentQnA/docker_compose/intel/hpu/gaudi/launch_agent_service_gaudi.sh
  AgentQnA/tests/step4_launch_and_validate_agent_gaudi.sh
  AgentQnA/tests/test.py
  AgentQnA/tests/test_compose_on_gaudi.sh
  DocIndexRetriever/docker_compose/intel/cpu/xeon/compose.yaml
  DocIndexRetriever/retrieval_tool.py
  DocIndexRetriever/tests/test.py
Owners: kaokao.lv@intel.com, minmin.hou@intel.com, chendi.xue@intel.com

Fix trivy issue (#1569)
  AvatarChatbot/Dockerfile
  ChatQnA/tests/test_compose_on_gaudi.sh
  EdgeCraftRAG/ui/docker/Dockerfile.ui
  VideoQnA/ui/docker/Dockerfile
Owners: chun.tao@intel.com, kaokao.lv@intel.com, liang1.lv@intel.com, letong.han@intel.com, yongbo.zhu@intel.com, mingyuan.qi@intel.com, huiling.bao@intel.com, xinyao.wang@intel.com

DocSum - fix files for deploy with ROCm vLLM
  DocSum/docker_compose/amd/gpu/rocm/compose.yaml
  DocSum/docker_compose/amd/gpu/rocm/set_env.sh
Owners: letong.han@intel.com, xinyao.wang@intel.com

Enable SearchQnA model cache for docker compose test. (#1606)
  SearchQnA/docker_compose/amd/gpu/rocm/compose.yaml
  SearchQnA/docker_compose/intel/cpu/xeon/compose.yaml
  SearchQnA/docker_compose/intel/hpu/gaudi/compose.yaml
  SearchQnA/tests/test_compose_on_gaudi.sh
  SearchQnA/tests/test_compose_on_rocm.sh
  SearchQnA/tests/test_compose_on_xeon.sh
Owners: sihan.chen@intel.com, letong.han@intel.com
