Repository opea-project/GenAIExamples, changes with the owners that .github/CODEOWNERS names for each.
All owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com, ze.pan@intel.com, kaokao.lv@intel.com, minmin.hou@intel.com, sihan.chen@intel.com, wenjiao.yue@intel.com, chun.tao@intel.com, letong.han@intel.com, xinyao.wang@intel.com, supriya.krishnamurthi@intel.com, chendi.xue@intel.com, yongbo.zhu@intel.com, mingyuan.qi@intel.com, yogesh.pandey@intel.com, rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com, xinyu.ye@intel.com, melanie.h.buehler@intel.com, tiep.le@intel.com, jaswanth.karani@intel.com, hoong.tee.yeoh@intel.com, huiling.bao@intel.com

[Bug: 899] Create a version of DocIndexRetriever example with Zilliz/Milvus as Vector DB
  DocIndexRetriever/docker_compose/intel/cpu/xeon/README.md
  DocIndexRetriever/docker_compose/intel/cpu/xeon/compose_milvus.yaml
  DocIndexRetriever/docker_compose/intel/cpu/xeon/config/milvus.yaml
  DocIndexRetriever/docker_compose/intel/hpu/gaudi/compose_milvus.yaml
  DocIndexRetriever/docker_compose/intel/hpu/gaudi/config/milvus.yaml
  DocIndexRetriever/retrieval_tool.py
  DocIndexRetriever/tests/test_compose_milvus_on_gaudi.sh
  DocIndexRetriever/tests/test_compose_milvus_on_xeon.sh
Owners: kaokao.lv@intel.com, chendi.xue@intel.com

fix docker image security issue
  EdgeCraftRAG/Dockerfile.server
  EdgeCraftRAG/edgecraftrag/requirements.txt
  EdgeCraftRAG/ui/docker/Dockerfile.ui
Owners: yongbo.zhu@intel.com, mingyuan.qi@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/tests/test_compose_vllm_on_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_vllm_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/stop_agent_service_vllm_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

Enable SearchQnA model cache for docker compose test. (#1606)
  SearchQnA/docker_compose/amd/gpu/rocm/compose.yaml
  SearchQnA/docker_compose/intel/cpu/xeon/compose.yaml
  SearchQnA/docker_compose/intel/hpu/gaudi/compose.yaml
  SearchQnA/tests/test_compose_on_gaudi.sh
  SearchQnA/tests/test_compose_on_rocm.sh
  SearchQnA/tests/test_compose_on_xeon.sh
Owners: sihan.chen@intel.com, letong.han@intel.com

Enable ChatQnA model cache for docker compose test.
  ChatQnA/docker_compose/amd/gpu/rocm/compose.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_pinecone.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_qdrant.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_tgi.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_without_rerank.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_guardrails.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_tgi.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_without_rerank.yaml
  ChatQnA/tests/test_compose_guardrails_on_gaudi.sh
  ChatQnA/tests/test_compose_on_gaudi.sh
  ChatQnA/tests/test_compose_on_rocm.sh
  ChatQnA/tests/test_compose_on_xeon.sh
  ChatQnA/tests/test_compose_pinecone_on_xeon.sh
  ChatQnA/tests/test_compose_qdrant_on_xeon.sh
  ChatQnA/tests/test_compose_tgi_on_gaudi.sh
  ChatQnA/tests/test_compose_tgi_on_xeon.sh
  ChatQnA/tests/test_compose_without_rerank_on_gaudi.sh
  ChatQnA/tests/test_compose_without_rerank_on_xeon.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

Fix docker image opea/edgecraftrag security issue #1577 (#1617)
  EdgeCraftRAG/Dockerfile.server
  EdgeCraftRAG/edgecraftrag/requirements.txt
  EdgeCraftRAG/ui/docker/Dockerfile.ui
Owners: yongbo.zhu@intel.com, mingyuan.qi@intel.com

[AudioQnA] Fix the LLM model field for inputs alignment (#1611)
  AudioQnA/audioqna.py
  AudioQnA/audioqna_multilang.py
  AudioQnA/docker_compose/amd/gpu/rocm/compose.yaml
  AudioQnA/docker_compose/intel/cpu/xeon/compose.yaml
  AudioQnA/docker_compose/intel/hpu/gaudi/compose.yaml
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

Enable SearchQnA model cache for docker compose test.
  SearchQnA/docker_compose/amd/gpu/rocm/compose.yaml
  SearchQnA/docker_compose/intel/cpu/xeon/compose.yaml
  SearchQnA/docker_compose/intel/hpu/gaudi/compose.yaml
  SearchQnA/tests/test_compose_on_gaudi.sh
  SearchQnA/tests/test_compose_on_rocm.sh
  SearchQnA/tests/test_compose_on_xeon.sh
Owners: sihan.chen@intel.com, letong.han@intel.com

UI layout update & handling empty text with spaces
  MultimodalQnA/ui/gradio/multimodalqna_ui_gradio.py
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

Updates on review comments
  MultimodalQnA/ui/gradio/conversation.py
  MultimodalQnA/ui/gradio/multimodalqna_ui_gradio.py
  MultimodalQnA/ui/gradio/utils.py
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

Update on review comments
  MultimodalQnA/ui/gradio/multimodalqna_ui_gradio.py
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

Set vllm as default backend service for FaqGen
  FaqGen/docker_compose/intel/cpu/xeon/README.md
  FaqGen/docker_compose/intel/cpu/xeon/compose.yaml
  FaqGen/docker_compose/intel/cpu/xeon/compose_tgi.yaml
  FaqGen/docker_compose/intel/hpu/gaudi/README.md
  FaqGen/docker_compose/intel/hpu/gaudi/compose.yaml
  FaqGen/docker_compose/intel/hpu/gaudi/compose_tgi.yaml
  FaqGen/tests/test_compose_on_gaudi.sh
  FaqGen/tests/test_compose_on_xeon.sh
  FaqGen/tests/test_compose_tgi_on_gaudi.sh
  FaqGen/tests/test_compose_tgi_on_xeon.sh
Owners: yogesh.pandey@intel.com, xinyao.wang@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/stop_agent_service_vllm_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

Enable Gaudi3, Rocm and Arc on manually release test.
  .github/workflows/_example-workflow.yml
  .github/workflows/_run-docker-compose.yml
  .github/workflows/manual-example-workflow.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Update TGI version to v2.4.1
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_tgi_rocm.sh
  AgentQnA/docker_compose/amd/gpu/rocm/set_env.sh
  AudioQnA/docker_compose/amd/gpu/rocm/README.md
  AudioQnA/docker_compose/amd/gpu/rocm/compose.yaml
  AudioQnA/kubernetes/gmc/README.md
  AudioQnA/tests/test_compose_on_rocm.sh
  AvatarChatbot/docker_compose/amd/gpu/rocm/compose.yaml
  AvatarChatbot/tests/test_compose_on_rocm.sh
  ChatQnA/docker_compose/amd/gpu/rocm/README.md
  ChatQnA/docker_compose/amd/gpu/rocm/set_env.sh
  ChatQnA/docker_compose/nvidia/gpu/compose.yaml
  ChatQnA/tests/test_compose_on_rocm.sh
  CodeGen/docker_compose/amd/gpu/rocm/compose.yaml
  CodeTrans/docker_compose/amd/gpu/rocm/compose.yaml
  CodeTrans/tests/test_compose_on_rocm.sh
  DBQnA/docker_compose/amd/gpu/rocm/compose.yaml
  DBQnA/docker_compose/intel/cpu/xeon/README.md
  DBQnA/tests/test_compose_on_rocm.sh
  DocSum/docker_compose/amd/gpu/rocm/README.md
  DocSum/docker_compose/amd/gpu/rocm/compose.yaml
  DocSum/docker_compose/amd/gpu/rocm/set_env.sh
  DocSum/tests/test_compose_on_rocm.sh
  DocSum/tests/test_compose_on_xeon.sh
  FaqGen/docker_compose/amd/gpu/rocm/compose.yaml
  FaqGen/docker_compose/amd/gpu/rocm/set_env.sh
  FaqGen/tests/test_compose_on_rocm.sh
  FaqGen/tests/test_compose_on_xeon.sh
  MultimodalQnA/docker_compose/amd/gpu/rocm/compose.yaml
  SearchQnA/docker_compose/amd/gpu/rocm/compose.yaml
  SearchQnA/tests/test_compose_on_rocm.sh
  Translation/docker_compose/amd/gpu/rocm/compose.yaml
  Translation/tests/test_compose_on_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com, sihan.chen@intel.com, wenjiao.yue@intel.com, chun.tao@intel.com, liang1.lv@intel.com, letong.han@intel.com, xinyao.wang@intel.com, supriya.krishnamurthi@intel.com, yogesh.pandey@intel.com, melanie.h.buehler@intel.com, tiep.le@intel.com

Update TGI Gaudi version to v2.3.1
  AgentQnA/docker_compose/intel/hpu/gaudi/tgi_gaudi.yaml
  AudioQnA/docker_compose/intel/hpu/gaudi/README.md
  AudioQnA/kubernetes/gmc/README.md
  AudioQnA/tests/test_compose_on_gaudi.sh
  AudioQnA/tests/test_compose_on_xeon.sh
  AvatarChatbot/docker_compose/intel/hpu/gaudi/README.md
  AvatarChatbot/docker_compose/intel/hpu/gaudi/compose.yaml
  AvatarChatbot/tests/test_compose_on_gaudi.sh
  ChatQnA/benchmark/accuracy/README.md
  ChatQnA/docker_compose/intel/hpu/gaudi/README.md
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_guardrails.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_tgi.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/how_to_validate_service.md
  ChatQnA/kubernetes/gmc/README.md
  ChatQnA/tests/test_compose_guardrails_on_gaudi.sh
  ChatQnA/tests/test_compose_tgi_on_gaudi.sh
  CodeGen/tests/test_compose_on_gaudi.sh
  CodeTrans/docker_compose/intel/hpu/gaudi/compose.yaml
  CodeTrans/tests/test_compose_on_gaudi.sh
  DocSum/kubernetes/gmc/README.md
  FaqGen/benchmark/accuracy/launch_tgi.sh
  FaqGen/docker_compose/intel/hpu/gaudi/README.md
  FaqGen/tests/test_compose_on_gaudi.sh
  MultimodalQnA/docker_compose/intel/hpu/gaudi/README.md
  MultimodalQnA/tests/test_compose_on_gaudi.sh
  SearchQnA/tests/test_compose_on_gaudi.sh
  VisualQnA/docker_compose/intel/hpu/gaudi/README.md
  VisualQnA/tests/test_compose_on_gaudi.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com, sihan.chen@intel.com, wenjiao.yue@intel.com, chun.tao@intel.com, liang1.lv@intel.com, letong.han@intel.com, xinyao.wang@intel.com, yogesh.pandey@intel.com, melanie.h.buehler@intel.com, tiep.le@intel.com

Enable model cache for Rocm docker compose test.
  AudioQnA/docker_compose/amd/gpu/rocm/compose.yaml
  AudioQnA/tests/test_compose_on_rocm.sh
  CodeGen/docker_compose/amd/gpu/rocm/compose.yaml
  CodeGen/tests/test_compose_on_rocm.sh
  CodeTrans/docker_compose/amd/gpu/rocm/compose.yaml
  CodeTrans/tests/test_compose_on_rocm.sh
  DBQnA/docker_compose/amd/gpu/rocm/compose.yaml
  DBQnA/tests/test_compose_on_rocm.sh
  DocSum/docker_compose/amd/gpu/rocm/compose.yaml
  DocSum/tests/test_compose_on_rocm.sh
  FaqGen/docker_compose/amd/gpu/rocm/compose.yaml
  FaqGen/tests/test_compose_on_rocm.sh
  Translation/docker_compose/amd/gpu/rocm/compose.yaml
  Translation/tests/test_compose_on_rocm.sh
  VisualQnA/docker_compose/amd/gpu/rocm/compose.yaml
  VisualQnA/tests/test_compose_on_rocm.sh
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com, liang1.lv@intel.com, xinyao.wang@intel.com, supriya.krishnamurthi@intel.com, letong.han@intel.com, yogesh.pandey@intel.com

test
  EdgeCraftRAG/tests/test_compose_on_arc.sh
  EdgeCraftRAG/tests/test_compose_vllm_on_arc.sh
  MultimodalQnA/docker_compose/amd/gpu/rocm/compose.yaml
  MultimodalQnA/tests/test_compose_on_rocm.sh
Owners: yongbo.zhu@intel.com, mingyuan.qi@intel.com, melanie.h.buehler@intel.com, tiep.le@intel.com

CodeTrans - fix ROCm docker compose file
  CodeTrans/docker_compose/amd/gpu/rocm/compose.yaml
Owners: sihan.chen@intel.com, xinyao.wang@intel.com

Enable vllm for CodeTrans
  CodeTrans/docker_compose/intel/cpu/xeon/README.md
  CodeTrans/docker_compose/intel/cpu/xeon/compose_tgi.yaml
  CodeTrans/docker_compose/intel/hpu/gaudi/README.md
  CodeTrans/docker_compose/intel/hpu/gaudi/compose.yaml
  CodeTrans/docker_compose/intel/hpu/gaudi/compose_tgi.yaml
  CodeTrans/docker_compose/set_env.sh
  CodeTrans/docker_image_build/build.yaml
  CodeTrans/tests/test_compose_on_xeon.sh
  CodeTrans/tests/test_compose_tgi_on_gaudi.sh
  CodeTrans/tests/test_compose_tgi_on_xeon.sh
Owners: sihan.chen@intel.com, xinyao.wang@intel.com

enable model cache
  CodeTrans/docker_compose/intel/cpu/xeon/compose_tgi.yaml
  CodeTrans/docker_compose/intel/hpu/gaudi/compose_tgi.yaml
  CodeTrans/tests/test_compose_tgi_on_gaudi.sh
  CodeTrans/tests/test_compose_tgi_on_xeon.sh
Owners: sihan.chen@intel.com, xinyao.wang@intel.com

fix folder path issue
  CodeTrans/tests/test_compose_on_xeon.sh
Owners: sihan.chen@intel.com, xinyao.wang@intel.com

revert service port and sleep after start services
  CodeTrans/tests/test_compose_on_gaudi.sh
  CodeTrans/tests/test_compose_on_xeon.sh
  CodeTrans/tests/test_compose_tgi_on_gaudi.sh
  CodeTrans/tests/test_compose_tgi_on_xeon.sh
Owners: sihan.chen@intel.com, xinyao.wang@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/tests/test_compose_on_rocm.sh
  AgentQnA/tests/test_compose_vllm_on_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

Update compose.yaml
  CodeGen/docker_compose/intel/cpu/xeon/compose.yaml
  CodeGen/docker_compose/intel/hpu/gaudi/compose.yaml
  CodeTrans/docker_compose/intel/cpu/xeon/compose.yaml
  CodeTrans/docker_compose/intel/hpu/gaudi/compose.yaml
  DocSum/docker_compose/intel/cpu/xeon/compose.yaml
Owners: liang1.lv@intel.com, xinyao.wang@intel.com, sihan.chen@intel.com, letong.han@intel.com

Update compose.yaml
  AudioQnA/docker_compose/intel/cpu/xeon/compose.yaml
  AudioQnA/docker_compose/intel/cpu/xeon/compose_multilang.yaml
  AudioQnA/docker_compose/intel/hpu/gaudi/compose.yaml
  DBQnA/docker_compose/intel/cpu/xeon/compose.yaml
  DocIndexRetriever/docker_compose/intel/cpu/xeon/compose.yaml
  DocIndexRetriever/docker_compose/intel/hpu/gaudi/compose.yaml
  FaqGen/docker_compose/intel/cpu/xeon/compose.yaml
  Translation/docker_compose/intel/cpu/xeon/compose.yaml
  Translation/docker_compose/intel/hpu/gaudi/compose.yaml
  VisualQnA/docker_compose/intel/cpu/xeon/compose.yaml
  VisualQnA/docker_compose/intel/hpu/gaudi/compose.yaml
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com, supriya.krishnamurthi@intel.com, liang1.lv@intel.com, kaokao.lv@intel.com, chendi.xue@intel.com, yogesh.pandey@intel.com, xinyao.wang@intel.com

Update compose.yaml for ChatQnA
  ChatQnA/docker_compose/amd/gpu/rocm/compose.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_pinecone.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_qdrant.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_tgi.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_without_rerank.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_guardrails.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_tgi.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_without_rerank.yaml
Owners: liang1.lv@intel.com, letong.han@intel.com

Update compose.yaml
  GraphRAG/docker_compose/intel/hpu/gaudi/compose.yaml
  ProductivitySuite/docker_compose/intel/cpu/xeon/compose.yaml
Owners: rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com, jaswanth.karani@intel.com, hoong.tee.yeoh@intel.com

Enable AvatarChatbot model cache for docker compose test.
  AvatarChatbot/docker_compose/amd/gpu/rocm/compose.yaml
  AvatarChatbot/docker_compose/intel/cpu/xeon/compose.yaml
  AvatarChatbot/docker_compose/intel/hpu/gaudi/compose.yaml
  AvatarChatbot/tests/test_compose_on_gaudi.sh
  AvatarChatbot/tests/test_compose_on_rocm.sh
  AvatarChatbot/tests/test_compose_on_xeon.sh
Owners: chun.tao@intel.com, kaokao.lv@intel.com

test
  MultimodalQnA/docker_compose/amd/gpu/rocm/compose.yaml
  MultimodalQnA/tests/test_compose_on_rocm.sh
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

Update compose.yaml for SearchQnA
  SearchQnA/docker_compose/amd/gpu/rocm/compose.yaml
  SearchQnA/docker_compose/intel/cpu/xeon/compose.yaml
  SearchQnA/docker_compose/intel/hpu/gaudi/compose.yaml
Owners: sihan.chen@intel.com, letong.han@intel.com

Update MultimodalQnA/ui/gradio/multimodalqna_ui_gradio.py
  MultimodalQnA/ui/gradio/multimodalqna_ui_gradio.py
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

Update compose.yaml for SearchQnA (#1622)
  SearchQnA/docker_compose/amd/gpu/rocm/compose.yaml
  SearchQnA/docker_compose/intel/cpu/xeon/compose.yaml
  SearchQnA/docker_compose/intel/hpu/gaudi/compose.yaml
Owners: sihan.chen@intel.com, letong.han@intel.com

Align DATA_PATH to MODEL_CACHE
  FaqGen/docker_compose/intel/hpu/gaudi/compose.yaml
  FaqGen/docker_compose/intel/hpu/gaudi/compose_tgi.yaml
  FaqGen/tests/test_compose_on_gaudi.sh
  FaqGen/tests/test_compose_tgi_on_gaudi.sh
  FaqGen/tests/test_compose_tgi_on_xeon.sh
Owners: yogesh.pandey@intel.com, xinyao.wang@intel.com

Update compose.yaml for ChatQnA (#1621)
  ChatQnA/docker_compose/amd/gpu/rocm/compose.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_pinecone.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_qdrant.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_tgi.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_without_rerank.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_guardrails.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_tgi.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_without_rerank.yaml
Owners: liang1.lv@intel.com, letong.han@intel.com

Update compose.yaml (#1620)
  AudioQnA/docker_compose/intel/cpu/xeon/compose.yaml
  AudioQnA/docker_compose/intel/cpu/xeon/compose_multilang.yaml
  AudioQnA/docker_compose/intel/hpu/gaudi/compose.yaml
  DBQnA/docker_compose/intel/cpu/xeon/compose.yaml
  DocIndexRetriever/docker_compose/intel/cpu/xeon/compose.yaml
  DocIndexRetriever/docker_compose/intel/hpu/gaudi/compose.yaml
  FaqGen/docker_compose/intel/cpu/xeon/compose.yaml
  Translation/docker_compose/intel/cpu/xeon/compose.yaml
  Translation/docker_compose/intel/hpu/gaudi/compose.yaml
  VisualQnA/docker_compose/intel/cpu/xeon/compose.yaml
  VisualQnA/docker_compose/intel/hpu/gaudi/compose.yaml
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com, supriya.krishnamurthi@intel.com, liang1.lv@intel.com, kaokao.lv@intel.com, chendi.xue@intel.com, yogesh.pandey@intel.com, xinyao.wang@intel.com

Update compose.yaml (#1619)
  CodeGen/docker_compose/intel/cpu/xeon/compose.yaml
  CodeGen/docker_compose/intel/hpu/gaudi/compose.yaml
  CodeTrans/docker_compose/intel/cpu/xeon/compose.yaml
  CodeTrans/docker_compose/intel/hpu/gaudi/compose.yaml
  DocSum/docker_compose/intel/cpu/xeon/compose.yaml
Owners: liang1.lv@intel.com, xinyao.wang@intel.com, sihan.chen@intel.com, letong.han@intel.com

Some updates to review comments. More to come after testing
  MultimodalQnA/Dockerfile
  MultimodalQnA/ui/gradio/conversation.py
  MultimodalQnA/ui/gradio/multimodalqna_ui_gradio.py
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

.github/CODEOWNERS:

* liang1.lv@intel.com feng.tian@intel.com suyue.chen@intel.com
/.github/ suyue.chen@intel.com ze.pan@intel.com
/AgentQnA/ kaokao.lv@intel.com minmin.hou@intel.com
/AudioQnA/ sihan.chen@intel.com wenjiao.yue@intel.com
/AvatarChatbot/ chun.tao@intel.com kaokao.lv@intel.com
/ChatQnA/ liang1.lv@intel.com letong.han@intel.com
/CodeGen/ liang1.lv@intel.com xinyao.wang@intel.com
/CodeTrans/ sihan.chen@intel.com xinyao.wang@intel.com
/DBQnA/ supriya.krishnamurthi@intel.com liang1.lv@intel.com
/DocIndexRetriever/ kaokao.lv@intel.com chendi.xue@intel.com
/DocSum/ letong.han@intel.com xinyao.wang@intel.com
/EdgeCraftRAG/ yongbo.zhu@intel.com mingyuan.qi@intel.com
/FaqGen/ yogesh.pandey@intel.com xinyao.wang@intel.com
/GraphRAG/ rita.brugarolas.brufau@intel.com abolfazl.shahbazi@intel.com
/InstructionTuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/MultimodalQnA/ melanie.h.buehler@intel.com tiep.le@intel.com
/ProductivitySuite/ jaswanth.karani@intel.com hoong.tee.yeoh@intel.com
/RerankFinetuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/SearchQnA/ sihan.chen@intel.com letong.han@intel.com
/Text2Image/ wenjiao.yue@intel.com xinyu.ye@intel.com
/Translation/ liang1.lv@intel.com sihan.chen@intel.com
/VideoQnA/ huiling.bao@intel.com xinyao.wang@intel.com
/VisualQnA/ liang1.lv@intel.com sihan.chen@intel.com
