Repository opea-project/GenAIExamples, changes with the owners that .github/CODEOWNERS names for each.
All owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com, ze.pan@intel.com, kaokao.lv@intel.com, minmin.hou@intel.com, sihan.chen@intel.com, wenjiao.yue@intel.com, chun.tao@intel.com, letong.han@intel.com, xinyao.wang@intel.com, supriya.krishnamurthi@intel.com, chendi.xue@intel.com, yongbo.zhu@intel.com, mingyuan.qi@intel.com, yogesh.pandey@intel.com, rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com, xinyu.ye@intel.com, melanie.h.buehler@intel.com, tiep.le@intel.com, jaswanth.karani@intel.com, hoong.tee.yeoh@intel.com, huiling.bao@intel.com

Fixes MultimodalQnA dataprep endpoint and port in the UI (#1457)
  MultimodalQnA/README.md
  MultimodalQnA/docker_compose/amd/gpu/rocm/README.md
  MultimodalQnA/docker_compose/amd/gpu/rocm/set_env.sh
  MultimodalQnA/docker_compose/intel/cpu/xeon/README.md
  MultimodalQnA/docker_compose/intel/cpu/xeon/compose.yaml
  MultimodalQnA/docker_compose/intel/cpu/xeon/set_env.sh
  MultimodalQnA/docker_compose/intel/hpu/gaudi/README.md
  MultimodalQnA/docker_compose/intel/hpu/gaudi/compose.yaml
  MultimodalQnA/docker_compose/intel/hpu/gaudi/set_env.sh
  MultimodalQnA/tests/test_compose_on_gaudi.sh
  MultimodalQnA/tests/test_compose_on_rocm.sh
  MultimodalQnA/tests/test_compose_on_xeon.sh
  MultimodalQnA/ui/gradio/multimodalqna_ui_gradio.py
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

Fix mismatched environment variable (#1575)
  ChatQnA/docker_compose/intel/cpu/aipc/set_env.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

Update UI of the three demos: faqGen, VisualQnA, and DocSum. (#1528)
  DocSum/ui/gradio/docsum_ui_gradio.py
  FaqGen/ui/svelte/src/lib/shared/Network.ts
  FaqGen/ui/svelte/src/routes/+page.svelte
  VisualQnA/ui/svelte/package.json
  VisualQnA/ui/svelte/src/lib/assets/imageData/extreme_ironing.jpg
  VisualQnA/ui/svelte/src/lib/assets/imageData/extreme_ironing.png
  VisualQnA/ui/svelte/src/lib/assets/imageData/waterview.jpg
  VisualQnA/ui/svelte/src/lib/assets/imageData/waterview.png
  VisualQnA/ui/svelte/src/lib/modules/chat/ChatMessage.svelte
  VisualQnA/ui/svelte/src/lib/modules/upload/imagePrompt.svelte
  VisualQnA/ui/svelte/src/lib/modules/upload/uploadImg.svelte
Owners: letong.han@intel.com, xinyao.wang@intel.com, yogesh.pandey@intel.com, liang1.lv@intel.com, sihan.chen@intel.com

Expand CI test scope for common test scripts (#1554)
  .github/workflows/_run-docker-compose.yml
  .github/workflows/scripts/get_test_matrix.sh
Owners: suyue.chen@intel.com, ze.pan@intel.com

Add a new section to change LLM model such as deepseek based on validated model table in LLM microservice (#1501)
  ChatQnA/docker_compose/intel/cpu/xeon/README.md
  ChatQnA/docker_compose/intel/hpu/gaudi/README.md
Owners: liang1.lv@intel.com, letong.han@intel.com

Fix nightly triggered exceptions (#1505)
  .github/workflows/_get-image-list.yml
  .github/workflows/_run-docker-compose.yml
  .github/workflows/nightly-docker-build-publish.yml
  .github/workflows/pr-docker-compose-e2e.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

update vLLM CPU to the latest stable version (#1546)
  .github/workflows/_example-workflow.yml
  ChatQnA/tests/test_compose_on_xeon.sh
  ChatQnA/tests/test_compose_pinecone_on_xeon.sh
  ChatQnA/tests/test_compose_qdrant_on_xeon.sh
  ChatQnA/tests/test_compose_without_rerank_on_xeon.sh
  WorkflowExecAgent/tests/2_start_vllm_service.sh
Owners: suyue.chen@intel.com, ze.pan@intel.com, liang1.lv@intel.com, letong.han@intel.com, feng.tian@intel.com

Remove perf test code from test scripts. (#1510)
  ChatQnA/tests/test_compose_on_gaudi.sh
  ChatQnA/tests/test_compose_on_rocm.sh
  ChatQnA/tests/test_compose_on_xeon.sh
  ChatQnA/tests/test_compose_pinecone_on_xeon.sh
  ChatQnA/tests/test_compose_tgi_on_gaudi.sh
  ChatQnA/tests/test_compose_tgi_on_xeon.sh
  ChatQnA/tests/test_compose_without_rerank_on_gaudi.sh
  ChatQnA/tests/test_compose_without_rerank_on_xeon.sh
  GraphRAG/tests/test_compose_on_gaudi.sh
Owners: liang1.lv@intel.com, letong.han@intel.com, rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com

Refactor AudioQnA README (#1508)
  AudioQnA/docker_compose/intel/cpu/xeon/README.md
  AudioQnA/docker_compose/intel/cpu/xeon/compose_multilang.yaml
  docker_images_list.md
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com, liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com

Fix publish issue (#1514)
  .github/workflows/manual-docker-publish.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Simplify ChatQnA AIPC user setting (#1573)
  ChatQnA/docker_compose/intel/cpu/aipc/README.md
  ChatQnA/docker_compose/intel/cpu/aipc/compose.yaml
  ChatQnA/docker_compose/intel/cpu/aipc/set_env.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

Update README.md for Agent UI (#1495)
  AgentQnA/ui/svelte/README.md
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

Fix minor typo in README (#1559)
  README.md
Owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com

Enable OpenTelemtry Tracing for ChatQnA on Xeon and Gaudi by docker compose merge feature (#1488)
  ChatQnA/README.md
  ChatQnA/docker_compose/intel/cpu/xeon/README.md
  ChatQnA/docker_compose/intel/cpu/xeon/compose.telemetry.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_tgi.telemetry.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/set_env.sh
  ChatQnA/docker_compose/intel/hpu/gaudi/README.md
  ChatQnA/docker_compose/intel/hpu/gaudi/compose.telemetry.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_tgi.telemetry.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_tgi.yaml
  ChatQnA/tests/test_compose_on_gaudi.sh
  ChatQnA/tests/test_compose_on_xeon.sh
  ChatQnA/tests/test_compose_tgi_on_gaudi.sh
  ChatQnA/tests/test_compose_tgi_on_xeon.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

Fix CICD workflow strategy running condition (#1533)
  .github/workflows/_helm-e2e.yml
  .github/workflows/manual-docker-scan.yml
  .github/workflows/manual-reset-local-registry.yml
  .github/workflows/push-image-build.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Fix trivy issue (#1569)
  AvatarChatbot/Dockerfile
  ChatQnA/tests/test_compose_on_gaudi.sh
  EdgeCraftRAG/ui/docker/Dockerfile.ui
  VideoQnA/ui/docker/Dockerfile
Owners: chun.tao@intel.com, kaokao.lv@intel.com, liang1.lv@intel.com, letong.han@intel.com, yongbo.zhu@intel.com, mingyuan.qi@intel.com, huiling.bao@intel.com, xinyao.wang@intel.com

Fix "OpenAI" & "response" spelling (#1561)
  AgentQnA/docker_compose/intel/cpu/xeon/README.md
  ChatQnA/chatqna.py
  GraphRAG/graphrag.py
Owners: kaokao.lv@intel.com, minmin.hou@intel.com, liang1.lv@intel.com, letong.han@intel.com, rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com

Update AgentQnA and DocIndexRetriever (#1564)
  AgentQnA/README.md
  AgentQnA/docker_compose/intel/cpu/xeon/compose_openai.yaml
  AgentQnA/docker_compose/intel/cpu/xeon/launch_agent_service_openai.sh
  AgentQnA/docker_compose/intel/hpu/gaudi/compose.yaml
  AgentQnA/docker_compose/intel/hpu/gaudi/launch_agent_service_gaudi.sh
  AgentQnA/tests/step4_launch_and_validate_agent_gaudi.sh
  AgentQnA/tests/test.py
  AgentQnA/tests/test_compose_on_gaudi.sh
  DocIndexRetriever/docker_compose/intel/cpu/xeon/compose.yaml
  DocIndexRetriever/retrieval_tool.py
  DocIndexRetriever/tests/test.py
Owners: kaokao.lv@intel.com, minmin.hou@intel.com, chendi.xue@intel.com

Make a fix in the main README.md of the ChatQnA. (#1551)
  ChatQnA/README.md
Owners: liang1.lv@intel.com, letong.han@intel.com

fix a test script issue due to name change for telemetry yaml files (#1516)
  ChatQnA/README.md
  ChatQnA/tests/test_compose_on_gaudi.sh
  ChatQnA/tests/test_compose_on_xeon.sh
  ChatQnA/tests/test_compose_tgi_on_gaudi.sh
  ChatQnA/tests/test_compose_tgi_on_xeon.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

Update docker image list (#1513)
  docker_images_list.md
Owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com

DocSum - add files for deploy app with ROCm vLLM
  DocSum/Dockerfile-vllm-rocm
  DocSum/docker_compose/amd/gpu/rocm-vllm/README.md
  DocSum/docker_compose/amd/gpu/rocm-vllm/compose.yaml
  DocSum/docker_compose/amd/gpu/rocm-vllm/set_env.sh
  DocSum/docker_image_build/build.yaml
  DocSum/tests/test_compose_on_rocm_vllm.sh
Owners: letong.han@intel.com, xinyao.wang@intel.com

Remove vllm hpu triton version fix (#1515)
  .github/workflows/_example-workflow.yml
  AgentQnA/tests/step1_build_images.sh
  ChatQnA/tests/test_compose_guardrails_on_gaudi.sh
  ChatQnA/tests/test_compose_on_gaudi.sh
  ChatQnA/tests/test_compose_without_rerank_on_gaudi.sh
Owners: suyue.chen@intel.com, ze.pan@intel.com, kaokao.lv@intel.com, minmin.hou@intel.com, liang1.lv@intel.com, letong.han@intel.com

Update README.md of AIPC quick start (#1578)
  ChatQnA/docker_compose/intel/cpu/aipc/README.md
Owners: liang1.lv@intel.com, letong.han@intel.com

Fix docker compose.yaml error (#1496)
  DocSum/docker_compose/intel/hpu/gaudi/compose.yaml
  FaqGen/docker_compose/intel/hpu/gaudi/compose.yaml
Owners: letong.han@intel.com, xinyao.wang@intel.com, yogesh.pandey@intel.com

Update CI/CD workflow (#1520)
  .github/workflows/manual-freeze-tag.yml
  .github/workflows/manual-image-build.yml
  .github/workflows/pr-docker-compose-e2e.yml
  .github/workflows/weekly-update-images.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Update workflow condition and env (#1522)
  .github/workflows/_run-docker-compose.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_vllm_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/tests/test_compose_vllm_on_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/docker_image_build/build.yaml
  AgentQnA/tests/test_compose_vllm_on_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/tests/step1_build_images_rocm_vllm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/tests/step1_build_images_rocm_vllm.sh
  AgentQnA/tests/test_compose_vllm_on_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/README_vllm.md
  AgentQnA/docker_compose/amd/gpu/rocm/compose_vllm.yaml
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_vllm_rocm.sh
  AgentQnA/docker_compose/amd/gpu/rocm/set_env_vllm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/Dockerfile-vllm-rocm
  AgentQnA/docker_image_build/build.yaml
  DocIndexRetriever/tests/test_compose_vllm_on_roam.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com, chendi.xue@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/compose_vllm.yaml
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/compose_vllm.yaml
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_vllm_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/tests/step3_ingest_data_and_validate_retrieval_rocm_vllm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/compose_vllm.yaml
  AgentQnA/tests/step4_launch_and_validate_agent_rocm_vllm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/tests/step1_build_images_rocm_vllm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

AgentQnA - add files for deploy with ROCm vLLM
  AgentQnA/docker_compose/amd/gpu/rocm/launch_agent_service_vllm_rocm.sh
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

.github/CODEOWNERS:

* liang1.lv@intel.com feng.tian@intel.com suyue.chen@intel.com
/.github/ suyue.chen@intel.com ze.pan@intel.com
/AgentQnA/ kaokao.lv@intel.com minmin.hou@intel.com
/AudioQnA/ sihan.chen@intel.com wenjiao.yue@intel.com
/AvatarChatbot/ chun.tao@intel.com kaokao.lv@intel.com
/ChatQnA/ liang1.lv@intel.com letong.han@intel.com
/CodeGen/ liang1.lv@intel.com xinyao.wang@intel.com
/CodeTrans/ sihan.chen@intel.com xinyao.wang@intel.com
/DBQnA/ supriya.krishnamurthi@intel.com liang1.lv@intel.com
/DocIndexRetriever/ kaokao.lv@intel.com chendi.xue@intel.com
/DocSum/ letong.han@intel.com xinyao.wang@intel.com
/EdgeCraftRAG/ yongbo.zhu@intel.com mingyuan.qi@intel.com
/FaqGen/ yogesh.pandey@intel.com xinyao.wang@intel.com
/GraphRAG/ rita.brugarolas.brufau@intel.com abolfazl.shahbazi@intel.com
/InstructionTuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/MultimodalQnA/ melanie.h.buehler@intel.com tiep.le@intel.com
/ProductivitySuite/ jaswanth.karani@intel.com hoong.tee.yeoh@intel.com
/RerankFinetuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/SearchQnA/ sihan.chen@intel.com letong.han@intel.com
/Text2Image/ wenjiao.yue@intel.com xinyu.ye@intel.com
/Translation/ liang1.lv@intel.com sihan.chen@intel.com
/VideoQnA/ huiling.bao@intel.com xinyao.wang@intel.com
/VisualQnA/ liang1.lv@intel.com sihan.chen@intel.com
