Repository opea-project/GenAIExamples, changes with the owners that .github/CODEOWNERS names for each.
All owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com, ze.pan@intel.com, kaokao.lv@intel.com, minmin.hou@intel.com, sihan.chen@intel.com, wenjiao.yue@intel.com, chun.tao@intel.com, letong.han@intel.com, xinyao.wang@intel.com, supriya.krishnamurthi@intel.com, chendi.xue@intel.com, yongbo.zhu@intel.com, mingyuan.qi@intel.com, yogesh.pandey@intel.com, rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com, xinyu.ye@intel.com, melanie.h.buehler@intel.com, tiep.le@intel.com, jaswanth.karani@intel.com, hoong.tee.yeoh@intel.com, huiling.bao@intel.com

.github/CODEOWNERS:

* liang1.lv@intel.com feng.tian@intel.com suyue.chen@intel.com
/.github/ suyue.chen@intel.com ze.pan@intel.com
/AgentQnA/ kaokao.lv@intel.com minmin.hou@intel.com
/AudioQnA/ sihan.chen@intel.com wenjiao.yue@intel.com
/AvatarChatbot/ chun.tao@intel.com kaokao.lv@intel.com
/ChatQnA/ liang1.lv@intel.com letong.han@intel.com
/CodeGen/ liang1.lv@intel.com xinyao.wang@intel.com
/CodeTrans/ sihan.chen@intel.com xinyao.wang@intel.com
/DBQnA/ supriya.krishnamurthi@intel.com liang1.lv@intel.com
/DocIndexRetriever/ kaokao.lv@intel.com chendi.xue@intel.com
/DocSum/ letong.han@intel.com xinyao.wang@intel.com
/EdgeCraftRAG/ yongbo.zhu@intel.com mingyuan.qi@intel.com
/FaqGen/ yogesh.pandey@intel.com xinyao.wang@intel.com
/GraphRAG/ rita.brugarolas.brufau@intel.com abolfazl.shahbazi@intel.com
/InstructionTuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/MultimodalQnA/ melanie.h.buehler@intel.com tiep.le@intel.com
/ProductivitySuite/ jaswanth.karani@intel.com hoong.tee.yeoh@intel.com
/RerankFinetuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/SearchQnA/ sihan.chen@intel.com letong.han@intel.com
/Text2Image/ wenjiao.yue@intel.com xinyu.ye@intel.com
/Translation/ liang1.lv@intel.com sihan.chen@intel.com
/VideoQnA/ huiling.bao@intel.com xinyao.wang@intel.com
/VisualQnA/ liang1.lv@intel.com sihan.chen@intel.com

Translation - add files for deploy with ROCm vLLM
  Translation/tests/test_compose_vllm_on_rocm.sh
Owners: liang1.lv@intel.com, sihan.chen@intel.com

Translation - add files for deploy with ROCm vLLM
  Translation/tests/test_compose_vllm_on_rocm.sh
Owners: liang1.lv@intel.com, sihan.chen@intel.com

fix vllm hpu test
  VisualQnA/docker_compose/intel/hpu/gaudi/set_env.sh
  VisualQnA/tests/test_compose_on_gaudi.sh
  VisualQnA/tests/test_compose_on_xeon.sh
Owners: liang1.lv@intel.com, sihan.chen@intel.com

fix reset command
  VisualQnA/tests/test_compose_on_gaudi.sh
Owners: liang1.lv@intel.com, sihan.chen@intel.com

Translation - add files for deploy with ROCm vLLM
  Translation/docker_compose/amd/gpu/rocm/README_vllm.md
  Translation/tests/test_compose_vllm_on_rocm.sh
Owners: liang1.lv@intel.com, sihan.chen@intel.com

Translation - add files for deploy with ROCm vLLM
  Translation/docker_compose/amd/gpu/rocm/README_vllm.md
Owners: liang1.lv@intel.com, sihan.chen@intel.com

Translation - add files for deploy with ROCm vLLM
  Translation/docker_compose/amd/gpu/rocm/README_vllm.md
Owners: liang1.lv@intel.com, sihan.chen@intel.com

add proper time sleep and add healthcheck
  VisualQnA/docker_compose/intel/hpu/gaudi/compose_tgi.yaml
  VisualQnA/tests/test_compose_tgi_on_gaudi.sh
  VisualQnA/tests/test_compose_tgi_on_xeon.sh
Owners: liang1.lv@intel.com, sihan.chen@intel.com

Translation - add files for deploy with ROCm vLLM
  Translation/docker_compose/amd/gpu/rocm/README_vllm.md
Owners: liang1.lv@intel.com, sihan.chen@intel.com

SearchQnA - add files for deploy with ROCm vLLM
  SearchQnA/docker_compose/amd/gpu/rocm/README_vllm.md
  SearchQnA/docker_compose/amd/gpu/rocm/compose_vllm.yaml
  SearchQnA/docker_compose/amd/gpu/rocm/set_env_vllm.sh
Owners: sihan.chen@intel.com, letong.han@intel.com

SearchQnA - add files for deploy with ROCm vLLM
  SearchQnA/Dockerfile-vllm-rocm
  SearchQnA/docker_image_build/build.yaml
Owners: sihan.chen@intel.com, letong.han@intel.com

Fix the issue that manual workflow can't be canceled.
  .github/workflows/manual-example-workflow.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

SearchQnA - add files for deploy with ROCm vLLM
  SearchQnA/docker_compose/amd/gpu/rocm/compose_vllm.yaml
  SearchQnA/docker_compose/amd/gpu/rocm/set_env_vllm.sh
Owners: sihan.chen@intel.com, letong.han@intel.com

SearchQnA - add files for deploy with ROCm vLLM
  SearchQnA/tests/test_compose_vllm_on_rocm.sh
Owners: sihan.chen@intel.com, letong.han@intel.com

SearchQnA - add files for deploy with ROCm vLLM
  SearchQnA/tests/test_compose_vllm_on_rocm.sh
Owners: sihan.chen@intel.com, letong.han@intel.com

test
  deploy_and_benchmark.py
Owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com

SearchQnA - add files for deploy with ROCm vLLM
  SearchQnA/docker_compose/amd/gpu/rocm/README_vllm.md
Owners: sihan.chen@intel.com, letong.han@intel.com

SearchQnA - add files for deploy with ROCm vLLM
  SearchQnA/docker_compose/amd/gpu/rocm/README_vllm.md
Owners: sihan.chen@intel.com, letong.han@intel.com

SearchQnA - add files for deploy with ROCm vLLM
  SearchQnA/docker_compose/amd/gpu/rocm/README_vllm.md
Owners: sihan.chen@intel.com, letong.han@intel.com

set up structure for FinanceAgent example
  FinanceAgent/README.md
  FinanceAgent/docker_compose/intel/hpu/gaudi/compose.yaml
  FinanceAgent/docker_image_build/build.yaml
  FinanceAgent/prompts/finqa_prompt.py
  FinanceAgent/prompts/supervisor_prompt.py
  FinanceAgent/tools/finqa_agent_tools.yaml
  FinanceAgent/tools/research_agent_tools.yaml
  FinanceAgent/tools/supervisor_agent_tools.yaml
Owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com

Enable CodeGen vLLM service as default
  CodeGen/docker_compose/intel/cpu/xeon/README.md
  CodeGen/docker_compose/intel/cpu/xeon/compose.yaml
  CodeGen/docker_compose/intel/hpu/gaudi/README.md
  CodeGen/docker_compose/intel/hpu/gaudi/compose.yaml
  CodeGen/docker_compose/set_env.sh
  CodeGen/docker_image_build/build.yaml
  CodeGen/tests/test_compose_on_gaudi.sh
  CodeGen/tests/test_compose_on_xeon.sh
Owners: liang1.lv@intel.com, xinyao.wang@intel.com

fix name
  .github/workflows/daily_check_issue_and_pr.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Add GitHub Action to check and close stale issues and PRs (#1646)
  .github/workflows/daily_check_issue_and_pr.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

ChatQnA - add files for deploy with ROCm vLLM
  ChatQnA/docker_compose/amd/gpu/rocm/README_vLLM.md
Owners: liang1.lv@intel.com, letong.han@intel.com

[AudioQnA] Enable vLLM and set it as default LLM serving
  AudioQnA/docker_compose/intel/cpu/xeon/compose_tgi.yaml
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

use vllm for multilang
  AudioQnA/docker_compose/intel/cpu/xeon/compose_multilang.yaml
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

Make WHISPER_SERVER_PORT,SPEECHT5_SERVER_PORT,GPT_SOVITS_SERVER_PORT,LLM_SERVER_PORT configurable in compose files
  AudioQnA/docker_compose/intel/cpu/xeon/compose.yaml
  AudioQnA/docker_compose/intel/cpu/xeon/compose_multilang.yaml
  AudioQnA/docker_compose/intel/cpu/xeon/compose_tgi.yaml
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

Test. Do NOT merge
  ChatQnA/tests/test_compose_qdrant_on_xeon.sh
  SearchQnA/tests/test_compose_on_rocm.sh
Owners: liang1.lv@intel.com, letong.han@intel.com, sihan.chen@intel.com

Update the readme for xeon
  AudioQnA/docker_compose/intel/cpu/xeon/README.md
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

Update the readme for xeon
  AudioQnA/docker_compose/intel/cpu/xeon/README.md
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

add vllm to build.yaml
  AudioQnA/docker_image_build/build.yaml
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

Make WHISPER_SERVER_PORT,WHISPER_SERVER_PORT,LLM_SERVER_PORT configurable in compose file
  AudioQnA/docker_compose/intel/hpu/gaudi/compose.yaml
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

Set vllm as default for gaudi
  AudioQnA/docker_compose/intel/hpu/gaudi/compose_tgi.yaml
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

Make vLLM parameters configurable for Gaudi
  AudioQnA/docker_compose/intel/hpu/gaudi/compose.yaml
  AudioQnA/docker_compose/intel/hpu/gaudi/set_env.sh
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

Update readme for gaudi
  AudioQnA/docker_compose/intel/hpu/gaudi/README.md
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

add vllm test script for xeon
  AudioQnA/tests/test_compose_tgi_on_xeon.sh
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

add vllm test script for gaudi
  AudioQnA/tests/test_compose_tgi_on_gaudi.sh
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

Resolve comment
  .github/workflows/_example-workflow.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

AudioQnA - add files for deploy with ROCm vLLM
  AudioQnA/docker_compose/amd/gpu/rocm/compose_vllm.yaml
  AudioQnA/docker_compose/amd/gpu/rocm/set_env_vllm.sh
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

AudioQnA - add files for deploy with ROCm vLLM
  AudioQnA/docker_compose/amd/gpu/rocm/set_env_vllm.sh
  AudioQnA/tests/test_compose_vllm_on_rocm.sh
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com
