Repository opea-project/GenAIExamples, changes with the owners that .github/CODEOWNERS names for each.
All owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com, ze.pan@intel.com, kaokao.lv@intel.com, minmin.hou@intel.com, sihan.chen@intel.com, wenjiao.yue@intel.com, chun.tao@intel.com, letong.han@intel.com, xinyao.wang@intel.com, supriya.krishnamurthi@intel.com, chendi.xue@intel.com, yongbo.zhu@intel.com, mingyuan.qi@intel.com, yogesh.pandey@intel.com, rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com, xinyu.ye@intel.com, melanie.h.buehler@intel.com, tiep.le@intel.com, jaswanth.karani@intel.com, hoong.tee.yeoh@intel.com, huiling.bao@intel.com

.github/CODEOWNERS:

* liang1.lv@intel.com feng.tian@intel.com suyue.chen@intel.com
/.github/ suyue.chen@intel.com ze.pan@intel.com
/AgentQnA/ kaokao.lv@intel.com minmin.hou@intel.com
/AudioQnA/ sihan.chen@intel.com wenjiao.yue@intel.com
/AvatarChatbot/ chun.tao@intel.com kaokao.lv@intel.com
/ChatQnA/ liang1.lv@intel.com letong.han@intel.com
/CodeGen/ liang1.lv@intel.com xinyao.wang@intel.com
/CodeTrans/ sihan.chen@intel.com xinyao.wang@intel.com
/DBQnA/ supriya.krishnamurthi@intel.com liang1.lv@intel.com
/DocIndexRetriever/ kaokao.lv@intel.com chendi.xue@intel.com
/DocSum/ letong.han@intel.com xinyao.wang@intel.com
/EdgeCraftRAG/ yongbo.zhu@intel.com mingyuan.qi@intel.com
/FaqGen/ yogesh.pandey@intel.com xinyao.wang@intel.com
/GraphRAG/ rita.brugarolas.brufau@intel.com abolfazl.shahbazi@intel.com
/InstructionTuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/MultimodalQnA/ melanie.h.buehler@intel.com tiep.le@intel.com
/ProductivitySuite/ jaswanth.karani@intel.com hoong.tee.yeoh@intel.com
/RerankFinetuning/ xinyu.ye@intel.com kaokao.lv@intel.com
/SearchQnA/ sihan.chen@intel.com letong.han@intel.com
/Text2Image/ wenjiao.yue@intel.com xinyu.ye@intel.com
/Translation/ liang1.lv@intel.com sihan.chen@intel.com
/VideoQnA/ huiling.bao@intel.com xinyao.wang@intel.com
/VisualQnA/ liang1.lv@intel.com sihan.chen@intel.com

Fix issue
  .github/workflows/_example-workflow.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

AudioQnA - add files for deploy with ROCm vLLM
  AudioQnA/Dockerfile-vllm-rocm
  AudioQnA/docker_image_build/build.yaml
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

AudioQnA - add files for deploy with ROCm vLLM
  AudioQnA/docker_compose/amd/gpu/rocm/compose_vllm.yaml
  AudioQnA/docker_image_build/build.yaml
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

Enable inject_commit to docker image feature.
  .github/workflows/nightly-docker-build-publish.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

AudioQnA - add files for deploy with ROCm vLLM
  AudioQnA/docker_compose/amd/gpu/rocm/set_env_vllm.sh
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

AudioQnA - add files for deploy with ROCm vLLM
  AudioQnA/docker_compose/amd/gpu/rocm/set_env_vllm.sh
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

AudioQnA - add files for deploy with ROCm vLLM
  AudioQnA/docker_compose/amd/gpu/rocm/set_env_vllm.sh
  AudioQnA/tests/test_compose_vllm_on_rocm.sh
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

AudioQnA - add files for deploy with ROCm vLLM
  AudioQnA/tests/test_compose_vllm_on_rocm.sh
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

AudioQnA - add files for deploy with ROCm vLLM
  AudioQnA/tests/test_compose_vllm_on_rocm.sh
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

AudioQnA - add files for deploy with ROCm vLLM
  AudioQnA/tests/test_compose_vllm_on_rocm.sh
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

add tools and readme
  FinanceAgent/README.md
  FinanceAgent/docker_image_build/build.yaml
  FinanceAgent/tests/test.py
  FinanceAgent/tests/test_compose_on_gaudi.sh
  FinanceAgent/tools/finqa_agent_tools.yaml
  FinanceAgent/tools/finqa_tools.py
  FinanceAgent/tools/redis_kv.py
  FinanceAgent/tools/supervisor_agent_tools.yaml
  FinanceAgent/tools/supervisor_tools.py
  FinanceAgent/tools/utils.py
Owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com

AudioQnA - add files for deploy with ROCm vLLM
  AudioQnA/docker_compose/intel/cpu/xeon/README_vllm.md
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

AudioQnA - add files for deploy with ROCm vLLM
  AudioQnA/Dockerfile-vllm-rocm
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

AudioQnA - add files for deploy with ROCm vLLM
  AudioQnA/docker_compose/intel/cpu/xeon/README_vllm.md
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

Use GenAIComp base image to simplify Dockerfiles & reduce image sizes - part 2 (#1638)
  ChatQnA/Dockerfile
  ChatQnA/Dockerfile.guardrails
  ChatQnA/Dockerfile.without_rerank
  DocSum/Dockerfile
  GraphRAG/Dockerfile
  SearchQnA/Dockerfile
  Translation/Dockerfile
  VisualQnA/Dockerfile
Owners: liang1.lv@intel.com, letong.han@intel.com, xinyao.wang@intel.com, rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com, sihan.chen@intel.com

Enable inject_commit to docker image feature. (#1653)
  .github/workflows/nightly-docker-build-publish.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

modify the method of health check
  AudioQnA/docker_compose/intel/cpu/xeon/README.md
  AudioQnA/docker_compose/intel/hpu/gaudi/README.md
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

Enable CodeGen vLLM (#1636)
  CodeGen/docker_compose/intel/cpu/xeon/README.md
  CodeGen/docker_compose/intel/cpu/xeon/compose.yaml
  CodeGen/docker_compose/intel/hpu/gaudi/README.md
  CodeGen/docker_compose/intel/hpu/gaudi/compose.yaml
  CodeGen/docker_compose/set_env.sh
  CodeGen/docker_image_build/build.yaml
  CodeGen/tests/test_compose_on_gaudi.sh
  CodeGen/tests/test_compose_on_xeon.sh
Owners: liang1.lv@intel.com, xinyao.wang@intel.com

update readme
  AudioQnA/docker_compose/intel/hpu/gaudi/README.md
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

[ChatQnA][docker]Check healthy of redis to avoid dataprep failure (#1591)
  ChatQnA/docker_compose/intel/cpu/xeon/compose.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose.yaml
Owners: liang1.lv@intel.com, letong.han@intel.com

Enable GraphRAG and ProductivitySuite model cache for docker compose test. (#1608)
  GraphRAG/docker_compose/intel/hpu/gaudi/compose.yaml
  GraphRAG/tests/test_compose_on_gaudi.sh
  ProductivitySuite/docker_compose/intel/cpu/xeon/compose.yaml
  ProductivitySuite/tests/test_compose_on_xeon.sh
Owners: rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com, jaswanth.karani@intel.com, hoong.tee.yeoh@intel.com

Update default llm to avoid chat template issue for neural-chat
  AudioQnA/audioqna.py
  AudioQnA/audioqna_multilang.py
  AudioQnA/docker_compose/intel/cpu/xeon/README.md
  AudioQnA/docker_compose/intel/cpu/xeon/set_env.sh
  AudioQnA/docker_compose/intel/hpu/gaudi/README.md
  AudioQnA/docker_compose/intel/hpu/gaudi/set_env.sh
  AudioQnA/tests/test_compose_on_gaudi.sh
  AudioQnA/tests/test_compose_on_xeon.sh
  AudioQnA/tests/test_compose_tgi_on_gaudi.sh
  AudioQnA/tests/test_compose_tgi_on_xeon.sh
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

Enable Gaudi3, Rocm and Arc on manually release test. (#1615)
  .github/workflows/_example-workflow.yml
  .github/workflows/_run-docker-compose.yml
  .github/workflows/manual-example-workflow.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com

Refine README with highlighted examples and updated support info (#1006)
  README.md
  supported_examples.md
Owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com

update test scripts
  AudioQnA/tests/test_compose_on_gaudi.sh
  AudioQnA/tests/test_compose_on_xeon.sh
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

update test scripts
  AudioQnA/tests/test_compose_on_gaudi.sh
  AudioQnA/tests/test_compose_on_xeon.sh
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

Update compose.yaml
  GraphRAG/docker_compose/intel/hpu/gaudi/compose.yaml
  ProductivitySuite/docker_compose/intel/cpu/xeon/compose.yaml
Owners: rita.brugarolas.brufau@intel.com, abolfazl.shahbazi@intel.com, jaswanth.karani@intel.com, hoong.tee.yeoh@intel.com

update test scripts
  AudioQnA/tests/test_compose_on_gaudi.sh
  AudioQnA/tests/test_compose_tgi_on_gaudi.sh
  AudioQnA/tests/test_compose_tgi_on_xeon.sh
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

[Bug: 900] Create a version of MultimodalQnA example with Zilliz/Milvus as Vector DB
  MultimodalQnA/docker_compose/intel/cpu/xeon/README.md
  MultimodalQnA/docker_compose/intel/cpu/xeon/compose_milvus.yaml
  MultimodalQnA/docker_compose/intel/cpu/xeon/config/milvus.yaml
  MultimodalQnA/docker_compose/intel/hpu/gaudi/README.md
  MultimodalQnA/docker_compose/intel/hpu/gaudi/compose_milvus.yaml
  MultimodalQnA/docker_compose/intel/hpu/gaudi/config/milvus.yaml
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

Added single space to the pload
  MultimodalQnA/ui/gradio/conversation.py
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

Added logic to flush chatbot assistant's voice reponse .wav
  MultimodalQnA/ui/gradio/multimodalqna_ui_gradio.py
Owners: melanie.h.buehler@intel.com, tiep.le@intel.com

[AudioQnA] Enable vLLM and set it as default LLM serving (#1657)
  AudioQnA/audioqna.py
  AudioQnA/audioqna_multilang.py
  AudioQnA/docker_compose/intel/cpu/xeon/README.md
  AudioQnA/docker_compose/intel/cpu/xeon/compose_multilang.yaml
  AudioQnA/docker_compose/intel/cpu/xeon/compose_tgi.yaml
  AudioQnA/docker_compose/intel/cpu/xeon/set_env.sh
  AudioQnA/docker_compose/intel/hpu/gaudi/README.md
  AudioQnA/docker_compose/intel/hpu/gaudi/compose.yaml
  AudioQnA/docker_compose/intel/hpu/gaudi/compose_tgi.yaml
  AudioQnA/docker_compose/intel/hpu/gaudi/set_env.sh
  AudioQnA/docker_image_build/build.yaml
  AudioQnA/tests/test_compose_on_xeon.sh
  AudioQnA/tests/test_compose_tgi_on_gaudi.sh
  AudioQnA/tests/test_compose_tgi_on_xeon.sh
Owners: sihan.chen@intel.com, wenjiao.yue@intel.com

[Doc] Update AganetQnA README.md
  AgentQnA/docker_compose/intel/cpu/xeon/README.md
Owners: kaokao.lv@intel.com, minmin.hou@intel.com

add dataprep compose yaml
  FinanceAgent/README.md
  FinanceAgent/docker_compose/intel/hpu/gaudi/compose.yaml
  FinanceAgent/docker_compose/intel/hpu/gaudi/dataprep_compose.yaml
  FinanceAgent/tests/step1_build_images.sh
  FinanceAgent/tests/test.py
  FinanceAgent/tests/test_compose_on_gaudi.sh
Owners: liang1.lv@intel.com, feng.tian@intel.com, suyue.chen@intel.com

fix jaeger version
  ChatQnA/docker_compose/intel/cpu/xeon/compose.telemetry.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_tgi.telemetry.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose.telemetry.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_tgi.telemetry.yaml
Owners: liang1.lv@intel.com, letong.han@intel.com

remove all grafana dashboard and download from GenAIEval
  ChatQnA/docker_compose/intel/cpu/xeon/README.md
  ChatQnA/docker_compose/intel/cpu/xeon/grafana/dashboards/chatqna_megaservice_grafana.json
  ChatQnA/docker_compose/intel/cpu/xeon/grafana/dashboards/cpu_grafana.json
  ChatQnA/docker_compose/intel/cpu/xeon/grafana/dashboards/dataprep_microservice_grafana.json
  ChatQnA/docker_compose/intel/cpu/xeon/grafana/dashboards/download_opea_dashboard.sh
  ChatQnA/docker_compose/intel/cpu/xeon/grafana/dashboards/embedding_microservice_grafana.json
  ChatQnA/docker_compose/intel/cpu/xeon/grafana/dashboards/gaudi_grafana.json
  ChatQnA/docker_compose/intel/cpu/xeon/grafana/dashboards/milvus_grafana.json
  ChatQnA/docker_compose/intel/cpu/xeon/grafana/dashboards/node_grafana.json
  ChatQnA/docker_compose/intel/cpu/xeon/grafana/dashboards/qdrant_grafana.json
  ChatQnA/docker_compose/intel/cpu/xeon/grafana/dashboards/redis_grafana.json
  ChatQnA/docker_compose/intel/cpu/xeon/grafana/dashboards/rerank_microservice_grafana.json
  ChatQnA/docker_compose/intel/cpu/xeon/grafana/dashboards/retrieval_microservice_grafana.json
  ChatQnA/docker_compose/intel/cpu/xeon/grafana/dashboards/tei_grafana.json
  ChatQnA/docker_compose/intel/cpu/xeon/grafana/dashboards/tgi_grafana.json
  ChatQnA/docker_compose/intel/cpu/xeon/grafana/dashboards/vllm_grafana.json
  ChatQnA/docker_compose/intel/hpu/gaudi/README.md
  ChatQnA/docker_compose/intel/hpu/gaudi/grafana/dashboards/chatqna_megaservice_grafana.json
  ChatQnA/docker_compose/intel/hpu/gaudi/grafana/dashboards/cpu_grafana.json
  ChatQnA/docker_compose/intel/hpu/gaudi/grafana/dashboards/dataprep_microservice_grafana.json
  ChatQnA/docker_compose/intel/hpu/gaudi/grafana/dashboards/download_opea_dashboard.sh
  ChatQnA/docker_compose/intel/hpu/gaudi/grafana/dashboards/embedding_microservice_grafana.json
  ChatQnA/docker_compose/intel/hpu/gaudi/grafana/dashboards/gaudi_grafana.json
  ChatQnA/docker_compose/intel/hpu/gaudi/grafana/dashboards/milvus_grafana.json
  ChatQnA/docker_compose/intel/hpu/gaudi/grafana/dashboards/node_grafana.json
  ChatQnA/docker_compose/intel/hpu/gaudi/grafana/dashboards/qdrant_grafana.json
  ChatQnA/docker_compose/intel/hpu/gaudi/grafana/dashboards/redis_grafana.json
  ChatQnA/docker_compose/intel/hpu/gaudi/grafana/dashboards/rerank_microservice_grafana.json
  ChatQnA/docker_compose/intel/hpu/gaudi/grafana/dashboards/retrieval_microservice_grafana.json
  ChatQnA/docker_compose/intel/hpu/gaudi/grafana/dashboards/tei_grafana.json
  ChatQnA/docker_compose/intel/hpu/gaudi/grafana/dashboards/tgi_grafana.json
  ChatQnA/docker_compose/intel/hpu/gaudi/grafana/dashboards/vllm_grafana.json
Owners: liang1.lv@intel.com, letong.han@intel.com

GraphRag - add files for deploy with ROCm vLLM
  CodeGen/tests/test_compose_vllm_on_rocm.sh
Owners: liang1.lv@intel.com, xinyao.wang@intel.com

CodeGEn - add files for deploy with ROCm vLLM
  CodeGen/tests/test_compose_vllm_on_rocm.sh
Owners: liang1.lv@intel.com, xinyao.wang@intel.com

[ChatQnA] Enable Prometheus and Grafana with telemetry docker compose file. (#1623)
  ChatQnA/README.md
  ChatQnA/docker_compose/intel/cpu/xeon/README.md
  ChatQnA/docker_compose/intel/cpu/xeon/compose.telemetry.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/compose_tgi.telemetry.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/grafana/dashboards/download_opea_dashboard.sh
  ChatQnA/docker_compose/intel/cpu/xeon/grafana/provisioning/dashboards/local.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/grafana/provisioning/datasources/datasource.yml
  ChatQnA/docker_compose/intel/cpu/xeon/prometheus.yaml
  ChatQnA/docker_compose/intel/cpu/xeon/set_env.sh
  ChatQnA/docker_compose/intel/hpu/gaudi/README.md
  ChatQnA/docker_compose/intel/hpu/gaudi/compose.telemetry.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/compose_tgi.telemetry.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/grafana/dashboards/download_opea_dashboard.sh
  ChatQnA/docker_compose/intel/hpu/gaudi/grafana/provisioning/dashboards/local.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/grafana/provisioning/datasources/datasource.yml
  ChatQnA/docker_compose/intel/hpu/gaudi/prometheus.yaml
  ChatQnA/docker_compose/intel/hpu/gaudi/set_env.sh
Owners: liang1.lv@intel.com, letong.han@intel.com

Update stale issue and PR settings to 30 days for inactivity
  .github/workflows/daily_check_issue_and_pr.yml
Owners: suyue.chen@intel.com, ze.pan@intel.com
